
**[PT]** Português

---

**[EN]** English



# Visão geral da base de dados

---

# Database overview

## Setup

In [1]:
from timelink.api.database import TimelinkDatabase
from timelink import version
from ucalumni.config import default_db_url

print(f"Timelink API version: {version}")
print(f"Creating TimelinkDatabase instance from {default_db_url}")
db = TimelinkDatabase(db_url=default_db_url)

INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade 36cdd078f890 -> 6ccf1ef385a6, Add index to entities

Timelink API version: 1.1.15
Creating TimelinkDatabase instance from sqlite:///../database/sqlite3/fauc3.db?check_same_thread=False

DEBUG [alembic.runtime.migration] update 36cdd078f890 to 6ccf1ef385a6

In [2]:
default_db_url

'sqlite:///../database/sqlite3/fauc3.db?check_same_thread=False'

## Database status

In [3]:
from sqlalchemy.sql import func
from timelink.api.models import Entity


with db.session() as session:
    classes = session.query(Entity.pom_class,func.count(Entity.pom_class)).group_by(Entity.pom_class).all()
    for c,n in classes:
        print(f'{n:8} | {c}')

     235 | act
 2840507 | attribute
      13 | class
  155320 | person
  205436 | relation
     235 | source

## Atributos inferidos

---

## Atributes inferred

In [4]:
from sqlalchemy import func
from sqlalchemy import select
from timelink.api.models import Attribute

attr_table = Attribute.__table__

stmt = select(attr_table.c.the_type,func.count().label('tot')).group_by('the_type')
print(stmt)
print()
attributes_extracted = []
with db.session() as session:
    # nml2 = session.query(Attribute.the_type,func.count().label('tot')).group_by(Attribute.the_type).all()
    nml = session.execute(stmt)
    for the_type, tot in nml:
        print(f'{tot:6} | {the_type}')
        attributes_extracted.append((the_type,tot))

attr_not_redundand = [(t,c) for (t,c) in attributes_extracted if "." not in t]

SELECT attributes.the_type, count(*) AS tot
FROM attributes GROUP BY attributes.the_type

   357 | colegio
105297 | código-de-referência
105297 | data-do-registo
    13 | errata
 53745 | exame
104619 | faculdade
  7033 | faculdade-original
104619 | faculdade.ano
 87110 | grau
 87110 | grau.ano
 40673 | instituta
 40673 | instituta.ano
  2445 | matricula-classe
  2445 | matricula-classe.ano
   114 | matricula-classe.obrigado
   114 | matricula-classe.obrigado.ano
    33 | matricula-classe.ordinário
    33 | matricula-classe.ordinário.ano
     2 | matricula-classe.voluntário
     2 | matricula-classe.voluntário.ano
   170 | matricula-curso
   170 | matricula-curso.ano
313944 | matricula-faculdade
313944 | matricula-faculdade.ano
  9476 | matricula-faculdade.obrigado
  9476 | matricula-faculdade.obrigado.ano
  6513 | matricula-faculdade.ordinário
  6513 | matricula-faculdade.ordinário.an
  1546 | matricula-faculdade.voluntário
  1546 | matricula-faculdade.voluntário.a
   863 | matricula-outra
   863 | matricula-outra.ano
    15 | matricula-outra.obrigado
    15 | matricula-outra.obrigado.ano
     8 | matricula-outra.ordinário
     8 | matricula-outra.ordinário.ano
     1 | matricula-outra.voluntário
     1 | matricula-outra.voluntário.ano
   572 | matricula-universidade
   572 | matricula-universidade.ano
     2 | matricula-universidade.obrigado
     2 | matricula-universidade.obrigado.
     8 | matricula-universidade.ordinário
 98903 | naturalidade
 98903 | naturalidade.ano
113923 | nome
198375 | nome-apelido
107417 | nome-geografico
101817 | nome-geografico.ano
    93 | nome-mae
 49930 | nome-pai
105297 | nome-primeiro
  8626 | nome-vide
 19963 | nota-processamento
  3083 | ordem-religiosa
 11253 | titulo
105297 | uc-entrada
 99536 | uc-entrada.ano
105297 | uc-saida
 99535 | uc-saida.ano
105297 | url

### Atributos inferidos (sem os atributos redundantes)

Os atributos redundantes são repetições 
de um atributos principal para facilitar 
determinadas pesquisas.

Todos os atributos com um "." no nome fornecem
uma variante do nome ou dovalor para facilitar pesquisas
e contagens. 

Por exemplo:

---

### Inferred attributes (without redundant attributes)

Redundant attributes are repetitions of an important
attribute with variants of the name or value to
facilitate retrieval or counts.

For instance:



| Atributo                     | Valor        | data 
|------------------------------|--------------|-----------
| faculdade                    | Cânones      | 1774-11-15
| faculdade.ano  	           | Cânones.1774 | 1774-11-15
| matricula-faculdade          | Matemática   |1775-00-00
| matricula-faculdade.obrigado | Matemática   | 1775-00-00

In [5]:
import pandas as pd

df = pd.DataFrame.from_records(attr_not_redundand, columns=['attr','n'])
df.sort_values('attr')

                      attr       n
0                  colegio     357
1     código-de-referência  105297
2          data-do-registo  105297
3                   errata      13
4                    exame   53745
5                faculdade  104619
6       faculdade-original    7033
7                     grau   87110
8                instituta   40673
9         matricula-classe    2445
10         matricula-curso     170
11     matricula-faculdade  313944
12         matricula-outra     863
13  matricula-universidade     572
14            naturalidade   98903
15                    nome  113923
16            nome-apelido  198375
17         nome-geografico  107417
18                nome-mae      93
19                nome-pai   49930
20           nome-primeiro  105297
21               nome-vide    8626
22      nota-processamento   19963
23         ordem-religiosa    3083
24                  titulo   11253
25              uc-entrada  105297
26                uc-saida  105297
27                     url  105297

### Exemplo de registo complexo

---

### Example of complex record

Example of the current capabilities of the algorithm including correction of “Faculdade”, religious order, titles, enrollment at class level, exam results and degrees.

In [21]:
from timelink.pandas import group_attributes
from ucalumni.extractors import get_extractors
from ucalumni.aluno import get_and_process_aluno
from ucalumni.mapping import map_aluno_kperson
# id = '316297'
# id = '188758'
# id = '140543'
# id = "152674"  # com ordem religiosa
# id = '268660'  # com faculdade errada, deveria ser leis
# id = '152975'  # registo com errata local
# id = '223149'  # ficha remissiva
# par de fichas vide see-aka:
# id = "128053"
# id = "139670"
# id = '142381'  # André de Almada (com titulo)
# id = "215793"   # transition of plan
# id = '185916'  # com transição de plano e datas incompletas
# id = '203081'  # lente
# id = '232178'  # lente not title
# id = '143837'  # crash com "código"
# id = '129027'  # com "provas"
id = '178308'

exts = get_extractors()
print("Extractors currently active:")
[print("  ",ex.__name__) for ex in exts]
print()
aluno = get_and_process_aluno(id,db)
pass

Extractors currently active:
   extract_name_note_vid
   extract_colegio
   extract_titulo
   extract_ordem_religiosa
   extract_naturalidade
   extract_instituta
   extract_faculdade
   extract_graus
   extract_matriculas
   extract_exames
   extract_provas

### Show processing information

Copy the information to a markdown file it should render nicely

In [22]:

print("------------------------")
print(f"https://pesquisa.auc.uc.pt/details?id={id}")

print(aluno)
print("------------------------")

------------------------
https://pesquisa.auc.uc.pt/details?id=178308
# 178308 António Gomes

## Original
```
Id: 178308
Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/G/001839

Nome        : António Gomes
Data inicial: 1731-10-01
Data final  : 1750-10-01
Filiação: João Gomes
Naturalidade: Coimbra
Faculdade: Medicina

Matrícula(s): 01.10.1731
01.10.1732
01.10.1733
01.10.1734
01.10.1735
01.10.1736
01.10.1749
01.10.1750

Instituta:

```
## Inferences:
* id:178308
* Nome: António Gomes
* Data inicial:1731-10-01
* Data final: 1750-10-01
* Codigo de referência: PT/AUC/ELU/UC-AUC/B/001-001/G/001839

### Notes (sections and fields from the record):
|N   |proc   |section      |campo                 |data        |valor                                 |obs         |
|----|-------|-------------|----------------------|------------|--------------------------------------|------------|
|1   |False  |*nosection*  |Id                    |1783-08-00  |1783-08-00                            |178308      |
|2   |False  |*nosection*  |Código de referência  |0018-39-00  |PT/AUC/ELU/UC-AUC/B/001-001/G/001839  |            |
|3   |False  |*nosection*  |Nome                  |1731-10-01  |António Gomes                         |            |
|4   |False  |*nosection*  |Data inicial          |1731-10-01  |1731-10-01                            |1731-10-01  |
|5   |False  |*nosection*  |Data final            |1750-10-01  |1750-10-01                            |1750-10-01  |
|6   |True   |*nosection*  |Naturalidade          |1731-10-01  |Coimbra                               |            |
|7   |True   |*nosection*  |Faculdade             |1731-10-01  |Medicina                              |            |
|8   |True   |Matrículas   |Matrícula(s)          |1731-10-01  |1731-10-01                            |01.10.1731  |
|9   |True   |Matrículas   |Matrícula(s)          |1732-10-01  |1732-10-01                            |01.10.1732  |
|10  |True   |Matrículas   |Matrícula(s)          |1733-10-01  |1733-10-01                            |01.10.1733  |
|11  |True   |Matrículas   |Matrícula(s)          |1734-10-01  |1734-10-01                            |01.10.1734  |
|12  |True   |Matrículas   |Matrícula(s)          |1735-10-01  |1735-10-01                            |01.10.1735  |
|13  |True   |Matrículas   |Matrícula(s)          |1736-10-01  |1736-10-01                            |01.10.1736  |
|14  |True   |Matrículas   |Matrícula(s)          |1749-10-01  |1749-10-01                            |01.10.1749  |
|15  |True   |Matrículas   |Matrícula(s)          |1750-10-01  |1750-10-01                            |01.10.1750  |
### Faculdade: Medicina 1731-10-01
* Faculdade problema:  ()
* Faculdade original: Medicina

### Matrículas:
|âmbito    |tipo       |modalidade|data        |obs         |
|----------|-----------|----------|------------|------------|
|Medicina  |faculdade  |          |1731-10-01  |01.10.1731  |
|Medicina  |faculdade  |          |1732-10-01  |01.10.1732  |
|Medicina  |faculdade  |          |1733-10-01  |01.10.1733  |
|Medicina  |faculdade  |          |1734-10-01  |01.10.1734  |
|Medicina  |faculdade  |          |1735-10-01  |01.10.1735  |
|Medicina  |faculdade  |          |1736-10-01  |01.10.1736  |
|Medicina  |faculdade  |          |1749-10-01  |01.10.1749  |
|Medicina  |faculdade  |          |1750-10-01  |01.10.1750  |

### Exames:

### Graus:

### Provas:


------------------------

### Show in kleio format

In [12]:
kaluno = map_aluno_kperson(aluno)
print(kaluno.to_kleio())

n$Gaspar de Abreu/m/id=140789/obs="""
      Id: 140789
      Código de referência: PT/AUC/ELU/UC-AUC/B/001-001/A/000521

      Nome        : Gaspar de Abreu
      Data inicial: 1574-11-01
      Data final  : 1585-12-11
      Filiação: Francisco Cardoso

      Naturalidade: Fornos
      Faculdade: Leis

      Matrícula(s): 1577/10/11
      1578/10/10
      1579/10/09
      1580/03/18
      1585/10/04
      Instituta:
      Bacharel: 1585/12/11
      Formatura: 1585/12/11
      Licenciado:
      Doutor:

      Outras informações:
      Provou cursar as lições de Prima e Véspera de Leis e as de Instituta: 01.11.1574 até 30.04.1575
      1 curso de Artes no Código: 01.10.1575 até 31.05.1576
      15.10.1576 até 15.04.1577
      02.10.1577 até 15.05.1578
      05.10.1578 até 15.06.1579
  """
 rel$parentesco/filho/Francisco Cardoso/140789-pai/data=1574-11-01
 atr$código-de-referência/"PT/AUC/ELU/UC-AUC/B/001-001/A/000521"/2024-12-23
 atr$data-do-registo/2024-12-23/2024-12-23
 atr$url/"http://pesquisa.auc.uc.pt/details?id=140789"/2024-12-23
 ls$uc-entrada/1574-11-01/1574-11-01
 ls$uc-saida/1585-12-11/1585-12-11
 ls$uc-entrada.ano/1574/1574-11-01
 ls$uc-saida.ano/1585/1585-12-11
 ls$nome/Gaspar de Abreu/1574-11-01
 ls$nome-primeiro/Gaspar/1574-11-01
 ls$nome-apelido/Abreu/1574-11-01
 ls$nome-pai/Francisco Cardoso/1574-11-01
 ls$nome-geografico/Fornos/1574-11-01
 ls$nome-geografico.ano/Fornos.1574/1574-11-01
 ls$naturalidade/Fornos/1574-11-01
 ls$naturalidade.ano/Fornos.1574/1574-11-01
 ls$faculdade/Leis/1574-11-01
 ls$faculdade.ano/Leis.1574/1574-11-01
 ls$matricula-faculdade/Leis/1577-10-11/obs="1577/10/11"
 ls$matricula-faculdade.ano/Leis.1577/1577-10-11/obs="1577/10/11"
 ls$matricula-faculdade/Leis/1578-10-10/obs="1578/10/10"
 ls$matricula-faculdade.ano/Leis.1578/1578-10-10/obs="1578/10/10"
 ls$matricula-faculdade/Leis/1579-10-09/obs="1579/10/09"
 ls$matricula-faculdade.ano/Leis.1579/1579-10-09/obs="1579/10/09"
 ls$matricula-faculdade/Leis/1580-03-18/obs="1580/03/18"
 ls$matricula-faculdade.ano/Leis.1580/1580-03-18/obs="1580/03/18"
 ls$matricula-faculdade/Leis/1585-10-04/obs="1585/10/04"
 ls$matricula-faculdade.ano/Leis.1585/1585-10-04/obs="1585/10/04"
 ls$grau/Bacharel em Leis/1585-12-11/obs="1585/12/11"
 ls$grau.ano/Bacharel em Leis.1585/1585-12-11/obs="1585/12/11"
 ls$grau/Formatura em Leis/1585-12-11/obs="1585/12/11"
 ls$grau.ano/Formatura em Leis.1585/1585-12-11/obs="1585/12/11"
 ls$instituta/1574-11-01:1575-04-30/1574-11-01:1575-04-30/obs=cursar as lições de Prima e Véspera de Leis e as de Instituta: 01.11.1574 até 30.04.1575
 ls$instituta.ano/1574/1574-11-01:1575-04-30/obs=cursar as lições de Prima e Véspera de Leis e as de Instituta: 01.11.1574 até 30.04.1575
 referido$Francisco Cardoso/m/id=140789-pai

### Show canonic form

This is how the record should be registred

In [13]:
print(aluno.canonic())

https://pesquisa.auc.uc.pt/details?id=140789

# Id: 140789
# Gaspar de Abreu

Codigo de referência
PT/AUC/ELU/UC-AUC/B/001-001/A/000521

Título
Gaspar de Abreu

Datas de Produção
1574-11-01 a 1585-12-11

História administrativa/biográfica/familiar
Pai: Francisco Cardoso

Naturalidade: Fornos


Âmbito e conteúdo

Faculdade: Leis, 1574-11-01

Matrícula(s):
Instituta: 1574-11-01:1575-04-30 (cursar as lições de Prima e Véspera de Leis e as de Instituta: 01.11.1574 até 30.04.1575)
Leis: 1577-10-11 (1577/10/11)
Leis: 1578-10-10 (1578/10/10)
Leis: 1579-10-09 (1579/10/09)
Leis: 1580-03-18 (1580/03/18)
Leis: 1585-10-04 (1585/10/04)

Provas:
cursar as lições de Prima e Véspera de Leis e as de Instituta: 01.11.1574 até 30.04.1575:1574-11-01:1575-04-30

Graus:
Bacharel em Leis: 1585-12-11 (1585/12/11)
Formatura em Leis: 1585-12-11 (1585/12/11)

#### Show as entry (in a dictionary)

In [14]:
print(aluno.as_entry())

[140789] Gaspar de Abreu. Leis (), 1574:1585.
F. Francisco Cardoso. N. Fornos.
Matr.:  1577-10-11, 1578-10-10, 1579-10-09, 1580-03-18, 1585-10-04..
G.  bach. em Leis 1585-12-11, fª em Leis 1585-12-11.

#### Mostrar os attributos como uma tabela

---

#### Show the attributes as a table

In [15]:

pd.set_option('display.max_rows',1000)
pd.set_option('display.max_colwidth',100)

df = group_attributes([id], db=db)
df.info()
df = df[~df['the_type'].str.contains(".", regex = False)]  # remove redundant attributes with "." in the name
df = df[['the_date','the_type','the_value','attr_obs']].sort_values(['the_date','the_type','the_value'])
df.fillna(" ")

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 140789 to 140789
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   the_type   33 non-null     object
 1   the_value  33 non-null     object
 2   the_date   33 non-null     object
 3   attr_obs   33 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

,the_date,the_type,the_value,attr_obs
id,,,,
140789,1574-11-01,faculdade,Leis,
140789,1574-11-01,naturalidade,Fornos,
140789,1574-11-01,nome,Gaspar de Abreu,
140789,1574-11-01,nome-apelido,Abreu,
140789,1574-11-01,nome-geografico,Fornos,
140789,1574-11-01,nome-pai,Francisco Cardoso,
140789,1574-11-01,nome-primeiro,Gaspar,
140789,1574-11-01,uc-entrada,1574-11-01,
140789,1574-11-01:1575-04-30,instituta,1574-11-01:1575-04-30,cursar as lições de Prima e Véspera de Leis e as de Instituta: 01.11.1574 até 30.04.1575
140789,1577-10-11,matricula-faculdade,Leis,1577/10/11
140789,1578-10-10,matricula-faculdade,Leis,1578/10/10
140789,1579-10-09,matricula-faculdade,Leis,1579/10/09
140789,1580-03-18,matricula-faculdade,Leis,1580/03/18
140789,1585-10-04,matricula-faculdade,Leis,1585/10/04
140789,1585-12-11,grau,Bacharel em Leis,1585/12/11
140789,1585-12-11,grau,Formatura em Leis,1585/12/11
140789,1585-12-11,uc-saida,1585-12-11,
140789,2021-04-29,código-de-referência,PT/AUC/ELU/UC-AUC/B/001-001/A/000521,
140789,2021-04-29,data-do-registo,2021-04-29,
140789,2021-04-29,url,https://pesquisa.auc.uc.pt/details?id=140789,