
**[EN]** English only


# Cross references

The digital version of the FA carries over a cross-reference mechanism from the card catalog. As was usual at the time, extra cards were inserted into the catalog to guide users searching for name variants of the main entry. These cards have a “base” name, followed the word “vide” and a “name expression”. 

This notebook analyses the cross-reference information in the FA.

To run this file: follow instructions in the README.md file in this directory.

#### This is a very long file. In VS CODE use the outline view in the left pane to quickly jump to sections

##  Setup

In [1]:
from timelink.api.database import TimelinkDatabase
from ucalumni.config import default_db_url

print(f"Creating TimelinkDatabase instance from {default_db_url}")
db = TimelinkDatabase(db_url=default_db_url)

Creating TimelinkDatabase instance from sqlite:///../database/sqlite3/fauc2.db?check_same_thread=False

Prepare a dataframe to collect the results of cross reference analysis

In [2]:
import pandas as pd

columns = ['data','sequential','random']
vars = ['vide','vide_plus',
        'see','see_matched','see_matched_ok','nodate_novide',
        'aka','nodate','nodate_novide','aka_matched','aka_matched_ok',
        'records_matched','records_matched_ok','records_error',
        'matched_pairs','matched_pairs_ok','records_see_aka','records_aka_see','records_aka_aka', 'records_see_see',
        'records_transitive','records_asymmetric']

match_info = pd.DataFrame(index=vars,columns=columns)
match_records = dict([(k,dict.fromkeys(columns)) for k in vars])
match_info.sort_index(inplace=True)

## Get records which contain a "see" note (vide)

Note that records with more than one faculty and/or more than one geographic name 
generate more than one line. So the number of lines in the data frame is greater
than the number of records.

**To obtain the real number of records in a data frame it is necessary to count the number of unique record identifiers (six-digit numbers) in the data frame index.**

> nvide = len(vide.index.unique())

In [3]:
from timelink.pandas import entities_with_attribute


# Get list of people with attribute nome-vide and add nome-geografico, nome-pai, entry date and faculdade
vide = entities_with_attribute(
                    the_type='nome-vide',
                    entity_type='person',
                    show_elements=['name'],
                    more_attributes=['nome-geografico','faculdade','nome-pai','uc-entrada','uc-saida'],
                    sql_echo=False,
                    db=db)
# drop columns that are not usefull
vide.drop(['nome-vide.date','nome-vide.obs','nome-geografico.date','nome-geografico.obs','nome-pai.date','nome-pai.obs','uc-entrada.date','uc-entrada.obs'],axis=1, inplace=True)
nvide = len(vide.index.unique())
print("Number of records with 'vide' cross reference:'",nvide)
match_info.loc['vide','data'] = nvide
match_records['vide']['data'] = vide.index.unique()
print()
print(vide.info())

Number of records with 'vide' cross reference:' 8626

<class 'pandas.core.frame.DataFrame'>
Index: 9286 entries, 140351 to 285250
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             9286 non-null   object
 1   nome-vide.type   9286 non-null   object
 2   nome-vide        9286 non-null   object
 3   nome-vide.line   9286 non-null   int64
 4   nome-vide.level  9286 non-null   int64
 5   nome-geografico  8786 non-null   object
 6   faculdade        4794 non-null   object
 7   faculdade.date   4794 non-null   object
 8   faculdade.obs    4794 non-null   object
 9   nome-pai         3485 non-null   object
 10  uc-entrada       9286 non-null   object
 11  uc-saida         9286 non-null   object
 12  uc-saida.date    9286 non-null   object
 13  uc-saida.obs     9286 non-null   object
dtypes: int64(2), object(12)
memory usage: 1.3+ MB
None

In [4]:

print()
print("Check a few:")
vide.head(5)

Check a few:

,name,nome-vide.type,nome-vide,nome-vide.line,nome-vide.level,nome-geografico,faculdade,faculdade.date,faculdade.obs,nome-pai,uc-entrada,uc-saida,uc-saida.date,uc-saida.obs
id,,,,,,,,,,,,,,
140351,António Pestana Guerreiro Camacho Aboim,nome-vide,António José Pestana da Silva,524,2,Casalinho,Cânones,0000-00-00,Faculdade inferida,NaN,0000-00-00,0000-00-00,0000-00-00,
140357,Gonçalo de Aboim,nome-vide,Brito,731,2,Santarém,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,
140377,André de Sequeira Abranches,nome-vide,Sequeira,1380,2,Várzea de Meruge,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,
268681,José Alexandre de Abrantes,nome-vide,Correia,2158,2,Cabanas,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,
140406,Domingos de Abranches,nome-vide,Tavares,2355,2,Lourosa,Cânones,0000-00-00,Cânones,Feliciano de Abranches,0000-00-00,0000-00-00,0000-00-00,

#### Problems in processing 'vide' notes with multiple "vide"

There are a few cases in the form  "vide _...name..._ e vide _...name..._"

1. https://pesquisa.auc.uc.pt/details?id=141274
2. https://pesquisa.auc.uc.pt/details?id=147377
3. https://pesquisa.auc.uc.pt/details?id=147659
4. https://pesquisa.auc.uc.pt/details?id=150350
5. https://pesquisa.auc.uc.pt/details?id=150562
6. https://pesquisa.auc.uc.pt/details?id=152472
7. https://pesquisa.auc.uc.pt/details?id=189389
8. https://pesquisa.auc.uc.pt/details?id=190076
9. https://pesquisa.auc.uc.pt/details?id=191599
10. https://pesquisa.auc.uc.pt/details?id=192039
11. https://pesquisa.auc.uc.pt/details?id=196728
12. https://pesquisa.auc.uc.pt/details?id=197167
13. https://pesquisa.auc.uc.pt/details?id=207991
14. https://pesquisa.auc.uc.pt/details?id=209208
15. https://pesquisa.auc.uc.pt/details?id=216619
16. https://pesquisa.auc.uc.pt/details?id=244099
17. https://pesquisa.auc.uc.pt/details?id=248624
18. https://pesquisa.auc.uc.pt/details?id=266150

19. https://pesquisa.auc.uc.pt/details?id=130281 
      * Nuno da Câmara	is tricky, because it combines note and vide, and the vide part has two names Nuno da Câmara (D.), 
        vide Nuno Casimiro da Câmara e Nuno José da Câmara it links with  130516 and 130517
        Handling these requires changing the grammar rules, scheduled for next version.

### Determine the type of cross reference

__Forward cross references (“see”)__
* Almost empty records with a name with “vide”
* A few with more than one (…vide... e vide…)
* No dates (empty “UnitDateInitial” field)
* Other than the name:
    * 93% place of birth
    * 27% father’s name
    * 23% faculty 
  
__Back cross references (“also knows as/aka”)__
* Normal records with “vide” in the name.
* Dates (valid “UnitDateInitial” field)
* Contain all types of information:
    * 97% place of birth
    * 53% father’s name
    * 99% faculty
    * degrees, enrolment, and so on.
* Can be matched with “see” records.
* These records are the non preferred form of the name and should link to a preferred form.

#### "See"  or forward cross-references: "vide" and no dates

These records are the non preferred form of the name and should link to a preferred form.

In [5]:

zdate_filter = vide['uc-entrada'] == '0000-00-00'
vide.loc[zdate_filter,'rec_type'] = 'see'

see_vide = vide[zdate_filter]
nsee_vide = len(see_vide.index.unique())
match_info.loc['see','data'] = nsee_vide
match_records['see']['data'] = list(see_vide.index.unique())
print("Number of vide records with zero dates (forward cross references):",nsee_vide)

nsee_vide_geo = len(see_vide[see_vide['nome-geografico'].notnull()].index.unique())
match_info.loc['see_geo','data'] = nsee_vide_geo
print(f"    of which {nsee_vide_geo} with place of birth {nsee_vide_geo/nsee_vide:.2%}")

nsee_vide_pai = len(see_vide[see_vide['nome-pai'].notnull()].index.unique())
match_info.loc['see_pai','data'] = nsee_vide_pai
print(f"    of which {nsee_vide_pai} with father's name  {nsee_vide_pai/nsee_vide:.2%}")

nsee_vide_fac = len(see_vide[see_vide['faculdade'].notnull()].index.unique())
match_info.loc['see_fac','data'] = nsee_vide_fac
print(f"    of which {nsee_vide_fac} with faculty        {nsee_vide_fac/nsee_vide:.2%}")

print()
base_vide_cols=['nome-vide','nome-geografico','faculdade','nome-pai']

Number of vide records with zero dates (forward cross references): 5580
    of which 5170 with place of birth 92.65%
    of which 1515 with father's name  27.15%
    of which 1322 with faculty        23.69%

In [6]:
# Show some
see_vide.head()

,name,nome-vide.type,nome-vide,nome-vide.line,nome-vide.level,nome-geografico,faculdade,faculdade.date,faculdade.obs,nome-pai,uc-entrada,uc-saida,uc-saida.date,uc-saida.obs,rec_type
id,,,,,,,,,,,,,,,
140351,António Pestana Guerreiro Camacho Aboim,nome-vide,António José Pestana da Silva,524,2,Casalinho,Cânones,0000-00-00,Faculdade inferida,NaN,0000-00-00,0000-00-00,0000-00-00,,see
140357,Gonçalo de Aboim,nome-vide,Brito,731,2,Santarém,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see
140377,André de Sequeira Abranches,nome-vide,Sequeira,1380,2,Várzea de Meruge,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see
268681,José Alexandre de Abrantes,nome-vide,Correia,2158,2,Cabanas,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see
140406,Domingos de Abranches,nome-vide,Tavares,2355,2,Lourosa,Cânones,0000-00-00,Cânones,Feliciano de Abranches,0000-00-00,0000-00-00,0000-00-00,,see

#### "Aka"  or back references: records with "vide" other types of information

These are the records that should be linked back to zero date vide records.

There are too few of them!

In [7]:
# count vide record with a proper (non-zero) date
aka_filter = vide['uc-entrada'] != '0000-00-00'
vide.loc[aka_filter,'rec_type'] = 'aka'
aka_vide = vide[aka_filter]

naka_vide = len(set(aka_vide.index.values))
match_info.loc['aka','data'] = naka_vide
print("Number of records with vide and proper date (aka):",naka_vide)
match_records['aka']['data'] = list(aka_vide.index.unique())

naka_vide_geo = len(aka_vide[aka_vide['nome-geografico'].notnull()].index.unique())
match_info.loc['aka_geo','data'] = naka_vide_geo
print(f"    of which {naka_vide_geo} with place of birth {naka_vide_geo/naka_vide:.2%}")

naka_vide_pai = len(aka_vide[aka_vide['nome-pai'].notnull()].index.unique())
match_info.loc['aka_pai','data'] = naka_vide_pai
print(f"    of which {naka_vide_pai} with father's name  {naka_vide_pai/naka_vide:.2%}")

naka_vide_fac = len(aka_vide[aka_vide['faculdade'].notnull()].index.unique())
match_info.loc['aka_fac','data'] = naka_vide_fac
print(f"    of which {naka_vide_fac} with faculty        {naka_vide_fac/naka_vide:.2%}")

print("Number of records with vide and zero date (see):",nsee_vide)
# we subtract
print("Number of zero date records in excess of dated vide records         :", nsee_vide-naka_vide)
match_info.sort_index(inplace=True)

Number of records with vide and proper date (aka): 3046
    of which 2958 with place of birth 97.11%
    of which 1617 with father's name  53.09%
    of which 3020 with faculty        99.15%
Number of records with vide and zero date (see): 5580
Number of zero date records in excess of dated vide records         : 2534

In [8]:
# Show some
aka_vide.head()

,name,nome-vide.type,nome-vide,nome-vide.line,nome-vide.level,nome-geografico,faculdade,faculdade.date,faculdade.obs,nome-pai,uc-entrada,uc-saida,uc-saida.date,uc-saida.obs,rec_type
id,,,,,,,,,,,,,,,
211389,Aires Gomes de Sá,nome-vide,Gomes,231,2,Coimbra,Cânones,1537-06-07,Faculdade corrigida,Mendo Gomes,1537-06-07,1559-06-29,1559-06-29,,aka
211389,Aires Gomes de Sá,nome-vide,Gomes,231,2,Coimbra,Leis,1537-06-07,Faculdade corrigida,Mendo Gomes,1537-06-07,1559-06-29,1559-06-29,,aka
205306,António Mendes,nome-vide,Neto,1068,2,Santarém,Cânones,1540-04-11,Cânones,NaN,1540-04-11,1549-07-10,1549-07-10,,aka
212454,Simão de Sá,nome-vide,Pereira,13336,2,Coimbra,Cânones,1540-10-01,Cânones,Rui de Sá,1540-10-01,1558-00-00,1558-00-00,,aka
206063,Jorge de Vabo,nome-vide,Ribeiro,11,2,Porto,Cânones,1540-10-07,Cânones,Jacome Rodrigo,1540-10-07,1552-07-03,1552-07-03,,aka

### Look at other records with no dates, even if they have no "vide" expression

To test if all zero date records are part of the cross reference scheme.
Maybe the "vide" expression was missed during input in the database.

Frist collect all records th zero date.

In [18]:
from timelink.pandas import entities_with_attribute
from timelinknb import Session

with Session() as session:
    session.begin()

# Get list of people with no start-date and add nome-geografico, nome-pai, nome-vide and faculdade
zero_date = entities_with_attribute(
                    the_type='uc-entrada',
                    entity_type='person',
                    the_value='0000-00-00',
                    show_elements=['name'],
                    more_attributes=['uc-saida',
                                     'nome-vide',
                                     'nome-geografico',
                                     'nome-pai',
                                     'faculdade',
                                     'data-registo',
                                     ],
                    sql_echo=False,
                    db=db)
zero_date.drop(['nome-vide.date','nome-vide.obs','nome-geografico.date','nome-geografico.obs','nome-pai.date','nome-pai.obs','uc-entrada.date','uc-entrada.obs'],axis=1, inplace=True)
nzero_date = len(set(zero_date.index.unique()))
print()
print("Total number of rows with zero date:", len(zero_date))
print("Total number of records with zero date:", nzero_date)
match_info.loc['nodate','data'] = nzero_date

base_vide_cols=['nome-vide','nome-geografico','faculdade','nome-pai']
zero_date[base_vide_cols].count(axis=0)

Total number of rows with zero date: 6679
Total number of records with zero date: 6284

nome-vide          5860
nome-geografico    6151
faculdade          2135
nome-pai           1841
dtype: int64

#### List of records with no date and no "vide": are they part of the cross references?

These are zero date records with no vide information, 
which means that there are no name transformations 
to be used in searching of matching records.
But since they have no dates they might be part of 
the cross-reference set.

In late April 2022 there were around 200 records.

In [19]:

# From the zero date set filter those with no "vide"
zd_no_vide = zero_date[zero_date['nome-vide'].isnull()]
nzd_no_vide = len(set(zd_no_vide.index.values))
print()
print("Number of records with zero date and no 'vide':",nzd_no_vide)

Number of records with zero date and no 'vide': 704

In [22]:
zd_no_vide.sample(10)

,name,uc-entrada.type,uc-entrada,uc-entrada.line,uc-entrada.level,uc-saida,uc-saida.date,uc-saida.obs,nome-vide,nome-geografico,nome-pai,faculdade,faculdade.date,faculdade.obs,data-registo
id,,,,,,,,,,,,,,,
290132,João José de Oliveira Frazão Castelo Branco,uc-entrada,0000-00-00,14202,2,0000-00-00,0000-00-00,,NaN,Guarda,João de Oliveira Frazão Castelo Branco,Leis,0000-00-00,Leis,None
178630,Francisco Gomes,uc-entrada,0000-00-00,2279,2,1555-02-25,1555-02-25,,NaN,Évora,NaN,Teologia,0000-00-00,Teologia,None
160092,Fernão Fontes,uc-entrada,0000-00-00,7686,2,1557-07-22,1557-07-22,,NaN,Crato,NaN,Cânones,0000-00-00,Faculdade inferida,None
128371,João Cabral,uc-entrada,0000-00-00,623,2,0000-00-00,0000-00-00,,NaN,Torres Vedras,António Teixeira,NaN,NaN,NaN,None
175791,João Galvão,uc-entrada,0000-00-00,6129,2,1604-10-11,1604-10-11,,NaN,Torres Novas,Francisco Botelho,Teologia,0000-00-00,Teologia,None
159662,Matias da Fonseca,uc-entrada,0000-00-00,2608,2,1561-07-31,1561-07-31,,NaN,Coimbra,NaN,Cânones,0000-00-00,Faculdade inferida,None
175222,João de Melo,uc-entrada,0000-00-00,12664,2,1540-01-16,1540-01-16,,NaN,Montemor,André Juzarte,Leis,0000-00-00,Leis,None
131036,Rui Ferreira,uc-entrada,0000-00-00,9382,2,0000-00-00,0000-00-00,,NaN,Vila Real,NaN,Leis,0000-00-00,Faculdade corrigida,None
251029,Álvaro Monteiro,uc-entrada,0000-00-00,5579,2,0000-00-00,0000-00-00,,NaN,Porto,NaN,NaN,NaN,NaN,None
179053,Pedro Gomes,uc-entrada,0000-00-00,12847,2,1560-05-14,1560-05-14,,NaN,Évora,NaN,Leis,0000-00-00,Faculdade inferida,None

#### Check if the unit dates were left blank by mistake

If a record with no unit dates contains neverthless dated information, 
then it would be possible to register the unit dates from that information,
and the blank unit dates are an error.

First collect all the attributes available for those "zero date no vide" records.

In [23]:
from timelink.pandas import group_attributes

zdnv_group = group_attributes(set(zd_no_vide.index.values),
                              entity_type='person',
                              show_elements=['name'],
                                             db=db)

In [25]:
zdnv_group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14213 entries, 128371 to 357161
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       14213 non-null  object
 1   the_type   14213 non-null  object
 2   the_value  14213 non-null  object
 3   the_date   14213 non-null  object
 4   attr_obs   14213 non-null  object
dtypes: object(5)
memory usage: 666.2+ KB

Next search for attributes with valid dates in that set.

In [ ]:
zdnv_with_dates = (zdnv_group['the_date']>'0000-00-00') & (zdnv_group['the_date'] < '1917-12-31')
false_zd = zdnv_group[zdnv_with_dates]
nfalse_zd = len(set(false_zd.index.values))
print("Number of records with dates in attributes but not unit dates:",nfalse_zd)
print("These are not cross-reference records, just records with unfilled unit dates")

Number of records with dates in attributes but not unit dates: 440
These are not cross-reference records, just records with unfilled unit dates
Sample:

,name,the_date,the_type,the_value,attr_obs
id,,,,,
130963,Pedro Ferreira,1564-07-31,uc-saida,1564-07-31,
130963,Pedro Ferreira,1564-07-31,uc-saida.ano,1564,
130963,Pedro Ferreira,1560-07-16,grau,Bacharel em Cânones,Exame Bacharel e grau em bacharel em Cânones ...
130963,Pedro Ferreira,1560-07-16,grau.ano,Bacharel em Cânones.1560,Exame Bacharel e grau em bacharel em Cânones ...
131036,Rui Ferreira,1556-06-16,grau,Bacharel em Cânones,Exame para Bacharel em cânones e grau de Bacha...
131036,Rui Ferreira,1556-06-16,grau.ano,Bacharel em Cânones.1556,Exame para Bacharel em cânones e grau de Bacha...
131475,Diogo Fialho,1656-03-30,grau,Licenciado em Artes,Licenciado em Artes 30.03.1656: Atos e Graus L...
131475,Diogo Fialho,1656-03-30,grau.ano,Licenciado em Artes.1656,Licenciado em Artes 30.03.1656: Atos e Graus L...
131544,Manuel Fialho,1547-05-00,grau,Bacharel em Leis,"Bacharel em Leis, em Maio de 1547"
131544,Manuel Fialho,1547-05-00,grau.ano,Bacharel em Leis.1547,"Bacharel em Leis, em Maio de 1547"

In [27]:

print("Sample:")
false_zd.head(10)[['name','the_date','the_type','the_value','attr_obs']]

Sample:

,name,the_date,the_type,the_value,attr_obs
id,,,,,
130963,Pedro Ferreira,1564-07-31,uc-saida,1564-07-31,
130963,Pedro Ferreira,1564-07-31,uc-saida.ano,1564,
130963,Pedro Ferreira,1560-07-16,grau,Bacharel em Cânones,Exame Bacharel e grau em bacharel em Cânones ...
130963,Pedro Ferreira,1560-07-16,grau.ano,Bacharel em Cânones.1560,Exame Bacharel e grau em bacharel em Cânones ...
131036,Rui Ferreira,1556-06-16,grau,Bacharel em Cânones,Exame para Bacharel em cânones e grau de Bacha...
131036,Rui Ferreira,1556-06-16,grau.ano,Bacharel em Cânones.1556,Exame para Bacharel em cânones e grau de Bacha...
131475,Diogo Fialho,1656-03-30,grau,Licenciado em Artes,Licenciado em Artes 30.03.1656: Atos e Graus L...
131475,Diogo Fialho,1656-03-30,grau.ano,Licenciado em Artes.1656,Licenciado em Artes 30.03.1656: Atos e Graus L...
131544,Manuel Fialho,1547-05-00,grau,Bacharel em Leis,"Bacharel em Leis, em Maio de 1547"
131544,Manuel Fialho,1547-05-00,grau.ano,Bacharel em Leis.1547,"Bacharel em Leis, em Maio de 1547"

We remove those records from the possible cross reference aditions.

In late April 2022 there were 60 of such records. They are not cross references.

Removing those from the zero dated, no "vide" records, around 140 remain.

In [28]:
zd_no_vide_clean = zd_no_vide.drop(false_zd.index)
zd_no_vide_clean['rec_type'] = 'see'
nzd_no_vide_clean = len(zd_no_vide_clean.index.unique())
print()
print("Number of records with zero date and no 'vide' (cleaned):",nzd_no_vide_clean)
match_info.loc['nodate_novide','data'] = nzd_no_vide_clean
match_records['nodate_novide','data'] = zd_no_vide_clean.index.unique()
print("Information contained in these records:")
base_vide_cols=['nome-vide','nome-geografico','faculdade','nome-pai','uc-entrada']
zd_no_vide_clean[base_vide_cols].count(axis=0)

Number of records with zero date and no 'vide' (cleaned): 264
Information contained in these records:

nome-vide            0
nome-geografico    218
faculdade          207
nome-pai            88
uc-entrada         284
dtype: int64

Lets see what they look like

In [29]:
zd_no_vide_clean[['name','nome-vide','nome-pai','nome-geografico','faculdade','faculdade.obs','uc-entrada','rec_type']].head().sort_values('name').fillna(" ")

,name,nome-vide,nome-pai,nome-geografico,faculdade,faculdade.obs,uc-entrada,rec_type
id,,,,,,,,
140674,Diogo Gomes de Abreu,,João Gomes,Nisa,,,0000-00-00,see
140459,"Manuel Corte-Real Abranches, vide Corte-Real",,,Serpa,Cânones,Cânones,0000-00-00,see
140367,Manuel de Vargas de Aboim,,António de Aboim,Coimbra,Cânones,Cânones,0000-00-00,see
141424,Martim Afonso,,Pedro Mexia,Campo Maior,Leis,Leis,0000-00-00,see
270344,Pedro de Almeida,,,,,,0000-00-00,see

#### Add zero date records with no 'vide' to records to be matched

We join the zero date no 'vide' records to the vide records,.

We assume that zero date records are also "see also" records which were not flagged as 'vide' due to input variations.

But we know this is not always the case, some of the zero date records are normal records where the unit dates were not recorded for some reason.

In [30]:
import pandas as pd

vide_plus = pd.concat([vide,zd_no_vide_clean])
nvide_plus = len(vide_plus.index.unique())
match_info.loc['vide_plus','data'] = nvide_plus
match_records['vide_plus']['data'] = vide_plus.index.unique()
print(f"Number of unique records involved in the cross references: {nvide_plus}")
vide_plus.info()

Number of unique records involved in the cross references: 8890
<class 'pandas.core.frame.DataFrame'>
Index: 9570 entries, 140351 to 218480
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              9570 non-null   object
 1   nome-vide.type    9286 non-null   object
 2   nome-vide         9286 non-null   object
 3   nome-vide.line    9286 non-null   float64
 4   nome-vide.level   9286 non-null   float64
 5   nome-geografico   9004 non-null   object
 6   faculdade         5001 non-null   object
 7   faculdade.date    5001 non-null   object
 8   faculdade.obs     5001 non-null   object
 9   nome-pai          3573 non-null   object
 10  uc-entrada        9570 non-null   object
 11  uc-saida          9570 non-null   object
 12  uc-saida.date     9570 non-null   object
 13  uc-saida.obs      9570 non-null   object
 14  rec_type          9570 non-null   object
 15  uc-entrada.type   284 non-null    object
 16  uc-entrada.line   284 non-null    float64
 17  uc-entrada.level  284 non-null    float64
 18  data-registo      0 non-null      object
dtypes: float64(4), object(15)
memory usage: 1.7+ MB

#### Update information on "see" type referecences

Taking into account the new zero date, no vide records (around 140)

In [31]:
see_vide = vide_plus[vide_plus['uc-entrada'] == '0000-00-00']

nsee_vide = len(see_vide.index.unique())
match_info.loc['see','data'] = nsee_vide
match_records['see']['data']=list(see_vide.index.unique())
print("Number of vide records with zero dates (forward cross references) updated:",nsee_vide)

nsee_vide_geo = len(see_vide[see_vide['nome-geografico'].notnull()].index.unique())
match_info.loc['see_geo','data'] = nsee_vide_geo
print(f"    of which {nsee_vide_geo} with place of birth {nsee_vide_geo/nsee_vide:.2%}")

nsee_vide_pai = len(see_vide[see_vide['nome-pai'].notnull()].index.unique())
match_info.loc['see_pai','data'] = nsee_vide_pai
print(f"    of which {nsee_vide_pai} with father's name  {nsee_vide_pai/nsee_vide:.2%}")

nsee_vide_fac = len(see_vide[see_vide['faculdade'].notnull()].index.unique())
match_info.loc['see_fac','data'] = nsee_vide_fac
print(f"    of which {nsee_vide_fac} with faculty        {nsee_vide_fac/nsee_vide:.2%}")
print()

base_vide_cols=['nome-vide','nome-geografico','faculdade','nome-pai']

Number of vide records with zero dates (forward cross references) updated: 5844
    of which 5369 with place of birth 91.87%
    of which 1596 with father's name  27.31%
    of which 1514 with faculty        25.91%

#### Closer look at "see" references

##### Presence of place of birth in zero date records

Most of them have place of birth information.

In [32]:
see_vide_with_geo = see_vide[see_vide['nome-geografico'].notnull()]
nsee_vide_with_geo = len(set(see_vide_with_geo.index.values))
print("See references with geo info (unique records):",
       nsee_vide_with_geo,
       "out of",nsee_vide,
       f'= {nsee_vide_with_geo/nzero_date:.2%}')
print("Other information (note that some records have more than one geographic name)")
see_vide_with_geo[base_vide_cols].count(axis=0)

See references with geo info (unique records): 5369 out of 5844 = 85.44%
Other information (note that some records have more than one geographic name)

nome-vide          5450
nome-geografico    5668
faculdade          1494
nome-pai           1664
dtype: int64

##### See references with no birth place

Check which information is available when place of birth is missing.

The values are similar to normal "see" records.

In [33]:
see_vide_nogeo = see_vide[see_vide['nome-geografico'].isnull()]
nsee_vide_nogeo = len(set(see_vide_nogeo.index.values))
print("Zero date records without geo info:",
       nsee_vide_nogeo,
       "out of",nzero_date,
       f'= {nsee_vide_nogeo/nzero_date:.2%}')
print()
print("Other information:")
see_vide_nogeo[base_vide_cols].count(axis=0)

Zero date records without geo info: 475 out of 6284 = 7.56%

Other information:

nome-vide          410
nome-geografico      0
faculdade          107
nome-pai            23
dtype: int64

### Final ist of records involved in cross references

In [34]:
import pandas as pd

pd.set_option('display.max_rows',50)
vide_plus.info()
vide_plus.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 9570 entries, 140351 to 218480
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              9570 non-null   object
 1   nome-vide.type    9286 non-null   object
 2   nome-vide         9286 non-null   object
 3   nome-vide.line    9286 non-null   float64
 4   nome-vide.level   9286 non-null   float64
 5   nome-geografico   9004 non-null   object
 6   faculdade         5001 non-null   object
 7   faculdade.date    5001 non-null   object
 8   faculdade.obs     5001 non-null   object
 9   nome-pai          3573 non-null   object
 10  uc-entrada        9570 non-null   object
 11  uc-saida          9570 non-null   object
 12  uc-saida.date     9570 non-null   object
 13  uc-saida.obs      9570 non-null   object
 14  rec_type          9570 non-null   object
 15  uc-entrada.type   284 non-null    object
 16  uc-entrada.line   284 non-null    float64
 17  uc-entrada.level  284 non-null    float64
 18  data-registo      0 non-null      object
dtypes: float64(4), object(15)
memory usage: 1.7+ MB

,name,nome-vide.type,nome-vide,nome-vide.line,nome-vide.level,nome-geografico,faculdade,faculdade.date,faculdade.obs,nome-pai,uc-entrada,uc-saida,uc-saida.date,uc-saida.obs,rec_type,uc-entrada.type,uc-entrada.line,uc-entrada.level,data-registo
id,,,,,,,,,,,,,,,,,,,
140351,António Pestana Guerreiro Camacho Aboim,nome-vide,António José Pestana da Silva,524.0,2.0,Casalinho,Cânones,0000-00-00,Faculdade inferida,NaN,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
140357,Gonçalo de Aboim,nome-vide,Brito,731.0,2.0,Santarém,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
140377,André de Sequeira Abranches,nome-vide,Sequeira,1380.0,2.0,Várzea de Meruge,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
268681,José Alexandre de Abrantes,nome-vide,Correia,2158.0,2.0,Cabanas,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
140406,Domingos de Abranches,nome-vide,Tavares,2355.0,2.0,Lourosa,Cânones,0000-00-00,Cânones,Feliciano de Abranches,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
268701,Albino Abranches Figueiredo Freire Abreu,nome-vide,Albino Abranches Freire de Figueiredo,2501.0,2.0,Pisão de Coja,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
268763,Bernardo José de Abreu,nome-vide,Melo,4027.0,2.0,Viseu,Cânones,0000-00-00,Cânones,Bernardo Pereira de Melo,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
268800,Francisco Rafael Bezerra Sanches de Lima Abreu,nome-vide,Francisco Rafael Bezerra Sanches da Horta Abre...,4629.0,2.0,Aguada de Cima,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
268820,Jerónimo do Couto Ribeiro de Abreu,nome-vide,Ribeiro,5074.0,2.0,NaN,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN
268857,João de Sá Pinto Abreu,nome-vide,João de Sá Pinto Soutomaior,5480.0,2.0,Viana,NaN,NaN,NaN,Camilo António de Sá,0000-00-00,0000-00-00,0000-00-00,,see,NaN,NaN,NaN,NaN

## Analyse geographic names for variations

Birth place is key to maching, but there are many variations for the same place name
and many spelling varitants.

We make an index of variations in geographic names and 
find name matches within the set of names from similar spelled places.

For similarity we use the so called "gestalt pattern matching" from the Python library see: https://docs.python.org/3/library/difflib.html

The threshold ratio was determined empirically. It is not a problem that some false varitations are detected since 
a further check is done with matching the names.

The following code compares all the the geographic names 
and prints out those considered to be variants of the same 
place, with the similarity ratio. 

Note that this ratio is sensitive to length, 
and fails the threshold in short forms like "Algozo/Algoso" 
or when the two forms are of different lengths like "Poiares/Vila Nova de Poiares".

Still it detects many usefull variants.

In [35]:
import difflib

# we have many variations in geografic names
have_geoname_filter = vide_plus['nome-geografico'].notnull()
geonames_index = sorted(vide_plus[have_geoname_filter]['nome-geografico'].unique())
print("Number of different geo names:",len(geonames_index))
geo_similars = {}
diff_threshold = .85

for geo in [g for g in geonames_index if g is not None]:

    for similar in [s for s in geonames_index if s is not None and s > geo] :
        diff = difflib.SequenceMatcher(None, geo, similar).ratio()
        if  diff >= diff_threshold and geo is not None and similar is not None:
            pass
            print(f"{geo} / {similar} diff:{diff:.3}")
            geo_similars[geo] = geo_similars.get(geo,[]) + [similar]
            geo_similars[similar] = geo_similars.get(similar,[]) + [geo]

Number of different geo names: 1449
Aguas Santas / Águas Santas diff:0.917
Alcacer / Alcácer diff:0.857
Alcaide / Alcaíde diff:0.857
Alenquer / Alquer diff:0.857
Alhos Vedras / Alhos Vedros diff:0.917
Almalaguer / Almalaguez diff:0.9
Ameixilhoeira da Carregação / Mexilhoeira da Carregação diff:0.923
Anadaluzia / Andaluzia diff:0.947
Angra do Heroismo / Angra do Heroísmo diff:0.941
Arco / Arcos diff:0.889
Arcos Valdevez / Arcos de Valdevez diff:0.903
Arcos Valdevez / Arcos de Valedevez diff:0.875
Arcos de Valdevez / Arcos de Valedevez diff:0.971
Arcozelo / Arcozelos diff:0.941
Arrifana de Sousa / Arrifana do Sousa diff:0.941
Atei / Athei diff:0.889
Bairros / Barrosa diff:0.857
Barcelos / Barcos diff:0.857
Barcos / Buarcos diff:0.923
Barreira / Barreiria diff:0.941
Barreira / Barreiro diff:0.875
Barrosa / Barrosas diff:0.933
Bemviver / Benviver diff:0.875
Cabacos / Cabaços diff:0.857
Cabananas / Cabanas diff:0.875
Cabeceira de Basto / Cabeceira de Bastos diff:0.973
Cabeceira de Basto / Cabeceiras de Basto diff:0.973
Cabeceira de Basto / Cabeceiras de Bastos diff:0.947
Cabeceira de Bastos / Cabeceiras de Basto diff:0.947
Cabeceira de Bastos / Cabeceiras de Bastos diff:0.974
Cabeceiras de Basto / Cabeceiras de Bastos diff:0.974
Cabeça de Vide / Cabeço de Vide diff:0.929
Cadafaes / Cadafais diff:0.875
Cambarinho / Combarinho diff:0.9
Caminha / Capinha diff:0.857
Canas de Senhorim / Canos de Senhorim diff:0.941
Canaveses / Canavezes diff:0.889
Candosa / Candoso diff:0.857
Carrazeda / Carrazedo diff:0.889
Casal Ermio / Casal do Ermio diff:0.88
Castanheira / Castanheiro diff:0.909
Castedo / Castendo diff:0.933
Castelo Vide / Castelo de Vide diff:0.889
Castelo de Vide / Castº de Vide diff:0.857
Cela / Celas diff:0.889
Colares / Molares diff:0.857
Colónia do Sacramento / Nova Colónia do Sacramento diff:0.894
Corte / Cortes diff:0.909
Ereira / Ericeira diff:0.857
Espargal / Espragal diff:0.875
Espinhal / Espinhel diff:0.875
Espinho / Espinhosa diff:0.875
Famil / Framil diff:0.909
Ferreiro de Tendais / Ferreiros de Tendais diff:0.974
Figueira / Figueiró diff:0.875
Figueira / Fogueira diff:0.875
Fogueira / Nogueira diff:0.875
Font Arcada / Fonte Arcada diff:0.957
Fonte Arcada / Fonte de Arcada diff:0.889
Frazoeira / Frazoeiro diff:0.889
Freixeda do Torrão / Freixedo do Torrão diff:0.944
Freixeda do Torrão / Treixeda do Torvão diff:0.889
Freixedo / Freixo diff:0.857
Freixedo / Treixedo diff:0.875
Freixianda / Freixiandas diff:0.952
Freixo de Espada a Cinta / Freixo de Espada à Cinta diff:0.958
Freixo de Espada a Cinta / Freixo de Espada-á-Cinta diff:0.875
Freixo de Espada à Cinta / Freixo de Espada-á-Cinta diff:0.875
Grajal / Granjal diff:0.923
Granja / Granjal diff:0.923
Guardisela / Guardizela diff:0.9
Ilha Terceira / Ilha da Terceira diff:0.897
Ilha da Madeira / Ilha de Madeira diff:0.933
Ilha da Madeira / ilha da Madeira diff:0.933
Ilha de Madeira / ilha da Madeira diff:0.867
Ilha de São  Miguel / Ilha de São Miguel diff:0.973
Loios / Loivos diff:0.909
Lousada / Pousada diff:0.857
Maceira / Macieira diff:0.933
Maceira / Maciera diff:0.857
Maceira / Madeira diff:0.857
Macieira / Maciera diff:0.933
Masarefes / Mazarefes diff:0.889
Maçãs de D Maria / Maçãs de Dona Maria diff:0.914
Meinedo / Meixedo diff:0.857
Mesejana / Messejana diff:0.941
Messajana / Messejana diff:0.889
Mesão Frio / Mesão-Frio diff:0.9
Minas do Rio da Morte / Minas do Rio das Mortes diff:0.955
Miranda / Mirandela diff:0.875
Miranda do Corvo / Miranda do Douro diff:0.875
Miranda do Douro / Mirando do Douro diff:0.938
Moimenta da Beira / Moimenta da Serra diff:0.882
Monte Longo / Montelongo diff:0.857
Montemor / Montemor-o diff:0.889
Morilhe / Mourilhe diff:0.933
Moura / Mourao diff:0.909
Moura / Mouras diff:0.909
Nabainhos / Nabaínhos diff:0.889
Nagoselo / Nogoselo diff:0.875
Oliveira de Azeméis / Olvieira de Azeméis diff:0.947
Oliveira de Frades / Ribeira de Frades diff:0.857
Outeiro / Outeiros diff:0.933
Parada / Paradela diff:0.857
Paradinha Nova / Parainha Nova diff:0.963
Paraiba / Paraibuna diff:0.875
Paraiba / Paraíba diff:0.857
Paredes de Ançã / Paredes de Arçã diff:0.933
Paço / Paços diff:0.889
Pederneira / Pedreneira diff:0.9
Pedrogão / Pedrógão diff:0.875
Pedrogão Grande / Pedrógão Grande diff:0.933
Penamacor / Penamacôr diff:0.889
Penamacor / Penamaior diff:0.889
Peso da Régua / Peso do Régua diff:0.923
Pinhel / Pinhela diff:0.923
Pinhete / Punhete diff:0.857
Pisão de Coja / Sisão de Coja diff:0.923
Poiares / Pomares diff:0.857
Ponte de Lima / Ponte do Lima diff:0.923
Pontevel / Pontével diff:0.875
Portel / Portela diff:0.923
Porto Mós / Porto de Mós diff:0.857
Porto de Carne / Porto de Cerne diff:0.929
Poço de Loudos / Poço de Soudos diff:0.929
Póvoa da Lomba / Póvoa de Lomba diff:0.929
Póvoa de Lanhoso / Póvoa de Lanhosos diff:0.97
R de Galinhas / Rio de Galinhas diff:0.929
Redondo / Redondos diff:0.933
Reguengo / Reguengos diff:0.941
Ribeira de Frades / Ribeira de Fragoas diff:0.857
Ribeira de Frades / Ribeiro de Frades diff:0.941
Ribeira de Fragoa / Ribeira de Fragoas diff:0.971
Rio / Rios diff:0.857
Rosmanilhal / Rosmaninhal diff:0.909
Rua / Ruas diff:0.857
Salvador de Real / São Salvador de Real diff:0.889
Samadães / Samodães diff:0.875
Samaiões / Samões diff:0.857
Santa Clara de Torrão / Santa Clara do Torrão diff:0.952
Santa Maria de Terroso / Santa Maria de Torroso diff:0.955
Santa Maria do Zêzere / Santa Marinha de Zêzere diff:0.909
Santa Maria do Zêzere / Santa Marinha do Zêzere diff:0.955
Santa Marinha de Zêzere / Santa Marinha do Zêzere diff:0.957
Santiago de Cacém / Santiago do Cacém diff:0.941
Sarzeda / Sarzedas diff:0.933
Sarzeda / Sarzedo diff:0.857
Sarzedas / Sarzedos diff:0.875
Sarzedo / Sarzedos diff:0.933
Sernancelhe / Sernancellhe diff:0.957
Sertã / Setã diff:0.889
Setubal / Setúbal diff:0.857
Silvares / Silves diff:0.857
Sousel / Souselas diff:0.857
Sousel / Souselo diff:0.923
São  Martinho do Campo / São Martinho do Campo diff:0.977
São  Martinho do Campo / São Martinho do Lago diff:0.857
São  Miguel / São Miguel diff:0.952
São  Paio da Guarda / São Paio da Guarda diff:0.973
São  Romão / São Romão diff:0.947
São João Fontura / São João da Fontoura diff:0.889
São João Fontura / São João de Fontoura diff:0.889
São João da Fontoura / São João de Fontoura diff:0.95
São João de Areias / São João de Areis diff:0.971
São João de Cerveira / São João de Corveira diff:0.95
São João de Corveira / São João de Covas diff:0.865
São João de Corveira / São João de Loureiro diff:0.85
São João de El-Rei / São João del-Rei diff:0.941
São Mamede / SãoMamede diff:0.947
São Martinho de Salreu / São Martinho de Sardoura diff:0.87
São Martinho do Bispo / São Martinho do Campo diff:0.857
São Martinho do Campo / São Martinho do Lago diff:0.878
São Paio da Guarda / São Tiago da Guarda diff:0.865
Talhas / Tinalhas diff:0.857
Tancos / Trancoso diff:0.857
Tavira / Traveira diff:0.857
Teixoso / Teixôso diff:0.857
Terra da Feira / Terra da feira diff:0.929
Tras-os-Montes / Trás-os-Montes diff:0.929
Trevões / Trovões diff:0.857
Tuizende / Tuizendes diff:0.941
Vale de Prazeres / Vale dos Prazeres diff:0.909
Vila Chã / Vilar Chão diff:0.889
Vila Cova / Vila Nova diff:0.889
Vila Cova de Sub Avô / Vila Cova de Sub-Avô diff:0.95
Vila Cova de Sub Avô / Vila Nova de Sub Avô diff:0.95
Vila Cova de Sub-Avô / Vila Nova de Sub Avô diff:0.9
Vila Cova à Coelheira / Vila Cova á Coelheira diff:0.952
Vila Flor / Vila Flôr diff:0.889
Vila Nova d'Anços / Vila Nova de Anços diff:0.914
Vila Nova de Casal / Vila Nova de Gaia diff:0.857
Vila Nova de Monsarros / Vila de Monsarros diff:0.872
Vila Ponte / Vila da Ponte diff:0.87
Vila Real / Vila real diff:0.889
Vila Real / vila Real diff:0.889
Vila da Feira / Vilar da Beira diff:0.889
Várzae de Meruge / Várzea de Meruge diff:0.938
Várzae de Meruge / Várzea de Moruge diff:0.875
Várzea / Várzeas diff:0.923
Várzea de Meruge / Várzea de Moruge diff:0.938

## Matching "vide" references

Try to match "forward" and "backward" references by generating the target names from "vide"
expressions

### Generation of target names from "vide" expressions

 
There are four types of "vide" expressions:

1. “Cut”: António Veloso Cabral, vide Veloso, result: António Veloso. The “vide” expression is a family name before the last; the target name is computed as the base name up to and including the “vide” expression; the resulting name is a shorter version of the base name, with the last family name(s) removed
2. “Add”: André de Campos, vide Cordeiro, result: André de Campos Cordeiro. The “vide” expression is not present in the base name; the target name is the base name with the “vide” expression added at the end; in some cases, the real target name will have and extra particle before the vide expression, like “de”, “e”, ... etc...). 
3.	“Replace”: Adriano Sisnando Brotero de Avelar Quintino, vide Adriano Sisnando Brotero Quintino de Avelar, result: Adriano Sisnando Brotero Quintino de Avelar. The “vide” expression is a full name, sharing the first name with the base name. This happens when the transformation of family names cannot be expressed by “cut” and “add”, so the author of the card wrote the full target name after “vide” for clarity.
4.	“Partial replace”: Francisco António Campos, vide de Novais Campos, result: Francisco António de Novais Campos. The “vide” expression replaces part of the base name; the “base name” and the “vide” expression overlap at the end; the matched part in the “base name” is replaced by the “vide” expression.

#### Collect first names from database, filter rare ones

We need the first names in the database for the next step.

In [37]:
# collect possible first names from current database
from timelink.pandas import attribute_values
from timelinknb import Session


# collect list of first names, ignore the less frequent ones
#
threshold = 5
pnomes = []
pnomes_table = attribute_values('nome-primeiro', db=db)
for id,linha in pnomes_table.iterrows():
    pnome = id
    count = linha['count']
    if count>threshold:
        pnomes.append(pnome)

print(f"Number of first names with more than {threshold} occurrences {len(pnomes)}")
print("Use this to copy to other places:")
print()
print("[")
for i in range(len(pnomes)):
    print(f"'{pnomes[i]}',", end='')
    if int((i+1)%5) == 0:
        print()
print("]")

Number of first names with more than 5 occurrences 277
Use this to copy to other places:

[
'Manuel','António','José','João','Francisco',
'Luís','Pedro','Joaquim','Domingos','Diogo',
'Bernardo','Miguel','Sebastião','Gaspar','Jerónimo',
'Simão','Bento','André','Inácio','Tomás',
'Paulo','Gonçalo','Alexandre','Lourenço','Agostinho',
'Jorge','Caetano','Vicente','Cristóvão','Álvaro',
'Fernando','Bartolomeu','Henrique','Baltasar','Carlos',
'Jacinto','Rodrigo','Mateus','Filipe','Estevão',
'Fernão','Afonso','Nicolau','Matias','Augusto',
'Belchior','Alberto','Tomé','Brás','Duarte',
'Gregório','Custódio','Felix','Nuno','Bernardino',
'Gabriel','Rui','Salvador','Eduardo','Alfredo',
'Dionísio','Martim','Amaro','Martinho','Marcos',
'Feliciano','Lopo','Silvestre','Roque','Adriano',
'Leonardo','Teotónio','Artur','Júlio','Lucas',
'Teodósio','Constantino','Veríssimo','Cipriano','Rafael',
'Guilherme','Vasco','Aires','Pantaleão','Damião',
'Valentim','Heitor','Ricardo','Isidoro','Ambrósio',
'Clemente','Pascoal','Leandro','Raimundo','Abílio',
'Eusébio','Julião','Antão','Marcelino','Daniel',
'Faustino','Cosme','Jaime','Mário','Teodoro',
'Vitorino','Giraldo','Abel','Adelino','Eugénio',
'Frederico','Jacome','Aleixo','Amador','Albino',
'Plácido','Arnaldo','Adolfo','Albano','Timóteo',
'Adrião','Cândido','Inocêncio','Ângelo','Patrício',
'Armando','Gil','Ventura','Ernesto','Serafim',
'Valério','Garcia','Aníbal','Anselmo','Silvério',
'Acácio','Roberto','Antonio','Basílio','Batista',
'Frutuoso','Raúl','César','Leonel','Marçal',
'Anastácio','Anacleto','Lázaro','Paulino','Dinis',
'Narciso','Tristão','Hipólito','Maurício','Xavier',
'Apolinário','Fabião','Januário','Casimiro','Amadeu',
'Barnabé','David','Dâmaso','Gervásio','Camilo',
'Gomes','Vitoriano','Ascenso','Boaventura','Estanislau',
'Fortunato','Avelino','Elias','Mariano','Firmino',
'Florêncio','Lino','Urbano','Luciano','Romão',
'Aurélio','Gualter','Hilário','Leopoldo','Policarpo',
'Semião','Virgílio','Acúrcio','Berardo','Cristovão',
'Fradique','Germano','Maximiano','Mendo','Santos',
'Antero','Crispim','Emídio','Onofre','Estácio',
'Felisberto','Ivo','Justino','Leão','Máximo',
'Bonifácio','Herculano','Severino','Vítor','Zeferino',
'Américo','Atanásio','Bruno','Cláudio','Fausto',
'Gerardo','Gustavo','Jordão','Melchior','Sérgio',
'Venâncio','Benjamim','Claúdio','Evaristo','Mamede',
'Alípio','Aniceto','Aureliano','Elísio','Lúcio',
'Paio','Delfim','Emílio','Felício','Norberto',
'Vital','Aristides','Celestino','Eleutério','Eurico',
'Fructuoso','Lancerote','Macário','Porfírio','Viriato',
'Calisto','Cristiano','Edmundo','Egídio','Ildefonso',
'Ramiro','Teófilo','Torcato','Adão','Agnelo',
'Amândio','Diamantino','Fabrício','Felicio','Henriques',
'Hermano','Horácio','Possidónio','Prudêncio','Quintino',
'Rufino','Vitor','Amancio','Antrónio','Arcanjo',
'Desidério','Martins','Pompeu','Rosendo','Sancho',
'Simião','Tito',]


#### Apply vide expression transformation for records, get the target name

Echo replacements that involve changing the first name, because they are error prone.

In [38]:
from os.path import commonprefix
import re


vide_plus['loookup']=''
vide_plus['vide_type']=''

for id,linha in vide_plus.iterrows():
    nome =  linha['name']
    if not pd.isnull(linha['nome-vide']) :
        nome_vide = linha['nome-vide']
        nomes = nome.split(" ")
        nomes_vide = nome_vide.split(" ")
        # find a common suffix (invert names, use commonprefix, invert result)
        terminacao_comum = commonprefix([nome[::-1],nome_vide[::-1]])[::-1]
        # check it is a separate name and not just common letters at the end
        # a proper family name should share a starting space
        if len(terminacao_comum) > 0:
            if terminacao_comum[0] != ' ':
                terminacao_comum = ''    # not a separate name, abandom
            else:
                terminacao_comum = terminacao_comum.strip()
        # currently using common suffix lowers the matches why?
        # terminacao_comum = ''

        # Type CUT: vide is a inner part of the original name
        # e.g. André Vaz Cabaço, vide Vaz
        # but also Manuel de Almeida Cabral, vide de Almeida
        pos = nome.find(nome_vide)
        if pos > -1:
            lookup_name = nome[0:pos] + nome_vide
            vtype="cut"
        # Type REP: vide name looks like a full name
        # e.g. António de Abreu Bacelar de Azevedo, vide António Abreu Bacelar
        # relaxing the same first name rule, lots  of leaks
        #  This leaks a lot : elif len(nomes_vide)>1 and nomes_vide[0] in pnomes :
        elif nomes[0] == nomes_vide[0]:
            lookup_name = nome_vide
            vtype='rep'
        # Type REPAP: vide overlaps end of name
        # e.g. Joaquim Carvalho, vide Ramos de Carvalho
        # but vide must not contain first name
        # in that case probably a REP
        # otherwise generates leaks and lowers mumbers of matches
        elif terminacao_comum > '':
            if not nomes_vide[0] in pnomes :
                lookup_name = re.sub(f'{terminacao_comum}$',nome_vide,nome)
                vtype='repap'
            else:  # if common termination and first name better replace
                lookup_name = nome_vide
                vtype='rep'
        else:
            # TYPE ADD vide name is not part of original nor a full name
            # so it must be an aditional surname
            # e.g. Fernão Cabral, vide Albuquerque = Fernão Cabral Albuquerque
            lookup_name = nome+" "+nome_vide
            vtype='add'
    else:
        lookup_name = nome
        vtype='novid'


    # we try to recover cases where there was replacement of first name
    # they are missed by the REP amd REPAP rules above and end up
    # producing lookup which are the sobreposition of two names
    # this was added by examining bad "ADD" and "REPAP" results
    # if the result is a long name (>5 names), both name and vide start
    # with first names and vide also long (>4) then probable a replace
    # that changes the first name.
    nomes_lookup = lookup_name.split()
    if vtype != 'rep' \
         and nomes[0] in pnomes and nomes_vide[0] in pnomes\
         and nomes[0] != nomes_vide[0]\
         and len(nomes_vide) > 3\
         and len(nomes_lookup) > 5:
        old_lookup = lookup_name
        lookup_name = nome_vide
        vtype = 'rep+'
        print(id,nome,"vide", nome_vide,"--->",lookup_name,"\n  instead of", old_lookup)

    # print(f'{type} :{id:7}{nome:40}{nome_vide:40} = {lookup_name}')
    vide_plus.loc[id,'lookup'] = lookup_name
    vide_plus.loc[id,'vide_type'] = vtype

205068 Joaquim Rodrigues Couceiro vide José Rodrigues da Assunção ---> José Rodrigues da Assunção
  instead of Joaquim Rodrigues Couceiro José Rodrigues da Assunção
243778 Francisco Ferraz vide Silvestre de Nossa Senhora ---> Silvestre de Nossa Senhora
  instead of Francisco Ferraz Silvestre de Nossa Senhora
179121 João Xavier Mousinho da Silveira Gomide vide José Xavier Mousinho Gomide da Silveira ---> José Xavier Mousinho Gomide da Silveira
  instead of João Xavier Mousinho da Silveira Gomide José Xavier Mousinho Gomide da Silveira
214868 Tomás de Lemos vide Tomé Dias de Lemos ---> Tomé Dias de Lemos
  instead of Tomás de Lemos Tomé Dias de Lemos
233204 Francisco António Moreira vide António Moreira da Silva ---> António Moreira da Silva
  instead of Francisco António Moreira António Moreira da Silva
288307 Domingos José Cardoso de Oliveira vide Pedro Paulo Januário Marcondes e Cardoso ---> Pedro Paulo Januário Marcondes e Cardoso
  instead of Domingos José Cardoso de Oliveira Pedro Paulo Januário Marcondes e Cardoso
288307 Domingos José Cardoso de Oliveira vide Pedro Paulo Januário Marcondes e Cardoso ---> Pedro Paulo Januário Marcondes e Cardoso
  instead of Domingos José Cardoso de Oliveira Pedro Paulo Januário Marcondes e Cardoso
174974 Dionísio Dinis de Oliveira vide Dinis de Oliveira da Fonseca ---> Dinis de Oliveira da Fonseca
  instead of Dionísio Dinis de Oliveira Dinis de Oliveira da Fonseca
238735 Melchior de Matos Pereira vide Belchior de Matos Pereira ---> Belchior de Matos Pereira
  instead of Melchior de Matos Pereira Belchior de Matos Pereira
239458 Tomás da Costa Pereira vide Tomé da Costa Pereira de Abreu ---> Tomé da Costa Pereira de Abreu
  instead of Tomás da Costa Pereira Tomé da Costa Pereira de Abreu
239458 Tomás da Costa Pereira vide Tomé da Costa Pereira de Abreu ---> Tomé da Costa Pereira de Abreu
  instead of Tomás da Costa Pereira Tomé da Costa Pereira de Abreu
230176 Tomás Joaquim Lopes de Mariz e Silva vide Adriano Joaquim Lopes Mariz e Silva Monteiro ---> Adriano Joaquim Lopes Mariz e Silva Monteiro
  instead of Tomás Joaquim Lopes de Mariz e Silva Adriano Joaquim Lopes Mariz e Silva Monteiro
230176 Tomás Joaquim Lopes de Mariz e Silva vide Adriano Joaquim Lopes Mariz e Silva Monteiro ---> Adriano Joaquim Lopes Mariz e Silva Monteiro
  instead of Tomás Joaquim Lopes de Mariz e Silva Adriano Joaquim Lopes Mariz e Silva Monteiro
197167 António Tavares vide Santos e vide Leitão ---> Santos e vide Leitão
  instead of António Tavares Santos e vide Leitão
175757 João Batista de Oliveira vide José Batista de Oliveira Baeina ---> José Batista de Oliveira Baeina
  instead of João Batista de Oliveira José Batista de Oliveira Baeina
195729 Joaquim da Conceição vide Jacinto de São José ---> Jacinto de São José
  instead of Joaquim da Conceição Jacinto de São José
250994 Adriano Joaquim de Mariz e Silva Monteiro vide Tomás Joaquim Lopes de Maris e Silva ---> Tomás Joaquim Lopes de Maris e Silva
  instead of Adriano Joaquim de Mariz e Silva Monteiro Tomás Joaquim Lopes de Maris e Silva
250994 Adriano Joaquim de Mariz e Silva Monteiro vide Tomás Joaquim Lopes de Maris e Silva ---> Tomás Joaquim Lopes de Maris e Silva
  instead of Adriano Joaquim de Mariz e Silva Monteiro Tomás Joaquim Lopes de Maris e Silva
180742 Adriano Osório Pereira Guerra vide João António Pereira Cerenato ---> João António Pereira Cerenato
  instead of Adriano Osório Pereira Guerra João António Pereira Cerenato
180061 João António Osório Pereira Gouveia vide Adriano Osório Pereira Guerra ---> Adriano Osório Pereira Guerra
  instead of João António Osório Pereira Gouveia Adriano Osório Pereira Guerra

#### Collect stats on type of vide transformation applied

In [39]:
vide_types = vide_plus.groupby('vide_type').count()[['name']]
vide_types['perc'] = vide_types['name']/ vide_types['name'].sum()
vide_types

           name      perc
vide_type
add        4057  0.423929
cut        4126  0.431139
novid       284  0.029676
rep        1057  0.110449
rep+         20  0.002090
repap        26  0.002717

#### Double check partial replace transformation

* Partial replace:
    * Francisco António Campos, vide de Novais Campos, result: Francisco António de Novais Campos. 
        * the “vide” expression replaces part of the base name; 
        * the “base name” and the “vide” expression overlap at the end; 
        * the matched part in the “base name” is replaced by the “vide” expression.

They are sensistive to misspelling in first names.

In [40]:
# Check if we got many cases of vide with overlap, and if they are handled right
repap = vide_plus[['name','nome-vide','vide_type', 'lookup','nome-geografico','faculdade','uc-entrada']].sort_values(['name','nome-vide','vide_type', 'lookup'])
repap[repap.vide_type == 'repap']

,name,nome-vide,vide_type,lookup,nome-geografico,faculdade,uc-entrada
id,,,,,,,
151153,António Barreiros,Rodrigues Barreiros,repap,António Rodrigues Barreiros,Lisboa,Leis,1655-10-16
171604,Belchior de Matos,Rodrigues de Matos,repap,Belchior Rodrigues de Matos,Vila Viçosa,Cânones,1621-10-11
171604,Belchior de Matos,Rodrigues de Matos,repap,Belchior Rodrigues de Matos,Vila Viçosa,Leis,1621-10-11
192525,Diogo Chamorro,Homem Chamorro,repap,Diogo Homem Chamorro,Porto,NaN,0000-00-00
130230,Francisco António Campos,de Novais Campos,repap,Francisco António de Novais Campos,Azeitão,NaN,0000-00-00
135280,Francisco Tavares de Figueiredo,Farncisco Xavier Tavares de Figueiredo,repap,Francisco Farncisco Xavier Tavares de Figueiredo,Meãs,Cânones,1762-10-01
135280,Francisco Tavares de Figueiredo,Farncisco Xavier Tavares de Figueiredo,repap,Francisco Farncisco Xavier Tavares de Figueiredo,vila,Cânones,1762-10-01
209659,Gaspar da Cunha,Macedo da Cunha,repap,Gaspar Macedo da Cunha,Amarante,NaN,0000-00-00
165045,Isidoro da Cunha de Eça,dos Santos de Eça,repap,Isidoro da Cunha dos Santos de Eça,Alvorninha,NaN,0000-00-00
165046,Isidoro dos Santos de Eça,da Cunha de Eça,repap,Isidoro dos Santos da Cunha de Eça,Alvorninha,Cânones,1735-10-01
278030,Jerónimo Jacinto Cardoso,Pereira Cardoso,repap,Jerónimo Jacinto Pereira Cardoso,Parada,NaN,0000-00-00
278030,Jerónimo Jacinto Cardoso,Pereira Cardoso,repap,Jerónimo Jacinto Pereira Cardoso,Viseu,NaN,0000-00-00
245474,Jerónimo de Magalhães Mexia,jerónimo josé de Macêdo Magalhães Mexia,repap,Jerónimo de jerónimo josé de Macêdo Magalhães ...,Lousã,Cânones,1756-10-01
277264,José Luís Alves Feijó,Angelo do Santíssimo Sacramento Alves Feijó,repap,José Luís Angelo do Santíssimo Sacramento Alve...,Freixo de Espada à Cinta,Cursos jurídicos (Cânones ou Leis),0000-00-00
228003,José da Fonseca Marques da Silva,da Fonseca da Silva,repap,José da Fonseca Marques da Fonseca da Silva,Verride,Cânones,1747-11-15
186019,João Mateus Camelo da Silva e Rocha,Machado e Rocha,repap,João Mateus Camelo da Silva Machado e Rocha,Abragão,Cânones,1765-10-01
211660,João da Lembrança,Nossa senhora da Lembrança,repap,João Nossa senhora da Lembrança,NaN,NaN,0000-00-00
204835,Luís António Costa Lobo,Ferreira de Tavares Costa Lobo,repap,Luís António Ferreira de Tavares Costa Lobo,Covilhã,Leis,1747-10-01
137116,Luís de Figueiredo,Figueiredo Lobo ou Lobo de Figueiredo,repap,Luís Figueiredo Lobo ou Lobo de Figueiredo,Alcácer do Sal,Cânones,0000-00-00
148817,Manuel Ferraz Azambuja,Velho Couceiro Azambuja,repap,Manuel Ferraz Velho Couceiro Azambuja,Coimbra,Cânones,1750-10-01
198283,Manuel Tavares,Pinto Tavares,repap,Manuel Pinto Tavares,Canedo,NaN,0000-00-00
213697,Manuel da Veiga,Telo da Veiga,repap,Manuel Telo da Veiga,São João da Pesqueira,NaN,0000-00-00
189878,Manuel de Jesus Távora Castelo Branco,de Jesus Castelo Branco,repap,Manuel de Jesus Távora de Jesus Castelo Branco,Valezim,NaN,0000-00-00
212238,Manuel de Sá,Pereira de Sá,repap,Manuel Pereira de Sá,Barcelos,Cânones,0000-00-00
248878,Vasco Mousinho,Vasques Annes Mousinho,repap,Vasco Vasques Annes Mousinho,Setúbal,NaN,0000-00-00
143834,Veríssimo de Almeida,Lopes de Almeida,repap,Veríssimo Lopes de Almeida,Porto,NaN,0000-00-00

Current fails:

* 135280	Francisco Tavares de Figueiredo	__vide__ Farncisco Xavier Tavares de Figueiredo	repap	Francisco Farncisco Xavier Tavares de Figueiredo __first name misspelled__	
* 245474    Jerónimo de Magalhães Mexia	jerónimo __vide__ josé de Macêdo Magalhães Mexia	repap	Jerónimo de jerónimo josé de Macêdo Magalhães ...	__first name misspelled__
* 277264	José Luís Alves Feijó __vide__ Angelo do Santíssimo Sacramento Alves Feijó	repap	José Luís Angelo do Santíssimo Sacramento Alve...	__first name misspelled__
* 228003	José da Fonseca Marques da Silva __vide__ da Fonseca da Silva	repap	José da Fonseca Marques da Fonseca da Silva: __bad expression should be a replace__
* 204835    Luís de Figueiredo	__vide__ Figueiredo Lobo ou Lobo de Figueiredo	repap	Luís Figueiredo Lobo ou Lobo de Figueiredo __bad expression not understandable__

#### Remove particles from names

To increase the chance of matches we make a copy of names and target names derived from "vide"
without the particles that are used in Portuguese names (not very uniformely)

In [42]:

def remove_particles(name):
    particles = ("de","da","e","das","dos","do")
    return " ".join([n for n in name.split() if n not in particles])

vide_plus['name_sp'] = vide_plus['name'].apply(lambda name: remove_particles(name))
vide_plus['lookup_sp'] = vide_plus['lookup'].apply(lambda name: remove_particles(name))
vide_plus[vide_plus['name']!=vide_plus['name_sp']][['name','name_sp', 'lookup','lookup_sp']].head(10)

,name,name_sp,lookup,lookup_sp
id,,,,
140357,Gonçalo de Aboim,Gonçalo Aboim,Gonçalo de Aboim Brito,Gonçalo Aboim Brito
140377,André de Sequeira Abranches,André Sequeira Abranches,André de Sequeira,André Sequeira
268681,José Alexandre de Abrantes,José Alexandre Abrantes,José Alexandre de Abrantes Correia,José Alexandre Abrantes Correia
140406,Domingos de Abranches,Domingos Abranches,Domingos de Abranches Tavares,Domingos Abranches Tavares
268763,Bernardo José de Abreu,Bernardo José Abreu,Bernardo José de Abreu Melo,Bernardo José Abreu Melo
268800,Francisco Rafael Bezerra Sanches de Lima Abreu,Francisco Rafael Bezerra Sanches Lima Abreu,Francisco Rafael Bezerra Sanches da Horta Abre...,Francisco Rafael Bezerra Sanches Horta Abreu Lima
268820,Jerónimo do Couto Ribeiro de Abreu,Jerónimo Couto Ribeiro Abreu,Jerónimo do Couto Ribeiro,Jerónimo Couto Ribeiro
268857,João de Sá Pinto Abreu,João Sá Pinto Abreu,João de Sá Pinto Soutomaior,João Sá Pinto Soutomaior
268864,Joaquim Benedito de Barbosa Abreu,Joaquim Benedito Barbosa Abreu,Joaquim Benedito de Barbosa,Joaquim Benedito Barbosa
268873,José Alexandre de Abreu,José Alexandre Abreu,José Alexandre de Abreu Coutinho,José Alexandre Abreu Coutinho

#### Save name transformations for reference

Output table with the generation of target names from base names and vide expressions.

File available at /inferences/cross-references/vide_transform.csv

This table allows comparing between sucessive versions for fine tuning.

In [43]:
# save for change tracking
vide_plus[['name','name_sp','nome-vide','vide_type','lookup', 'lookup_sp']].sort_values('name_sp').to_csv('../inferences/cross-references/vide_transform.csv',sep=',')

### Match

#### Sort by geographic name, name and lookup

First attemp is to order the records so that matching cross references end up in consecutive rows.
We sort by place of birth and inside place of birth by name and target vide name.

This is a type of similarity filter, that puts many matches in sucessive rows.

In [44]:

# sort by naturalidade, 'lookup', 'name' (with the  name and lookup ordered alfabetically)
# this should put the vide pair in sucessive rows, but misses some cases due to ordering issues
cols = ['lookup_sp','name_sp']
vide_plus['sort_key'] = vide_plus[cols].apply(lambda row: '-'.join(sorted(row.values.astype(str))), axis=1)
vide_plus.sort_values(['nome-geografico','sort_key'], inplace=True)
vide_plus[['nome-geografico','sort_key', 'name_sp','lookup_sp','nome-vide','vide_type','uc-entrada','nome-pai','faculdade']].head(10)

,nome-geografico,sort_key,name_sp,lookup_sp,nome-vide,vide_type,uc-entrada,nome-pai,faculdade
id,,,,,,,,,
198423,Constância,António Homem Magalhães-António Homem Magalhãe...,António Homem Magalhães Corte Real,António Homem Magalhães,Magalhães,cut,0000-00-00,NaN,Leis
202622,Constância,Fernão Álvares-Fernão Álvares Temudo,Fernão Álvares Temudo,Fernão Álvares,Álvares,cut,0000-00-00,NaN,NaN
144388,Constância,Fernão Álvares-Fernão Álvares Temudo,Fernão Álvares,Fernão Álvares Temudo,Temudo,add,1573-11-13,Pantaleão Rosado,Cânones
129617,Constância,João Claúdio Ferreira Calado-João Claúdio Ferr...,João Claúdio Ferreira Calado,João Claúdio Ferreira Calado Oliveiro,Oliveiro,add,0000-00-00,NaN,NaN
171438,Constância,João Veiga-João Veiga Mendes Nogueira,João Veiga Mendes Nogueira,João Veiga,João da Veiga,cut,0000-00-00,NaN,Leis
213495,Constância,João Veiga-João Veiga Mendes Nogueira,João Veiga,João Veiga Mendes Nogueira,João da Veiga Mendes Nogueira,rep,1757-10-01,NaN,Leis
214577,Constância,Julião Velho-Julião Velho Almeida,Julião Velho,Julião Velho Almeida,Almeida,add,0000-00-00,NaN,NaN
143676,Constância,Julião Velho-Julião Velho Almeida,Julião Velho Almeida,Julião Velho,Velho,cut,1663-07-10,NaN,Cânones
203159,Constância,Manuel Costa-Manuel Costa Oliveira,Manuel Costa,Manuel Costa Oliveira,Oliveira,add,0000-00-00,Manuel da Costa,NaN
176277,Constância,Manuel Costa-Manuel Costa Oliveira,Manuel Costa Oliveira,Manuel Costa,Costa,cut,1672-01-24,Manuel da Costa,Cânones

In [37]:
# we set records with no nome geográfico temporarly to a string
# so that we can have them together for consideration
vide_plus.loc[vide_plus['nome-geografico'].isnull(),'nome-geografico'] = '***NA***'

#### Sequential matching

In late April 2022 around 3600 records found a match by this process.

But some matches are inconsistent (assymetric or ambiguous).

In [46]:
def compare_names(name1, name2):
    return remove_particles(name1) == remove_particles(name2)

previous_lookup = ''
previous_nome = ''
previous_id = ''
previous_date = ''
sequential_matches = []

for id,linha in vide_plus.iterrows():
    nome = linha['name_sp']
    lookup_name = linha['lookup_sp']
    uc_date = linha['uc-entrada']
    rec_type = linha['rec_type']

    if compare_names(previous_lookup,nome)\
         and compare_names(previous_nome,lookup_name)\
         and id != previous_id:
        # we store the direction of the match see-aka or aka-see
        from_type = rec_type
        to_type = previous_rec_type
        to_tuple = (id,previous_id,f'{from_type}-{to_type}')
        from_tuple = (previous_id,id,f'{to_type}-{from_type}')
        if to_tuple in sequential_matches:
            # print("Skipping duplicate match",to_tuple)
            pass
        else:
            sequential_matches.append((id,previous_id,f'{from_type}-{to_type}'))
        if from_tuple in sequential_matches:
            # print("Skipping duplicate match",to_tuple)
            pass
        else:
            sequential_matches.append((previous_id,id,f'{to_type}-{from_type}'))

    previous_id = id
    previous_nome = nome
    previous_lookup = lookup_name
    previous_date = uc_date
    previous_rec_type = rec_type

In [49]:
match_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, aka to vide_plus
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   data        13 non-null     object
 1   sequential  8 non-null      object
 2   random      0 non-null      object
dtypes: object(3)
memory usage: 1.9+ KB

##### Analyse sequential match results

In [51]:
method = 'sequential'
match_records['matched_pairs'][method] = list(set(sequential_matches))
match_info.loc['matched_pairs', method] = len(match_records['matched_pairs'][method])

# pairs
pairs_see_aka = [(o,d,mtype) for (o,d,mtype) in sequential_matches if mtype == 'see-aka']
pairs_aka_see = [(o,d,mtype) for (o,d,mtype) in sequential_matches if mtype == 'aka-see']
pairs_aka_aka = [(o,d,mtype) for (o,d,mtype) in sequential_matches if mtype == 'aka-aka']
pairs_see_see = [(o,d,mtype) for (o,d,mtype) in sequential_matches if mtype == 'see-see']

# records
rec_matched = set([id for (id,d,t) in sequential_matches]+
                  [id for (o,id,t) in sequential_matches])
rec_see_aka = set([id for (id,d,t) in pairs_see_aka])
rec_aka_see = set([id for (o,id,t) in pairs_aka_see])
rec_see_see = set([id for (id,d,t) in pairs_see_see] +
                  [id for (o,id,t) in pairs_see_see])
rec_aka_aka = set([id for (id,d,t) in pairs_aka_aka] +
                  [id for (o,id,t) in pairs_aka_aka])

match_records['records_matched'][method] = list(rec_matched)
match_records['records_see_aka'][method] = list(rec_see_aka)
match_records['records_aka_see'][method] = list(rec_aka_see)
match_records['records_aka_aka'][method] = list(rec_aka_aka)
match_records['records_see_see'][method] = list(rec_see_see)

match_info.loc['records_matched', method] = len(rec_matched)
match_info.loc['records_see_aka', method] = len(rec_see_aka)
match_info.loc['records_aka_see', method] = len(rec_aka_see)
match_info.loc['records_aka_aka', method] = len(rec_aka_aka)
match_info.loc['records_see_see', method] = len(rec_see_see)

# new
match_info.loc['aka_matched', method] = len(rec_aka_see.union(rec_aka_aka))
match_records['aka_matched'][method] = list(rec_aka_see.union(rec_aka_aka))
match_info.loc['see_matched' ,method] = len(rec_see_aka.union(rec_see_see))
match_records['see_matched'][method] = list(rec_see_aka.union(rec_see_see))

##### Check for ambigous matches
Look for records matched with more than one or involved in transitive matching (A->B->C)

Note that sequential methid only matches symmetric links and so no asymmetric cases are generated in this method

In [53]:
import networkx as nx

method = 'sequential'

matched_pairs = match_records['matched_pairs'][method]
records = match_records['records_matched'][method]

matched_multiple = []
matched_single = []

origins = [o for (o,d,t) in matched_pairs]
destinations = [d for (o,d,t) in matched_pairs]
rec_in_matches = origins + destinations
for i in rec_in_matches:
    c = rec_in_matches.count(i)
    if c >2:
        matched_multiple.append(i)
    elif c == 1:
        matched_single.append(i)
matched_multiple = list(set(matched_multiple))
matched_single = list(set(matched_single))


# alternative method, perhaps more informative:
pairs_to_check = match_records['matched_pairs'][method]

asymmetric_pairs = []
for (o,d,t) in pairs_to_check:
    if t == 'see-aka':
        rt = 'aka-see'
    elif t == 'aka-see':
        rt = 'see-aka'
    else:
        rt = t
    if (d,o,rt) not in pairs_to_check:
        asymmetric_pairs.append((o,d,t))
        print("asymmetic match:",(o,d,t))

print("Records with multiple matches         :", len(matched_multiple))
print("Records with just one match           :", len(matched_single))

G = nx.Graph()
simple_pairs = [(o,d) for (o,d,t) in matched_pairs]
G.add_edges_from(simple_pairs)
transitive  = [c for c in nx.connected_components(G) if len(c) > 2]
# number of records in ambiguous matches
amb_records = [item for amb in transitive for item in amb]
namb_records = len(set(amb_records))
print("Records in ambiguous matches          :", namb_records)
for amb in transitive:
    print(amb)
print("Are multiple in ambiguous?            :",set(matched_multiple).issubset(set(amb_records)))

rec_errors = set(amb_records).union(matched_multiple).union(matched_single)
rec_ok = set(records).difference(rec_errors)

match_records['records_error'][method] = list(rec_errors)
match_info.at['records_error', method] = len(rec_errors)
match_records['records_matched_ok'][method] = list(rec_ok)
match_info.at['records_matched_ok', method] = len(rec_ok)
match_records['records_asymmetric'][method] = list(matched_single)
match_info.at['records_asymmetric', method] = len(matched_single)
match_records['records_transitive'][method] = list(amb_records)
match_info.at['records_transitive', method] = namb_records

# new
aka = match_records['aka']['data']
aka_ok = set(aka).intersection(rec_ok)
see = match_records['see']['data']
see_ok = set(see).intersection(rec_ok)

match_info.loc['aka_matched_ok', method] = len(aka_ok)
match_records['aka_matched_ok'][method] = list(aka_ok)
match_info.loc['see_matched_ok', method] = len(see_ok)
match_records['see_matched_ok'][method] = list(see_ok)

pairs_ok = set([(o,d,t) for (o,d,t) in match_records['matched_pairs'][method]
                                                        if o not in rec_errors and d not in rec_errors])
match_records['matched_pairs_ok'][method] = list(pairs_ok)
match_info.loc['matched_pairs_ok', method] = len(pairs_ok)

vide_plus.loc[matched_single,'match_error'] = False
vide_plus.loc[matched_single,'match_obs'] = "W01-Single match (asymmetric) "+method
vide_plus.loc[matched_multiple,'match_error'] = True
vide_plus.loc[matched_multiple,'match_obs'] = "E02-Multiple match "+method
vide_plus.loc[amb_records,'match_error'] = True
vide_plus.loc[amb_records,'match_obs'] = "E01-Ambiguity in match "+method

match_info.fillna('')

Records with multiple matches         : 6
Records with just one match           : 0
Records in ambiguous matches          : 18
{'216361', '251534', '251536'}
{'143426', '175730', '175731'}
{'168662', '211706', '211704'}
{'166756', '164823', '164824'}
{'232079', '210090', '232128'}
{'316381', '201515', '194771'}
Are multiple in ambiguous?            : True

                    data sequential random
aka                 3046
aka_fac             3020
aka_geo             2958
aka_matched                    1910
aka_matched_ok                 1894
aka_pai             1617
matched_pairs                  3644
matched_pairs_ok               3620
nodate              6284
nodate_novide        264
nodate_novide        264
records_aka_aka                 213
records_aka_see                1697
records_asymmetric                0
records_error                    18
records_matched                3638
records_matched_ok             3620
records_see_aka                1697
records_see_see                  36
records_transitive               18
see                 5844
see_fac             1514
see_geo             5369
see_matched                    1732
see_matched_ok                 1726
see_pai             1596
vide                8626
vide_plus           8890

In [54]:
vide_plus.loc['217701']

name                                          José de Santo António
nome-vide.type                                            nome-vide
nome-vide                                                 Lencastre
nome-vide.line                                               5027.0
nome-vide.level                                                 2.0
nome-geografico                                                 NaN
faculdade                                                       NaN
faculdade.date                                                  NaN
faculdade.obs                                                   NaN
nome-pai                                                        NaN
uc-entrada                                               0000-00-00
uc-saida                                                 0000-00-00
uc-saida.date                                            0000-00-00
uc-saida.obs
rec_type                                                        see
uc-entrada.type                                                 NaN
uc-entrada.line                                                 NaN
uc-entrada.level                                                NaN
data-registo                                                    NaN
loookup
vide_type                                                       add
lookup                              José de Santo António Lencastre
name_sp                                          José Santo António
lookup_sp                              José Santo António Lencastre
sort_key            José Santo António-José Santo António Lencastre
match_error                                                     NaN
match_obs                                                       NaN
Name: 217701, dtype: object

##### Show some of the ambiguous records

Pandas and timelink in colorful relation.

TODO: this should be saved to a file, one per ambiguous set, fo further analysis.

In [68]:
from timelink.pandas import display_group_attributes

pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

show_only = 8
for ambiguous_records in transitive[:show_only]:
    print("ambiguous_records",ambiguous_records)
    for id in ambiguous_records:
        print(f"https://pesquisa.auc.uc.pt/details?id={id}")

    display_group_attributes(ambiguous_records,
                             entity_type='person',
                             header_elements=['id', 'name'],
                             header_attributes=['nome-vide','naturalidade','uc-entrada','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['the_date','the_type','the_value'],
                             cmap_name='Pastel1',
                             db=db)

ambiguous_records {'216361', '251534', '251536'}
https://pesquisa.auc.uc.pt/details?id=216361
https://pesquisa.auc.uc.pt/details?id=251534
https://pesquisa.auc.uc.pt/details?id=251536

ambiguous_records {'143426', '175730', '175731'}
https://pesquisa.auc.uc.pt/details?id=143426
https://pesquisa.auc.uc.pt/details?id=175730
https://pesquisa.auc.uc.pt/details?id=175731

ambiguous_records {'168662', '211706', '211704'}
https://pesquisa.auc.uc.pt/details?id=168662
https://pesquisa.auc.uc.pt/details?id=211706
https://pesquisa.auc.uc.pt/details?id=211704

ambiguous_records {'166756', '164823', '164824'}
https://pesquisa.auc.uc.pt/details?id=166756
https://pesquisa.auc.uc.pt/details?id=164823
https://pesquisa.auc.uc.pt/details?id=164824

ambiguous_records {'232079', '210090', '232128'}
https://pesquisa.auc.uc.pt/details?id=232079
https://pesquisa.auc.uc.pt/details?id=210090
https://pesquisa.auc.uc.pt/details?id=232128

ambiguous_records {'316381', '201515', '194771'}
https://pesquisa.auc.uc.pt/details?id=316381
https://pesquisa.auc.uc.pt/details?id=201515
https://pesquisa.auc.uc.pt/details?id=194771

##### aka-aka matches in sequential mode

In sequential mode we do not filter by record type so some aka-aka and see-see matches occur.
matches

In [69]:
from timelink.pandas import display_group_attributes

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

pairs = match_records['matched_pairs']['sequential']
show_pairs = [(o,d,t) for o,d,t in pairs if t == 'aka-aka' and o<d]
show_only = 10
print(f"aka-aka matches in sequential mode (show only {show_only}) of {len(show_pairs)}:")
for o,d,t in show_pairs[:show_only]:
    print(f"https://pesquisa.auc.uc.pt/details?id={o}")
    print(f"https://pesquisa.auc.uc.pt/details?id={d}")
    display_group_attributes([o,d], entity_type='person',
                             header_elements=['id', 'name'],
                             header_attributes=['nome-vide','naturalidade','uc-entrada','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['the_date','the_type','the_value'],
                             cmap_name='Pastel1',
                             db=db)

aka-aka matches in sequential mode (show only 10) of 107:
https://pesquisa.auc.uc.pt/details?id=245698
https://pesquisa.auc.uc.pt/details?id=252234

https://pesquisa.auc.uc.pt/details?id=213910
https://pesquisa.auc.uc.pt/details?id=253753

https://pesquisa.auc.uc.pt/details?id=150411
https://pesquisa.auc.uc.pt/details?id=252562

https://pesquisa.auc.uc.pt/details?id=149046
https://pesquisa.auc.uc.pt/details?id=216902

https://pesquisa.auc.uc.pt/details?id=217492
https://pesquisa.auc.uc.pt/details?id=247266

https://pesquisa.auc.uc.pt/details?id=168704
https://pesquisa.auc.uc.pt/details?id=205306

https://pesquisa.auc.uc.pt/details?id=144662
https://pesquisa.auc.uc.pt/details?id=204182

https://pesquisa.auc.uc.pt/details?id=133131
https://pesquisa.auc.uc.pt/details?id=180160

https://pesquisa.auc.uc.pt/details?id=142388
https://pesquisa.auc.uc.pt/details?id=171377

https://pesquisa.auc.uc.pt/details?id=149277
https://pesquisa.auc.uc.pt/details?id=205921

In [70]:
vide_plus.loc['217701']

name                                          José de Santo António
nome-vide.type                                            nome-vide
nome-vide                                                 Lencastre
nome-vide.line                                               5027.0
nome-vide.level                                                 2.0
nome-geografico                                                 NaN
faculdade                                                       NaN
faculdade.date                                                  NaN
faculdade.obs                                                   NaN
nome-pai                                                        NaN
uc-entrada                                               0000-00-00
uc-saida                                                 0000-00-00
uc-saida.date                                            0000-00-00
uc-saida.obs
rec_type                                                        see
uc-entrada.type                                                 NaN
uc-entrada.line                                                 NaN
uc-entrada.level                                                NaN
data-registo                                                    NaN
loookup
vide_type                                                       add
lookup                              José de Santo António Lencastre
name_sp                                          José Santo António
lookup_sp                              José Santo António Lencastre
sort_key            José Santo António-José Santo António Lencastre
match_error                                                     NaN
match_obs                                                       NaN
Name: 217701, dtype: object

#### Non sequential matching

In [71]:
import pandas as pd
import numpy as np

vide_plus['match_error']=False

previous_geo_name = ''

# list of record to need to be debugged
# use a break point in "pass" statement of the "if"
#  at the start of the loop
# problematic = ['169888','169890','214417']  # add to list what you what to debug
#
# 211703 See matches 168662 which in turn matches 211704 e 211706
problematic = ['168662','211703','211704','211706']


# Loop through the vide records
random_matches = []
for id,linha in vide_plus.iterrows():

    if id in problematic:
        pass  # do breakpoint here to debug problematic records

    nome = linha['name_sp']
    lookup_name = linha['lookup_sp']
    nome_geo = linha['nome-geografico']
    rec_type = linha['rec_type']

    # we now check for similar geo names
    # and load names from variants
    if nome_geo != previous_geo_name:
        simile = geo_similars.get(nome_geo,[])
        if len(simile) > 0 :
            # we have similar geo names
            local_records = vide_plus[vide_plus['nome-geografico'].isin([nome_geo] + simile)]
            pass
        else:   # if no variants just load names with this place of birth
            local_records = vide_plus[vide_plus['nome-geografico'] == nome_geo]

        previous_geo_name = nome_geo

    # search for records with name matching the vide expression of this record
    candidates = []

    found_lookup_name = local_records['name_sp']==lookup_name

    for cid,same_name in local_records[found_lookup_name].iterrows():
        if same_name['lookup_sp'] == nome and cid != id:
            candidates.append(cid)

    # if nothing found search for records with vide expression equal to this one
    if len(candidates) == 0:
        found_lookup_name = local_records['lookup_sp']==lookup_name

        for cid,same_name in local_records[found_lookup_name].iterrows():
            if same_name['lookup_sp'] == nome and cid != id:
                candidates.append(cid)

    if len(candidates) > 0:  # we found some candidates
        for cand in candidates:
            mrec_type = vide_plus.loc[[cand]].iloc[0]['rec_type']
            mtype = f'{rec_type}-{mrec_type}'
            match = (id,cand,mtype)
            if match not in random_matches:
                random_matches.append(match)

##### Analyse results (random)

In [73]:
method = 'random'
match_records['matched_pairs'][method] = list(set(random_matches))
match_info.loc['matched_pairs', method] = len(match_records['matched_pairs'][method])

# pairs
pairs_see_aka = [(o,d,mtype) for (o,d,mtype) in random_matches if mtype == 'see-aka']
pairs_aka_see = [(o,d,mtype) for (o,d,mtype) in random_matches if mtype == 'aka-see']
pairs_aka_aka = [(o,d,mtype) for (o,d,mtype) in random_matches if mtype == 'aka-aka']
pairs_see_see = [(o,d,mtype) for (o,d,mtype) in random_matches if mtype == 'see-see']


# records
rec_matched = set([id for (id,d,t) in random_matches]+
                  [id for (o,id,t) in random_matches])
rec_see_aka = set([id for (id,d,t) in pairs_see_aka])
rec_aka_see = set([id for (o,id,t) in pairs_aka_see])
rec_see_see = set([id for (id,d,t) in pairs_see_see] +
                  [id for (o,id,t) in pairs_see_see])
rec_aka_aka = set([id for (id,d,t) in pairs_aka_aka] +
                  [id for (o,id,t) in pairs_aka_aka])

match_records['records_matched'][method] = list(rec_matched)
match_records['records_see_aka'][method] = list(rec_see_aka)
match_records['records_aka_see'][method] = list(rec_aka_see)
match_records['records_aka_aka'][method] = list(rec_aka_aka)
match_records['records_see_see'][method] = list(rec_see_see)

match_info.at['records_matched', method] = len(rec_matched)
match_info.at['records_see_aka', method] = len(rec_see_aka)
match_info.at['records_aka_see', method] = len(rec_aka_see)
match_info.at['records_aka_aka', method] = len(rec_aka_aka)
match_info.at['records_see_see', method] = len(rec_see_see)

# new
match_info.loc['aka_matched', method] = len(rec_aka_see.union(rec_aka_aka))
match_records['aka_matched'][method] = list(rec_aka_see.union(rec_aka_aka))
match_info.loc['see_matched', method] = len(rec_see_aka.union(rec_see_see))
match_records['see_matched'][method] = list(rec_see_aka.union(rec_see_see))

matched_rand_df = pd.DataFrame(random_matches, columns=['from','to','type'])
matched_rand_df.groupby('type').count()

         from    to
type
aka-aka   214   214
aka-see  1730  1730
see-aka  1755  1755
see-see    40    40

#####  Check the matches for errors (random)

In [75]:
import networkx as nx

method = 'random'

matched_pairs = match_records['matched_pairs'][method]
records = match_records['records_matched'][method]

matched_multiple = []
matched_single = []

origins = [o for (o,d,t) in matched_pairs]
destinations = [d for (o,d,t) in matched_pairs]
rec_in_matches = origins + destinations
for i in rec_in_matches:
    c = rec_in_matches.count(i)
    if c >2:
        matched_multiple.append(i)
    elif c == 1:
        matched_single.append(i)
matched_multiple = list(set(matched_multiple))
matched_single = list(set(matched_single))

print("Records with more than two matches    :", len(matched_multiple))
print("Records asymmetric (one match only)   :", len(matched_single))

G = nx.Graph()
simple_pairs = [(o,d) for (o,d,t) in matched_pairs]
G.add_edges_from(simple_pairs)
transitive  = [c for c in nx.connected_components(G) if len(c) > 2]
# number of records in ambiguous matches
amb_records = [item for amb in transitive for item in amb]
namb_records = len(set(amb_records))
print("Records in ambiguous matches          :", namb_records)
for amb in transitive:
    print(amb)
print("Are multiple in ambiguous             :",set(matched_multiple).issubset(set(amb_records)))

rec_errors = set(amb_records).union(matched_multiple).union(matched_single)
rec_ok = set(records).difference(rec_errors)

match_records['records_error'][method] = list(rec_errors)
match_info.at['records_error', method] = len(rec_errors)
match_records['records_matched_ok'][method] = list(rec_ok)
match_info.at['records_matched_ok', method] = len(rec_ok)
match_records['records_asymmetric'][method] = list(matched_single)
match_info.at['records_asymmetric', method] = len(matched_single)
match_records['records_transitive'][method] = list(amb_records)
match_info.at['records_transitive', method] = namb_records

# new
aka = match_records['aka']['data']
aka_ok = set(aka).intersection(rec_ok)
see = match_records['see']['data']
see_ok = set(see).intersection(rec_ok)
match_info.loc['aka_matched_ok', method] = len(aka_ok)
match_records['aka_matched_ok'][method] = list(aka_ok)
match_info.loc['see_matched_ok', method] = len(see_ok)
match_records['see_matched_ok'][method] = list(see_ok)

pairs_ok = set([(o,d,t) for (o,d,t) in match_records['matched_pairs'][method]
                                                        if o not in rec_errors and d not in rec_errors])
match_records['matched_pairs_ok'][method] = list(pairs_ok)
match_info.loc['matched_pairs_ok', method] = len(pairs_ok)

vide_plus.loc[matched_single,'match_error'] = False # we dont consider a single match an error
vide_plus.loc[matched_single,'match_obs'] = "W01-Single match (asymmetric) "+method
vide_plus.loc[matched_multiple,'match_error'] = True
vide_plus.loc[matched_multiple,'match_obs'] = "E02-Multiple match "+method
vide_plus.loc[amb_records,'match_error'] = True
vide_plus.loc[amb_records,'match_obs'] = "E03-Ambiguity in match "+method
match_info.fillna('')

Records with more than two matches    : 39
Records asymmetric (one match only)   : 74
Records in ambiguous matches          : 119
{'206151', '161932', '255769', '203494', '203487'}
{'199474', '193320', '199475'}
{'216361', '251534', '251536'}
{'172681', '190285', '172677'}
{'206536', '233838', '206540'}
{'241045', '148119', '241043'}
{'242104', '238985', '242102'}
{'169757', '136283', '162809'}
{'139146', '139166', '153316'}
{'143426', '175730', '175731'}
{'183306', '235009', '183307'}
{'171377', '142388', '142386'}
{'152894', '152890', '243711'}
{'245531', '245530', '146206'}
{'233524', '245070', '233525'}
{'201733', '201728', '254410'}
{'168662', '211704', '211706', '211703'}
{'166756', '164823', '164824'}
{'266130', '266114', '146547'}
{'231025', '169177', '231024'}
{'238845', '233035', '238842'}
{'230250', '239516', '230251'}
{'169888', '214147', '169890'}
{'222615', '222621', '172529'}
{'233103', '221393', '233094'}
{'240879', '147410', '240882'}
{'160196', '160158', '152482'}
{'222156', '189900', '189891'}
{'232079', '210090', '232128'}
{'212857', '252907', '253465'}
{'316381', '201515', '194771'}
{'238488', '238487', '226966'}
{'238066', '186310', '132440', '186417', '186309'}
{'171093', '171095', '248881'}
{'191654', '191659', '134102'}
{'178312', '181236', '278765'}
{'208873', '243481', '208877'}
{'226704', '226697', '195422'}
Are multiple in ambiguous             : True

                    data sequential random
aka                 3046
aka_fac             3020
aka_geo             2958
aka_matched                    1910   1927
aka_matched_ok                 1894   1853
aka_pai             1617
matched_pairs                  3644   3739
matched_pairs_ok               3620   3546
nodate              6284
nodate_novide        264
nodate_novide        264
records_aka_aka                 213    212
records_aka_see                1697   1715
records_asymmetric                0     74
records_error                    18    191
records_matched                3638   3737
records_matched_ok             3620   3546
records_see_aka                1697   1740
records_see_see                  36     43
records_transitive               18    119
see                 5844
see_fac             1514
see_geo             5369
see_matched                    1732   1775
see_matched_ok                 1726   1693
see_pai             1596
vide                8626
vide_plus           8890

##### Show some of the ambiguous records

In [77]:
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

show_only = 6
for ambiguous_records in transitive[:show_only]:
    print("ambiguous_records",ambiguous_records)
    for id in ambiguous_records:
        print(f"https://pesquisa.auc.uc.pt/details?id={id}")

    display_group_attributes(ambiguous_records,
                             entity_type='person',
                             header_elements=['id', 'name'],
                             header_attributes=['nome-vide','naturalidade','uc-entrada','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['the_date','the_type','the_value'],
                             cmap_name='Pastel1',
                             db=db)

ambiguous_records {'206151', '161932', '255769', '203494', '203487'}
https://pesquisa.auc.uc.pt/details?id=206151
https://pesquisa.auc.uc.pt/details?id=161932
https://pesquisa.auc.uc.pt/details?id=255769
https://pesquisa.auc.uc.pt/details?id=203494
https://pesquisa.auc.uc.pt/details?id=203487

ambiguous_records {'199474', '193320', '199475'}
https://pesquisa.auc.uc.pt/details?id=199474
https://pesquisa.auc.uc.pt/details?id=193320
https://pesquisa.auc.uc.pt/details?id=199475

ambiguous_records {'216361', '251534', '251536'}
https://pesquisa.auc.uc.pt/details?id=216361
https://pesquisa.auc.uc.pt/details?id=251534
https://pesquisa.auc.uc.pt/details?id=251536

ambiguous_records {'172681', '190285', '172677'}
https://pesquisa.auc.uc.pt/details?id=172681
https://pesquisa.auc.uc.pt/details?id=190285
https://pesquisa.auc.uc.pt/details?id=172677

ambiguous_records {'206536', '233838', '206540'}
https://pesquisa.auc.uc.pt/details?id=206536
https://pesquisa.auc.uc.pt/details?id=233838
https://pesquisa.auc.uc.pt/details?id=206540

ambiguous_records {'241045', '148119', '241043'}
https://pesquisa.auc.uc.pt/details?id=241045
https://pesquisa.auc.uc.pt/details?id=148119
https://pesquisa.auc.uc.pt/details?id=241043

#### Show some of the aka-aka records (potential duplicates)

In [54]:
from timelinknb.pandas import display_group_attributes

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

pairs = match_records['matched_pairs']['random']
show_pairs = [(o,d,t) for o,d,t in pairs if t == 'aka-aka' and o<d]
show_only = 4
print(f"aka-aka matches in sequential mode (show only {show_only}) of {len(show_pairs)}:")
for o,d,t in show_pairs[:show_only]:
    display_group_attributes([o,d],
                             header_cols=['name','nome-vide','naturalidade','uc-entrada','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['date','type','value'],
                             cmap_name='Pastel1')

aka-aka matches in sequential mode (show only 4) of 109:

In [78]:
vide_plus.loc['217701']

name                                          José de Santo António
nome-vide.type                                            nome-vide
nome-vide                                                 Lencastre
nome-vide.line                                               5027.0
nome-vide.level                                                 2.0
nome-geografico                                                 NaN
faculdade                                                       NaN
faculdade.date                                                  NaN
faculdade.obs                                                   NaN
nome-pai                                                        NaN
uc-entrada                                               0000-00-00
uc-saida                                                 0000-00-00
uc-saida.date                                            0000-00-00
uc-saida.obs
rec_type                                                        see
uc-entrada.type                                                 NaN
uc-entrada.line                                                 NaN
uc-entrada.level                                                NaN
data-registo                                                    NaN
loookup
vide_type                                                       add
lookup                              José de Santo António Lencastre
name_sp                                          José Santo António
lookup_sp                              José Santo António Lencastre
sort_key            José Santo António-José Santo António Lencastre
match_error                                                   False
match_obs                                                       NaN
Name: 217701, dtype: object

In [79]:

# set back the missing nome_geografico to null
no_geo_filter = vide_plus['nome-geografico'] == '***NA***'
vide_plus.loc[no_geo_filter,'nome-geografico'] = np.nan
print(len(vide_plus[vide_plus['nome-geografico'] == '***NA***']))
vide_plus.info()

0
<class 'pandas.core.frame.DataFrame'>
Index: 9570 entries, 198423 to 230315
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              9570 non-null   object
 1   nome-vide.type    9286 non-null   object
 2   nome-vide         9286 non-null   object
 3   nome-vide.line    9286 non-null   float64
 4   nome-vide.level   9286 non-null   float64
 5   nome-geografico   9004 non-null   object
 6   faculdade         5001 non-null   object
 7   faculdade.date    5001 non-null   object
 8   faculdade.obs     5001 non-null   object
 9   nome-pai          3573 non-null   object
 10  uc-entrada        9570 non-null   object
 11  uc-saida          9570 non-null   object
 12  uc-saida.date     9570 non-null   object
 13  uc-saida.obs      9570 non-null   object
 14  rec_type          9570 non-null   object
 15  uc-entrada.type   284 non-null    object
 16  uc-entrada.line   284 non-null    float64
 17  uc-entrada.level  284 non-null    float64
 18  data-registo      0 non-null      object
 19  loookup           9570 non-null   object
 20  vide_type         9570 non-null   object
 21  lookup            9570 non-null   object
 22  name_sp           9570 non-null   object
 23  lookup_sp         9570 non-null   object
 24  sort_key          9570 non-null   object
 25  match_error       9570 non-null   bool
 26  match_obs         206 non-null    object
dtypes: bool(1), float64(4), object(22)
memory usage: 2.2+ MB


Why:
* 230791	Abrantes	Manuel Fernandes da Silveira	None	Manuel Fernandes da Silveira	Fernandes da Silveira	0000-00-00	NaN
* 230756	Abrantes	Manuel Fernandes da Silveira	None	Manuel da Silveira	Manuel Fernandes da Silveira	1598-10-12	Leis

### Merge the result of the two methods, check for errors, again

Since we are mixing matches from two different methods it can happen that, together, they introduce new errrors,  specially transitive matches.

In [83]:
import networkx as nx
method = 'data'  # short for merged methods

matched_rand_pairs = match_records['matched_pairs']['random']
matched_seq_pairs = match_records['matched_pairs']['sequential']
matched_pairs = list(set(matched_rand_pairs + matched_seq_pairs))
print("Number of matched pairs (union of both methods)  :",len(matched_pairs))
match_records['matched_pairs'][method] = matched_pairs
match_info.loc['matched_pairs',method] = len(matched_pairs)

rec_errors_seq = match_records['records_error']['sequential']
rec_errors_rand = match_records['records_error']['random']


# And now filter, this is necessary because error detected are different in each method
matched_multiple = []
matched_single = []

origins = [o for (o,d,t) in matched_pairs]
destinations = [d for (o,d,t) in matched_pairs]
rec_in_matches = origins + destinations
for i in rec_in_matches:
    c = rec_in_matches.count(i)
    if i == '172681':
        pass
    if c >2:
        matched_multiple.append(i)
    elif c == 1:
        matched_single.append(i)


matched_multiple = list(set(matched_multiple))
matched_single = list(set(matched_single))
print("Number of matches random              :",len(matched_rand_pairs))
print("Number of matches sequential          :",len(matched_seq_pairs))
print("Number of matches both                :",len(matched_pairs))
print("Records with more than two matches    :", len(matched_multiple))
print("Records with just one match           :", len(matched_single))

# alternative method, perhaps more informative:
pairs_to_check = matched_pairs
print()
print("The following pairs have to reverse match:")
asymmetric_pairs = []
for (o,d,t) in matched_pairs:
    if t == 'see-aka':
        rt = 'aka-see'
    elif t == 'aka-see':
        rt = 'see-aka'
    else:
        rt = t
    if (d,o,rt) not in matched_pairs:
        asymmetric_pairs.append((o,d,t))
        print((o,d,t))

# now test for transitivity
G = nx.Graph()
simple_pairs = [(o,d) for (o,d,t) in matched_pairs]
G.add_edges_from(simple_pairs)
transitive  = [c for c in nx.connected_components(G) if len(c) > 2]

# number of records in ambiguous matchesamb_records = [item for amb in transitive for item in amb]
namb_records = len(set(amb_records))
print("Records in ambiguous matches          :", namb_records)

match_records['records_transitive'][method] = list(amb_records)
match_info.loc['records_transitive', method] = namb_records

for amb in transitive:
    print(amb)
print("Are multiple in ambiguous             :",set(matched_multiple).issubset(set(amb_records)))

vide_plus.loc[matched_single,'match_error'] = False
vide_plus.loc[matched_single,'match_obs'] = "W01-Single match (asymmetric) "+method

vide_plus.loc[matched_multiple,'match_error'] = True
vide_plus.loc[matched_multiple,'match_obs'] = "E03-Multiple match"+method

vide_plus.loc[amb_records,'match_error'] = True
vide_plus.loc[amb_records,'match_obs'] = "E04-Ambiguity in match "+method

# do a new list of records in error
rec_errors = set(amb_records).union(matched_multiple)

records = set(rec_in_matches)
rec_ok = records.difference(rec_errors)

print("Records involved in matches           :", len(records))
print("Records matched without errors        :", len(rec_ok))
print("Records matched with errors           :", len(rec_errors))

match_records['records_error'][method] = list(rec_errors)
match_info.loc['records_error', method] = len(rec_errors)
match_records['records_matched_ok'][method] = list(rec_ok)
match_info.loc['records_matched_ok', method] = len(rec_ok)
match_records['records_matched'][method] = list(records)
match_info.loc['records_matched', method] = len(records)

aka = match_records['aka']['data']
aka_ok = set(aka).intersection(rec_ok)
see = match_records['see']['data']
see_ok = set(see).intersection(rec_ok)
match_info.loc['aka_matched_ok', method] = len(aka_ok)
match_records['aka_matched_ok'][method] = list(aka_ok)
match_info.loc['see_matched_ok', method] = len(see_ok)
match_records['see_matched_ok'][method] = list(see_ok)

pairs_ok = set([(o,d,t) for (o,d,t) in match_records['matched_pairs'][method]
                                                        if o not in rec_errors and d not in rec_errors])
match_records['matched_pairs_ok'][method] = list(pairs_ok)
match_info.loc['matched_pairs_ok', method] = len(pairs_ok)

Number of matched pairs (union of both methods)  : 3821
Number of matches random              : 3739
Number of matches sequential          : 3644
Number of matches both                : 3821
Records with more than two matches    : 39
Records with just one match           : 74

The following pairs have to reverse match:
('181367', '214929', 'see-aka')
('225717', '173224', 'aka-see')
('148963', '182602', 'see-aka')
('256874', '141866', 'see-aka')
('164227', '248237', 'see-see')
('206505', '158689', 'see-aka')
('182659', '233550', 'aka-see')
('130534', '163482', 'see-aka')
('205772', '209662', 'see-aka')
('186417', '132440', 'see-aka')
('209320', '151354', 'see-aka')
('129384', '139423', 'see-aka')
('221053', '207054', 'see-aka')
('204089', '196842', 'see-aka')
('166987', '163021', 'aka-see')
('233397', '230482', 'see-aka')
('177796', '184419', 'aka-see')
('251029', '131947', 'see-aka')
('198768', '188508', 'aka-see')
('241346', '197630', 'see-aka')
('252478', '245318', 'see-aka')
('241026', '241012', 'see-aka')
('149251', '179399', 'see-aka')
('136704', '227086', 'see-see')
('234767', '203369', 'see-aka')
('195505', '160216', 'see-aka')
('140367', '208712', 'see-aka')
('194373', '128907', 'see-aka')
('230791', '230756', 'see-aka')
('212796', '242752', 'see-aka')
('206278', '151170', 'see-aka')
('186417', '238066', 'see-see')
('200713', '226997', 'aka-see')
('223100', '252345', 'see-aka')
('184271', '239847', 'see-aka')
('203487', '161932', 'see-aka')
('134006', '247449', 'see-aka')
('199474', '193320', 'see-aka')
('235056', '142554', 'see-aka')
('203487', '206151', 'see-see')
('185191', '181415', 'see-aka')
Records in ambiguous matches          : 119
{'206151', '161932', '255769', '203494', '203487'}
{'199474', '193320', '199475'}
{'216361', '251534', '251536'}
{'172681', '190285', '172677'}
{'206536', '233838', '206540'}
{'241045', '148119', '241043'}
{'242104', '238985', '242102'}
{'169757', '136283', '162809'}
{'139146', '139166', '153316'}
{'143426', '175730', '175731'}
{'183306', '235009', '183307'}
{'171377', '142388', '142386'}
{'152894', '152890', '243711'}
{'245531', '245530', '146206'}
{'233524', '245070', '233525'}
{'201733', '201728', '254410'}
{'168662', '211704', '211706', '211703'}
{'166756', '164823', '164824'}
{'266130', '266114', '146547'}
{'231025', '169177', '231024'}
{'238845', '233035', '238842'}
{'230250', '239516', '230251'}
{'169888', '214147', '169890'}
{'222615', '222621', '172529'}
{'233103', '221393', '233094'}
{'240879', '147410', '240882'}
{'160196', '160158', '152482'}
{'222156', '189900', '189891'}
{'232079', '210090', '232128'}
{'212857', '252907', '253465'}
{'316381', '201515', '194771'}
{'238488', '238487', '226966'}
{'238066', '186310', '132440', '186417', '186309'}
{'171093', '171095', '248881'}
{'191654', '191659', '134102'}
{'178312', '181236', '278765'}
{'208873', '243481', '208877'}
{'226704', '226697', '195422'}
Are multiple in ambiguous             : True
Records involved in matches           : 3819
Records matched without errors        : 3700
Records matched with errors           : 119

Detect asymmetries in matches with no errors (asymmetries are not considered errors)

In [84]:
method = 'data'  # short for merged methods

pairs_ok = match_records['matched_pairs_ok'][method]
# pairs
pairs_see_aka = [(o,d,mtype) for (o,d,mtype) in pairs_ok if mtype == 'see-aka']
pairs_aka_see = [(o,d,mtype) for (o,d,mtype) in pairs_ok if mtype == 'aka-see']
pairs_aka_aka = [(o,d,mtype) for (o,d,mtype) in pairs_ok if mtype == 'aka-aka']
pairs_see_see = [(o,d,mtype) for (o,d,mtype) in pairs_ok if mtype == 'see-see']

aka_in_see_aka = [d for (o,d,mtype) in pairs_ok if mtype == 'see-aka']
aka_in_aka_see = [o for (o,d,mtype) in pairs_ok if mtype == 'aka-see']
asymmetry_aka = sorted(list(set(aka_in_see_aka) ^ set(aka_in_aka_see)))

print("Asymmetry for aka:", asymmetry_aka )
print("N Asymmetry for aka:", len(asymmetry_aka) )

see_in_see_aka = [o for (o,d,mtype) in pairs_ok if mtype == 'see-aka']
see_in_aka_see = [d for (o,d,mtype) in pairs_ok if mtype == 'aka-see']
asymmetry_see = sorted(list(set(see_in_see_aka) ^ set(see_in_aka_see)))

print("Asymmetry for see:", asymmetry_see )
print("N Asymmetry for see:", len(asymmetry_see))

# alternative method, perhaps more informative:
print()
pairs_to_check = pairs_ok
print("Asymmetric matches: for each match bellow the reverse one was not found")
asymmetric_pairs = []
for (o,d,t) in pairs_to_check:
    if t == 'see-aka':
        rt = 'aka-see'
    elif t == 'aka-see':
        rt = 'see-aka'
    else:
        rt = t
    if (d,o,rt) not in pairs_to_check:
        asymmetric_pairs.append((o,d,t))
        print((o,d,t))

asymmetric_records = set([o for (o,d,t) in asymmetric_pairs] + [d for (o,d,t) in asymmetric_pairs])
print()

match_info.loc['records_asymmetric',method] = len(asymmetric_records)
match_records['records_asymmetric'][method] = list(asymmetric_records)
# records
rec_matched = set([id for (id,d,t) in pairs_ok]+
                  [id for (o,id,t) in pairs_ok])
rec_see_aka = set([id for (id,d,t) in pairs_see_aka])
rec_aka_see = set([id for (o,id,t) in pairs_aka_see])
rec_see_see = set([id for (id,d,t) in pairs_see_see] +
                  [id for (o,id,t) in pairs_see_see])
rec_aka_aka = set([id for (id,d,t) in pairs_aka_aka] +
                  [id for (o,id,t) in pairs_aka_aka])

match_records['records_see_aka'][method] = list(rec_see_aka)
match_records['records_aka_see'][method] = list(rec_aka_see)
match_records['records_aka_aka'][method] = list(rec_aka_aka)
match_records['records_see_see'][method] = list(rec_see_see)

match_info.at['records_see_aka', method] = len(rec_see_aka)
match_info.at['records_aka_see', method] = len(rec_aka_see)
match_info.at['records_aka_aka', method] = len(rec_aka_aka)
match_info.at['records_see_see', method] = len(rec_see_see)

# new
match_info.loc['aka_matched', method] = len(rec_aka_see.union(rec_aka_aka))
match_records['aka_matched'][method] = list(rec_aka_see.union(rec_aka_aka))
match_info.loc['see_matched', method] = len(rec_see_aka.union(rec_see_see))
match_records['see_matched'][method] = list(rec_see_aka.union(rec_see_see))

matched_rand_df = pd.DataFrame(pairs_ok, columns=['from','to','type'])
matched_rand_df.groupby('type').count()

Asymmetry for aka: ['128907', '131947', '139423', '141866', '142554', '151170', '151354', '158689', '160216', '163482', '166987', '177796', '179399', '181415', '182602', '182659', '196842', '197630', '198768', '200713', '203369', '207054', '208712', '209662', '214929', '225717', '230482', '230756', '239847', '241012', '242752', '245318', '247449', '252345']
N Asymmetry for aka: 34
Asymmetry for see: ['129384', '130534', '134006', '140367', '148963', '149251', '163021', '173224', '181367', '184271', '184419', '185191', '188508', '194373', '195505', '204089', '205772', '206278', '206505', '209320', '212796', '221053', '223100', '226997', '230791', '233397', '233550', '234767', '235056', '241026', '241346', '251029', '252478', '256874']
N Asymmetry for see: 34

Asymmetric matches: for each match bellow the reverse one was not found
('181367', '214929', 'see-aka')
('225717', '173224', 'aka-see')
('148963', '182602', 'see-aka')
('256874', '141866', 'see-aka')
('164227', '248237', 'see-see')
('206505', '158689', 'see-aka')
('182659', '233550', 'aka-see')
('130534', '163482', 'see-aka')
('205772', '209662', 'see-aka')
('209320', '151354', 'see-aka')
('129384', '139423', 'see-aka')
('221053', '207054', 'see-aka')
('204089', '196842', 'see-aka')
('166987', '163021', 'aka-see')
('233397', '230482', 'see-aka')
('177796', '184419', 'aka-see')
('251029', '131947', 'see-aka')
('198768', '188508', 'aka-see')
('241346', '197630', 'see-aka')
('252478', '245318', 'see-aka')
('241026', '241012', 'see-aka')
('149251', '179399', 'see-aka')
('136704', '227086', 'see-see')
('234767', '203369', 'see-aka')
('195505', '160216', 'see-aka')
('140367', '208712', 'see-aka')
('194373', '128907', 'see-aka')
('230791', '230756', 'see-aka')
('212796', '242752', 'see-aka')
('206278', '151170', 'see-aka')
('200713', '226997', 'aka-see')
('223100', '252345', 'see-aka')
('184271', '239847', 'see-aka')
('134006', '247449', 'see-aka')
('235056', '142554', 'see-aka')
('185191', '181415', 'see-aka')

         from    to
type
aka-aka   186   186
aka-see  1715  1715
see-aka  1737  1737
see-see    26    26

In [91]:
match_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, aka to vide_plus
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   data        28 non-null     object
 1   sequential  15 non-null     object
 2   random      15 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

In [ ]:
match

In [95]:
match_info.infer_objects(copy=False).fillna('')
# match_info.infer_objects(copy=False)

                    data sequential  random
aka                 3046
aka_fac             3020
aka_geo             2958
aka_matched         1901     1910.0  1927.0
aka_matched_ok      1929     1894.0  1853.0
aka_pai             1617
matched_pairs       3821     3644.0  3739.0
matched_pairs_ok    3664     3620.0  3546.0
nodate              6284
nodate_novide        264
nodate_novide        264
records_aka_aka      186      213.0   212.0
records_aka_see     1715     1697.0  1715.0
records_asymmetric    72        0.0    74.0
records_error        119       18.0   191.0
records_matched     3819     3638.0  3737.0
records_matched_ok  3700     3620.0  3546.0
records_see_aka     1737     1697.0  1740.0
records_see_see       28       36.0    43.0
records_transitive   119       18.0   119.0
see                 5844
see_fac             1514
see_geo             5369
see_matched         1765     1732.0  1775.0
see_matched_ok      1771     1726.0  1693.0
see_pai             1596
vide                8626
vide_plus           8890

##### Check role of no date novide records in assymetries matches

Since these records have no "vide" expression they do not generate the symmetric name forookup.

In [96]:
see_with_no_vide = set(match_records['vide_plus']['data']) - set(match_records['vide']['data'])
print("Number of records with see and no vide: ",len(see_with_no_vide))
asymmetric_see_no_vide = list(set(asymmetric_records).intersection(see_with_no_vide))
print("See no vide part in asymmetric matches: ",len(asymmetric_see_no_vide),set(asymmetric_records).intersection(see_with_no_vide))

Number of records with see and no vide:  264
See no vide part in asymmetric matches:  21 {'164227', '184271', '185191', '204089', '256874', '148963', '223100', '140367', '194373', '130534', '129384', '251029', '134006', '209320', '195505', '136704', '149251', '181367', '252478', '234767', '233397'}

##### Check asymmetric pairs

In [99]:

match_list = asymmetric_pairs

pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

show_only = 6
for (o,d,t) in match_list[:show_only]:
    print(o,d,t)
    print(f"https://pesquisa.auc.uc.pt/details?id={o}")
    print(f"https://pesquisa.auc.uc.pt/details?id={d}")
    display_group_attributes([o,d],
                             entity_type='person',
                             header_elements=['id', 'name'],
                             header_attributes=['uc-entrada','nome-vide','naturalidade','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['the_date','the_type','the_value'],
                             cmap_name='Pastel1',
                             db=db
                             )

181367 214929 see-aka

225717 173224 aka-see

148963 182602 see-aka

256874 141866 see-aka

164227 248237 see-see

206505 158689 see-aka

Add match information to the records

In [100]:
import pandas as pd

pairs = match_records['matched_pairs_ok']['data']
def get_match(id,pairs):
    match_list = [(d,mtype) for (o,d,mtype) in pairs if o == id]
    if len(match_list) == 0:
        return (None,None)
    else:
        return match_list[0]

ids = vide_plus.index.values
matches = [get_match(id,pairs) for id in ids]
cols = pd.DataFrame(matches,columns=['match','match_type'], index=ids)
vide_plus = pd.concat([vide_plus,cols],axis=1)

## Match results

### Match general statistics

In [102]:
nvide_plus = match_info.loc['vide_plus','data']
match_info.infer_objects(copy=False).fillna("")
vars_perc_vide = ['aka','aka_fac','aka_geo','aka_pai',
                'nodate','nodate_novide',
                'records_matched','records_matched_ok',
                'records_see_aka','records_see_see',
                'records_aka_see','records_aka_aka',
                'records_transitive',
                'vide','vide_plus']

match_info.loc[vars_perc_vide,'perc_vide_plus'] = match_info.loc[vars_perc_vide,'data']/nvide_plus

nrec_matched = match_info.loc['records_matched_ok','data']
vars_perc_matches = ['records_matched_ok',
                     'records_see_aka','records_see_see',
                     'records_aka_see','records_aka_aka',
                     'records_transitive']
match_info.loc[vars_perc_matches,'perc_matched_ok'] = match_info.loc[vars_perc_matches,'data']/nrec_matched

nsee = match_info.loc['see','data']
vars_perc_see = ['see_matched','see_matched_ok','records_see_aka','records_see_see', 'see','see_fac','see_geo','see_pai']
match_info.loc[vars_perc_see,'perc_type'] = match_info.loc[vars_perc_see,'data']/nsee
match_info.loc[vars_perc_see,'type'] = 'see'


naka = match_info.loc['aka','data']
vars_perc_aka = ['aka','aka_matched','aka_matched_ok','aka_fac','aka_geo','aka_pai','records_aka_see','records_aka_aka']
match_info.loc[vars_perc_aka,'perc_type'] = match_info.loc[vars_perc_aka,'data']/naka
match_info.loc[vars_perc_aka,'type'] = 'aka'


nmatched_pairs = match_info.loc['matched_pairs','data']
vars_perc_matched = ['matched_pairs','matched_pairs_ok']
match_info.loc[vars_perc_matched,'perc_type'] = match_info.loc[vars_perc_matched,'data']/nmatched_pairs
match_info.loc[vars_perc_matched,'type'] = 'matched_pairs'

nrec_matched = match_info.loc['records_matched','data']
vars_perc_rec_matched = ['records_matched','records_matched_ok','records_transitive']
match_info.loc[vars_perc_rec_matched,'perc_type'] = match_info.loc[vars_perc_rec_matched,'data']/nrec_matched
match_info.loc[vars_perc_rec_matched,'type'] = 'records_mached'

In [103]:
match_info.infer_objects(copy=False).fillna(" ")

,data,sequential,random,perc_vide_plus,perc_matched_ok,perc_type,type
aka,3046,,,0.342632,,1.0,aka
aka_fac,3020,,,0.339708,,0.991464,aka
aka_geo,2958,,,0.332733,,0.97111,aka
aka_matched,1901,1910.0,1927.0,,,0.624097,aka
aka_matched_ok,1929,1894.0,1853.0,,,0.63329,aka
aka_pai,1617,,,0.18189,,0.53086,aka
matched_pairs,3821,3644.0,3739.0,,,1.0,matched_pairs
matched_pairs_ok,3664,3620.0,3546.0,,,0.958911,matched_pairs
nodate,6284,,,0.706862,,,
nodate_novide,264,,,0.029696,,,
nodate_novide,264,,,0.029696,,,
records_aka_aka,186,213.0,212.0,0.020922,0.05027,0.061064,aka
records_aka_see,1715,1697.0,1715.0,0.192913,0.463514,0.563033,aka
records_asymmetric,72,0.0,74.0,,,,
records_error,119,18.0,191.0,,,,
records_matched,3819,3638.0,3737.0,0.429584,,1.0,records_mached
records_matched_ok,3700,3620.0,3546.0,0.416198,1.0,0.96884,records_mached
records_see_aka,1737,1697.0,1740.0,0.195388,0.469459,0.297228,see
records_see_see,28,36.0,43.0,0.00315,0.007568,0.004791,see
records_transitive,119,18.0,119.0,0.013386,0.032162,0.03116,records_mached
see,5844,,,,,1.0,see
see_fac,1514,,,,,0.259069,see
see_geo,5369,,,,,0.91872,see
see_matched,1765,1732.0,1775.0,,,0.302019,see
see_matched_ok,1771,1726.0,1693.0,,,0.303046,see
see_pai,1596,,,,,0.273101,see
vide,8626,,,0.970304,,,
vide_plus,8890,,,1.0,,,

### Generate matching file and dataframe

In [104]:

matching_view_cols = ['match','nome-geografico','uc-entrada','uc-saida','name','nome-vide','lookup','nome-pai','vide_type','faculdade','match_type','match_error','match_obs']

matched_error = vide_plus[vide_plus['match_error']==True]
matched_error_index = matched_error.index.unique()

matched_index = match_records['records_matched']['data']
matched_ok_index = list(set(matched_index)-set(matched_error_index))

matched = vide_plus.loc[matched_index].sort_values(['sort_key','nome-geografico','uc-entrada'])[matching_view_cols]
nmatched = len(matched_index)
print("Number of matched records:",nmatched)
matched.to_csv('../inferences/cross-references/vide_matched.csv',sep=',',)
matched.head(40)

Number of matched records: 3819

,match,nome-geografico,uc-entrada,uc-saida,name,nome-vide,lookup,nome-pai,vide_type,faculdade,match_type,match_error,match_obs
179898,151044,Pinheiro de Ázere,0000-00-00,0000-00-00,Adrião da Barca de Gouveia,Barca,Adrião da Barca,NaN,cut,NaN,see-aka,False,NaN
151044,179898,Pinheiro de Ázere,1596-10-19,1620-07-11,Adrião da Barca,Gouveia,Adrião da Barca Gouveia,Baltasar Cardoso,add,Cânones,aka-see,False,NaN
151589,131748,Viana,0000-00-00,0000-00-00,Afonso de Barros,Caminha,Afonso de Barros Caminha,NaN,add,NaN,see-aka,False,NaN
131748,151589,Viana,1684-10-01,1687-10-01,Afonso de Barros Caminha,Barros,Afonso de Barros,NaN,cut,Cânones,aka-see,False,NaN
250325,151588,Estremoz,0000-00-00,0000-00-00,Afonso de Barros Preto,Barros,Afonso de Barros,Francisco Dias Zagalo,cut,NaN,see-aka,False,NaN
151588,250325,Estremoz,1563-11-16,1577-10-11,Afonso de Barros,Preto,Afonso de Barros Preto,NaN,add,Leis,aka-see,False,NaN
181618,186611,Viseu,0000-00-00,0000-00-00,Afonso Botelho Machado,Botelho,Afonso Botelho,NaN,cut,Leis,see-aka,False,NaN
186611,181618,Viseu,1609-10-01,1624-10-30,Afonso Botelho,Machado,Afonso Botelho Machado,António Machado,add,Cânones,aka-see,False,NaN
186611,181618,Viseu,1609-10-01,1624-10-30,Afonso Botelho,Machado,Afonso Botelho Machado,António Machado,add,Leis,aka-see,False,NaN
221796,164067,Elvas,0000-00-00,0000-00-00,Afonso Frausto Segurado,Frausto,Afonso Frausto,NaN,cut,NaN,see-see,False,NaN
164067,221796,Elvas,0000-00-00,1627-02-12,Afonso Frausto,Segurado,Afonso Frausto Segurado,NaN,add,Cânones,see-see,False,NaN
214147,None,Lisboa,0000-00-00,0000-00-00,Afonso Furtado de Mendonça,Furtado,Afonso Furtado,NaN,cut,NaN,None,True,E04-Ambiguity in match data
169888,None,Lisboa,1585-10-15,1594-07-30,Afonso Furtado,Mendonça,Afonso Furtado Mendonça,deJorge Furtado de Mendonça,add,Cânones,None,True,E04-Ambiguity in match data
169890,None,Lisboa,1600-10-05,1611-06-05,Afonso Furtado,Mendonça,Afonso Furtado Mendonça,Martim de Castro Osório,add,Cânones,None,True,E04-Ambiguity in match data
203124,177343,Fronteira,0000-00-00,0000-00-00,Afonso Garcia Tinoco,Garcia,Afonso Garcia,Pedro Garcia Tinoco,cut,Leis,see-aka,False,NaN
177343,203124,Fronteira,1577-10-03,1585-11-23,Afonso Garcia,Tinoco,Afonso Garcia Tinoco,Pedro Garcia Tinoco,add,Leis,aka-see,False,NaN
187008,190253,Arruda,0000-00-00,0000-00-00,Afonso Henriques,Homem,Afonso Henriques Homem,NaN,add,Cânones,see-aka,False,NaN
190253,187008,Arruda,1653-10-25,1659-10-24,Afonso Henriques Homem,Henriques,Afonso Henriques,NaN,cut,Cânones,aka-see,False,NaN
184829,160532,Campo Maior,0000-00-00,0000-00-00,Afonso Martins,Fouto,Afonso Martins Fouto,NaN,add,NaN,see-aka,False,NaN
160532,184829,Campo Maior,1641-10-17,1648-05-14,Afonso Martins Fouto,Martins,Afonso Martins,Gaspar da Gama,cut,Leis,aka-see,False,NaN
244221,172641,Lisboa,1562-11-10,1570-07-03,Afonso Nunes Ferreira,Nunes,Afonso Nunes,NaN,cut,Leis,aka-aka,False,NaN
172641,244221,Lisboa,1563-12-01,1568-06-30,Afonso Nunes,Ferreira,Afonso Nunes Ferreira,NaN,add,Leis,aka-aka,False,NaN
223131,234243,Torrão,0000-00-00,0000-00-00,Afonso Pato,Sousa,Afonso Pato Sousa,André Pato,add,Leis,see-aka,False,NaN
234243,223131,Torrão,1616-12-10,1622-07-05,Afonso Pato de Sousa,Pato,Afonso Pato,André Pato,cut,Leis,aka-see,False,NaN
234243,223131,Torrão,1616-12-10,1622-07-05,Afonso Pato de Sousa,Pato,Afonso Pato,André Pato,cut,Medicina,aka-see,False,NaN
223831,231672,Estremoz,0000-00-00,0000-00-00,Afonso Soares Serrão,Soares,Afonso Soares,NaN,cut,NaN,see-aka,False,NaN
231672,223831,Estremoz,1654-10-13,1660-07-14,Afonso Soares,Serrão,Afonso Soares Serrão,Diogo Pereira,add,Medicina,aka-see,False,NaN
234683,201868,Moura,0000-00-00,0000-00-00,Afonso Teles de Menezes,Teles,Afonso Teles,NaN,cut,NaN,see-aka,False,NaN
201868,234683,Moura,1592-10-16,1598-10-20,Afonso Teles,Menezes,Afonso Teles Menezes,Rui Teles,add,Cânones,aka-see,False,NaN
163159,143866,Lisboa,0000-00-00,0000-00-00,Afonso Álvares Franco,Álvares,Afonso Álvares,NaN,cut,NaN,see-aka,False,NaN
143866,163159,Lisboa,1560-10-01,1572-07-29,Afonso Álvares,Franco,Afonso Álvares Franco,NaN,add,Cânones,aka-see,False,NaN
198999,148379,Ilha da Madeira,0000-00-00,0000-00-00,Agostinho de Atouguia da Costa,Atouguia,Agostinho de Atouguia,NaN,cut,NaN,see-aka,False,NaN
148379,198999,Ilha da Madeira,1579-10-02,1585-10-01,Agostinho de Atouguia,Costa,Agostinho de Atouguia Costa,António de Atouguia,add,Cânones,aka-see,False,NaN
164224,148698,Coimbra,0000-00-00,0000-00-00,Agostinho do Avelar Freire,do Avelar,Agostinho do Avelar,NaN,cut,NaN,see-aka,False,NaN
148698,164224,Coimbra,1647-10-15,1654-12-04,Agostinho do Avelar,Freire,Agostinho do Avelar Freire,NaN,add,Cânones,aka-see,False,NaN
148698,164224,Coimbra,1647-10-15,1654-12-04,Agostinho do Avelar,Freire,Agostinho do Avelar Freire,NaN,add,Leis,aka-see,False,NaN
150572,244243,Arrifana de Sousa,1666-01-07,1671-06-06,Agostinho Barbosa,Ferreira,Agostinho Barbosa Ferreira,Francisco Barbosa Ferreira,add,Cânones,aka-aka,False,NaN
244243,150572,Arrifana de Sousa,1666-01-07,1671-06-06,Agostinho Barbosa Ferreira,Barbosa,Agostinho Barbosa,Francisco Barbosa Ferreira,cut,Cânones,aka-aka,False,NaN
150572,244243,Penafiel,1666-01-07,1671-06-06,Agostinho Barbosa,Ferreira,Agostinho Barbosa Ferreira,Francisco Barbosa Ferreira,add,Cânones,aka-aka,False,NaN
244233,134538,Lisboa,0000-00-00,0000-00-00,Agostinho Ferreira,Rebelo,Agostinho Ferreira Rebelo,NaN,add,Cânones,see-aka,False,NaN

### Matches, excluding errors

In [105]:
matched_ok_index = match_records['records_matched_ok']['data']
matched.loc[matched_ok_index].sort_values(['name','nome-geografico','uc-entrada']).head(40).fillna('')

,match,nome-geografico,uc-entrada,uc-saida,name,nome-vide,lookup,nome-pai,vide_type,faculdade,match_type,match_error,match_obs
151044,179898,Pinheiro de Ázere,1596-10-19,1620-07-11,Adrião da Barca,Gouveia,Adrião da Barca Gouveia,Baltasar Cardoso,add,Cânones,aka-see,False,
179898,151044,Pinheiro de Ázere,0000-00-00,0000-00-00,Adrião da Barca de Gouveia,Barca,Adrião da Barca,,cut,,see-aka,False,
186611,181618,Viseu,1609-10-01,1624-10-30,Afonso Botelho,Machado,Afonso Botelho Machado,António Machado,add,Cânones,aka-see,False,
186611,181618,Viseu,1609-10-01,1624-10-30,Afonso Botelho,Machado,Afonso Botelho Machado,António Machado,add,Leis,aka-see,False,
181618,186611,Viseu,0000-00-00,0000-00-00,Afonso Botelho Machado,Botelho,Afonso Botelho,,cut,Leis,see-aka,False,
164067,221796,Elvas,0000-00-00,1627-02-12,Afonso Frausto,Segurado,Afonso Frausto Segurado,,add,Cânones,see-see,False,
221796,164067,Elvas,0000-00-00,0000-00-00,Afonso Frausto Segurado,Frausto,Afonso Frausto,,cut,,see-see,False,
177343,203124,Fronteira,1577-10-03,1585-11-23,Afonso Garcia,Tinoco,Afonso Garcia Tinoco,Pedro Garcia Tinoco,add,Leis,aka-see,False,
203124,177343,Fronteira,0000-00-00,0000-00-00,Afonso Garcia Tinoco,Garcia,Afonso Garcia,Pedro Garcia Tinoco,cut,Leis,see-aka,False,
187008,190253,Arruda,0000-00-00,0000-00-00,Afonso Henriques,Homem,Afonso Henriques Homem,,add,Cânones,see-aka,False,
190253,187008,Arruda,1653-10-25,1659-10-24,Afonso Henriques Homem,Henriques,Afonso Henriques,,cut,Cânones,aka-see,False,
184829,160532,Campo Maior,0000-00-00,0000-00-00,Afonso Martins,Fouto,Afonso Martins Fouto,,add,,see-aka,False,
160532,184829,Campo Maior,1641-10-17,1648-05-14,Afonso Martins Fouto,Martins,Afonso Martins,Gaspar da Gama,cut,Leis,aka-see,False,
172641,244221,Lisboa,1563-12-01,1568-06-30,Afonso Nunes,Ferreira,Afonso Nunes Ferreira,,add,Leis,aka-aka,False,
244221,172641,Lisboa,1562-11-10,1570-07-03,Afonso Nunes Ferreira,Nunes,Afonso Nunes,,cut,Leis,aka-aka,False,
223131,234243,Torrão,0000-00-00,0000-00-00,Afonso Pato,Sousa,Afonso Pato Sousa,André Pato,add,Leis,see-aka,False,
234243,223131,Torrão,1616-12-10,1622-07-05,Afonso Pato de Sousa,Pato,Afonso Pato,André Pato,cut,Leis,aka-see,False,
234243,223131,Torrão,1616-12-10,1622-07-05,Afonso Pato de Sousa,Pato,Afonso Pato,André Pato,cut,Medicina,aka-see,False,
231672,223831,Estremoz,1654-10-13,1660-07-14,Afonso Soares,Serrão,Afonso Soares Serrão,Diogo Pereira,add,Medicina,aka-see,False,
223831,231672,Estremoz,0000-00-00,0000-00-00,Afonso Soares Serrão,Soares,Afonso Soares,,cut,,see-aka,False,
201868,234683,Moura,1592-10-16,1598-10-20,Afonso Teles,Menezes,Afonso Teles Menezes,Rui Teles,add,Cânones,aka-see,False,
234683,201868,Moura,0000-00-00,0000-00-00,Afonso Teles de Menezes,Teles,Afonso Teles,,cut,,see-aka,False,
151588,250325,Estremoz,1563-11-16,1577-10-11,Afonso de Barros,Preto,Afonso de Barros Preto,,add,Leis,aka-see,False,
151589,131748,Viana,0000-00-00,0000-00-00,Afonso de Barros,Caminha,Afonso de Barros Caminha,,add,,see-aka,False,
131748,151589,Viana,1684-10-01,1687-10-01,Afonso de Barros Caminha,Barros,Afonso de Barros,,cut,Cânones,aka-see,False,
250325,151588,Estremoz,0000-00-00,0000-00-00,Afonso de Barros Preto,Barros,Afonso de Barros,Francisco Dias Zagalo,cut,,see-aka,False,
143866,163159,Lisboa,1560-10-01,1572-07-29,Afonso Álvares,Franco,Afonso Álvares Franco,,add,Cânones,aka-see,False,
163159,143866,Lisboa,0000-00-00,0000-00-00,Afonso Álvares Franco,Álvares,Afonso Álvares,,cut,,see-aka,False,
150572,244243,Arrifana de Sousa,1666-01-07,1671-06-06,Agostinho Barbosa,Ferreira,Agostinho Barbosa Ferreira,Francisco Barbosa Ferreira,add,Cânones,aka-aka,False,
150572,244243,Penafiel,1666-01-07,1671-06-06,Agostinho Barbosa,Ferreira,Agostinho Barbosa Ferreira,Francisco Barbosa Ferreira,add,Cânones,aka-aka,False,
244243,150572,Arrifana de Sousa,1666-01-07,1671-06-06,Agostinho Barbosa Ferreira,Barbosa,Agostinho Barbosa,Francisco Barbosa Ferreira,cut,Cânones,aka-aka,False,
244233,134538,Lisboa,0000-00-00,0000-00-00,Agostinho Ferreira,Rebelo,Agostinho Ferreira Rebelo,,add,Cânones,see-aka,False,
134538,244233,Lisboa,1658-10-01,1665-07-18,Agostinho Ferreira Rebelo,Ferreira,Agostinho Ferreira,Agostinho Francisco Ferreira,cut,Cânones,aka-see,False,
179131,225541,Capinha,1641-10-15,1649-11-02,Agostinho Gonçalves,Pereira,Agostinho Gonçalves Pereira,António Gonçalves,add,Cânones,aka-see,False,
225541,179131,Capinha,0000-00-00,0000-00-00,Agostinho Gonçalves Pereira,Gonçalves,Agostinho Gonçalves,,cut,,see-aka,False,
253938,141555,Lamego,1689-10-01,1689-10-01,Agostinho Loureiro,de Aguiar,Agostinho Loureiro de Aguiar,,add,Cânones,aka-see,False,
183928,222335,Nogoselo,1756-10-01,1756-10-01,Agostinho Manuel,Agostinho Manuel de Sequeira,Agostinho Manuel de Sequeira,,rep,Cursos jurídicos (Cânones ou Leis),aka-see,False,
222335,183928,Nagoselo,0000-00-00,0000-00-00,Agostinho Manuel de Sequeira,Agostinho Manuel,Agostinho Manuel,,cut,,see-aka,False,
251007,185242,Lisboa,1692-10-01,1692-10-01,Agostinho Monteiro,Belo,Agostinho Monteiro Belo,,add,Cursos jurídicos (Cânones ou Leis),aka-see,False,
185242,251007,Lisboa,0000-00-00,0000-00-00,Agostinho Monteiro Belo,Monteiro,Agostinho Monteiro,,cut,,see-aka,False,

### Show diferences in matching results

In [106]:
match_info.infer_objects(copy=False).fillna("")

,data,sequential,random,perc_vide_plus,perc_matched_ok,perc_type,type
aka,3046,,,0.342632,,1.0,aka
aka_fac,3020,,,0.339708,,0.991464,aka
aka_geo,2958,,,0.332733,,0.97111,aka
aka_matched,1901,1910.0,1927.0,,,0.624097,aka
aka_matched_ok,1929,1894.0,1853.0,,,0.63329,aka
aka_pai,1617,,,0.18189,,0.53086,aka
matched_pairs,3821,3644.0,3739.0,,,1.0,matched_pairs
matched_pairs_ok,3664,3620.0,3546.0,,,0.958911,matched_pairs
nodate,6284,,,0.706862,,,
nodate_novide,264,,,0.029696,,,
nodate_novide,264,,,0.029696,,,
records_aka_aka,186,213.0,212.0,0.020922,0.05027,0.061064,aka
records_aka_see,1715,1697.0,1715.0,0.192913,0.463514,0.563033,aka
records_asymmetric,72,0.0,74.0,,,,
records_error,119,18.0,191.0,,,,
records_matched,3819,3638.0,3737.0,0.429584,,1.0,records_mached
records_matched_ok,3700,3620.0,3546.0,0.416198,1.0,0.96884,records_mached
records_see_aka,1737,1697.0,1740.0,0.195388,0.469459,0.297228,see
records_see_see,28,36.0,43.0,0.00315,0.007568,0.004791,see
records_transitive,119,18.0,119.0,0.013386,0.032162,0.03116,records_mached
see,5844,,,,,1.0,see
see_fac,1514,,,,,0.259069,see
see_geo,5369,,,,,0.91872,see
see_matched,1765,1732.0,1775.0,,,0.302019,see
see_matched_ok,1771,1726.0,1693.0,,,0.303046,see
see_pai,1596,,,,,0.273101,see
vide,8626,,,0.970304,,,
vide_plus,8890,,,1.0,,,

####  Only matched in random mode

The extra success of the random mode comes from a better tolerance to variations of geographic names.

This is because the random mode uses a similarity factor to find students of with the same birth place while the sequential method uses sorting on geographic name and names to get the matches adjacent.

Each methods manages to succeed in cases where the other fails, but random is more efficient.

In [109]:
matched_rand_index = match_records['records_matched_ok']['random']
matched_seq_index = match_records['records_matched_ok']['sequential']
matched_error_index = match_records['records_error']['data']

matched_rand_only = list(set(matched_rand_index)-set(matched_seq_index)-set(matched_error_index))
nmatched_rand_only = len(matched_rand_only)
print(f"Number of records matched only in random access mode (errors excluded): {nmatched_rand_only}")
print()
print("Sample:")
matched.loc[matched_rand_only].sort_values(['name','nome-geografico','uc-entrada',])[matching_view_cols].head(40)

Number of records matched only in random access mode (errors excluded): 74

Sample:

,match,nome-geografico,uc-entrada,uc-saida,name,nome-vide,lookup,nome-pai,vide_type,faculdade,match_type,match_error,match_obs
183928,222335,Nogoselo,1756-10-01,1756-10-01,Agostinho Manuel,Agostinho Manuel de Sequeira,Agostinho Manuel de Sequeira,NaN,rep,Cursos jurídicos (Cânones ou Leis),aka-see,False,NaN
222335,183928,Nagoselo,0000-00-00,0000-00-00,Agostinho Manuel de Sequeira,Agostinho Manuel,Agostinho Manuel,NaN,cut,NaN,see-aka,False,NaN
148502,213090,Santiago do Cacém,1650-10-12,1658-03-30,André Ascenso,Salema,André Ascenso Salema,Manuel Raposo Pessanha,add,Cânones,aka-see,False,NaN
148502,213090,Santiago do Cacém,1650-10-12,1658-03-30,André Ascenso,Salema,André Ascenso Salema,Manuel Raposo Pessanha,add,Leis,aka-see,False,NaN
213090,148502,Santiago de Cacém,0000-00-00,0000-00-00,André Ascenso Salema,Ascenso,André Ascenso,NaN,cut,Leis,see-aka,False,NaN
178267,251037,Ilha Terceira,1567-10-01,1575-05-17,André Gomes,Monteiro,André Gomes Monteiro,António Vaz,add,Cânones,aka-see,False,NaN
251037,178267,Ilha da Terceira,0000-00-00,0000-00-00,André Gomes Monteiro,Gomes,André Gomes,NaN,cut,NaN,see-aka,False,NaN
222372,140377,Várzae de Meruge,1728-10-01,1731-10-01,André de Sequeira,Abranches,André de Sequeira Abranches,NaN,add,Cânones,aka-see,False,NaN
140377,222372,Várzea de Meruge,0000-00-00,0000-00-00,André de Sequeira Abranches,Sequeira,André de Sequeira,NaN,cut,NaN,see-aka,False,NaN
238571,202253,Setã,1632-01-10,1659-11-08,António Lopes,Leitão,António Lopes Leitão,António André,add,Cânones,aka-see,False,NaN
202253,238571,Sertã,0000-00-00,0000-00-00,António Lopes Leitão,Lopes,António Lopes,NaN,cut,NaN,see-aka,False,NaN
144763,211813,Paradinha Nova,1733-10-01,1739-10-01,António Teixeira Alves,António Vaz,António Vaz,NaN,rep,Cânones,aka-see,False,NaN
211813,144763,Parainha Nova,0000-00-00,0000-00-00,António Vaz,António Teixeira Alves,António Teixeira Alves,NaN,rep,NaN,see-aka,False,NaN
139658,214433,Mourilhe,1725-10-01,1732-10-01,António da Fonseca,de Sampaio,António da Fonseca de Sampaio,NaN,add,Cânones,aka-see,False,NaN
139670,128053,Samadães,1656-10-15,1665-12-15,António da Fonseca,Cabral,António da Fonseca Cabral,Sebastião da Fonseca,add,Cânones,aka-see,False,NaN
128053,139670,Samodães,0000-00-00,0000-00-00,António da Fonseca Cabral,Fonseca,António da Fonseca,Sebastião da Fonseca Cabral,cut,Cânones,see-aka,False,NaN
214433,139658,Morilhe,0000-00-00,0000-00-00,António da Fonseca de Sampaio,Fonseca,António da Fonseca,NaN,cut,NaN,see-aka,False,NaN
225941,181220,Mesejana,1748-11-08,1750-10-01,António de Almeida Pereira,Guerra de Macedo,António de Almeida Pereira Guerra de Macedo,NaN,add,Cânones,aka-see,False,NaN
181220,225941,Messejana,0000-00-00,0000-00-00,António de Almeida Pereira Guerra de Macedo,Pereira,António de Almeida Pereira,NaN,cut,NaN,see-aka,False,NaN
147113,243010,São Paio da Guarda,1619-10-04,1625-10-17,Clemente de Aragão,Pina,Clemente de Aragão Pina,António Borges,add,Leis,aka-see,False,NaN
243010,147113,São Paio da Guarda,0000-00-00,0000-00-00,Clemente de Aragão de Pina,Aragão,Clemente de Aragão,NaN,cut,NaN,see-aka,False,NaN
179355,246372,São Romão,1643-10-03,1650-05-23,Diogo Gonçalves,Pinto,Diogo Gonçalves Pinto,António Gonçalves,add,Cânones,aka-see,False,NaN
246372,179355,São Romão,0000-00-00,0000-00-00,Diogo Gonçalves Pinto,Gonçalves,Diogo Gonçalves,António Gonçalves,cut,Cânones,see-aka,False,NaN
233079,168893,Cabeceira de Basto,1641-10-17,1647-01-12,Diogo Pereira,Neto,Diogo Pereira Neto,Francisco Martins,add,Cânones,aka-see,False,NaN
233079,168893,Cabeceira de Basto,1641-10-17,1647-01-12,Diogo Pereira,Neto,Diogo Pereira Neto,Francisco Martins,add,Leis,aka-see,False,NaN
168893,233079,Cabeceiras de Bastos,0000-00-00,0000-00-00,Diogo Pereira Neto,Pereira,Diogo Pereira,NaN,cut,NaN,see-aka,False,NaN
150703,129133,Arcos de Valdevez,0000-00-00,0000-00-00,Francisco Caldas Barbosa,Caldas,Francisco Caldas,NaN,cut,Cânones,see-aka,False,NaN
251990,135191,Vila Cova de Alva,0000-00-00,0000-00-00,Francisco Fernandes,Figueiredo,Francisco Fernandes Figueiredo,NaN,add,NaN,see-aka,False,NaN
251990,135191,Vila Cova de Sub-Avô,0000-00-00,0000-00-00,Francisco Fernandes,Figueiredo,Francisco Fernandes Figueiredo,NaN,add,NaN,see-aka,False,NaN
135191,251990,Vila Cova de Sub Avô,1586-10-02,1596-11-17,Francisco Fernandes de Figueiredo,Fernandes,Francisco Fernandes,Marcos Fernandes,cut,Cânones,aka-see,False,NaN
194625,201050,Penamacor,1745-10-01,1752-06-30,Francisco José,Ferreira da Costa,Francisco José Ferreira da Costa,Manuel Pires Amada,add,Cânones,aka-see,False,NaN
201050,194625,Penamaior,0000-00-00,0000-00-00,Francisco José Ferreira da Costa,Francisco José,Francisco José,NaN,cut,NaN,see-aka,False,NaN
171296,197094,R de Galinhas,1673-11-02,1673-11-02,Francisco Nogueira,Correia,Francisco Nogueira Correia,NaN,add,Cânones,aka-see,False,NaN
197094,171296,Rio de Galinhas,0000-00-00,0000-00-00,Francisco Nogueira Correia,Nogueira,Francisco Nogueira,NaN,cut,NaN,see-aka,False,NaN
129133,150703,Arcos de Valedevez,1653-10-22,1661-10-19,Francisco de Caldas,Barbosa,Francisco de Caldas Barbosa,NaN,add,Cânones,aka-see,False,NaN
135244,155250,Arcozelo,0000-00-00,0000-00-00,Gaspar Rebelo,Carvalho,Gaspar Rebelo Carvalho,NaN,add,Leis,see-aka,False,NaN
155250,135244,Arcozelos,1650-02-01,1659-05-21,Gaspar Rebelo de Carvalho,Rebelo,Gaspar Rebelo,NaN,cut,Cânones,aka-see,False,NaN
155250,135244,Arcozelos,1650-02-01,1659-05-21,Gaspar Rebelo de Carvalho,Rebelo,Gaspar Rebelo,NaN,cut,Leis,aka-see,False,NaN
240038,191015,Mazarefes,1673-10-15,1677-10-15,Jorge Pessanha,de Castro,Jorge Pessanha de Castro,NaN,add,Cânones,aka-see,False,NaN
191015,240038,Masarefes,0000-00-00,0000-00-00,Jorge Pessanha de Castro,Pessanha,Jorge Pessanha,NaN,cut,NaN,see-aka,False,NaN

#### Only matched in sequential mode

A few cases sequential is more successful.

In [110]:
pd.set_option('display.max_rows',100)


matched_seq_only = list(set(matched_seq_index)-set(matched_rand_index)-set(matched_error_index))
nmatched_not_rand = len(matched_seq_only)
print(f"Number of records matched only in sequential mode (errors excluded): {nmatched_not_rand}")
print()
matched.loc[matched_seq_only].sort_values(['name','nome-geografico','uc-entrada',]).head(20)[matching_view_cols]

Number of records matched only in sequential mode (errors excluded): 82

,match,nome-geografico,uc-entrada,uc-saida,name,nome-vide,lookup,nome-pai,vide_type,faculdade,match_type,match_error,match_obs
147478,233523,NaN,1700-11-23,1700-11-23,Alexandre de Araújo,Sodré,Alexandre de Araújo Sodré,António de Araújo de Macedo,add,Cursos jurídicos (Cânones ou Leis),aka-see,False,NaN
233523,147478,NaN,0000-00-00,0000-00-00,Alexandre de Araújo Sodré,Araújo,Alexandre de Araújo,NaN,cut,NaN,see-aka,False,NaN
146869,132149,NaN,0000-00-00,0000-00-00,António,Figueiredo,António Figueiredo,NaN,add,NaN,see-aka,False,NaN
241634,250486,Algoso,0000-00-00,0000-00-00,António Pimentel,Morais,António Pimentel Morais,NaN,add,Cânones,see-aka,False,NaN
250486,241634,Algozo,1656-10-15,1665-03-24,António Pimentel Morais,Pimentel,António Pimentel,NaN,cut,Leis,aka-see,False,NaN
249475,163593,NaN,0000-00-00,0000-00-00,António Plácido,Dourado,António Plácido Dourado,NaN,add,NaN,see-aka,False,NaN
163593,249475,NaN,1761-10-01,1761-10-01,António Plácido Dourado,Plácido,António Plácido,NaN,cut,Teologia,aka-see,False,NaN
147265,167316,NaN,1738-10-01,1744-10-01,António da Anunciação,Evangelista,António da Anunciação Evangelista,NaN,add,Teologia,aka-see,False,NaN
167316,147265,NaN,0000-00-00,0000-00-00,António da Anunciação Evangelista,Anunciação,António da Anunciação,NaN,cut,NaN,see-aka,False,NaN
132149,146869,NaN,1573-10-01,1582-04-30,António de Figueiredo,António,António,NaN,cut,Teologia,aka-see,False,NaN
217030,217035,NaN,1746-11-30,1747-10-24,António de Santa Quitéria,Raimundo,António de Santa Quitéria Raimundo,NaN,add,Teologia,aka-see,False,NaN
217035,217030,NaN,0000-00-00,0000-00-00,António de Santa Quitéria Raimundo,Santa Quitéria,António de Santa Quitéria,NaN,cut,NaN,see-aka,False,NaN
218205,218229,NaN,1728-10-01,1733-10-01,António de São Caetano,Vila Real,António de São Caetano Vila Real,NaN,add,Teologia,aka-see,False,NaN
218229,218205,NaN,0000-00-00,0000-00-00,António de São Caetano Vila Real,São Caetano,António de São Caetano,NaN,cut,NaN,see-aka,False,NaN
223442,233837,NaN,0000-00-00,0000-00-00,António dos Serafins,Soutomaior,António dos Serafins Soutomaior,NaN,add,NaN,see-aka,False,NaN
233837,223442,NaN,1705-10-01,1711-10-01,António dos Serafins Soutomaior,Serafins,António dos Serafins,NaN,cut,Leis,aka-see,False,NaN
185371,207354,NaN,0000-00-00,0000-00-00,Bento,Cruz de Cristo,Bento Cruz de Cristo,NaN,add,NaN,see-aka,False,NaN
207354,185371,NaN,1607-05-23,1612-10-07,Bento da Cruz de Cristo,Bento,Bento,NaN,cut,Teologia,aka-see,False,NaN
174714,211603,NaN,0000-00-00,0000-00-00,Caetano Luís de Melo,Caetano Luís de Melo e Sá,Caetano Luís de Melo e Sá,NaN,rep,NaN,see-aka,False,NaN
211603,174714,NaN,1760-10-01,1760-10-01,Caetano Luís de Melo e Sá,Caetano Luís de Melo,Caetano Luís de Melo,NaN,cut,Teologia,aka-see,False,NaN

#### Analyse Aka to Aka (see also) links.

These are true duplicates. Some of them could be prevented with a check on dates, but this serves to assess the extend of duplicate records in the data.

Analysis:
* 150364 265272: strange because the two records are exactly the same except for the name and vide **and the date on instituta** One of the vide should be a "see" record.
* 129553 191232: also strange: same father name, both records contain the same enrollment in "instituta" in 1601-10-14. the record 191232 
  has the faculdade "Medicina" and an enrollment date of 1613.01.12, while keeping the instituta date. 
* 207361 251998 This looks like a late addition to the "vide" scheme, a note on record 251998 states "Mudou o nome no ano de 1573 aos 03.06 - Atos e Graus 10, fl. 143, caderno 3º". To be in conformity 251988 should be a "see" records with no dates.
* 190606 248991 the record 248991 should be a "See" it retains a single enrolment date  in 1588.10.01 which also exists in the paired record. With no dates and the redundant enrollment removed 248991 this would have been a normal match
* 5 188413 193737: this is a true duplicate but the shorter record 188413 seems to contain redundant information except that the faculdade is 
  recorded as "Leis" while in 193737 is recorded as "Cânones". Note that except for the name of the faculdade 193737 always refers "Leis" in the various fields, including the degree.

In [111]:
vide_plus.columns

Index(['name', 'nome-vide.type', 'nome-vide', 'nome-vide.line',
       'nome-vide.level', 'nome-geografico', 'faculdade', 'faculdade.date',
       'faculdade.obs', 'nome-pai', 'uc-entrada', 'uc-saida', 'uc-saida.date',
       'uc-saida.obs', 'rec_type', 'uc-entrada.type', 'uc-entrada.line',
       'uc-entrada.level', 'data-registo', 'loookup', 'vide_type', 'lookup',
       'name_sp', 'lookup_sp', 'sort_key', 'match_error', 'match_obs', 'match',
       'match_type'],
      dtype='object')

In [120]:
matched.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4122 entries, 179898 to 224398
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match            3953 non-null   object
 1   nome-geografico  4052 non-null   object
 2   uc-entrada       4122 non-null   object
 3   uc-saida         4122 non-null   object
 4   name             4122 non-null   object
 5   nome-vide        4097 non-null   object
 6   lookup           4122 non-null   object
 7   nome-pai         1663 non-null   object
 8   vide_type        4122 non-null   object
 9   faculdade        2712 non-null   object
 10  match_type       3953 non-null   object
 11  match_error      4122 non-null   bool
 12  match_obs        206 non-null    object
dtypes: bool(1), object(12)
memory usage: 551.7+ KB

In [127]:
from timelink.pandas import display_group_attributes

date_threshold = 15  # difference in years for flagging false duplicate.
show_only = 20

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

pairs = match_records['matched_pairs_ok']['data']
show_pairs = [(o,d,t) for o,d,t in pairs if t == 'aka-aka' and o<d]

aka_aka_same_date = []
aka_aka_far_apart = []
aka_aka_possible_see = []
for o,d,t in show_pairs:
    if o == '141854':
        pass
    # get the dates of entry to filter those that cannot be the same
    date_o = matched.loc[o, 'uc-entrada']
    if type(date_o) != str:
        date_o = date_o.iloc[0]
    date_d = matched.loc[d, 'uc-entrada']
    if type(date_d) != str:
        date_d = date_d.iloc[0]
    date_s_o = matched.loc[o, 'uc-saida']
    if type(date_s_o) != str:
        date_s_o = date_s_o.iloc[0]
    date_s_d = matched.loc[d, 'uc-saida']
    if type(date_s_d) != str:
        date_s_d = date_s_d.iloc[0]

    if date_o == date_s_o:
        aka_aka_possible_see.append(o)

    if date_d == date_s_d:
        aka_aka_possible_see.append(d)

    if date_o == date_d and date_s_o == date_s_d:
        # print("aka-aka pair with same date:",date_o,(o,d,t))
        aka_aka_same_date.append((o,d,t))
    else:
        year_o = int(date_o[:4])
        year_d = int(date_d[:4])
        if max(year_o,year_d) - min(year_o,year_d) > date_threshold:
            # print(f"False aka-aka: records more than {date_threshold} years appart",(o,d,t),date_s_o,date_d)
            aka_aka_far_apart.append((o,d,t))

print(f"Number of aka-aka pairs with the same date:",len(aka_aka_same_date))
print(f"Number of aka-aka pairs more {date_threshold} years apart:",len(aka_aka_far_apart))
print(f"Number of possible false aka records (records with a single date, probably a see record)",len(aka_aka_possible_see))


print(f"aka-aka matches (show only {show_only}) of {len(show_pairs)}:")
i = 0
for o,d,t in show_pairs[:show_only]:
    i += 1
    print(i,o,d)
    if (o,d,t) in aka_aka_same_date:
        print("SAME DATES: Possible double registration of the same card")
    elif (o,d,t) in aka_aka_far_apart:
        print(f"FAR APART >{date_threshold} years: possible false match, records chronologically affar")
    if o in aka_aka_possible_see:
        print(f"{o} is a possible 'see' record")
    if d in aka_aka_possible_see:
        print(f"{d} is a possible 'see' record")

    display_group_attributes([o,d],
                             entity_type='person',
                             header_elements=['id', 'name'],
                             header_attributes=['nome-vide','naturalidade','uc-entrada','uc-saida','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['the_date','the_type','the_value'],
                             cmap_name='Pastel1',
                             db=db)

Number of aka-aka pairs with the same date: 5
Number of aka-aka pairs more 15 years apart: 9
Number of possible false aka records (records with a single date, probably a see record) 38
aka-aka matches (show only 20) of 93:
1 245698 252234

2 213910 253753

3 150411 252562
150411 is a possible 'see' record

4 149046 216902

5 217492 247266

6 168704 205306

7 144662 204182

8 133131 180160

9 149277 205921

10 151963 205524
151963 is a possible 'see' record

11 191348 237553

12 143239 163231

13 197653 226783
197653 is a possible 'see' record

14 226759 252233

15 151165 151167

16 147221 203285
203285 is a possible 'see' record

17 180510 251992

18 167251 231579
167251 is a possible 'see' record

19 153709 187539

20 153630 246901
FAR APART >15 years: possible false match, records chronologically affar

#### Types of transformations in matched records

In [73]:
vide_types_matches = matched.groupby('vide_type').count()[['name']]
vide_types_matches['perc'] = vide_types_matches['name']/ vide_types_matches['name'].sum()
vide_types_matches

           name      perc
vide_type
add        1897  0.460213
cut        1899  0.460699
novid        26  0.006308
rep         294  0.071325
repap         6  0.001456

In [74]:
match_info.fillna("")

,data,sequential,random,perc_vide_plus,perc_matched_ok,perc_type,type
aka,3062,,,0.349304,,1.0,aka
aka_fac,3035,,,0.346224,,0.991182,aka
aka_geo,2973,,,0.339151,,0.970934,aka
aka_matched,1910,1910,1970,,,0.623775,aka
aka_matched_ok,1940,1904,1897,,,0.633573,aka
aka_pai,1619,,,0.184691,,0.528739,aka
matched_pairs,3818,3638,3804,,,1.0,matched_pairs
matched_pairs_ok,3665,3622,3614,,,0.959927,matched_pairs
nodate,5763,,,0.657426,,,
nodate_novide,141,,,0.016085,,,
nodate_novide,141,,,0.016085,,,
records_aka_aka,188,200,216,0.021446,0.050783,0.061398,aka
records_aka_see,1722,1710,1754,0.196441,0.465154,0.562378,aka
records_asymmetric,74,0,76,,,,
records_error,116,12,190,,,,
records_matched,3818,3634,3804,0.435546,,1.0,records_mached
records_matched_ok,3702,3622,3614,0.422313,1.0,0.969618,records_mached
records_see_aka,1746,1710,1781,0.199179,0.471637,0.306101,see
records_see_see,10,14,24,0.001141,0.002701,0.001753,see
records_transitive,116,12,116,0.013233,0.031334,0.030382,records_mached
see,5704,,,,,1.0,see
see_fac,1378,,,,,0.241585,see
see_geo,5274,,,,,0.924614,see
see_matched,1756,1724,1796,,,0.307854,see
see_matched_ok,1762,1718,1717,,,0.308906,see
see_pai,1569,,,,,0.27507,see
vide,8625,,,0.983915,,,
vide_plus,8766,,,1.0,,,

### Analysis of non matched records

In [128]:

pd.set_option('display.max_rows',250)
matched_index = match_records['records_matched']['data']
non_matched_index = set(vide_plus.index.unique())-set(matched_index)
vide_non_matched = vide_plus.loc[list(non_matched_index)].sort_values(['sort_key','nome-geografico'])[['nome-geografico','match','name','nome-vide','vide_type','lookup','faculdade','nome-pai','uc-entrada','match_error','match_obs']]
vide_non_matched.to_csv('../inferences/cross-references/vide_non_matched.csv',sep=',')

In [129]:
vide_types_non_matches = vide_non_matched.groupby('vide_type').count()[['name']]
vide_types_non_matches['perc'] = vide_types_non_matches['name']/ vide_types_non_matches['name'].sum()
vide_types_non_matches

           name      perc
vide_type
add        2160  0.396476
cut        2226  0.408590
novid       259  0.047540
rep         763  0.140051
rep+         20  0.003671
repap        20  0.003671

### Sample of non-matched records

In [130]:
vide_non_matched.head(31)

,nome-geografico,match,name,nome-vide,vide_type,lookup,faculdade,nome-pai,uc-entrada,match_error,match_obs
271719,Abreiro,None,Abel de Mendonça Machado de Araújo,Abel de Mendonça,cut,Abel de Mendonça,NaN,NaN,0000-00-00,False,NaN
271719,Mirandela,None,Abel de Mendonça Machado de Araújo,Abel de Mendonça,cut,Abel de Mendonça,NaN,NaN,0000-00-00,False,NaN
182548,Eiró,None,Abel Xavier Teixeira de Magalhães,José Joaquim Xavier Teixeira de Magalhães,rep,José Joaquim Xavier Teixeira de Magalhães,Cursos jurídicos (Cânones ou Leis),NaN,0000-00-00,False,NaN
285686,Oliveira de Frades,None,Abílio Ribeiro de Almeida Campos de Melo,Abílio Ribeiro de Almeida,cut,Abílio Ribeiro de Almeida,Cursos jurídicos (Cânones ou Leis),António de Almeida Silva Campos de Melo,0000-00-00,False,NaN
285686,Pinheiro,None,Abílio Ribeiro de Almeida Campos de Melo,Abílio Ribeiro de Almeida,cut,Abílio Ribeiro de Almeida,Cursos jurídicos (Cânones ou Leis),António de Almeida Silva Campos de Melo,0000-00-00,False,NaN
286149,Amoreira da Gandra,None,Adelino Pinto Tavares Ferrão de Mendonça,Ferrão,cut,Adelino Pinto Tavares Ferrão,NaN,NaN,0000-00-00,False,NaN
226700,Marvão,None,Adolfo Augusto Rôlo,Adolfo António Rôlo,rep,Adolfo António Rôlo,Medicina,NaN,1871-06-06,False,NaN
226683,Marvão,None,Adolfo António Rôlo,Adolfo Augusto Zuzarte Rôlo,rep,Adolfo Augusto Zuzarte Rôlo,NaN,NaN,0000-00-00,False,NaN
273326,Lisboa,None,Adriano Ernesto de Castilho Barreto,Castilho,cut,Adriano Ernesto de Castilho,NaN,NaN,0000-00-00,False,NaN
230176,Arcos,None,Tomás Joaquim Lopes de Mariz e Silva,Adriano Joaquim Lopes Mariz e Silva Monteiro,rep+,Adriano Joaquim Lopes Mariz e Silva Monteiro,Cursos jurídicos (Cânones ou Leis),NaN,0000-00-00,False,NaN
230176,Aveiro,None,Tomás Joaquim Lopes de Mariz e Silva,Adriano Joaquim Lopes Mariz e Silva Monteiro,rep+,Adriano Joaquim Lopes Mariz e Silva Monteiro,Cursos jurídicos (Cânones ou Leis),NaN,0000-00-00,False,NaN
250994,Arcos,None,Adriano Joaquim de Mariz e Silva Monteiro,Tomás Joaquim Lopes de Maris e Silva,rep+,Tomás Joaquim Lopes de Maris e Silva,Cursos jurídicos (Cânones ou Leis),NaN,1794-10-14,False,NaN
250994,Aveiro,None,Adriano Joaquim de Mariz e Silva Monteiro,Tomás Joaquim Lopes de Maris e Silva,rep+,Tomás Joaquim Lopes de Maris e Silva,Cursos jurídicos (Cânones ou Leis),NaN,1794-10-14,False,NaN
282429,NaN,None,Adriano Osório Pereira Gouveia,Adriano Osório Pereira Cerenato,rep,Adriano Osório Pereira Cerenato,NaN,Salgueira,0000-00-00,False,NaN
180061,Salgueiro,None,João António Osório Pereira Gouveia,Adriano Osório Pereira Guerra,rep+,Adriano Osório Pereira Guerra,Cursos jurídicos (Cânones ou Leis),NaN,1800-10-31,False,NaN
180742,Salgueiro,None,Adriano Osório Pereira Guerra,João António Pereira Cerenato,rep+,João António Pereira Cerenato,Leis,NaN,1799-10-07,False,NaN
296930,Almarge,None,Adriano Sisnando Brotero de Avelar Quintino,Adriano Sisnando Brotero Quintino de Avelar,rep,Adriano Sisnando Brotero Quintino de Avelar,NaN,NaN,0000-00-00,False,NaN
225520,Lisboa,None,Adrião Pereira,Gomes,add,Adrião Pereira Gomes,Cânones,Adrião Dias,0000-00-00,False,NaN
147465,Trancoso,None,Afonso Tavares de Araújo,Afonso de Araújo Tavares,rep,Afonso de Araújo Tavares,NaN,NaN,0000-00-00,False,NaN
248194,Braga,None,Afonso Fernandes,NaN,novid,Afonso Fernandes,Cânones,NaN,0000-00-00,False,NaN
251547,Baía,None,Afonso Luís,da Fonseca,add,Afonso Luís da Fonseca,NaN,NaN,0000-00-00,False,NaN
225529,Monção,None,Afonso Pereira,Pimenta,add,Afonso Pereira Pimenta,NaN,NaN,0000-00-00,False,NaN
129050,Elvas,None,Afonso Rodrigues Caldas,Rodrigues,cut,Afonso Rodrigues,Leis,NaN,1657-11-02,False,NaN
221241,Elvas,None,Afonso Sardinha,Afonso Vaz Sardinha,rep,Afonso Vaz Sardinha,Cânones,Gonçalo Rodrigues,1706-10-01,False,NaN
235544,Elvas,None,Afonso Soares da Mota,Afonso Soares de Lemos,rep,Afonso Soares de Lemos,NaN,António Pinto Soares,0000-00-00,False,NaN
225535,Aldeia Nova do Cabo,None,Afonso de Sá Pereira,Sá,cut,Afonso de Sá,Cânones,NaN,0000-00-00,False,NaN
148819,Vila Real,None,Afonso Teixeira de Azevedo,Teixeira,cut,Afonso Teixeira,NaN,NaN,0000-00-00,False,NaN
214149,Vila Real,None,Afonso Teixeira de Mendonça,Teixeira,cut,Afonso Teixeira,Leis,NaN,0000-00-00,False,NaN
199294,Vila Real,None,Afonso Teixeira,Mendonça e Azevedo,add,Afonso Teixeira Mendonça e Azevedo,Cânones,NaN,1650-11-08,False,NaN
199294,Vila Real,None,Afonso Teixeira,Mendonça e Azevedo,add,Afonso Teixeira Mendonça e Azevedo,Leis,NaN,1650-11-08,False,NaN
316331,Quinta do Alqueidão,None,Agostinho António de Sousa Brito Resende,Soutomaior,add,Agostinho António de Sousa Brito Resende Souto...,NaN,NaN,0000-00-00,False,NaN


Analysis:
1. 220890	Portalegre	"Pedro Rodrigues, vide; Abreu" links with 140806 __problem in vide expression__
2. 271719	Abreiro/Mirandela	Abel de Mendonça Machado de Araújo	Abel de Mendonça links with 286147 __no back vide expression__
3. 182548	Eiró	Abel Xavier Teixeira de Magalhães	José Joaquim Xavier Teixeira de Magalhães links with 182950  __no back vide expression__
4. 285686	Oliveira de Frades	Abílio Ribeiro de Almeida Campos de Melo	Abílio Ribeiro de Almeida links with 142075 __no back vide expression__
5. 286149	Amoreira da Gandra	Adelino Pinto Tavares Ferrão de Mendonça	Ferrão links with 248088 __no back vide expression__ and __typo in geo name__
6. 273326	Lisboa	Adriano Ernesto de Castilho Barreto	Castilho links with 189993 __no back vide expression__
7. 230176	Arcos	Tomás Joaquim Lopes de Mariz e Silva	Adriano Joaquim Lopes Mariz e Silva Monteiro links with 250994 __variation in the vide name (Maris/Mariz)__
8. 282429	NaN	Adriano Osório Pereira Gouveia	Adriano Osório Pereira Cerenato	rep	Adriano Osório Pereira Cerenato	links with 291196 __no back vide expression__
9. 296930	Almarge	Adriano Sisnando Brotero de Avelar Quintino	Adriano Sisnando Brotero Quintino de Avelar	rep	Adriano Sisnando Brotero Quintino de Avelar links with 133134 __no back vide expression__
10. 225520	Lisboa	Adrião Pereira	Gomes	add	Adrião Pereira Gomes	Cânones, links with 178240 __no back vide expression__
11. 147465	Trancoso	Afonso Tavares de Araújo	Afonso de Araújo Tavares	rep	Afonso de Araújo Tavares links with 197047 __no back vide expression__
12. 169888	Lisboa	Afonso Furtado	Mendonça	add	Afonso Furtado Mendonça link with 214147 (see) or 169890__ __ambiguity__ 
13. 251547	Baía	Afonso Luís	da Fonseca	add	Afonso Luís da Fonseca	links with 139362 __no back vide expression__
14. 225529	Monção	Afonso Pereira	Pimenta	add	Afonso Pereira Pimenta	 links with 241162 __no back vide expression__
15. 129050	Elvas	Afonso Rodrigues Caldas	Rodrigues	cut	Afonso Rodrigues __no link found__
16. 221241	Elvas	Afonso Sardinha	Afonso Vaz Sardinha	rep	Afonso Vaz Sardinha	Cânones see link missing	__no link found__
17. 235544	Elvas	Afonso Soares da Mota	Afonso Soares de Lemos	rep	Afonso Soares de Lemos	link 211794 	__no back vide expression__ 
18. 225535	Aldeia Nova do Cabo	Afonso de Sá Pereira	Sá	cut	Afonso de Sá links with 211378 __no back vide expression__ 
19. 199294	Vila Real	Afonso Teixeira	   Mendonça e Azevedo	add	Afonso Teixeira Mendonça e Azevedo	Cânones	 links with 148819/See  214149/see __ambiguity__
20. 316331	Quinta do Alqueidão	Agostinho António de Sousa Brito Resende	Soutomaior	add	Agostinho António de Sousa Brito Resende Souto...
	link to 224178 	__no back vide expression_ NO match on geoname Alqueidão, quinta do Alqueidão__
21. 234238 Lisboa	Agostinho Armando de Vasconcelos e Sousa	Agostinho Armando Vasconcelos	rep	Agostinho Armando Vasconcelos	
        Links to 148028 __fail lookup not matching linked record name: both lookup the same though__

### Aka Records non matched

There is an inbalance of "see" and "aka" numbers, so a high number of unmatched "see"  is expected.

Aka records should be more easily matched with corresponding see. That is the case in fact with around 55% of aka records matched

Let's see the reason why Aka records do not find a matching "see".

In [131]:
aka_see_not_matched_index = vide_non_matched[vide_non_matched['uc-entrada']!='0000-00-00'].index.unique()
print("Number of aka records not matched:", {len(aka_see_not_matched_index)})
print("Partial list, change head parameter for more:")

vide_non_matched.loc[aka_see_not_matched_index].head(20)

Number of aka records not matched: {1048}
Partial list, change head parameter for more:

,nome-geografico,match,name,nome-vide,vide_type,lookup,faculdade,nome-pai,uc-entrada,match_error,match_obs
226700,Marvão,None,Adolfo Augusto Rôlo,Adolfo António Rôlo,rep,Adolfo António Rôlo,Medicina,NaN,1871-06-06,False,NaN
250994,Arcos,None,Adriano Joaquim de Mariz e Silva Monteiro,Tomás Joaquim Lopes de Maris e Silva,rep+,Tomás Joaquim Lopes de Maris e Silva,Cursos jurídicos (Cânones ou Leis),NaN,1794-10-14,False,NaN
250994,Aveiro,None,Adriano Joaquim de Mariz e Silva Monteiro,Tomás Joaquim Lopes de Maris e Silva,rep+,Tomás Joaquim Lopes de Maris e Silva,Cursos jurídicos (Cânones ou Leis),NaN,1794-10-14,False,NaN
180061,Salgueiro,None,João António Osório Pereira Gouveia,Adriano Osório Pereira Guerra,rep+,Adriano Osório Pereira Guerra,Cursos jurídicos (Cânones ou Leis),NaN,1800-10-31,False,NaN
180742,Salgueiro,None,Adriano Osório Pereira Guerra,João António Pereira Cerenato,rep+,João António Pereira Cerenato,Leis,NaN,1799-10-07,False,NaN
129050,Elvas,None,Afonso Rodrigues Caldas,Rodrigues,cut,Afonso Rodrigues,Leis,NaN,1657-11-02,False,NaN
221241,Elvas,None,Afonso Sardinha,Afonso Vaz Sardinha,rep,Afonso Vaz Sardinha,Cânones,Gonçalo Rodrigues,1706-10-01,False,NaN
199294,Vila Real,None,Afonso Teixeira,Mendonça e Azevedo,add,Afonso Teixeira Mendonça e Azevedo,Cânones,NaN,1650-11-08,False,NaN
199294,Vila Real,None,Afonso Teixeira,Mendonça e Azevedo,add,Afonso Teixeira Mendonça e Azevedo,Leis,NaN,1650-11-08,False,NaN
187458,Santa Olaia,None,Agostinho Brandão,Pinto,add,Agostinho Brandão Pinto,Cursos jurídicos (Cânones ou Leis),NaN,1688-01-21,False,NaN
152599,Lisboa,None,Agostinho José de Carvalho,Agostinho José de Figueiredo Carvalho e Oliveira,rep,Agostinho José de Figueiredo Carvalho e Oliveira,Leis,NaN,1791-10-27,False,NaN
149805,Lisboa,None,Aires Correia Baharém,Correia,cut,Aires Correia,Teologia,Manuel Correia de Menezes,1594-10-18,False,NaN
247737,Condeixa-a-Nova,None,Aires Duarte de Miranda,José Aires de Miranda,rep,José Aires de Miranda,Cânones,Custódio Gonçalves,1736-10-01,False,NaN
224211,Covilhã,None,Aires Francisco de Proneça e Silva,Proença,add,Aires Francisco de Proneça e Silva Proença,Cânones,NaN,1719-10-01,False,NaN
192844,Ovfmatsen,None,Alberto Chremer,Cremert,add,Alberto Chremer Cremert,Cânones,NaN,1726-10-01,False,NaN
298044,Coimbra,None,Alberto de Moura Pinto,Alberto Marques,rep,Alberto Marques,Direito,Pai incognito,1902-06-10,False,NaN
168566,Lisboa,None,Alberto de Negreiros,Ferreira,add,Alberto de Negreiros Ferreira,Cânones,NaN,1702-10-01,False,NaN
234289,Celorico,None,Alexandre Batista de Sousa,Batista,cut,Alexandre Batista,Medicina,Manuel Batista de Sousa,1690-10-01,False,NaN
150110,Celorico de Basto,None,Alexandre Batista,Sousa,add,Alexandre Batista Sousa,Medicina,Manuel Batista de Sousa,1690-10-01,False,NaN
152672,Amarante,None,Alexandre Duarte de Carvalho,Duarte,cut,Alexandre Duarte,Cânones,NaN,1710-10-01,False,NaN

##### Analysis

1. 226700 Marvão Adolfo Augusto Rôlo, vide Adolfo António Rôlo matches 226683 Adolfo António Rôlo, vide Adolfo Augusto Zuzarte Rôlo __back vide does not match__
2. 250994 Arcos	Tomás Joaquim Lopes de Mariz e Silva vide Adriano Joaquim Lopes Mariz e Silva Monteiro links with  230176 __variation in the vide name (Maris/Mariz)__
3. 180061	Salgueiro	_João António Osório Pereira Gouveia_, vide Adriano Osório Pereira Guerra	rep+	Adriano Osório Pereira Guerra	Direito (Cânones ou Leis) 1800-10-31	__variation in the vide name__
  * 180742	Salgueiro   Adriano Osório Pereira Guerra, vide _João António Pereira Cerenato_	Leis 1799-10-07
  * Other possible matches 291196, 191903 complex case
4. 129050	Elvas	Afonso Rodrigues Caldas	vide Rodrigues	cut	Afonso Rodrigues	Leis	NaN	1657-11-02	__see record not found manualy__
5. 221241	Elvas	Afonso Sardinha	vide Afonso Vaz Sardinha	rep	Afonso Vaz Sardinha	Cânones	Gonçalo Rodrigues	1706-10-01	__see record not found manualy__
6. 199294	Vila Real	Afonso Teixeira	vide Mendonça e Azevedo	add	Afonso Teixeira Mendonça e Azevedo	Cânones	1650-11-08
  * links with see record 214149 Afonso Teixeira de Mendonça, vide Teixeira  __vide in aka record does not match name in see record__
  * links also with 148819 Afonso Teixeira de Azevedo, vide Teixeira __vide in aka record does not match name in see record__
  * so the vide expression in 199924 should be __vide Mendonça e vide Azevedo__ to link with Afonso Teixeira de Mendonça and Afonso Teixeira de Azevedo
7. 187458	Santa Olaia	Agostinho Brandão	vide Pinto	add	Agostinho Brandão Pinto	Direito (Cânones ou Leis)	NaN	1688-01-21	__matching record is aka, not see__
  * links with 245344 which is not a see record nor a vide record. __187458 and 245344 are dupicates__ __matching record is aka, not see__
8.  152599	Lisboa	Agostinho José de Carvalho vide	Agostinho José de Figueiredo Carvalho e Oliveira	Leis	1791-10-27
   *  links with 174123 Agostinho José de Figueiredo Carvalho e Oliveira, but it is not a see record. __152599 and 174213 are duplicates__ __matching record is aka, not see__
9. 149805	Lisboa Aires Correia Baharém vide	Correia	cut	Aires Correia	Teologia	pai Manuel Correia de Menezes	1594-10-18 
  * links with see record 196492 slight variation in the vide expression __variation in the vide name (Baharém/Baharem)__


10. 192844	Ovfmatsen	Alberto Chremer	vide Cremert	add	Alberto Chremer Cremert	Cânones	
   *  links with 207263 Alberto Cremert no vide expression __matching record is aka, not see__ __duplicate__

### Matched records

Sucessive lines are matches. Sometime more than one line per record when there is more than one geographic name or faculty.

In [132]:
vide_plus.loc[matched_index].sort_values(['nome-geografico','sort_key','uc-entrada'])[['uc-entrada','nome-geografico','name','lookup','nome-pai','faculdade','faculdade.obs','match_obs']].head(30)

,uc-entrada,nome-geografico,name,lookup,nome-pai,faculdade,faculdade.obs,match_obs
202622,0000-00-00,Constância,Fernão de Álvares Temudo,Fernão de Álvares,NaN,NaN,NaN,NaN
144388,1573-11-13,Constância,Fernão de Álvares,Fernão de Álvares Temudo,Pantaleão Rosado,Cânones,Cânones,NaN
171438,0000-00-00,Constância,João da Veiga Mendes Nogueira,João da Veiga,NaN,Leis,Leis,NaN
213495,1757-10-01,Constância,João da Veiga,João da Veiga Mendes Nogueira,NaN,Leis,Leis,NaN
214577,0000-00-00,Constância,Julião Velho,Julião Velho Almeida,NaN,NaN,NaN,NaN
143676,1663-07-10,Constância,Julião Velho de Almeida,Julião Velho,NaN,Cânones,Cânones,NaN
203159,0000-00-00,Constância,Manuel da Costa,Manuel da Costa Oliveira,Manuel da Costa,NaN,NaN,NaN
176277,1672-01-24,Constância,Manuel da Costa de Oliveira,Manuel da Costa,Manuel da Costa,Cânones,Cânones,NaN
243351,0000-00-00,Constância,Manuel Ribeiro Pinhão,Manuel Ribeiro,Pedro Ribeiro,Cânones,Cânones,NaN
165844,1623-10-09,Constância,Manuel Ribeiro,Manuel Ribeiro Pinhão,Pedro Ribeiro,Cânones,. Cânones,NaN
146909,0000-00-00,Constância,Silvestre António,Silvestre António de Morais,NaN,NaN,NaN,NaN
251620,1757-10-01,Constância,Silvestre António de Morais,Silvestre António,NaN,Cânones,Cânones,NaN
251990,0000-00-00,Vila Cova de Alva,Francisco Fernandes,Francisco Fernandes Figueiredo,NaN,NaN,NaN,NaN
187661,1720-10-01,Vila Cova de Alva,Gaspar da Costa Brandão,Gaspar Afonso da Costa Brandão,NaN,Leis,Leis,NaN
187658,1721-10-01,Vila Cova de Alva,Gaspar Afonso da Costa Brandão,Gaspar da Costa Brandão,Bento de Figueiredo Brandão,Leis,Leis,NaN
247274,0000-00-00,Vila Cova de Alva,João Álvares Pinto,João Álvares,João Álvares,Cânones,Cânones,NaN
144513,1616-10-12,Vila Cova de Alva,João Álvares,João Álvares Pinto,João Álvares,Cânones,Cânones,NaN
186015,0000-00-00,Abragão,João Mateus Camelo da Silva Machado e Rocha,João Mateus Camelo da Silva e Rocha,NaN,NaN,NaN,NaN
186019,1765-10-01,Abragão,João Mateus Camelo da Silva e Rocha,João Mateus Camelo da Silva Machado e Rocha,NaN,Cânones,Cânones,NaN
190775,0000-00-00,Abrantes,Aleixo Rodrigues,Aleixo Rodrigues Coelho,NaN,NaN,NaN,NaN
193260,1690-10-01,Abrantes,Aleixo Rodrigues Coelho,Aleixo Rodrigues,NaN,Cânones,Cânones,NaN
154876,0000-00-00,Abrantes,Francisco Fernandes de Carvalho,Francisco Fernandes,NaN,NaN,NaN,NaN
251988,1589-10-13,Abrantes,Francisco Fernandes,Francisco Fernandes Carvalho,Francisco Fernandes,Cânones,Cânones,NaN
213994,0000-00-00,Abrantes,Francisco Lopes Salgueiro,Francisco Salgueiro,Brás Lopes,NaN,NaN,NaN
213980,1637-10-26,Abrantes,Francisco Salgueiro,Francisco Lopes Salgueiro,Brás Lopes,Cânones,Faculdade corrigida,NaN
213980,1637-10-26,Abrantes,Francisco Salgueiro,Francisco Lopes Salgueiro,Brás Lopes,Leis,Faculdade corrigida,NaN
198725,0000-00-00,Abrantes,Francisco Rodrigues,Francisco Rodrigues Veiga,Lancerote Velho,Cânones,Cânones,NaN
213406,1587-10-06,Abrantes,Francisco Rodrigues da Veiga,Francisco Rodrigues,Lancerote Veloso,Cânones,Cânones,NaN
265968,0000-00-00,Abrantes,Jacinto Alves,Jacinto Alves Almeida,Francisco de Almeida,Cânones,Cânones,NaN
143212,1626-10-06,Abrantes,Jacinto Alves de Almeida,Jacinto Alves,Francisco de Almeida,Cânones,Cânones,NaN

# Save current stats on cross reference processing

This allows later in "git" see how the situation evolves.

In [135]:
from datetime import datetime

# save status to file
current_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
fname = '../inferences/cross-references/015-remissivas_info.txt'

with open(fname,'w+') as f:
    print(f"Cross references, current stats: {current_time}",file=f)
    print(file=f)

    vide_plus.info(buf=f)

    print(match_info.infer_objects(copy=False).fillna(""), file=f)

### Focus on specific records

Use this to check specific records.


Define a column and a pattern to search for. Pattern is a _regular expression_.
For more information on the patterns and alternative searches see https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html

Examples:

* column='nome', pattern='André': 'André' anywhere in column 'name' (will also get 166395 Manuel André Ribeiro)
* column='nome', pattern='André$': names ending in 'André' (e.g. 146664 Manuel André )
* column='nome', pattern='^André': names starting with 'André'
* column='nome', pattern='André|Joaquim': names containing either 'André' or 'Joaquim'
* column='naturalidade', pattern='Alcácer|Alcacer':  naturalidade contains either 'Alcácer' or 'Alcacer'

In [81]:
import pandas as pd
column = 'name'
pattern = '^Estevão'
pd.set_option('display.max_rows',1000)
#                                      na=False prevents errors column is missing
vide_selection = vide_plus[vide_plus[column].str.contains(pattern,na=False)]
vide_selection.sort_values([column]).head(10)

,name,sex,nome-vide,nome-geografico,faculdade,faculdade.date,faculdade.obs,nome-pai,uc-entrada,uc-saida,...,loookup,vide_type,lookup,name_sp,lookup_sp,sort_key,match_error,match_obs,match,match_type
200659,Estevão Afonso da Costa,m,Afonso,Bragança,Cânones,1664-10-15,Cânones,NaN,1664-10-15,1671-07-03,...,,cut,Estevão Afonso,Estevão Afonso Costa,Estevão Afonso,Estevão Afonso-Estevão Afonso Costa,False,NaN,None,None
276913,Estevão Anacleto Duarte,m,Estevão Anacleto,Vila Viçosa,Leis,0000-00-00,Leis,António Duarte,0000-00-00,0000-00-00,...,,cut,Estevão Anacleto,Estevão Anacleto Duarte,Estevão Anacleto,Estevão Anacleto-Estevão Anacleto Duarte,False,NaN,None,None
236147,Estevão Barreto de Magalhães e Menezes,m,Estevão de Magalhães e Menezes,Braga,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,...,,rep,Estevão de Magalhães e Menezes,Estevão Barreto Magalhães Menezes,Estevão Magalhães Menezes,Estevão Barreto Magalhães Menezes-Estevão Maga...,False,NaN,236150,see-aka
129044,Estevão Caetano,m,de Araújo Rangel,Porto,Cursos jurídicos (Cânones ou Leis),1724-10-01,Faculdade inferida,NaN,1724-10-01,1725-10-01,...,,add,Estevão Caetano de Araújo Rangel,Estevão Caetano,Estevão Caetano Araújo Rangel,Estevão Caetano-Estevão Caetano Araújo Rangel,False,NaN,None,None
134106,Estevão Caetano de Araújo Rangel,m,Caetanao,Porto,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,...,,add,Estevão Caetano de Araújo Rangel Caetanao,Estevão Caetano Araújo Rangel,Estevão Caetano Araújo Rangel Caetanao,Estevão Caetano Araújo Rangel-Estevão Caetano ...,False,NaN,None,None
133510,Estevão Cardoso,m,da Silveira,Vila Viçosa,Leis,1615-10-02,Leis,NaN,1615-10-02,1623-05-24,...,,add,Estevão Cardoso da Silveira,Estevão Cardoso,Estevão Cardoso Silveira,Estevão Cardoso-Estevão Cardoso Silveira,False,NaN,230444,aka-see
230444,Estevão Cardoso da Silveira,m,Cardoso,Vila Viçosa,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,...,,cut,Estevão Cardoso,Estevão Cardoso Silveira,Estevão Cardoso,Estevão Cardoso-Estevão Cardoso Silveira,False,NaN,133510,see-aka
152876,Estevão Dias,m,Pereira,Cascais,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,...,,add,Estevão Dias Pereira,Estevão Dias,Estevão Dias Pereira,Estevão Dias-Estevão Dias Pereira,False,NaN,233458,see-aka
233458,Estevão Dias Pereira,m,Dias,Cascais,Cânones,1619-10-24,Cânones,Álvaro Pereira,1619-10-24,1623-10-03,...,,cut,Estevão Dias,Estevão Dias Pereira,Estevão Dias,Estevão Dias-Estevão Dias Pereira,False,NaN,152876,aka-see
293823,Estevão Falcão Cota,m,Menezes,NaN,NaN,NaN,NaN,NaN,0000-00-00,0000-00-00,...,,add,Estevão Falcão Cota Menezes,Estevão Falcão Cota,Estevão Falcão Cota Menezes,Estevão Falcão Cota-Estevão Falcão Cota Menezes,False,NaN,None,None


## Sorted lists

In [82]:
vide_selection[['nome-geografico','match','match_type','match_obs','name','nome-vide','faculdade','uc-entrada','uc-saida']].sort_values(['nome-geografico','name','uc-entrada']).head(20)

,nome-geografico,match,match_type,match_obs,name,nome-vide,faculdade,uc-entrada,uc-saida
173368,Abrantes,None,None,NaN,Estevão Lopes Galvão,Lopes,NaN,0000-00-00,0000-00-00
149184,Arrifana de Sousa,None,None,NaN,Estevão de Freitas e Azevedo,Freitas,NaN,0000-00-00,0000-00-00
206520,Beco,None,None,NaN,Estevão Mendes,Vasconcelos,Cânones,0000-00-00,0000-00-00
233530,Beja,None,None,NaN,Estevão Lopes Pereira,Lopes,NaN,0000-00-00,0000-00-00
236147,Braga,236150,see-aka,NaN,Estevão Barreto de Magalhães e Menezes,Estevão de Magalhães e Menezes,NaN,0000-00-00,0000-00-00
236150,Braga,236147,aka-see,NaN,Estevão de Magalhães e Menezes,Estevão Barreto de Magalhães e Menezes,Cânones,1738-10-01,1740-10-01
200659,Bragança,None,None,NaN,Estevão Afonso da Costa,Afonso,Cânones,1664-10-15,1671-07-03
309989,Brasil,None,None,NaN,Estevão Mauricio de Velasco e Tavora,Estevão Mauricio de Velasco Molina,Cânones,0000-00-00,0000-00-00
286832,Brasil,None,None,NaN,Estevão Maurício de Velasco Molina,Estevão Maurício de Velasco e Távora,Cânones,1761-11-05,1761-11-05
198947,Brasil,None,None,NaN,Estevão Maurício de Velasco e Távora,Velasco,NaN,0000-00-00,0000-00-00
152876,Cascais,233458,see-aka,NaN,Estevão Dias,Pereira,NaN,0000-00-00,0000-00-00
233458,Cascais,152876,aka-see,NaN,Estevão Dias Pereira,Dias,Cânones,1619-10-24,1623-10-03
291887,Chamusca,None,None,NaN,Estevão de Contreiras,Almeida,Leis,0000-00-00,0000-00-00
246486,Faro,237320,aka-see,NaN,Estevão Pinto,Sousa,Leis,1614-10-08,1622-06-08
237320,Faro,246486,see-aka,NaN,Estevão Pinto de Sousa,Pinto,Leis,0000-00-00,0000-00-00
160826,Guarda,None,None,NaN,Estevão Fragoso,Ribeiro,NaN,0000-00-00,0000-00-00
181801,Guimarães,248592,aka-see,NaN,Estevão Machado,de Miranda,Cânones,1619-10-19,1637-10-15
181801,Guimarães,248592,aka-see,NaN,Estevão Machado,de Miranda,Leis,1619-10-19,1637-10-15
248592,Guimarães,181801,see-aka,NaN,Estevão Machado de Miranda,Machado,NaN,0000-00-00,0000-00-00
150537,Leiria,None,None,NaN,Estevão da Rocha de Morais Sarmento de Vasconc...,Sarmento,Cursos jurídicos (Cânones ou Leis),0000-00-00,0000-00-00

### Examine individual records

In [137]:
from timelinknb import pperson,Session
pd.set_option('display.max_rows',250)

with db.session() as session:
    session.begin()
    pperson(219458)

UnboundExecutionError: Could not locate a bind configured on mapper Mapper[Person(persons)], SQL expression or this Session.

### Examine groups of records in a single chrological frame

In [ ]:
from timelinknb.pandas import display_group_attributes
pd.set_option('display.max_rows',250)

no_show=['código-de-referência','data-do-registo','url','faculdade.ano','naturalidade.ano',
         'matricula-faculdade.ano','nome-apelido','nome-primeiro','nome-geografico.ano',
         'grau.ano','matricula-outra.ano','nome-geografico','instituta.ano']

dup_ids = ['215193','182145']

display_group_attributes(dup_ids,
                             header_cols=['uc-entrada','naturalidade','faculdade','nome-pai'],
                             exclude_attributes=no_show,
                             sort_attributes=['date','type','value'],
                             cmap_name='Pastel1')