> First time use: follow instructions in the README.md file in this directory.


**[PT]** Português

---

**[EN]** English

# Atributos registados no nome


Os nomes dos estudantes no FAUC podem ter um nota entre parêntesis.


Exemplo de um nome com anotação (186633):

> André Botelho (padre frei, colégio dos padres de São Pedro)


---


# Name attributes

Student names can have annotations, between parenthesis.

Example of a name with note (186633):

> André Botelho (padre frei, colégio dos padres de São Pedro)

## Setup

In [2]:
from timelinknb import get_db
from ucalumni.config import default_db

db_spec = default_db
db = get_db(db_spec)

## Notas ao nome do estudante

Obter todos os estudantes com nota no nome.


---

## Notes to the student name

Get all the students with notes in the name.

In [3]:
from timelinknb.pandas import attribute_to_df


# Get list of people with attribute nome-nota and other derived attributes
name_notes = attribute_to_df(
                    the_type='nome-nota',
                    person_info=True,
                    more_cols=['uc-entrada','uc-saida','ordem-religiosa','titulo','padre', 'colegio'],
                    sql_echo=False)
name_notes.drop(['nome-nota.date','nome-nota.obs',
                 'ordem-religiosa.date','ordem-religiosa.obs',
                'titulo.date','titulo.obs',
                'padre.date','padre.obs',
                'colegio.date','colegio.obs',
                'uc-entrada.date','uc-entrada.obs',
                'uc-saida.date','uc-saida.obs'],axis=1, inplace=True)

print("Number of records with name notes:",len(name_notes.index.unique()))
print()
name_notes.info()

Number of records with name notes: 10044

<class 'pandas.core.frame.DataFrame'>
Index: 10416 entries, 127770 to 356441
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             10416 non-null  object
 1   sex              10416 non-null  object
 2   nome-nota        10416 non-null  object
 3   uc-entrada       10416 non-null  object
 4   uc-saida         10416 non-null  object
 5   ordem-religiosa  3438 non-null   object
 6   titulo           4219 non-null   object
 7   padre            7138 non-null   object
 8   colegio          379 non-null    object
dtypes: object(9)
memory usage: 1.0+ MB

### Amostra

---

### Sample

In [4]:
name_notes.head(10).fillna("")

,name,sex,nome-nota,uc-entrada,uc-saida,ordem-religiosa,titulo,padre,colegio
id,,,,,,,,,
127770,José Cabaço,m,padre,1722-11-12,1738-05-04,,,sim,
127785,Baltasar Dias Cabeçudo,m,padre,1688-10-01,1691-10-01,,,sim,
127802,Francisco João do Cabo,m,padre,1693-10-01,1693-10-01,,,sim,
127813,Aires Pires Cabral,m,colégio de São Pedro,1559-11-01,1577-07-31,,,,Colégio de S.Pedro
127987,António Cabral,m,frei religioso de São Bernardo,1665-10-15,1666-10-10,Ordem de São Bernardo,frei,,
127997,António Cabral,m,padre,1684-10-01,1694-07-07,,,sim,
128013,António Cabral,m,padre,1642-10-29,1651-05-21,,,sim,
128016,António Cabral,m,padre,1639-10-21,1639-10-21,,,sim,
128122,Bernardo José Osório Cabral,m,padre,1744-10-30,1749-10-01,,,sim,
128152,Feliciano Cabral,m,frei religioso da Ordem São Bernardo,1699-10-01,1701-10-01,Ordem de São Bernardo,frei,,

## Nota mais comuns

---

## Most common notes

In [6]:
import numpy as np

no_crossref = name_notes['uc-entrada'] != '0000-00-00'
notes_ncf = name_notes[no_crossref]
notes_count = notes_ncf.groupby('nome-nota')['uc-entrada'].agg(['count','min','max'])
notes_count.sort_values('count',ascending = False, inplace=True)
notes_count.head(20)

                                                count         min         max
nome-nota
padre                                            5714  1537-00-00  1899-10-02
D.                                                600  1537-00-00  1910-10-20
frei monge de São Bento                           174  1728-10-01  1799-10-29
frei monge de São Bernardo                        154  1732-10-01  1827-10-29
padre frei religioso de Nossa Senhora do Carmo     96  1664-10-01  1760-10-01
padre frei religioso de São Bernardo               93  1664-10-01  1751-07-17
frei monge de São Jerónimo                         90  1729-11-07  1825-10-25
padre frei religioso de Nossa Senhora da Graça     85  1669-10-01  1759-10-01
frei                                               71  1537-12-28  1830-10-22
padre frei religioso de São Bento                  68  1660-12-17  1751-10-01
frei religioso de São Bernardo                     66  1658-07-17  1796-10-21
frei religioso de São Bento                        66  1664-10-01  1792-10-29
padre frei monge de São Bento                      58  1716-10-01  1760-10-01
frei religioso de Nossa Senhora da Graça           55  1670-00-00  1763-10-01
frei religioso da Ordem de Cristo                  53  1671-10-01  1784-10-30
padre frei religioso de São Domingos               52  1698-10-01  1763-05-12
frei religioso de São Domingos                     50  1699-10-01  1790-10-06
frei religioso da Santíssima Trindade              45  1646-05-27  1819-10-16
frei religioso de Nossa Senhora do Carmo           43  1656-03-19  1763-10-01
frei eremita de Santo Agostinho                    42  1726-10-01  1824-10-18

In [8]:
notes_count.to_csv('../inferences/name-notes/note_originals.csv',sep=',')

#### File saved to `inferences/name-notes/note_originals.csv`

## Atributos específicos derivados das anotações ao nome

---

## Specific attributes extracted from the name annotations

### Padres

---

### Priests

In [9]:
## **[EN]** Priests

priests = attribute_to_df(
                    the_type='padre',
                    the_value='sim',
                    person_info=True,
                    more_cols=['uc-entrada','uc-saida','naturalidade','nome-pai','ordem-religiosa','faculdade','titulo','colegio','nome-nota'],
                    sql_echo=False)
priests.drop(['nome-nota.date','nome-nota.obs','padre.date','padre.obs',
                 'ordem-religiosa.date','ordem-religiosa.obs','sex',
                 'naturalidade.date','naturalidade.obs',
                 'nome-pai.date','nome-pai.obs',
                 'faculdade.date','faculdade.obs',
                'titulo.date','titulo.obs',
                'colegio.date','colegio.obs',
                'uc-entrada.date','uc-entrada.obs',
                'uc-saida.date','uc-saida.obs'],axis=1, inplace=True)
priests = priests[priests['uc-entrada'] != '0000-00-00']
priests = priests[~priests.index.duplicated(keep='first')]
priests.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6916 entries, 127770 to 356441
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             6916 non-null   object
 1   padre            6916 non-null   object
 2   uc-entrada       6916 non-null   object
 3   uc-saida         6916 non-null   object
 4   naturalidade     5484 non-null   object
 5   nome-pai         2681 non-null   object
 6   ordem-religiosa  1154 non-null   object
 7   faculdade        6891 non-null   object
 8   titulo           1133 non-null   object
 9   colegio          41 non-null     object
 10  nome-nota        6916 non-null   object
dtypes: object(11)
memory usage: 648.4+ KB

#### Amostra

---

#### Sample

In [11]:
priests_with_naturalidade = priests['naturalidade'].notnull()
priests_with_faculdade = priests['faculdade'].notnull()
priests_with_order = priests['ordem-religiosa'].notnull()
priests_with_father = priests['nome-pai'].notnull()
priests_with_title = priests['titulo'].notnull()
priests_with_colegio = priests['colegio'].notnull()
priests_full_info = priests_with_faculdade & priests_with_order & priests_with_colegio
priests[priests_with_title&priests_with_father | priests_with_colegio].sort_values('uc-entrada').head(20).fillna("")

,name,padre,uc-entrada,uc-saida,naturalidade,nome-pai,ordem-religiosa,faculdade,titulo,colegio,nome-nota
id,,,,,,,,,,,
150020,Manuel Batista,sim,1564-10-01,1568-06-21,,,Ordem de São João Evangelista,Teologia,,Colégio de S.João Evangelista,padre do colégio dos Lóios
193400,Jorge,sim,1564-10-01,1565-06-06,,,Ordem de Cristo,Teologia,frei,Colégio de Tomar,padre frei do colégio de Cristo
205601,António da Trindade,sim,1578-06-30,1588-04-02,,,Ordem da Santíssima Trindade,Teologia,frei,Colégio da Trindade,padre frei do colégio da Trindade
201701,João da Costa,sim,1580-03-22,1590-01-05,Lisboa,Fernão Nunes da Costa,,Cânones,cónego,,padre cónego na Sé de Coimbra
193431,Aleixo Jorge,sim,1582-10-22,1594-06-11,Vila Boa,Jorge Gonçalves,,Teologia,capelão,,padre capelão da Universidade
236506,Gaspar da Mota,sim,1623-07-20,1624-11-08,,,Ordens militares,Cânones,frei,Colégio das Ordens Militares,padre frei colegial das Ordens Militares
217674,Diogo de Santo António,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei do colégio dos padres de São Pedro
218715,António de São Lourenço,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei colégio dos padres de São Pedro
218743,Manuel de São Luís,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei do colégio dos padres de São Pedro
208645,Romão da Cruz,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei do colégio dos padres de São Pedro
218164,Roque de São Boaventura,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei colégio dos padres de São Pedro
137028,Domingos dos Reis,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei colégio dos padres de São Pedro
218672,Manuel de São José,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei do colégio dos padres de São Pedro
186633,André Botelho,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,"padre frei, colégio dos padres de São Pedro"
154002,João da Fonseca,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei Colégio dos Padres de São Pedro
168127,Agostinho da Natavidade,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei colégio dos padres de São Pedro
192219,António de Jesus,sim,1632-00-00,1632-00-00,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei do colégio dos padres de São Pedro
207968,Gaspar da Cruz,sim,1644-02-26,1644-02-29,,,Ordem Terceira,Teologia,frei,Colégio de S.Pedro da Ordem Terceira,padre frei do colégio dos padres de São Pedro
218995,Manuel de São Tomás,sim,1661-06-19,1661-07-14,,,,Teologia,,Colégio de S.João Evangelista,padre Mestre Reitor do colégio de São João Eva...
201201,José de Melo,sim,1664-10-01,1664-10-01,,,Ordem de São Bernardo,Teologia,frei,Colégio de S.Bernardo,padre frei do colégio de São Bernardo

In [12]:
priests.sort_values(['name','uc-entrada']).to_csv('../inferences/name-notes/priests.csv',sep=',')

#### File saved to `inferences/name-notes/priests.csv`

### Ordens religiosas

---

### Religious orders

In [13]:
rel_orders = attribute_to_df(
                    the_type='ordem-religiosa',
                    person_info=True,
                    more_cols=['uc-entrada','uc-saida','faculdade','titulo','colegio','naturalidade','nome-pai','padre','nome-nota'],
                    sql_echo=False)
rel_orders.drop(['nome-nota.date','nome-nota.obs','padre.date','padre.obs',
                 'ordem-religiosa.date','ordem-religiosa.obs',
                 'padre.date','padre.obs','sex',
                 'naturalidade.date','naturalidade.obs',
                 'nome-pai.date','nome-pai.obs',
                 'faculdade.date','faculdade.obs',
                'titulo.date','titulo.obs',
                'colegio.date','colegio.obs',
                'uc-entrada.date','uc-entrada.obs',
                'uc-saida.date','uc-saida.obs'],axis=1, inplace=True)
rel_orders = rel_orders[rel_orders['uc-entrada'] != '0000-00-00']
rel_orders = rel_orders[~rel_orders.index.duplicated(keep='first')]
print("Number of unique students with religious order:",len(rel_orders.index.unique()))
rel_orders.info()

Number of unique students with religious order: 3033
<class 'pandas.core.frame.DataFrame'>
Index: 3033 entries, 127987 to 319984
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             3033 non-null   object
 1   ordem-religiosa  3033 non-null   object
 2   uc-entrada       3033 non-null   object
 3   uc-saida         3033 non-null   object
 4   faculdade        3002 non-null   object
 5   titulo           2926 non-null   object
 6   colegio          124 non-null    object
 7   naturalidade     449 non-null    object
 8   nome-pai         203 non-null    object
 9   padre            1154 non-null   object
 10  nome-nota        3033 non-null   object
dtypes: object(11)
memory usage: 348.9+ KB

#### Amostra

---

#### Sample

In [14]:
rel_orders.head(20).fillna("")

,name,ordem-religiosa,uc-entrada,uc-saida,faculdade,titulo,colegio,naturalidade,nome-pai,padre,nome-nota
id,,,,,,,,,,,
127987,António Cabral,Ordem de São Bernardo,1665-10-15,1666-10-10,Teologia,frei,,,,,frei religioso de São Bernardo
128152,Feliciano Cabral,Ordem de São Bernardo,1699-10-01,1701-10-01,Teologia,frei,,,,,frei religioso da Ordem São Bernardo
128344,Jerónimo Cabral,Ordem de São Bernardo,1756-10-01,1756-10-01,Teologia,frei,,,,,frei monge de São Bernardo
128485,José de Nossa Senhora Cacela,Ordem de São Domingos,1751-10-01,1753-10-01,Teologia,frei,,,,,frei religioso de São Domingos
128659,Bernardo Caceres,Ordem de São Bernardo,1760-10-01,1763-10-01,Teologia,frei,,,,,frei monge de São Bernardo
128662,Francisco de Caceres,Ordem de São Francisco,1566-06-06,1568-01-11,Teologia,frei,,,,,frei da Ordem de São Francisco
128859,Manuel Cabral,Ordem de Santo Agostinho,1588-01-29,1595-12-24,Teologia,frei,,,,sim,padre frei Ordem de Santo Agostinho
129089,Francisco Caetano,Ordem de São Bernardo,1698-10-01,1705-12-18,Teologia,frei,,,,sim,padre frei religioso da Ordem de São Bernardo
129095,Caetano Caldas,Ordem de Santo Agostinho,1770-10-01,1770-10-01,Teologia,frei,,,,,frei eremita de Santo Agostinho
129100,João Caetano,Ordem da Santíssima Trindade,1676-11-09,1676-11-09,Teologia,frei,,,,,frei religioso da Trindade
129106,José Caetano,Ordem do Carmo,1733-10-01,1741-07-01,Teologia,frei,,,,,frei religioso de Nossa Senhora do Carmo
129151,João José de Caldas,Ordem de São Jerónimo,1749-10-01,1749-10-01,Teologia,frei,,,,,frei monge de São Jerónimo
129267,António Caldeira,Ordem de São Bernardo,1730-10-01,1738-02-07,Teologia,frei,,,,,frei religioso de São Bernardo
129369,António de São Bernardo Caiado,Ordem de São Bernardo,1750-10-01,1752-07-12,Teologia,frei,,,,,frei monge de São Bernardo
129425,Estevão Cardoso Caldeira,Ordem de São Domingos,1724-10-01,1726-11-12,Teologia,frei,,,,,frei religioso de São Tomás
129486,Jerónimo Caldeira,Ordem da Santíssima Trindade,1576-10-01,1577-07-31,Teologia,frei,,,,,frei Ordem da Trindade
129527,Luís Caldeira,Ordem do Carmo,1678-10-15,1679-10-15,Teologia,frei,,,,sim,padre frei religioso do Carmo
129542,Manuel Caldeira,Ordem de Santo Agostinho (Graça),1628-07-17,1641-02-09,Teologia,frei,,,,,frei de Nossa Senhora da Graça
129614,Simão Caldeira,Ordem do Carmo,1573-10-01,1578-05-31,Teologia,frei,,,,,frei do Carmo
129786,Miguel Calado,Ordens militares,1653-06-26,1654-07-19,Cânones,,,,,sim,padre das Ordens Militares

In [15]:
rel_orders.sort_values(['ordem-religiosa','name']).to_csv('../inferences/name-notes/religious-orders.csv',sep=',')

#### File saved to `inferences/name-notes/religious-orders.csv`

#### Ordens religiosas por número de estudantes

---

#### Religious orders by number of students

In [17]:
rel_ord_count = rel_orders.groupby('ordem-religiosa')['uc-entrada'].agg(['count','min','max'])
rel_ord_count.drop(['frei','padre frei'],axis=0, inplace=True) # correct current bug, fixed for next run
rel_ord_count.sort_values('count',ascending = False, inplace=True)
rel_ord_count[rel_ord_count['count']>10]

                                                count         min         max
ordem-religiosa
Ordem de São Bernardo                             401  1569-00-00  1827-10-29
Ordem de São Bento                                374  1548-01-01  1831-06-25
Ordem do Carmo                                    283  1536-00-00  1829-10-31
Ordem de São Francisco                            267  1540-03-09  1816-10-31
Ordem de Santo Agostinho (Graça)                  250  1560-10-01  1780-05-30
Ordem da Santíssima Trindade                      223  1551-10-00  1820-06-19
Ordem de São Domingos                             202  1541-10-20  1827-10-30
Ordem de Santo Agostinho                          168  1541-11-29  1829-06-03
Ordem de São Jerónimo                             162  1550-03-12  1825-10-25
Ordem de Cristo                                   146  1563-10-01  1815-10-16
Ordem de Santo Agostinho (Descalços)               83  1734-10-01  1805-10-15
Ordens militares                                   71  1594-10-08  1815-10-20
Ordem Terceira                                     71  1632-00-00  1827-10-19
Ordem de São João de Deus                          38  1575-10-01  1804-10-09
Ordem de São João Evangelista                      37  1564-10-01  1769-10-01
Ordem de São Paulo                                 35  1670-10-01  1829-10-24
Ordem dos Cónegos Regrantes de Santo Agostinho     25  1543-12-21  1825-05-26
Ordem de São Pedro                                 16  1670-00-00  1805-11-23
Companhia de Jesus                                 13  1555-06-06  1557-02-20
ordem de s. francisco                               7  1562-03-06  1767-10-01

#### Em processo de verificação

Ordens religiosas com menos de 10 estudantes


---


#### Requiring further analysis

Number of religious orders with less than 10 students

In [18]:
print("Number of cases that escape normalization:")
print(rel_ord_count[rel_ord_count['count']<=10][['count']].sum())
print("Sample:")
rel_ord_count[rel_ord_count['count']<=10].head(20)

Number of cases that escape normalization:
count    70
dtype: int64
Sample:

                                   count         min         max
ordem-religiosa
ordem de s. francisco                  7  1562-03-06  1767-10-01
Paulista                               5  1752-10-01  1786-10-27
Ordem de Avis                          5  1549-10-00  1626-05-13
Ordem de Santo António                 4  1601-10-01  1769-10-01
Província Algarves                     4  1747-10-01  1761-10-01
padre,                                 2  1754-10-01  1768-01-22
Província Algarve                      2  1572-10-01  1576-10-01
Ordem S. Franisco                      2  1576-10-01  1791-10-22
S. José                                2  1692-10-01  1801-10-03
eremita Calçado                        2  1801-10-08  1819-10-16
mestre, frei, lente Matemática         1  1625-02-03  1625-02-03
paulista                               1  1802-10-26  1802-10-26
frei religioso                         1  1666-10-01  1666-10-01
familiar Ordens                        1  1639-06-18  1639-06-18
monge Cisterciense                     1  1780-11-03  1780-11-03
monge Benedetino                       1  1829-10-31  1829-10-31
monge Benedectino                      1  1812-10-31  1812-10-31
padre, frei, eremita Santo Inácio      1  1758-10-13  1758-10-13
padre, frei, Província Portugal        1  1770-06-25  1770-06-25
padre, frei, 3.ª Ordem Penitência      1  1780-11-13  1780-11-13

#### Expressões utilizadas para normaliza a ordem religiosa

As anotações ao nome são examinadas para verificar se
contém uma expressão que indicie uma referência a 
ordem religiosa.

Lista de palavras atualmente usada na célula seguinte.

---


#### Expressions used to normalize the religious orders

Notes are scanned f religious order "trigger": a word that indicates that a reference is contained in the note.

Current triggers in the next cell


    ordem
    ordens
    religioso
    monge
    frei
    companhia de jesus
    colégio de jesus
    colégio dos lóios
    cónego regular
    cónego regular
    cónego regrante
    santa cruz

Quando uma destas expressões é detectada na anotação
o algoritmo aplica uma tabela para determinar a ordem
religiosa específica.

---

When one the expressions above is detected the
algorithm uses a table to determine the specific
religious order.

In [19]:
from ucalumni.extractors import ordens

for expression in sorted(ordens.keys()):
    print(f'{expression:50} {ordens.get(expression)}')

3ª                                                 Ordem Terceira
agostinho                                          Ordem de Santo Agostinho
agostinho descalço                                 Ordem de Santo Agostinho (Descalços)
agostinhos descalços                               Ordem de Santo Agostinho (Descalços)
alcântara                                          Ordem de São Pedro de Alcântara
antónio                                            Ordem de Santo António
avis                                               Ordem de Avis
beneditino                                         Ordem de São Bento
bento                                              Ordem de São Bento
bernardo                                           Ordem de São Bernardo
carmelita                                          Ordem do Carmo
carmo                                              Ordem do Carmo
colegial do colégio de jesus                       Companhia de Jesus
colégio da graça                                   Ordem de Santo Agostinho (Graça)
companhia de jesus                                 Companhia de Jesus
cristo                                             Ordem de Cristo
descalço de santo agostinho                        Ordem de Santo Agostinho (Descalços)
domingos                                           Ordem de São Domingos
evangelista                                        Ordem de São João Evangelista
francisco                                          Ordem de São Francisco
graça                                              Ordem de Santo Agostinho (Graça)
jerónimo                                           Ordem de São Jerónimo
joão de deus                                       Ordem de São João de Deus
loio                                               Ordem de São João Evangelista
loios                                              Ordem de São João Evangelista
lóio                                               Ordem de São João Evangelista
lóios                                              Ordem de São João Evangelista
militar                                            Ordens militares
nossa senhora da graça                             Ordem de Santo Agostinho (Graça)
ordem de s. pedro                                  Ordem de São Pedro
ordem de s\. francisco                             Ordem de São Francisco
ordem de são francisco                             Ordem de São Francisco
ordem de são pedro                                 Ordem de São Pedro
padre frei colégio dos padres de são pedro         Ordem Terceira
padre frei do colégio dos padres de são pedro      Ordem Terceira
padre frei, colégio dos padres de são pedro        Ordem Terceira
paulo                                              Ordem de São Paulo
pedro                                              Ordem de São Pedro
pregadores                                         Ordem de São Domingos
regrante de santo agostinho                        Ordem dos Cónegos Regrantes de Santo Agostinho
regular de santo agostinho                         Ordem dos Cónegos Regrantes de Santo Agostinho
s. domingo                                         Ordem de São Domingos
s. joão                                            Ordem de São João de Deus
s. paulo                                           Ordem de São Paulo
s. tomás                                           Ordem de São Domingos
santa cruz                                         Ordem dos Cónegos Regrantes de Santo Agostinho
santa rita                                         Ordem de Santo Agostinho (Descalços)
santiago                                           Ordem de Santiago
santo loio                                         Ordem de São João Evangelista
são joão                                           Ordem de São João de Deus
são paulo                                          Ordem de São Paulo
são tomás                                          Ordem de São Domingos
terceira                                           Ordem Terceira
tiago                                              Ordem de Santiago
tomar                                              Ordem de Cristo
trindade                                           Ordem da Santíssima Trindade

A célula seguinte mostra as variantes de expressões
detectadas para a mesma ordem religiosa.

---

The following cell show the variations of expressions
for a specific order.

In [24]:
order = "Ordem de São Bento"  #  change to check another order

variants = name_notes[name_notes['ordem-religiosa'] == order]['nome-nota'].unique()
print(f"Number of expressions for '{order}':",len(variants))
null_ = [print(v) for v in sorted(list(variants))]

Number of expressions for 'Ordem de São Bento': 38
Frei Monge de São Bento
da Ordem de São Bento
frei da Ordem de São Bento
frei de Bento Lusido
frei de São Bento
frei do colégio de São Bento
frei monge Beneditino
frei monge beneditino
frei monge da Ordem de São Bento do Mosteiro de Sanfins
frei monge de São Bento
frei monge de São Bento do Brasil
frei monge de são Bento
frei padre da Ordem de São Bento
frei padre da Ordem de São Bento do Mosteiro de Pombeiro
frei padre religioso de S. Bento
frei padre religioso de São Bento
frei religioso da Ordem de São Bento
frei religioso de S. Bento
frei religioso de São Bento
frei religioso do colégio de São Bento
frei religioso e S. Bento
frei, monge beneditino
padre e frei da Ordem de São Bento
padre frei da Ordem de São Bento
padre frei de São Bento
padre frei monge de S. Bento
padre frei monge de São Bento
padre frei religioso da Ordem de S. Bento
padre frei religioso da Ordem de São Bento
padre frei religioso de S. Bento
padre frei religioso de São Bento
padre frei religioso do colégio de São Bento
padre frei reliioso de S. Bento
padre monge de São Bento
padre, frei monge de São Bento
padre, frei, monge de São Bento
padre, frei,monge de São Bento
religioso da Ordem de São Bento

#### Ver / See [022-religious_orders.ipynb](022-religious_orders.ipynb)

## Naturalidade

---

## Place of birth

In [28]:
from timelinknb.pandas import attribute_values

df = attribute_values('naturalidade',dates_between = ('1500','1930'))

### Lugares mais importantes

---

### Most relevant places

In [29]:

df.sort_values('count', ascending = False).head(50)

                        count     date_in    date_max
value
Lisboa                   8784  1537-02-12  1916-07-19
Coimbra                  5526  1537-00-00  1915-10-12
Porto                    3391  1537-05-30  1917-10-22
Braga                    1608  1540-01-21  1914-07-24
Évora                    1072  1537-11-22  1910-10-10
Viseu                     986  1537-00-00  1912-07-03
Guimarães                 980  1537-12-18  1912-07-18
Lamego                    972  1537-00-00  1909-10-05
Aveiro                    790  1538-04-21  1913-10-13
Vila Real                 765  1537-03-07  1909-11-09
Santarém                  728  1537-01-29  1909-10-04
Leiria                    668  1537-00-00  1910-10-15
Ilha da Madeira           569  1537-01-16  1890-10-16
Portalegre                542  1538-10-18  1912-10-12
Castelo Branco            538  1537-12-18  1910-10-13
Tomar                     531  1537-01-18  1912-06-17
Barcelos                  527  1538-00-00  1912-06-26
Beja                      500  1537-12-18  1909-10-14
Baía, Brasil              495  1593-10-01  1892-10-28
Viana                     494  1555-10-00  1844-10-19
Guarda                    475  1538-10-11  1913-10-13
Elvas                     448  1537-12-28  1909-10-09
Abrantes                  430  1538-11-22  1910-10-15
Montemor-o-Velho          426  1540-00-00  1910-10-11
Setúbal                   425  1537-12-18  1905-10-03
Rio de Janeiro, Brasil    415  1608-10-08  1908-10-03
Ponte de Lima             397  1537-04-29  1912-11-06
Covilhã                   393  1538-10-16  1912-08-01
Baía                      391  1570-10-01  1893-10-21
Bragança                  376  1538-05-26  1912-07-29
Torres Novas              360  1537-00-00  1913-07-16
Soure                     359  1549-00-00  1913-07-19
Faro                      343  1549-00-00  1912-07-25
Amarante                  330  1537-09-22  1911-08-15
Chaves                    312  1538-07-11  1909-11-18
Águeda                    305  1552-10-00  1912-06-24
Rio de Janeiro            296  1558-10-01  1910-10-24
Vila do Conde             296  1537-12-18  1912-07-12
Castelo de Vide           294  1537-02-19  1899-10-12
Estremoz                  288  1551-02-12  1913-07-12
Vila Viçosa               288  1537-12-18  1908-10-02
Lousã                     276  1551-12-11  1908-10-13
Trancoso                  269  1540-01-16  1907-12-10
Tentúgal                  265  1540-01-13  1909-10-15
Moura                     248  1538-11-22  1903-10-03
Arcos de Valdevez         248  1581-11-07  1905-10-07
Ourém                     243  1537-02-21  1878-10-15
Sertã                     241  1561-11-01  1909-10-02
Pombal                    240  1538-01-11  1913-08-09
Serpa                     236  1538-10-01  1912-06-19

In [31]:
df.to_csv('../inferences/places/naturalidade-original.csv',sep=',')

#### File saved to `inferences/places/naturalidade-original.csv`

### Nomes geográficos

Quando a naturalidade contém vários níveis de 
definição, separados por vírgulas, ou outra
pontuação, como em "Ponta Delgada, Ilha de S.Miguel, Açores"
o algoritmo extrai cada parte da sequência e armazena no
atributo "nome-geográfico".

A lista de nomes geográficos agrega lugares redigidos
de forma diferente e dá uma visão alternativa dos lugares
mais importantes. Note-se que o mesmo estudante pode ser
contabilizado ao mesmo tempo em diferentes nomes geográficos.

Brasil torna-se a 5ª origem de estudantes.

---

### Geographic names

The place of birth sometimes contains various
levels of administrative or geographic scope,
separated by commas or other types of punctuation
like in "Ponta Delgada, Ilha de S.Miguel, Açores".
The algorithm stores each level separetely, under
the attribute "nome-geografico" (geographic name).

The list of geographic names joins places written in
different forms e gives an alternative vision of
the most relevant ones. Note that a single student
can by counted in more that one geographic name.

Brazil becomes the fifth origin of students.

In [34]:
from timelinknb.pandas import attribute_values

df = attribute_values('nome-geografico',dates_between = ('1500','1930'))
df.sort_values('count', ascending = False).head(50)

                    count     date_in    date_max
value
Lisboa               8903  1537-02-12  1916-07-19
Coimbra              5780  1537-00-00  1915-10-12
Porto                3607  1537-05-30  1917-10-22
Braga                1737  1540-01-21  1914-07-24
Brasil               1636  1574-10-12  1915-11-29
Viseu                1305  1537-00-00  1914-07-11
Lamego               1131  1537-00-00  1909-10-05
Évora                1106  1537-11-22  1912-07-22
Guimarães            1068  1537-12-18  1912-07-18
Vila Real             958  1537-03-07  1909-11-09
Baía                  957  1570-10-01  1894-10-23
Aveiro                929  1538-04-21  1917-07-10
Santarém              770  1537-01-29  1912-08-06
Rio de Janeiro        749  1558-10-01  1915-11-29
Leiria                721  1537-00-00  1910-10-15
Guarda                663  1538-10-11  1913-10-13
Barcelos              631  1538-00-00  1912-06-26
Ilha da Madeira       617  1537-01-16  1909-10-02
Castelo Branco        601  1537-12-18  1912-06-19
Tomar                 585  1537-01-18  1912-06-17
Portalegre            574  1538-10-18  1912-10-12
Viana                 552  1554-00-00  1848-06-05
Beja                  537  1537-12-18  1910-10-15
Bragança              479  1538-05-26  1912-07-29
Elvas                 454  1537-12-28  1909-10-09
Açores                449  1537-02-01  1912-08-08
Abrantes              440  1538-11-22  1913-07-19
Montemor-o-Velho      438  1540-00-00  1910-10-11
Setúbal               431  1537-12-18  1905-10-03
Covilhã               417  1538-00-00  1912-08-01
Ponte de Lima         412  1537-04-29  1912-11-06
Faro                  388  1549-00-00  1912-07-25
Torres Novas          380  1537-00-00  1913-07-16
Soure                 374  1549-00-00  1913-07-19
Amarante              354  1537-09-22  1911-08-15
Chaves                346  1538-07-11  1910-10-14
Águeda                326  1552-10-00  1912-06-24
Ilha de São Miguel    323  1537-02-01  1910-08-05
Vila do Conde         308  1537-12-18  1912-07-12
Trancoso              308  1540-01-16  1910-10-14
Lousã                 308  1551-12-11  1912-07-26
Castelo de Vide       296  1537-02-19  1899-10-12
Pernambuco            295  1574-10-12  1912-08-12
Estremoz              290  1551-02-12  1913-07-12
Vila Viçosa           290  1537-12-18  1908-10-02
Ourém                 275  1537-02-21  1878-10-15
Tentúgal              269  1540-01-13  1909-10-15
Pinhel                264  1538-00-00  1910-10-10
Sertã                 264  1561-11-01  1909-10-02
Arcos de Valdevez     261  1573-11-14  1913-10-13

In [35]:
df.to_csv('../inferences/places/nomes-geograficos.csv',sep=',')

#### File saved to `inferences/places/nomes-geograficos.csv`

#### Ver / See  [notebooks/025-geographic.ipynb](025-geographic.ipynb)