> First time use: follow instructions in the README.md file in this directory.


**[PT]** Português

---

**[EN]** English


# Naturalidade


Análise dos valores da informação sobre a naturalidade dos estudantes

---

# Place of Birth

Information related to place of birth of students

## Setup

In [6]:
from timelinknb import get_db
from ucalumni.config import default_db

db_spec = default_db
db = get_db(db_spec)

## Lista de lugares diferentes e número de ocorrências

---

## List of different places with number of occurrences

In [13]:
from timelinknb.pandas import attribute_values

naturalidades = attribute_values('naturalidade',dates_between=('1500-00-00','1990-00-00'))
naturalidades.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11499 entries, Lisboa to Óvoa, Viseu
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   count     11499 non-null  int64
 1   date_in   11499 non-null  object
 2   date_max  11499 non-null  object
dtypes: int64(1), object(2)
memory usage: 359.3+ KB

### Lugares principais

---

### Main locations

In [15]:
naturalidades.sort_values('count', ascending=False).head(20)

                 count     date_in    date_max
value
Lisboa            8784  1537-02-12  1916-07-19
Coimbra           5526  1537-00-00  1915-10-12
Porto             3391  1537-05-30  1917-10-22
Braga             1608  1540-01-21  1914-07-24
Évora             1072  1537-11-22  1910-10-10
Viseu              986  1537-00-00  1912-07-03
Guimarães          980  1537-12-18  1912-07-18
Lamego             972  1537-00-00  1909-10-05
Aveiro             790  1538-04-21  1913-10-13
Vila Real          765  1537-03-07  1909-11-09
Santarém           728  1537-01-29  1909-10-04
Leiria             668  1537-00-00  1910-10-15
Ilha da Madeira    569  1537-01-16  1890-10-16
Portalegre         542  1538-10-18  1912-10-12
Castelo Branco     538  1537-12-18  1910-10-13
Tomar              531  1537-01-18  1912-06-17
Barcelos           527  1538-00-00  1912-06-26
Beja               500  1537-12-18  1909-10-14
Baía, Brasil       495  1593-10-01  1892-10-28
Viana              494  1555-10-00  1844-10-19

### Lugares com menos de 5 estudantes

---

### Locations with less than five students

In [17]:
naturalidades[naturalidades['count']<5].sort_values('count', ascending=False).head(20)

                           count     date_in    date_max
value
Abrigada                       4  1646-10-22  1738-11-04
Paio Mendes                    4  1686-10-01  1696-10-01
Santa Eulália de Barrosas      4  1842-10-26  1910-11-16
Santa Eulália da Palmeira      4  1704-10-01  1725-10-01
Santa Eugénia                  4  1743-10-01  1787-10-31
Santa Comba, Seia              4  1746-10-01  1913-07-16
Sanfins do Douro               4  1597-11-22  1891-10-31
Sande, Lamego                  4  1684-10-01  1764-10-01
Samora Correia                 4  1698-10-01  1783-10-31
Salvaterra do Extremo          4  1715-11-26  1907-10-10
Salto                          4  1710-12-01  1758-10-01
Salgueiral                     4  1706-10-01  1789-10-08
Safara                         4  1595-10-01  1897-10-15
Roma                           4  1726-10-01  1879-10-09
Rojão Pequeno                  4  1676-10-15  1825-10-31
Roda                           4  1644-10-22  1758-10-01
Rio das Mortes                 4  1726-10-25  1786-10-12
Rio Seco                       4  1620-10-17  1765-10-01
Rio Mau                        4  1747-01-27  1770-10-01
Ribeiro                        4  1748-10-01  1876-10-09

In [18]:
naturalidades[naturalidades['count']<5].sort_values('count', ascending=False).tail(20)

                            count     date_in    date_max
value
Granja, Trancoso                1  1820-11-15  1820-11-15
Granja, Semide                  1  1625-10-07  1625-10-07
Granja, Coimbra                 1  1801-10-03  1801-10-03
Granja, Ançã                    1  1756-01-25  1756-01-25
Granja, Alijó, Vila Real        1  1872-10-07  1872-10-07
Granja de Ulmeiro               1  1731-10-01  1731-10-01
Granja de São Pedro             1  1739-10-01  1739-10-01
Granja de Penedono              1  1732-10-01  1732-10-01
Granja de Montemor-o-Velho      1  1631-11-04  1631-11-04
Granja de Gregos                1  1817-10-31  1817-10-31
Granja de Gabrielos             1  1726-10-01  1726-10-01
Granja de Facalamim             1  1664-10-23  1664-10-23
Granja de Espinho, Coimbra      1  1817-11-05  1817-11-05
Granja de Caria                 1  1589-03-02  1589-03-02
Granja de Alpiate, Lisboa       1  1761-10-01  1761-10-01
Granja de Alfarelos             1  1737-10-01  1737-10-01
Granja da Azinhaga              1  1602-10-05  1602-10-05
Granja Nova, Alcobaça           1  1744-10-01  1744-10-01
Grandola, Lisboa                1  1889-11-07  1889-11-07
Óvoa, Viseu                     1  1811-10-31  1811-10-31