> First time use: follow instructions in the README.md file in this directory.


# Toponímia


Identificação e geolocalização dos topónimos

---

# Place names

Identification and geocoding of place names

## Setup

In [18]:
from timelink.api.database import TimelinkDatabase
from ucalumni.config import default_db_url

print(f"Creating TimelinkDatabase instance from {default_db_url}")
db = TimelinkDatabase(db_url=default_db_url)

Creating TimelinkDatabase instance from sqlite:///../database/sqlite3/fauc.db?check_same_thread=False

We use the results of another project that aims at geocoding and "administrative coding"
of place names in historical sources.
* https://github.com/joaquimrcarvalho/toponimia-portuguesa (currently private, contact joaquimcarvalho@mpu.edu.mo) for access).

The results consist of two files:

* `inferences/places/gngc_names_geocoded.csv` with place names currently geocoded
* `inferences/places/gngc_changes.csv` with place names that require normalization for geocoding

These files are produced by the notebook https://github.com/joaquimrcarvalho/toponimia-portuguesa/blob/9b84d476e4fd4400c3c6d748a744c13168ed72a2/001-geocoding.ipynb

Get a fresh copy of those files and put them in `inferences\places|` before running this notebook

### Check for update files in toponima project

In [2]:
import pandas as pd
# read geocoded_places from inferences/places/gngc_names_geocoded.csv
geocoded_places = pd.read_csv("../inferences/places/gngc_names_geocoded.csv")
# conver geonamesid to int
geocoded_places["geonamesid"] = pd.to_numeric(geocoded_places["geonamesid"], errors='coerce').astype('Int64')
# trim columns name and name_normalized
geocoded_places["name"] = geocoded_places["name"].str.strip()
geocoded_places["name_normalized"] = geocoded_places["name_normalized"].str.strip()
geocoded_places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11498 entries, 0 to 11497
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pop              11498 non-null  int64
 1   date_in          11498 non-null  object
 2   date_max         11498 non-null  object
 3   name             11497 non-null  object
 4   name_normalized  11497 non-null  object
 5   id_ine_inspire   15 non-null     object
 6   geonamesid       4978 non-null   Int64
 7   context_0        11497 non-null  object
 8   context_1        4387 non-null   object
 9   context_2        281 non-null    object
 10  context_3        116 non-null    object
 11  country          11498 non-null  object
 12  gaz_id_explicit  3 non-null      object
 13  latitude         4977 non-null   float64
 14  longitude        4977 non-null   float64
 15  code             4923 non-null   object
 16  dsg              4923 non-null   object
 17  level            4923 non-null   float64
 18  inside           4910 non-null   object
 19  address          4923 non-null   object
 20  geonames_name    4977 non-null   object
 21  gazetteer        4977 non-null   object
 22  total_score      4977 non-null   float64
 23  date             4977 non-null   object
 24  wikidata_id      4978 non-null   object
dtypes: Int64(1), float64(4), int64(1), object(19)
memory usage: 2.2+ MB

In [3]:

geocoded_places.sample(5)

,pop,date_in,date_max,name,name_normalized,id_ine_inspire,geonamesid,context_0,context_1,context_2,...,code,dsg,level,inside,address,geonames_name,gazetteer,total_score,date,wikidata_id
665,15,1630-10-16,1885-10-13,Belém,"Belém, Santa Maria de Belém, Lisboa, Lisboa",NaN,2270978,Belém,Santa Maria de Belém,Lisboa,...,PRT.12.7.32_1,Santa Maria de Belém,3.0,PRT.12.7_1,"Belém, Santa Maria de Belém, Lisboa, Lisboa",Belém,geonames-pt,30.0,2024-11-10 14:52:29.134665,Q376866
9818,1,1868-10-01,1868-10-01,"São João de Aião, Porto","São João de Aião, Porto",NaN,<NA>,São João de Aião,Porto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10839,1,1824-10-02,1824-10-02,"Vale de Madeiros, Viseu","Vale de Madeiros, Viseu",NaN,2733105,Vale de Madeiros,Viseu,NaN,...,PRT.20.9.2_1,Canas de Senhorim,3.0,PRT.20.9_1,"Vale de Madeiros, Canas de Senhorim, Nelas, Viseu",Vale de Madeiros,geonames-pt,15.0,2024-11-10 14:52:32.396240,*notfound*
10799,1,1817-11-08,1817-11-08,"Vale Mendes, Vila Real","Vale Mendes, Vila Real",NaN,<NA>,Vale Mendes,Vila Real,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8205,1,1729-12-05,1729-12-05,Praga,Praga,NaN,<NA>,Praga,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Get the change list

Records where it was necessary to change the birth place in other to geocode the place name.

These include spelling errors, name changes in modern times, qualification of ambiguous names by adding geographic context.

The list can also be inferred by comparing columns `name` and `name_normalized` 
and keep the rows where they differ.

Note some changes may involve extra spaces in the name and so not immediately evident.

In [6]:
# read changes from inferences/places/gngc_names_changes.csv
changes = geocoded_places[geocoded_places.name != geocoded_places.name_normalized]
changes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 593 entries, 12 to 11371
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pop              593 non-null    int64
 1   date_in          593 non-null    object
 2   date_max         593 non-null    object
 3   name             592 non-null    object
 4   name_normalized  592 non-null    object
 5   id_ine_inspire   11 non-null     object
 6   geonamesid       488 non-null    Int64
 7   context_0        592 non-null    object
 8   context_1        259 non-null    object
 9   context_2        148 non-null    object
 10  context_3        107 non-null    object
 11  country          593 non-null    object
 12  gaz_id_explicit  1 non-null      object
 13  latitude         488 non-null    float64
 14  longitude        488 non-null    float64
 15  code             487 non-null    object
 16  dsg              487 non-null    object
 17  level            487 non-null    float64
 18  inside           484 non-null    object
 19  address          487 non-null    object
 20  geonames_name    488 non-null    object
 21  gazetteer        488 non-null    object
 22  total_score      488 non-null    float64
 23  date             488 non-null    object
 24  wikidata_id      488 non-null    object
dtypes: Int64(1), float64(4), int64(1), object(19)
memory usage: 121.0+ KB

Number of recods involved in the changes

In [11]:
# sum column pop in df changes
print("Number of record involved in place name changes:", changes["pop"].sum())

Number of record involved in place name changes: 8569

In [12]:
changes.sample(5)

,pop,date_in,date_max,name,name_normalized,id_ine_inspire,geonamesid,context_0,context_1,context_2,...,code,dsg,level,inside,address,geonames_name,gazetteer,total_score,date,wikidata_id
61,202,1540-10-20,1770-10-01,Arrifana de Sousa,Penafiel,NaN,2736469,Penafiel,NaN,NaN,...,PRT.15.11.24_1,Penafiel,3.0,PRT.15.11_1,"Penafiel, Penafiel, Penafiel, Porto",Penafiel,geonames-pt,20.0,2024-11-10 14:52:29.276160,Q49287885
7895,1,1583-10-18,1583-10-18,Pedrulha do Monte,"Pedrulha, Coimbra (Santa Cruz), Coimbra, Coimbra",NaN,2736519,Pedrulha,Coimbra (Santa Cruz),Coimbra,...,PRT.7.3.13_1,Coimbra (Santa Cruz),3.0,PRT.7.3_1,"Pedrulha, Coimbra (Santa Cruz), Coimbra, Coimbra",Pedrulha,geonames-pt,30.0,2024-11-10 14:52:29.117772,*notfound*
646,16,1626-10-21,1842-10-31,Rio de Vide,Rio Vide,NaN,8011848,Rio Vide,NaN,NaN,...,PRT.7.9.3_1,Rio Vide,3.0,PRT.7.9_1,"Rio Vide, Rio Vide, Miranda do Corvo, Coimbra",Rio Vide,geonames-pt,15.0,2024-11-10 14:52:30.878577,Q1024471
597,18,1779-10-20,1848-06-05,"Viana, Minho",Viana do Castelo,NaN,2732773,Viana do Castelo,NaN,NaN,...,PRT.18.9.34_1,Viana do Castelo (Monserrate),3.0,PRT.18.9_1,"Viana do Castelo, Viana do Castelo (Monserrate...",Viana do Castelo,geonames-pt,20.0,2024-11-10 14:52:29.249437,Q49278394
313,40,1581-10-21,1876-06-06,Vieira,Vieira do Minho,NaN,2732748,Vieira do Minho,NaN,NaN,...,PRT.4.11.20_1,Vieira do Minho,3.0,PRT.4.11_1,"Vieira do Minho, Vieira do Minho, Vieira do Mi...",Vieira do Minho,geonames-pt,20.0,2024-11-10 14:52:29.359670,*notfound*

## Create field information to add to the original record

We produce a text snippet to add to the main record at https://pesquisa.auc.uc.pt/details?id=264605

In [13]:
# iterate through rows in dataframe changes
for index, row in changes.iterrows():
    # get the geonamesid
    geonamesid = row["geonamesid"]
    if pd.isna(geonamesid):
        geonamesid = None
    if geonamesid is not None:
    # get the normalized name
        name = row["name_normalized"]
        geoname_name = row['geonames_name']
        # get the address
        address = row["address"]
        country = row["country"]
        wikidata_id = row["wikidata_id"]
        snippet = f"Naturalidade designação alternativa: {name}\n"
        if address is not None and address != name:
            snippet += f"Naturalidade contexto: {address}\n"
        if country is not None:
            snippet += f"País: {country}\n"
        if geonamesid is not None:
            snippet += f"Geonames id: {geonamesid}\n"
            snippet += f"Geonames name: {geoname_name}\n"
        if wikidata_id is not None and wikidata_id != "*notfound*":
            snippet += f"Wikidata id: {wikidata_id}\n"

        # set column snippet with the snippet
        changes.loc[index, "snippet"] = snippet

/var/folders/x7/qzytnd752559g0w475rfwkx00000gn/T/ipykernel_9408/4130414814.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  changes.loc[index, "snippet"] = snippet

In [19]:
changes[['name', 'name_normalized', 'address', 'snippet']].sample(5)

,name,name_normalized,address,snippet
2023,"Brasil, Pernambuco","Recife, Pernambuco, Brasil","Recife, Recife, Pernambuco, Brasil","Naturalidade designação alternativa: Recife, P..."
7220,"Minas, Congonhas do Sabará","Congonhas, Brasil","Congonhas, Congonhas, Minas Gerais, Brasil",Naturalidade designação alternativa: Congonhas...
9648,São Tiago de Cacém,São Tiago de Cacém,NaN,NaN
835,Correlos,Currelos,"Currelos, Currelos, Carregal do Sal, Viseu",Naturalidade designação alternativa: Currelos\...
642,Pedrulha,"Pedrulha, Coimbra (Santa Cruz), Coimbra, Coimbra","Pedrulha, Coimbra (Santa Cruz), Coimbra, Coimbra","Naturalidade designação alternativa: Pedrulha,..."

In [20]:
from timelink.pandas import entities_with_attribute
from pandas import DataFrame

# iterate through rows in dataframe changes where geoanmesid is not null
see_only = 15
for index, row in changes[changes.geonamesid.notnull()].sort_values('pop',ascending=False).head(see_only).iterrows():
    # get the geonamesid
    naturalidade = row["name"]
    print("Naturalidade:", naturalidade)
    print(row["snippet"])
    people: DataFrame = entities_with_attribute(
        the_type="naturalidade",
        the_value=naturalidade,
        entity_type="person",
        dates_in=('1530-01-01', '2021-01-01'),
        show_elements=["name"],
        more_attributes=["uc-entrada", "uc-saida"],
        db=db)
    # interate through people
    print("Total de estudantes:", len(people))
    print("Amostra:")
    for index, person in people.sample(5).iterrows():
        print(index, person["name"], person["uc-entrada"], person["uc-saida"])
    print()

Naturalidade: Ilha da Madeira
Naturalidade designação alternativa: Funchal (Sé), Funchal (Sé), Funchal, Madeira
País: Portugal
Geonames id: 8014027
Geonames name: Funchal (Sé)
Wikidata id: Q2190091

Total de estudantes: 575
Amostra:
172253 Lourenço de Matos 1648-10-09 1650-10-15
176565 Simão José de Oliveira 1795-10-13 1795-10-13
181173 Manuel da Cunha Guterres 1745-10-01 1754-07-19
168012 Pantaleão de Sá e Freitas 1730-12-13 1735-05-18
241278 Bartolomeu Luís Pimenta 1741-10-01 1745-07-01

Naturalidade: Baía, Brasil
Naturalidade designação alternativa: Salvador, Brasil
Naturalidade contexto: Salvador, Salvador, Bahia, Brasil
País: Brasil
Geonames id: 3450554
Geonames name: Salvador
Wikidata id: Q32148682

Total de estudantes: 495
Amostra:
142178 José Pires de Carvalho e Albuquerque 1729-10-01 1734-07-21
151475 Manuel Teles Barreto 1675-11-09 1678-10-10
151926 João Borges de Barros 1685-10-01 1691-10-01
208724 Paulo Ferreira de Andrade Vargas 1752-10-01 1760-07-29
193834 Francisco Ramiro de Assis Coelho 1820-11-24 1825-06-15

Naturalidade: Viana
Naturalidade designação alternativa: Viana do Castelo
Naturalidade contexto: Viana do Castelo, Viana do Castelo (Monserrate), Viana do Castelo, Viana do Castelo
País: Portugal
Geonames id: 2732773
Geonames name: Viana do Castelo
Wikidata id: Q49278394

Total de estudantes: 494
Amostra:
158602 Pedro Alexandrino de Carvalho 1756-10-01 1761-05-18
180819 José António Pereira de Antas Guerreiro 1840-10-16 1845-06-13
164454 Paulo Ferreira Duarte 1754-10-01 1757-10-01
141986 António de Castro de Albuquerque 1656-11-10 1656-11-10
182273 João Calado Maciel 1647-10-20 1648-10-15

Naturalidade: Baía
Naturalidade designação alternativa: Salvador, Brasil
Naturalidade contexto: Salvador, Salvador, Bahia, Brasil
País: Brasil
Geonames id: 3450554
Geonames name: Salvador
Wikidata id: Q32148682

Total de estudantes: 391
Amostra:
244542 Luís da Costa e Faria 1729-01-19 1735-07-10
293819 Teotónio Xavier da Costa Cabral 1737-07-08 1738-07-19
134785 Caetano Dias de Figueiredo 1721-10-01 1727-01-18
161067 António Ferreira França 1793-10-19 1797-10-04
134489 Bento Dias Ravasco 1706-10-01 1706-10-01

Naturalidade: Rio de Janeiro
Naturalidade designação alternativa: Rio de Janeiro, Brasil
Naturalidade contexto: Rio de Janeiro, Rio de Janeiro, Rio de Janeiro, Brasil
País: Brasil
Geonames id: 3451190
Geonames name: Rio de Janeiro

Total de estudantes: 297
Amostra:
163725 José de Menezes Vasconcelos Drumond 1820-11-13 1820-11-13
253160 José Lopes Pereira Monteiro 1763-12-01 1763-12-01
128936 Manuel Gomes Cabral 1685-11-06 1694-12-14
181085 Veríssimo Augusto da Silva Guimarães 1897-10-13 1900-10-15
137363 José Luís da Costa Reis 1781-10-00 1786-10-12

Naturalidade: Arrifana de Sousa
Naturalidade designação alternativa: Penafiel
Naturalidade contexto: Penafiel, Penafiel, Penafiel, Porto
País: Portugal
Geonames id: 2736469
Geonames name: Penafiel
Wikidata id: Q49287885

Total de estudantes: 202
Amostra:
234885 Simão Moreira 1642-10-28 1651-10-01
212335 Francisco de Lemos 1657-10-15 1666-01-23
189807 Simão da Rocha 1578-11-08 1579-06-24
228646 Manuel Ferreira da Rosa 1729-01-23 1729-01-23
217503 Manuel de Sousa São Tiago 1663-11-03 1672-05-11

Naturalidade: Ilha de São Miguel
Naturalidade designação alternativa: Ponta Delgada
Naturalidade contexto: Ponta Delgada, Ponta Delgada (São Sebastião), Ponta Delgada, Azores
País: Portugal
Geonames id: 6941014
Geonames name: Ponta Delgada
Wikidata id: Q49278070

Total de estudantes: 188
Amostra:
216714 Manuel Rodrigues 1596-10-01 1609-04-28
136414 António do Rego 1577-10-03 1584-02-05
173218 Francisco Soares de Medeiros 1853-10-07 1853-10-07
235672 António Moniz de Sousa 1634-10-07 1636-10-03
185595 António de Bettencourt 1652-10-09 1658-05-20

Naturalidade: Pernambuco
Naturalidade designação alternativa: Recife, Pernambuco, Brasil
Naturalidade contexto: Recife, Recife, Pernambuco, Brasil
País: Brasil
Geonames id: 3390760
Geonames name: Recife
Wikidata id: Q22061296

Total de estudantes: 136
Amostra:
198395 Fernão Rodrigues 1638-10-12 1638-10-12
150421 Agostinho de Freitas Baracho 1694-12-10 1694-12-10
244055 José de Almeida de Faria 1701-10-01 1707-07-28
163570 António José Dormentes 1767-10-01 1770-10-01
177391 Domingos Garcia 1647-10-17 1648-11-04

Naturalidade: Condeixa
Naturalidade designação alternativa: Condeixa-a-Nova
Naturalidade contexto: Condeixa-a-Nova, Condeixa-a-Nova, Condeixa-a-Nova, Coimbra
País: Portugal
Geonames id: 2740593
Geonames name: Condeixa-a-Nova
Wikidata id: Q49282120

Total de estudantes: 135
Amostra:
157429 Luís António de Carvalho 1739-10-01 1739-10-01
199325 António da Costa 1616-10-07 1616-10-07
188156 Manuel Brás 1664-03-14 1664-03-14
142112 Bernardo de Almeida 1748-10-01 1751-10-01
185514 Manuel Brás Bernardes 1664-10-02 1673-10-29

Naturalidade: Olivença
Naturalidade designação alternativa: Olivenza, Espanha
Naturalidade contexto: Olivenza, Olivenza, Badajoz, Extremadura
País: Espanha
Geonames id: 9883562
Geonames name: Olivenza
Wikidata id: Q120170977

Total de estudantes: 134
Amostra:
241664 Matias Tavares e Sousa 1657-01-11 1663-02-19
217246 Manuel de Santa Teresa de Jesus 1794-10-10 1802-10-09
142725 António de Miranda e Almeida 1782-10-05 1790-10-30
189218 João Peres Castela 1800-06-30 1800-07-05
145534 João Borja do Amaral 1770-10-01 1780-07-23

Naturalidade: Celorico
Naturalidade designação alternativa: Celorico da Beira
Naturalidade contexto: Celorico da Beira, Celorico (São Pedro), Celorico da Beira, Guarda
País: Portugal
Geonames id: 2740886
Geonames name: Celorico da Beira

Total de estudantes: 124
Amostra:
133624 Francisco Cardoso 1581-11-07 1588-10-21
208831 António da Cunha 1691-10-01 1697-07-03
252484 Lourenço Fernandes 1672-04-26 1675-10-01
231021 Alexandre Simões 1735-10-01 1738-10-01
210900 Manuel Cabral de Vasconcelos 1653-10-22 1653-10-22

Naturalidade: Ilha Terceira
Naturalidade designação alternativa: Angra do Heroísmo
Naturalidade contexto: Angra do Heroísmo, Terra Chã, Angra do Heroísmo, Azores
País: Portugal
Geonames id: 8010691
Geonames name: Angra do Heroísmo
Wikidata id: Q193677

Total de estudantes: 113
Amostra:
234251 Agostinho Borges de Sousa 1659-10-27 1659-10-27
178267 André Gomes 1567-10-01 1575-05-17
159095 Jorge Fernandes do Casal 1585-10-15 1585-10-15
252543 Manuel Fernandes 1570-04-22 1577-04-15
169903 António Furtado 1540-01-12 1540-01-12

Naturalidade: Punhete, hoje Constância
Naturalidade designação alternativa: Constância
Naturalidade contexto: Constância, Constância, Constância, Santarém
País: Portugal
Geonames id: 2269088
Geonames name: Constância

Total de estudantes: 109
Amostra:
237481 Francisco Alberto de Sousa 1760-10-01 1765-10-01
238284 António Lopes 1580-00-00 1581-07-15
164940 Jacinto Maria Pereira Menezes Durão 1824-10-11 1834-12-01
218741 Manuel Rodrigues 1700-11-08 1700-11-08
198746 Manuel Vicente Leal 1697-10-01 1697-10-01

Naturalidade: Ilha de São Miguel, Açores
Naturalidade designação alternativa: Ponta Delgada
Naturalidade contexto: Ponta Delgada, Ponta Delgada (São Sebastião), Ponta Delgada, Azores
País: Portugal
Geonames id: 6941014
Geonames name: Ponta Delgada
Wikidata id: Q49278070

Total de estudantes: 108
Amostra:
198637 Francisco Taveira 1605-10-05 1612-04-09
203348 Pedro Inácio Tavares de Melo 1742-10-01 1743-05-14
143211 Jacinto Alberto Botelho de Almeida 1872-10-02 1872-10-02
230383 António Luís Borges Ribeiro da Silveira 1763-10-01 1769-06-27
284833 José Marques Barbosa dos Reis Maia 1910-08-05 1910-08-05

Naturalidade: Valença do Minho
Naturalidade designação alternativa: Valença
Naturalidade contexto: Valença, Valença, Valença, Viana do Castelo
País: Portugal
Geonames id: 2733018
Geonames name: Valença

Total de estudantes: 103
Amostra:
249457 Manuel Pereira Miranda 1682-10-01 1690-06-21
188276 António José de Brito 1741-11-23 1752-06-28
235741 António Almeida Pinto da Mota 1881-10-14 1881-10-14
227807 José Bernardino da Silva 1764-10-01 1764-10-01
189151 Gaspar Vaz Castanheira 1731-10-01 1737-07-29