**[PT]** Português

---

**[EN]** English

# Bloco de experiências com linked data

---

# Notebook to experiment with linked data

## Exemplo de pesquisas

---

## Query examples

### Estudantes da Universidade de Coimbra nascidos antes do século XX

---

### Students of the University of Coimbra born before the 20th century

2022-05-18 : 454 results stored in [inferences/wikidata](../inferences/wikidata/query.json)

In [33]:
# Id of Universidade de Coimbra
uc_qid = 'Q368643'

# Propriedade "educated at"
p_educated = 'P69'

# Birth
p_birth_date = 'P569'
p_birth_place = 'P19'

# Death
p_death_date = 'P570'
p_death_place = 'P20'

# country
p_country = 'P27'

# Biblioteca Nacional ID
p_bnp_id = 'P1005'

### Obter todos os estudantes da UC, com data e local de nascimento e morte, e id na Biblioteca Nacional

---

### Fetch all the students of UC with date and place of birth and deadth and Portuguese National Library ID

# qwikidata

In [34]:
!pip install qwikidata

Requirement already satisfied: qwikidata in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (0.4.1)
Requirement already satisfied: requests in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (from qwikidata) (2.27.1)
Requirement already satisfied: mypy-extensions in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (from qwikidata) (0.4.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (from requests->qwikidata) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (from requests->qwikidata) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (from requests->qwikidata) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (from requests->qwikidata) (2021.10.8)

In [35]:
all_query = """

SELECT DISTINCT ?student ?bnp_idLabel ?studentLabel ?countryLabel ?birthDateLabel ?birthPlace ?birthPlaceLabel ?deathDateLabel ?deathPlace ?deathPlaceLabel 
WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "pt". }
  {
    SELECT DISTINCT ?student ?bnp_id ?country ?birthDate ?birthPlace ?deathDate ?deathPlace WHERE {
      ?student p:P69 ?statement0.
      ?statement0 (ps:P69/(wdt:P279*)) wd:Q368643.
      ?student p:P569 ?statement_1.
      OPTIONAL { ?student p:P570/psv:P570/wikibase:timeValue ?deathDate.}
      OPTIONAL { ?student p:P27/ps:P27 ?country.}
      OPTIONAL { ?student p:P19/ps:P19 ?birthPlace.}
      OPTIONAL { ?student p:P20/ps:P20 ?deathPlace.}
      OPTIONAL { ?student p:P1005/ps:P1005 ?bnp_id.}
      ?statement_1 psv:P569 ?statementValue_1.
      ?statementValue_1 wikibase:timePrecision ?precision_1.
      FILTER(?precision_1 >= 11 )
      ?statementValue_1 wikibase:timeValue ?birthDate.
      FILTER(?birthDate< "+1900-01-01T00:00:00Z"^^xsd:dateTime)
    }
    LIMIT 1000
  }
}

"""

Query Wikidata

In [36]:
from qwikidata.sparql import return_sparql_query_results

results = return_sparql_query_results(all_query)
records = results['results']['bindings']

Show sample records

In [37]:
records[:2]

[{'student': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q64697672'},
  'studentLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'José Luís Alves Feijó'},
  'birthDateLabel': {'type': 'literal', 'value': '1816-01-08T00:00:00Z'},
  'deathDateLabel': {'type': 'literal', 'value': '1874-11-07T00:00:00Z'},
  'deathPlace': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q768261'},
  'birthPlace': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q1999803'},
  'countryLabel': {'xml:lang': 'pt', 'type': 'literal', 'value': 'Portugal'},
  'birthPlaceLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'Freixo de Espada à Cinta'},
  'deathPlaceLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'Bragança'}},
 {'student': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q24013847'},
  'studentLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'José Lages Perestrelo de Vasconcelos'},
  'birthDateLabel': {'type': 'literal', 'value': '1881-02-17T00:00:00Z'},
  'deathDateLabel': {'type': 'literal', 'value': '1935-07-28T00:00:00Z'},
  'deathPlace': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q824489'},
  'birthPlace': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q597'},
  'birthPlaceLabel': {'xml:lang': 'pt', 'type': 'literal', 'value': 'Lisboa'},
  'deathPlaceLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'Estado Novo'}}]

Create dataframe from results

In [43]:
import pandas as pd


tuples = [(  
            student.get('student',{'value':None})['value'],
            student.get('studentLabel',{'value':None})['value'],
            student.get('bnp_idLabel',{'value':None})['value'],
            student.get('birthPlaceLabel',{'value':None})['value'],
            student.get('birthPlace',{'value':None})['value'],
            student.get('birthDateLabel',{'value':'0000-00-00'})['value'][0:10], # keep just the date, the time is normally missing
            )
            for student in records]

students = pd.DataFrame(tuples, columns=['wikidata','name','bnp_id','naturalidade','placeID','data_nasc'])

In [44]:

students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   wikidata      455 non-null    object
 1   name          455 non-null    object
 2   bnp_id        277 non-null    object
 3   naturalidade  421 non-null    object
 4   placeID       421 non-null    object
 5   data_nasc     455 non-null    object
dtypes: object(6)
memory usage: 21.5+ KB

In [50]:
import warnings

from timelinknb.pandas import attribute_to_df
from timelinknb import current_time,current_machine, get_db
from ucalumni.config import default_db
from IPython.display import display

db_spec = default_db
db = get_db(db_spec)
print(current_machine,current_time,f'db={db_spec}')

students.sort_values('naturalidade', inplace=True)
students['fauc_id'] = None

not_found = 0
match = 0
ambiguous = 0

for i,row in students.iterrows():
    uri = row['wikidata']
    name = row['name']
    name_like = name.split(" ")[0]+'%'+name.split(" ")[-1]
    birth_date = row['data_nasc']
    print()
    print(f"Looking for {name} {birth_date} {uri}")
    if row['naturalidade'] is not None:
        place = row['naturalidade']
        print(f"  {place}")
        candidates = attribute_to_df('naturalidade',the_value='%'+place+'%',name_like=name_like,dates_in=(birth_date,'1920-00-00' ))
        if candidates.iloc[0].count() == 0:
            print("Not found")
            not_found = not_found + 1
        else:
            display(candidates.head(5))
            if len(candidates.index) == 1:
                print("Matched")
                fauc_id = candidates.iloc[0].name
                match = match + 1
                students.loc[i]['fauc_id'] = fauc_id
            else:  # check if one name matches exactly
                hit = candidates[candidates['name'] == name]
                if len(hit) == 0:
                    print("Ambiguous")
                    ambiguous = ambiguous + 1
                elif len(hit) > 0:
                    print("Matched")
                    fauc_id = hit.iloc[0].name  # note this 'name' is the index entry
                    match = match + 1
                    students.loc[i]['fauc_id'] = fauc_id
                    if len(hit) > 1 :
                        warnings.warn("Possible duplicates: "+", ".join(hit.index.values))

print(f"Matched {match} ambiguous {ambiguous} not found {not_found}")

mini-m1.local 2022-05-25 18:06:12.641970 db=('sqlite', 'fauc.db')

Looking for António Augusto da Silva Martins 1892-04-04 http://www.wikidata.org/entity/Q18715803
  Abrantes

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
184909,António Augusto da Silva Martins,m,Abrantes,1910-10-15,None

Matched

Looking for Samora Barros 1887-04-03 http://www.wikidata.org/entity/Q10367297
  Albufeira
Not found

Looking for António de Oliveira Monteiro 1842-01-02 http://www.wikidata.org/entity/Q21290091
  Alcafozes

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
251928,António de Oliveira Monteiro,m,Alcafozes,1860-07-09,None

Matched

Looking for José Eduardo Raposo de Magalhães 1844-06-12 http://www.wikidata.org/entity/Q10309302
  Alcobaça

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
182939,José Eduardo Raposo de Magalhães,m,Alcobaça,1863-10-09,None

Matched

Looking for Frei Custódio Alves Serrão 1799-10-02 http://www.wikidata.org/entity/Q56741356
  Alcântara
Not found

Looking for António Augusto de Sousa 1883-12-10 http://www.wikidata.org/entity/Q23905297
  Alijó
Not found

Looking for Alfredo Augusto de Soveral Martins 1869-06-07 http://www.wikidata.org/entity/Q1636522
  Almacave
Not found

Looking for António Ginestal Machado 1874-05-03 http://www.wikidata.org/entity/Q357489
  Almeida
Not found

Looking for Bernardo de Brito 1569-08-20 http://www.wikidata.org/entity/Q3638813
  Almeida
Not found

Looking for António da Trindade de Vasconcelos Pereira de Melo 1812-08-28 http://www.wikidata.org/entity/Q9620375
  Amarante
Not found

Looking for Bernardo Augusto de Madureira e Vasconcelos 1842-03-07 http://www.wikidata.org/entity/Q9655262
  Ancede
Not found

Looking for Francisco Jerónimo da Silva 1807-12-30 http://www.wikidata.org/entity/Q17280031
  Angra do Heroísmo
Not found

Looking for Alexandre Meireles do Canto e Castro 1827-03-10 http://www.wikidata.org/entity/Q16488152
  Angra do Heroísmo
Not found

Looking for Luís da Silva Ribeiro 1882-12-04 http://www.wikidata.org/entity/Q10321713
  Angra do Heroísmo
Not found

Looking for João Cândido de Morais 1841-03-07 http://www.wikidata.org/entity/Q10311389
  Angra do Heroísmo
Not found

Looking for Álvaro da Silva Sampaio 1891-01-24 http://www.wikidata.org/entity/Q51882966
  Angra do Heroísmo
Not found

Looking for Joaquim Maria da Silva 1830-05-24 http://www.wikidata.org/entity/Q10307298
  Angra do Heroísmo
Not found

Looking for Adriano Inácio Botelho 1892-09-12 http://www.wikidata.org/entity/Q56072395
  Angra do Heroísmo
Not found

Looking for Joaquim Moniz de Sá Corte-Real e Amaral 1889-08-28 http://www.wikidata.org/entity/Q10307319
  Angra do Heroísmo
Not found

Looking for Diogo de Barcelos Machado de Bettencourt 1847-08-08 http://www.wikidata.org/entity/Q5279228
  Angra do Heroísmo
Not found

Looking for José dos Reis Fisher 1856-07-23 http://www.wikidata.org/entity/Q10310880
  Angra do Heroísmo

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
138543,José dos Reis Fisher,m,Angra do Heroísmo,1880-10-14,None

Matched

Looking for Manuel António Lino 1865-01-04 http://www.wikidata.org/entity/Q6752403
  Angra do Heroísmo
Not found

Looking for Alberto Teles de Utra Machado 1840-01-24 http://www.wikidata.org/entity/Q16487343
  Angra do Heroísmo
Not found

Looking for Teotónio Simão Paim de Ornelas Bruges 1841-09-22 http://www.wikidata.org/entity/Q10380409
  Angra do Heroísmo
Not found

Looking for Alfredo da Silva Sampaio 1872-09-19 http://www.wikidata.org/entity/Q9603234
  Angra do Heroísmo
Not found

Looking for Frederico Augusto Lopes da Silva 1863-12-01 http://www.wikidata.org/entity/Q10285752
  Angra do Heroísmo
Not found

Looking for Aurélio Quintanilha 1892-04-24 http://www.wikidata.org/entity/Q9638330
  Angra do Heroísmo
Not found

Looking for José Augusto Nogueira Sampaio 1827-12-11 http://www.wikidata.org/entity/Q10308913
  Angra do Heroísmo

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
215040,José Augusto Nogueira Sampaio,m,Angra do Heroísmo,1842-10-11,None

Matched

Looking for Eduardo de Abreu 1856-02-08 http://www.wikidata.org/entity/Q8772425
  Angra do Heroísmo
Not found

Looking for Nicolau Moniz de Bettencourt 1836-03-04 http://www.wikidata.org/entity/Q10292299
  Angra do Heroísmo
Not found

Looking for Henrique Ferreira de Oliveira Brás 1884-02-09 http://www.wikidata.org/entity/Q10294753
  Angra do Heroísmo
Not found

Looking for Júlio Augusto Henriques 1838-01-15 http://www.wikidata.org/entity/Q5396407
  Arco de Baúlhe
Not found

Looking for Teixeira de Queirós 1848-05-03 http://www.wikidata.org/entity/Q10379131
  Arcos de Valdevez
Not found

Looking for Alberto da Veiga Simões 1888-12-16 http://www.wikidata.org/entity/Q47318259
  Arganil

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
231020,Alberto da Veiga Simões,m,Arganil,1906-10-02,None

Matched

Looking for Francisco Gomes Teixeira 1851-01-28 http://www.wikidata.org/entity/Q3815565
  Armamar
Not found

Looking for Joaquim Heliodoro da Cunha Rivara 1809-06-23 http://www.wikidata.org/entity/Q6206316
  Arraiolos
Not found

Looking for António Egas Moniz 1874-11-29 http://www.wikidata.org/entity/Q273219
  Avanca

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
165113,António Caetano de Abreu Freire Egas Moniz,m,Avanca,1891-10-14,None

Matched

Looking for Francisco de Castro Matoso Corte-Real 1832-11-23 http://www.wikidata.org/entity/Q18285192
  Aveiro
Not found

Looking for Manuel José Mendes Leite 1809-05-18 http://www.wikidata.org/entity/Q10324283
  Aveiro

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
211479,Manuel José Mendes Leite,m,Aveiro,1824-10-30,None

Matched

Looking for Manuel da Silva Mendes 1867-10-23 http://www.wikidata.org/entity/Q10324597
  Aves
Not found

Looking for Brás Garcia de Mascarenhas 1596-02-03 http://www.wikidata.org/entity/Q4981790
  Avô

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
170701,Brás Garcia Mascarenhas,m,Avô,1722-10-01,None
170702,Brás Garcia Mascarenhas,m,Avô,1760-12-15,None

Ambiguous

Looking for Luís José de Carvalho e Melo 1764-05-06 http://www.wikidata.org/entity/Q10321510
  Bahia
Not found

Looking for Ernesto Ferreira França 1804-06-21 http://www.wikidata.org/entity/Q10274055
  Bahia
Not found

Looking for Cristóvão Clávio 1538-04-04 http://www.wikidata.org/entity/Q76728
  Bamberg
Not found

Looking for António Fogaça 1863-05-11 http://www.wikidata.org/entity/Q9619113
  Barcelos
Not found

Looking for Joaquim José Pereira de Melo 1790-08-22 http://www.wikidata.org/entity/Q21290114
  Belém
Not found

Looking for Amadeu de Castro e Sola 1874-08-19 http://www.wikidata.org/entity/Q20045590
  Braga

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
233633,Amadeu da Costa Pereira e Sola,m,Braga,1891-10-02,None

Matched

Looking for Domingos Leite Pereira 1882-09-19 http://www.wikidata.org/entity/Q1237519
  Braga

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
233404,Domingos José Pereira,m,Braga,1899-10-02,None

Matched

Looking for Alberto Pinheiro Torres 1874-11-02 http://www.wikidata.org/entity/Q16487096
  Braga

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
203860,Alberto Pinheiro Torres,m,Braga,1891-10-03,None

Matched

Looking for Elísio de Moura 1877-08-30 http://www.wikidata.org/entity/Q10272145
  Braga

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
240348,Elísio de Azevedo e Moura,m,Braga,1893-06-15,None

Matched

Looking for Manuel Gonçalves de Miranda 1780-11-30 http://www.wikidata.org/entity/Q10324181
  Bragança
Not found

Looking for Manuel Maria Sarmento Rodrigues 1899-06-15 http://www.wikidata.org/entity/Q7424295
  Bragança
Not found

Looking for Maria Baptista dos Santos Guardiola 1895-01-13 http://www.wikidata.org/entity/Q10325737
  Bragança
Not found

Looking for José Manuel Pereira dos Reis 1879-01-30 http://www.wikidata.org/entity/Q10309887
  Cadaval
Not found

Looking for José Pimentel Homem de Noronha 1846-04-12 http://www.wikidata.org/entity/Q10310328
  Calheta
Not found

Looking for Luciano António Pereira da Silva 1864-11-21 http://www.wikidata.org/entity/Q56072432
  Caminha

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
228499,Luciano António Pereira da Silva,m,Caminha,1882-10-23,None
228501,Luciano Coelho da Silva,m,Caminha,1902-10-07,None

Matched

Looking for Sidónio Pais 1872-05-01 http://www.wikidata.org/entity/Q356691
  Caminha

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
221394,Sidónio Bernardino Cardoso da Silva Pais,m,Caminha,1887-10-15,None

Matched

Looking for José Marques de Loureiro 1879-03-18 http://www.wikidata.org/entity/Q16930191
  Campo de Besteiros
Not found

Looking for José Joaquim da Cunha Azeredo Coutinho 1742-09-08 http://www.wikidata.org/entity/Q4290353
  Campos dos Goytacazes
Not found

Looking for Francisco Vieira Pita 1863-09-01 http://www.wikidata.org/entity/Q10285201
  Canhas
Not found

Looking for António de Carvalho e Vasconcelos 1827-03-29 http://www.wikidata.org/entity/Q56179547
  Cantanhede

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
208983,António de Carvalho Coutinho de Vasconcelos,m,Cantanhede,1843-10-07,None

Matched

Looking for António Luís de Freitas 1855-01-10 http://www.wikidata.org/entity/Q9619586
  Carrazeda de Ansiães
Not found

Looking for João José de Freitas 1873-05-28 http://www.wikidata.org/entity/Q10311696
  Carrazeda de Ansiães
Not found

Looking for Joaquim Pais de Abranches 1837-05-14 http://www.wikidata.org/entity/Q23905379
  Carvalhal Redondo

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
140432,Joaquim Pais de Abranches,m,Carvalhal Redondo,1858-10-06,None

Matched

Looking for José Adelino Serrasqueiro 1835-12-22 http://www.wikidata.org/entity/Q5580990
  Castelo Branco

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
224045,José Adelino Serrasqueiro,m,Castelo Branco,1862-00-00,None

Matched

Looking for Bartolomeu da Costa (tesoureiro-mor da Sé de Lisboa) 1553-09-03 http://www.wikidata.org/entity/Q27876006
  Castelo Branco
Not found

Looking for Manuel Jorge Forbes de Bessa 1864-08-24 http://www.wikidata.org/entity/Q24013840
  Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória
Not found

Looking for Júlio Ernesto de Lima Duque 1859-08-11 http://www.wikidata.org/entity/Q10313421
  Chancelaria
Not found

Looking for Rodrigo de Sousa Coutinho 1755-08-04 http://www.wikidata.org/entity/Q5102445
  Chaves

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
206494,Rodrigo de Sousa Coutinho,m,Chaves,1773-10-08,None

Matched

Looking for Basílio Alberto de Sousa Pinto 1793-03-16 http://www.wikidata.org/entity/Q16497103
  Cinfães
Not found

Looking for Alexandre de Serpa Pinto 1846-04-20 http://www.wikidata.org/entity/Q921705
  Cinfães

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
223565,Alexandre Alberto da Rocha Serpa Pinto,m,Cinfães,1867-10-15,None

Matched

Looking for Francisco António Fernandes da Silva Ferrão 1798-07-23 http://www.wikidata.org/entity/Q17280331
  Coimbra
Not found

Looking for João Teixeira de Queiroz Vaz Guedes 1871-06-24 http://www.wikidata.org/entity/Q10312256
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
180536,João Teixeira de Queirós Vaz Guedes,m,Coimbra,1889-11-07,None

Matched

Looking for Joaquim António de Aguiar 1792-08-24 http://www.wikidata.org/entity/Q1392619
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
141759,Joaquim António de Aguiar,m,Coimbra,1808-11-29,None

Matched

Looking for Augusto César Barjona de Freitas 1834-01-13 http://www.wikidata.org/entity/Q9637572
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
167004,Augusto César Barjona de Freitas,m,Coimbra,1849-10-02,None
167003,Augusto Alexandre Barjona de Freitas,m,Coimbra,1873-10-03,None

Matched

Looking for Leonel Tavares Cabral 1790-02-09 http://www.wikidata.org/entity/Q85239377
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
128838,Leonel Tavares Cabral,m,Coimbra,1814-10-27,None

Matched

Looking for João de Sande Magalhães Mexia Ayres de Campos 1877-05-11 http://www.wikidata.org/entity/Q47035009
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
130389,João Correia Mexia Aires de Campos,m,Coimbra,1894-10-15,None

Matched

Looking for Joaquim Machado de Castro 1731-06-19 http://www.wikidata.org/entity/Q1690864
  Coimbra
Not found

Looking for Abílio Augusto da Fonseca Pinto 1830-05-27 http://www.wikidata.org/entity/Q23820937
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
245300,Abílio Augusto da Fonseca Pinto,m,Coimbra,1844-10-22,None

Matched

Looking for Camilo Pessanha 1867-09-07 http://www.wikidata.org/entity/Q286722
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
239985,Camilo de Almeida Pessanha,m,Coimbra,1884-10-09,None

Matched

Looking for Francisco José de Sousa Loureiro 1772-09-20 http://www.wikidata.org/entity/Q19607875
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
254021,Francisco José de Sousa Loureiro,m,Coimbra,1784-10-26,None

Matched

Looking for Augusto Alexandre Barjona de Freitas 1857-07-10 http://www.wikidata.org/entity/Q16336816
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
167003,Augusto Alexandre Barjona de Freitas,m,Coimbra,1873-10-03,None

Matched

Looking for Conde do Ameal 1844-02-05 http://www.wikidata.org/entity/Q16489680
  Coimbra
Not found

Looking for Sá de Miranda 1491-09-06 http://www.wikidata.org/entity/Q186872
  Coimbra
Not found

Looking for Ildefonso Leopoldo Bayard 1785-09-03 http://www.wikidata.org/entity/Q55893270
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
149900,Ildefonso Leopoldo Bayard,m,Coimbra,1802-10-01,None

Matched

Looking for José de Seabra da Silva 1732-10-31 http://www.wikidata.org/entity/Q10310841
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
228347,José dos Santos da Silva,m,Coimbra,1734-10-01,None
228297,José Pessoa da Silva,m,Coimbra,1736-10-01,None
227710,José António da Silva,m,Coimbra,1746-10-01,None
228155,José Marciano da Mota e Silva,m,Coimbra,1749-01-14,None
227824,José Caetano da Silva,m,Coimbra,1757-12-22,None

Ambiguous

Looking for Manuel José Barjona 1760-06-16 http://www.wikidata.org/entity/Q10324268
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
150405,Manuel José Barjona,m,Coimbra,1784-07-17,None

Matched

Looking for José Maria Pereira de Lima 1853-02-17 http://www.wikidata.org/entity/Q10309969
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
225022,José Maria Cardoso Lima,m,Coimbra,1854-10-02,None
283501,José Maria Pereira de Lima,m,Coimbra,1874-06-25,None

Matched

Looking for Joaquim de Mariz 1847-02-28 http://www.wikidata.org/entity/Q5931630
  Coimbra
Not found

Looking for António de Serpa Pimentel 1825-11-20 http://www.wikidata.org/entity/Q558201
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
241774,António de Serpa Pimentel,m,Coimbra,1840-10-15,None

Matched

Looking for Diego de Paiva de Andrade 1528-07-26 http://www.wikidata.org/entity/Q3708465
  Coimbra
Not found

Looking for Joaquim Ferreira de Carvalho 1750-07-17 http://www.wikidata.org/entity/Q64747394
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
156207,Joaquim Manuel de Carvalho,m,Coimbra,1760-01-03,None
156176,Joaquim Ferreira de Carvalho,m,Coimbra,1770-10-01,None
156205,Joaquim Júlio Pereira de Carvalho,m,Coimbra,1835-10-07,None
156159,Joaquim Augusto Simões de Carvalho,m,Coimbra,1836-10-05,None
156174,Joaquim Ferraz de Carvalho,m,Coimbra,1860-10-10,None

Matched

Looking for Abel Maria Jordão de Paiva Manso 1801-03-03 http://www.wikidata.org/entity/Q106271718
  Coimbra
Not found

Looking for Eugénio de Castro 1869-03-04 http://www.wikidata.org/entity/Q1373516
  Coimbra
Not found

Looking for Joaquim Simões Ferreira 1837-04-01 http://www.wikidata.org/entity/Q112085958
  Coimbra

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
246411,Joaquim José Ferreira,m,Coimbra,1839-10-11,None
246422,Joaquim Maria Ferreira,m,Coimbra,1849-10-31,None
246435,Joaquim Simões Ferreira,m,Coimbra,1853-10-19,None

Matched

Looking for Augusto da Fonseca Júnior 1895-02-10 http://www.wikidata.org/entity/Q9637995
  Colos
Not found

Looking for José Saturnino da Costa Pereira 1771-11-22 http://www.wikidata.org/entity/Q10310503
  Colónia do Sacramento
Not found

Looking for Hipólito da Costa 1774-08-13 http://www.wikidata.org/entity/Q5102822
  Colónia do Sacramento
Not found

Looking for Rodrigo da Fonseca Magalhães 1787-07-24 http://www.wikidata.org/entity/Q10363961
  Condeixa-a-Nova
Not found

Looking for Lucas Antônio Monteiro de Barros 1767-10-15 http://www.wikidata.org/entity/Q10320191
  Congonhas
Not found

Looking for António Pinto de Magalhães Aguiar 1834-06-23 http://www.wikidata.org/entity/Q9620002
  Constance
Not found

Looking for José do Patrocínio Dias 1884-07-23 http://www.wikidata.org/entity/Q10310871
  Covilhã

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
161685,José do Patrocínio Dias,m,Covilhã,1902-10-01,None

Matched

Looking for Luís de Molina 1535-09-29 http://www.wikidata.org/entity/Q436077
  Cuenca
Not found

Looking for António Osório Sarmento de Figueiredo, Jr. 1855-03-13 http://www.wikidata.org/entity/Q4777591
  Cumieira
Not found

Looking for José de Barros e Sousa 1859-03-01 http://www.wikidata.org/entity/Q10310762
  Câmara de Lobos

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
238951,José de Barros e Sousa,m,Câmara de Lobos,1879-10-13,None

Matched

Looking for Ferdinand Ashmall 1695-01-09 http://www.wikidata.org/entity/Q3068505
  Elwick
Not found

Looking for Sebastião Drago Valente de Brito Cabreira 1763-01-06 http://www.wikidata.org/entity/Q28073498
  Faro
Not found

Looking for Francisco de Ascensão Mendonça 1889-05-30 http://www.wikidata.org/entity/Q4290420
  Faro
Not found

Looking for António Baião 1878-10-10 http://www.wikidata.org/entity/Q9618672
  Ferreira do Zêzere
Not found

Looking for João de Barros 1881-02-04 http://www.wikidata.org/entity/Q3187336
  Figueira da Foz

                  name sex     naturalidade naturalidade.date naturalidade.obs
id
151823  João de Barros   m  Figueira da Foz        1899-10-14             None

Matched

Looking for Joaquim de Carvalho 1892-06-10 http://www.wikidata.org/entity/Q1690871
  Figueira da Foz

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
156097,Joaquim de Carvalho,m,Figueira da Foz,1909-10-02,None

Matched

Looking for António dos Santos Rocha 1853-04-30 http://www.wikidata.org/entity/Q611708
  Figueira da Foz

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
173131,António dos Santos Rocha,m,Figueira da Foz,1904-10-03,None

Matched

Looking for José Bernardo da Silva Cabral 1801-07-27 http://www.wikidata.org/entity/Q10308989
  Fornos de Algodres

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
128467,José Bernardo da Silva Cabral,m,Fornos de Algodres,1817-10-20,None

Matched

Looking for António Bernardo da Costa Cabral, Marquês de Tomar 1803-05-09 http://www.wikidata.org/entity/Q130870
  Fornos de Algodres
Not found

Looking for António Menano 1895-05-05 http://www.wikidata.org/entity/Q16492076
  Fornos de Algodres
Not found

Looking for Antônio José Machado 1809-10-14 http://www.wikidata.org/entity/Q16491822
  Fortaleza
Not found

Looking for Francisco Fernandes Costa 1867-04-19 http://www.wikidata.org/entity/Q357932
  Foz de Arouce

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
201049,Francisco José Fernandes Costa,m,Foz de Arouce,1890-10-02,None

Matched

Looking for Guerra Junqueiro 1850-09-17 http://www.wikidata.org/entity/Q336918
  Freixo de Espada à Cinta
Not found

Looking for José Luís Alves Feijó 1816-01-08 http://www.wikidata.org/entity/Q64697672
  Freixo de Espada à Cinta
Not found

Looking for Manuel José da Silva 1892-08-19 http://www.wikidata.org/entity/Q10324292
  Fresno
Not found

Looking for Juvenal de Araújo 1892-11-21 http://www.wikidata.org/entity/Q9016861
  Funchal
Not found

Looking for João Henriques Moniz 1790-07-16 http://www.wikidata.org/entity/Q64733523
  Funchal
Not found

Looking for Ernesto Gonçalves 1898-06-30 http://www.wikidata.org/entity/Q110736363
  Funchal
Not found

Looking for José Vicente Barbosa du Bocage 1823-05-02 http://www.wikidata.org/entity/Q1709686
  Funchal
Not found

Looking for Justino António de Freitas 1804-09-13 http://www.wikidata.org/entity/Q10313176
  Funchal
Not found

Looking for José Júlio de Bettencourt Rodrigues 1843-05-08 http://www.wikidata.org/entity/Q10309728
  Funchal
Not found

Looking for Alfredo Carneiro da Cunha 1863-12-21 http://www.wikidata.org/entity/Q16488312
  Fundão

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
208773,Alfredo Carneiro da Cunha,m,Fundão,1880-10-04,None

Matched

Looking for João Bernardo da Rocha Loureiro 1778-11-24 http://www.wikidata.org/entity/Q10311191
  Gouveia

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
283949,João Bernardo de Loureiro,m,Gouveia,1803-07-09,None

Matched

Looking for Bernardo Pinheiro Correia de Melo 1855-05-27 http://www.wikidata.org/entity/Q16497992
  Guimarães

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
174689,Bernardo Pinheiro Correia de Melo,m,Guimarães,1872-11-14,None

Matched

Looking for José da Silva Monteiro 1867-02-05 http://www.wikidata.org/entity/Q16930201
  Guimarães

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
253184,José da Silva Monteiro,m,Guimarães,1881-10-15,None

Matched

Looking for José Coelho da Mota Prego 1857-08-02 http://www.wikidata.org/entity/Q106262879
  Guimarães

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
250279,José Coelho da Mota Prego,m,Guimarães,1880-10-15,None

Matched

Looking for José Cardoso de Meneses Martins 1873-10-10 http://www.wikidata.org/entity/Q21290139
  Guimarães

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
169242,José Cardoso de Menezes Martins,m,Guimarães,1892-11-03,None

Matched

Looking for Alfredo Pimenta 1882-12-03 http://www.wikidata.org/entity/Q4723837
  Guimarães
Not found

Looking for Bernhard Tollens 1841-07-30 http://www.wikidata.org/entity/Q66830
  Hamburgo
Not found

Looking for José Prudêncio Teles 1804-08-22 http://www.wikidata.org/entity/Q63457061
  Horta
Not found

Looking for António José de Ávila Júnior 1842-11-07 http://www.wikidata.org/entity/Q16059321
  Horta
Not found

Looking for António José de Ávila 1806-03-08 http://www.wikidata.org/entity/Q611078
  Horta
Not found

Looking for Miguel José de Arriaga Brum da Silveira 1776-03-22 http://www.wikidata.org/entity/Q23771065
  Horta
Not found

Looking for Manuel Francisco Medeiros 1791-10-31 http://www.wikidata.org/entity/Q104410206
  Horta
Not found

Looking for Manuel Francisco de Medeiros 1832-04-01 http://www.wikidata.org/entity/Q10324152
  Horta
Not found

Looking for António Teles Peixoto Guterres Palhinha 1813-10-11 http://www.wikidata.org/entity/Q63981883
  Horta
Not found

Looking for José Silvestre Ribeiro 1807-12-31 http://www.wikidata.org/entity/Q10310523
  Idanha-a-Nova

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
165280,José Silvestre Ribeiro,m,Idanha-a-Nova,1823-10-14,None

Matched

Looking for Joaquim José Rodrigues Torres 1802-12-13 http://www.wikidata.org/entity/Q1791241
  Itaboraí
Not found

Looking for Augusto Alves da Veiga 1850-09-28 http://www.wikidata.org/entity/Q3558535
  Izeda
Not found

Looking for Natividade Saldanha 1796-09-08 http://www.wikidata.org/entity/Q10335749
  Jaboatão dos Guararapes
Not found

Looking for Honório Hermeto Carneiro Leão 1801-01-11 http://www.wikidata.org/entity/Q591529
  Jacuí
Not found

Looking for Filomeno da Câmara Melo Cabral 1844-07-18 http://www.wikidata.org/entity/Q10282363
  Lagoa
Not found

Looking for João António Mascarenhas Júdice 1898-10-27 http://www.wikidata.org/entity/Q10311060
  Lagoa
Not found

Looking for Eugénio Dionísio de Mascarenhas Grade 1785-03-06 http://www.wikidata.org/entity/Q96761830
  Lagoa
Not found

Looking for José António Ferreira Brak-Lamy 1781-08-18 http://www.wikidata.org/entity/Q10308782
  Lagos
Not found

Looking for Francisco Correia de Mendonça 1832-01-03 http://www.wikidata.org/entity/Q16917757
  Lagos

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
215457,Francisco de Paula de Mendonça,m,Lagos,1848-10-12,None

Matched

Looking for João Paulino de Azevedo e Castro 1852-02-04 http://www.wikidata.org/entity/Q6655947
  Lajes do Pico
Not found

Looking for Pedro Augusto Ferreira 1833-11-14 http://www.wikidata.org/entity/Q10347323
  Lamego
Not found

Looking for José de Matos Sobral Cid 1877-06-29 http://www.wikidata.org/entity/Q10310806
  Lamego

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
192904,José de Matos Sobral Cid,m,Lamego,1892-10-12,None

Matched

Looking for José António Guerreiro 1789-12-05 http://www.wikidata.org/entity/Q10308789
  Lanhelas

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
180816,José António Guerreiro,m,Lanhelas,1811-10-29,None

Matched

Looking for Dom José de Barros Alarcão 1634-11-28 http://www.wikidata.org/entity/Q64727664
  Leiria
Not found

Looking for João Lopes Soares 1878-11-17 http://www.wikidata.org/entity/Q10311741
  Leiria
Not found

Looking for João Vicente Pimentel Maldonado 1773-01-22 http://www.wikidata.org/entity/Q10312311
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
183584,João Vicente Pimentel Pereira Maldonado,m,Lisboa,1790-10-18,None

Matched

Looking for João de Santo Tomás 1589-07-09 http://www.wikidata.org/entity/Q3735496
  Lisboa
Not found

Looking for José Maria da Silva Ferrão de Carvalho Martens 1815-04-08 http://www.wikidata.org/entity/Q64737031
  Lisboa
Not found

Looking for João de Brito 1647-03-01 http://www.wikidata.org/entity/Q730029
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
188555,João Maria Xavier de Brito,m,Lisboa,1792-10-29,None

Matched

Looking for Francisco Antonio Pereira da Costa 1809-10-11 http://www.wikidata.org/entity/Q55908387
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
201332,Francisco Xavier da Silva Costa,m,Lisboa,1814-10-19,None
200949,Francisco António Pereira da Costa,m,Lisboa,1825-10-31,None
201114,Francisco Pais da Costa,m,Lisboa,1840-10-31,None

Ambiguous

Looking for Aires Jácome Correia 1882-08-09 http://www.wikidata.org/entity/Q16144891
  Lisboa
Not found

Looking for Daniel da Silva 1814-05-16 http://www.wikidata.org/entity/Q5219175
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
225940,Daniel Augusto da Silva,m,Lisboa,1836-05-25,None

Matched

Looking for José Lages Perestrelo de Vasconcelos 1881-02-17 http://www.wikidata.org/entity/Q24013847
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
210566,José Lages Perestrelo de Vasconcelos,m,Lisboa,1898-10-15,None

Matched

Looking for José Maria da Silva Leal 1812-10-08 http://www.wikidata.org/entity/Q10309991
  Lisboa
Not found

Looking for António Dinis da Cruz e Silva 1731-07-04 http://www.wikidata.org/entity/Q610816
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
225411,António de Sousa e Silva,m,Lisboa,1733-10-01,None
225091,António Lopes da Silva,m,Lisboa,1735-10-01,None
224504,António da Silva,m,Lisboa,1737-10-01,None
224883,António Francisco da Silva,m,Lisboa,1738-10-01,None
308381,António Lopes da Silva,m,Lisboa,1742-07-07,None

Ambiguous

Looking for Levy Maria Jordão 1831-01-09 http://www.wikidata.org/entity/Q94850304
  Lisboa
Not found

Looking for Francisco Veiga Beirão 1841-07-24 http://www.wikidata.org/entity/Q1392575
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
185127,Francisco António da Veiga Beirão,m,Lisboa,1857-10-05,None

Matched

Looking for Manuel do Cenáculo 1724-03-01 http://www.wikidata.org/entity/Q4902673
  Lisboa
Not found

Looking for Diogo Inácio de Pina Manique 1733-10-03 http://www.wikidata.org/entity/Q3028686
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
243328,Diogo Inácio de Pina Manique,m,Lisboa,1752-10-01,None
243330,Diogo Inácio de Pina Manique,m,Lisboa,1856-10-25,None

Matched

Looking for António Dinis da Cruz e Silva 1731-07-04 http://www.wikidata.org/entity/Q610816
  Lisboa

/var/folders/55/l_7x10kn4hgf9t4mtrwdvmf00000gn/T/ipykernel_72085/4256700154.py:51: UserWarning: Possible duplicates: 243328, 243330
  warnings.warn("Possible duplicates: "+", ".join(hit.index.values))

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
225411,António de Sousa e Silva,m,Lisboa,1733-10-01,None
225091,António Lopes da Silva,m,Lisboa,1735-10-01,None
224504,António da Silva,m,Lisboa,1737-10-01,None
224883,António Francisco da Silva,m,Lisboa,1738-10-01,None
308381,António Lopes da Silva,m,Lisboa,1742-07-07,None

Ambiguous

Looking for Almiro Maia de Loureiro 1897-09-21 http://www.wikidata.org/entity/Q23777977
  Lisboa
Not found

Looking for José da Cunha Castello Branco Saraiva 1848-04-18 http://www.wikidata.org/entity/Q105760402
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
221026,José da Cunha Castelo Branco Saraiva,m,Lisboa,1868-10-12,None

Matched

Looking for Júlio de Castilho 1840-04-30 http://www.wikidata.org/entity/Q10313493
  Lisboa
Not found

Looking for Pedro António Correia Garção 1724-04-29 http://www.wikidata.org/entity/Q1515561
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
177304,Pedro António Joaquim Correia Garção,m,Lisboa,1742-10-01,None

Matched

Looking for Luís Augusto Rebelo da Silva 1822-04-02 http://www.wikidata.org/entity/Q10321293
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
228586,Luís Augusto Rebelo da Silva,m,Lisboa,1840-10-31,None

Matched

Looking for Francisco de Saldanha da Gama 1723-05-20 http://www.wikidata.org/entity/Q932758
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
177009,Francisco Tomás da Gama,m,Lisboa,1728-10-01,None
176996,Francisco José Dias da Gama,m,Lisboa,1755-10-01,None

Ambiguous

Looking for António Xavier de Sousa Monteiro 1829-11-03 http://www.wikidata.org/entity/Q9620285
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
252018,António Xavier de Sousa Monteiro,m,Lisboa,1850-10-28,None

Matched

Looking for António Feliciano de Castilho 1800-01-28 http://www.wikidata.org/entity/Q2624029
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
190014,António Feliciano de Castilho,m,Lisboa,1817-10-29,None
190024,António Frederico de Castilho,m,Lisboa,1817-10-29,None

Matched

Looking for Raul Leal 1886-09-01 http://www.wikidata.org/entity/Q1762312
  Lisboa
Not found

Looking for Tomás de Almeida 1670-10-05 http://www.wikidata.org/entity/Q2518410
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
144226,Tomás de Almeida,m,Lisboa,1724-03-25,None
144219,Tomás de Almeida,m,Lisboa,1778-11-16,None
144239,Tomás José de Miranda e Almeida,m,Lisboa,1779-10-01,None

Matched

Looking for D. Luís da Cunha 1662-01-25 http://www.wikidata.org/entity/Q501859
  Lisboa

/var/folders/55/l_7x10kn4hgf9t4mtrwdvmf00000gn/T/ipykernel_72085/4256700154.py:51: UserWarning: Possible duplicates: 144226, 144219
  warnings.warn("Possible duplicates: "+", ".join(hit.index.values))

Not found

Looking for Manuel Bernardes 1644-08-20 http://www.wikidata.org/entity/Q687473
  Lisboa

                    name sex naturalidade naturalidade.date naturalidade.obs
id
185507  Manuel Bernardes   m       Lisboa        1661-10-03             None

Matched

Looking for Levy Maria Jordão 1831-01-09 http://www.wikidata.org/entity/Q94850304
  Lisboa
Not found

Looking for Alexandre de Gamboa Loureiro 1770-08-26 http://www.wikidata.org/entity/Q96749053
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
253931,Alexandre de Gamboa Loureiro,m,Lisboa,1785-10-20,None

Matched

Looking for António Feliciano de Castilho 1800-01-28 http://www.wikidata.org/entity/Q2624029
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
190014,António Feliciano de Castilho,m,Lisboa,1817-10-29,None
190024,António Frederico de Castilho,m,Lisboa,1817-10-29,None

Matched

Looking for Tomás de Sousa e Holstein Beck 1839-12-31 http://www.wikidata.org/entity/Q10383143
  Lisboa
Not found

Looking for João Henrique Enes Ulrich 1880-03-02 http://www.wikidata.org/entity/Q10311603
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
196461,João Henrique Ulrich,m,Lisboa,1897-10-15,None

Matched

Looking for José Jorge Loureiro 1791-04-23 http://www.wikidata.org/entity/Q558561
  Lisboa
Not found

Looking for Manuel do Cenáculo 1724-03-01 http://www.wikidata.org/entity/Q4902673
  Lisboa
Not found

Looking for Carlos Orta Lobo d'Ávila 1860-03-17 http://www.wikidata.org/entity/Q9697267
  Lisboa
Not found

Looking for António Maria da Silva 1872-05-26 http://www.wikidata.org/entity/Q611175
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
225049,António José Araújo da Costa Correia da Silva,m,Lisboa,1906-10-16,None
308419,António Teles da Silva,m,Lisboa,1913-07-25,None

Ambiguous

Looking for Pedro António Correia Garção 1724-04-29 http://www.wikidata.org/entity/Q1515561
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
177304,Pedro António Joaquim Correia Garção,m,Lisboa,1742-10-01,None

Matched

Looking for Anselmo José Braamcamp 1817-10-23 http://www.wikidata.org/entity/Q321278
  Lisboa
Not found

Looking for Manuel Bernardes 1644-08-20 http://www.wikidata.org/entity/Q687473
  Lisboa

                    name sex naturalidade naturalidade.date naturalidade.obs
id
185507  Manuel Bernardes   m       Lisboa        1661-10-03             None

Matched

Looking for Inácio Barbosa Machado 1686-11-23 http://www.wikidata.org/entity/Q5993064
  Lisboa
Not found

Looking for Francisco de Almada e Mendonça 1757-02-28 http://www.wikidata.org/entity/Q10285297
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
215450,Francisco da Mota Furtado de Mendonça,m,Lisboa,1760-10-01,None
215481,Francisco Victo de Mendonça,m,Lisboa,1769-10-01,None
215362,Francisco Furtado de Mendonça,m,Lisboa,1784-10-19,None
215484,Francisco Xavier de Mendonça,m,Lisboa,1788-00-00,None
215439,Francisco Manuel Berardo de Melo Castro e Mend...,m,Lisboa,1790-10-29,None

Ambiguous

Looking for Filipe de Sousa e Holstein 1841-12-26 http://www.wikidata.org/entity/Q10282299
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
190218,Filipe de Sousa Holstein,m,Lisboa,1856-10-23,None

Matched

Looking for Fernando de Sousa e Silva 1712-11-27 http://www.wikidata.org/entity/Q1397410
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
226251,Fernando Diogo de Sousa e Silva,m,Lisboa,1731-10-01,None
226246,Fernando António de Lima Teles da Silva,m,Lisboa,1747-10-01,None
226247,Fernando António da Mota e Silva,m,Lisboa,1774-10-01,None
226288,Fernando José Xavier de Lima Teles da Silva,m,Lisboa,1775-10-00,None
308627,Fernando José Xavier de Lima Teles da Silva,m,Lisboa,1778-05-15,None

Ambiguous

Looking for António Maria Vasco de Melo Silva César e Meneses 1851-11-13 http://www.wikidata.org/entity/Q9619744
  Lisboa
Not found

Looking for Alberto Monsaraz 1889-02-28 http://www.wikidata.org/entity/Q2275881
  Lisboa

                    name sex naturalidade naturalidade.date naturalidade.obs
id
250889  Alberto Monsaraz   m       Lisboa        1906-10-01             None

Matched

Looking for Luís de Sousa e Holstein 1868-02-08 http://www.wikidata.org/entity/Q10321782
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
190222,Luís de Sousa Holstein,m,Lisboa,1885-10-15,None

Matched

Looking for Nuno da Cunha e Ataíde 1664-12-08 http://www.wikidata.org/entity/Q3346439
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
148662,Nuno da Cunha de Ataíde,m,Lisboa,1684-10-01,None

Matched

Looking for José Eugénio Dias Ferreira 1882-11-13 http://www.wikidata.org/entity/Q10309346
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
246884,José Maria Ferreira,m,Lisboa,1885-10-06,None
246787,José Eugénio Dias Ferreira,m,Lisboa,1898-10-03,None
246780,José Dias Ferreira,m,Lisboa,1908-10-02,None

Matched

Looking for Lourenço António de Carvalho 1837-02-27 http://www.wikidata.org/entity/Q110910878
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
157146,Lourenço António de Carvalho,m,Lisboa,1852-10-15,None
157147,Lourenço António do Casal Ribeiro de Carvalho,m,Lisboa,1899-10-03,None

Matched

Looking for Pedro José Constâncio 1781-11-03 http://www.wikidata.org/entity/Q15631832
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
195967,Pedro José Constâncio,m,Lisboa,1798-11-12,None

Matched

Looking for Q20980122 1587-09-26 http://www.wikidata.org/entity/Q20980122
  Lisboa
Not found

Looking for José Maria Baldy 1800-05-16 http://www.wikidata.org/entity/Q96337414
  Lisboa
Not found

Looking for José Maria Pereira Forjaz de Sampaio 1858-07-25 http://www.wikidata.org/entity/Q21290141
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
160401,José Maria Pereira Forjaz de Sampaio,m,Lisboa,1878-10-09,None
215278,José Maria Rangel de Sampaio,m,Lisboa,1906-10-02,None

Matched

Looking for Nuno da Cunha e Ataíde 1664-12-08 http://www.wikidata.org/entity/Q3346439
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
148662,Nuno da Cunha de Ataíde,m,Lisboa,1684-10-01,None

Matched

Looking for António da Costa 1824-11-24 http://www.wikidata.org/entity/Q9620291
  Lisboa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
199620,António Miguel da Câmara Vasconcelos Horta e C...,m,Lisboa,1909-10-02,None

Matched

Looking for José Alberto de Oliveira Anchieta 1832-10-09 http://www.wikidata.org/entity/Q10308727
  Lisboa
Not found

Looking for Antônio Paulino Limpo de Abreu 1798-09-22 http://www.wikidata.org/entity/Q1789311
  Lisboa
Not found

Looking for Sebastião José de Carvalho e Melo, marquês de Pombal 1699-05-13 http://www.wikidata.org/entity/Q319511
  Lisboa
Not found

Looking for Pedro Vítor da Costa Sequeira 1845-04-06 http://www.wikidata.org/entity/Q55863605
  Lisboa
Not found

Looking for José Francisco de Azevedo e Silva 1858-11-25 http://www.wikidata.org/entity/Q10309450
  Loulé
Not found

Looking for Marçal de Azevedo Pacheco 1847-11-08 http://www.wikidata.org/entity/Q10327056
  Loulé

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
220490,Marçal de Azevedo Pacheco,m,Loulé,1867-10-03,None

Matched

Looking for Félix de Avelar Brotero 1744-11-25 http://www.wikidata.org/entity/Q1032088
  Loures
Not found

Looking for Manuel Gonçalves Cerejeira 1888-11-29 http://www.wikidata.org/entity/Q966168
  Lousado
Not found

Looking for António de Sousa Horta Sarmento Osório 1882-08-14 http://www.wikidata.org/entity/Q24302446
  Lousã

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
176692,António de Sousa Horta Sarmento Osório,m,Lousã,1898-10-03,None

Matched

Looking for Vicente Ferrer Neto de Paiva 1798-06-27 http://www.wikidata.org/entity/Q10390244
  Lousã
Not found

Looking for Victor Hugo de Azevedo Coutinho 1871-11-12 http://www.wikidata.org/entity/Q719020
  Macau
Not found

Looking for José Augusto Ferreira Veiga 1838-11-22 http://www.wikidata.org/entity/Q6291629
  Macau
Not found

Looking for Manuel Alves Branco 1797-06-07 http://www.wikidata.org/entity/Q3286741
  Maragogipe
Not found

Looking for Adriano António Canavarro Crispiniano da Fonseca 1884-11-08 http://www.wikidata.org/entity/Q16144296
  Marco de Canaveses
Not found

Looking for Cláudio Manuel da Costa 1729-06-05 http://www.wikidata.org/entity/Q1789904
  Mariana
Not found

Looking for Joaquim Taibner de Morais 1840-08-10 http://www.wikidata.org/entity/Q10307419
  Marinha Grande

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
251261,Joaquim Taibener de Morais,m,Marinha Grande,1856-10-16,None

Matched

Looking for José Custódio de Morais 1890-03-09 http://www.wikidata.org/entity/Q47318408
  Marinha Grande

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
251292,José Custódio Morais,m,Marinha Grande,1908-10-08,None

Matched

Looking for Luís Maria Lopes da Fonseca 1883-03-01 http://www.wikidata.org/entity/Q10321541
  Mata de Lobos

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
156621,Luís Maria Lopes da Fonseca,m,Mata de Lobos,1905-10-03,None

Matched

Looking for Toríbio de Mongrovejo 1538-11-26 http://www.wikidata.org/entity/Q467993
  Mayorga
Not found

Looking for Aureliano de Mira Fernandes 1884-06-16 http://www.wikidata.org/entity/Q9638198
  Mina de São Domingos
Not found

Looking for Tomás António Gonzaga 1744-08-11 http://www.wikidata.org/entity/Q1334602
  Miragaia
Not found

Looking for Manuel António de Carvalho 1785-05-31 http://www.wikidata.org/entity/Q10323948
  Mirandela

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
157937,Manuel António de Carvalho,m,Mirandela,1807-10-30,None

Matched

Looking for José Joaquim Rodrigues de Bastos 1777-11-08 http://www.wikidata.org/entity/Q21483097
  Moitedo
Not found

Looking for Francisco de Paula Vieira da Silva Tovar 1774-02-08 http://www.wikidata.org/entity/Q5484166
  Molelos

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
205153,Francisco de Paula Vieira de Albuquerque e Tovar,m,Molelos,1786-10-00,None

Matched

Looking for António Sardinha 1888-09-09 http://www.wikidata.org/entity/Q461148
  Monforte
Not found

Looking for António Sardinha 1888-09-09 http://www.wikidata.org/entity/Q461148
  Monforte
Not found

Looking for Fernando Martins de Mascarenhas 1548-01-30 http://www.wikidata.org/entity/Q10281435
  Montemor-o-Novo
Not found

Looking for Joaquim Pimenta de Castro 1846-11-05 http://www.wikidata.org/entity/Q305493
  Monção
Not found

Looking for Manuel Pires de Azevedo Loureiro 1777-03-15 http://www.wikidata.org/entity/Q10324445
  Moreira
Not found

Looking for Joaquim Teotônio Segurado 1775-02-25 http://www.wikidata.org/entity/Q10307427
  Moura
Not found

Looking for Inácio do Nascimento Morais Cardoso 1811-12-20 http://www.wikidata.org/entity/Q928876
  Murça
Not found

Looking for José Pinto Loureiro 1885-08-30 http://www.wikidata.org/entity/Q19607903
  Nelas

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
254068,José Pinto Loureiro,m,Nelas,1909-10-02,None

Matched

Looking for Joaquim Mendes dos Remédios 1867-09-21 http://www.wikidata.org/entity/Q10307317
  Nisa

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
137672,Joaquim Mendes dos Remédios,m,Nisa,1888-10-15,None

Matched

Looking for Cândido José de Araújo Viana 1793-09-15 http://www.wikidata.org/entity/Q5202392
  Nova Lima
Not found

Looking for António Luís de Seabra 1798-12-02 http://www.wikidata.org/entity/Q16491932
  Oceano Atlântico
Not found

Looking for João Maria Pereira de Amaral e Pimentel 1815-07-21 http://www.wikidata.org/entity/Q10311841
  Oleiros

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
242441,João Pereira Botelho de Amaral e Pimentel,m,Oleiros,1843-10-04,None

Matched

Looking for Albino dos Reis 1888-09-30 http://www.wikidata.org/entity/Q9594728
  Oliveira de Azeméis
Not found

Looking for Caetano da Anunciação Brandão 1740-09-11 http://www.wikidata.org/entity/Q13408257
  Oliveira de Azeméis
Not found

Looking for José Luciano de Castro 1834-12-14 http://www.wikidata.org/entity/Q321218
  Oliveirinha
Not found

Looking for Antonio Cordeses 1518-08-09 http://www.wikidata.org/entity/Q27786526
  Olot
Not found

Looking for Manuel da Cruz 1690-02-05 http://www.wikidata.org/entity/Q10324571
  Ordem
Not found

Looking for Bernardo Pereira de Vasconcelos 1795-08-27 http://www.wikidata.org/entity/Q12082349
  Ouro Preto
Not found

Looking for José da Fonseca Abreu Castelo Branco 1829-10-11 http://www.wikidata.org/entity/Q96257638
  Pala

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
189762,José da Fonseca Abreu Castelo Branco,m,Pala,1845-10-13,None

Matched

Looking for Tomás Ribeiro 1831-07-01 http://www.wikidata.org/entity/Q1721732
  Parada de Gonta
Not found

Looking for Francisco de Borja Pedro Maria António de Sousa Holstein 1838-04-20 http://www.wikidata.org/entity/Q10285342
  Paris

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
190225,Francisco de Sousa e Holstein,m,Paris,1852-10-13,None

Matched

Looking for Januário Correia de Almeida 1829-03-31 http://www.wikidata.org/entity/Q10305313
  Paço de Arcos
Not found

Looking for José Jacinto Nunes 1839-10-25 http://www.wikidata.org/entity/Q10309630
  Pedrógão Grande
Not found

Looking for António José de Almeida 1866-07-17 http://www.wikidata.org/entity/Q551542
  Penacova
Not found

Looking for António José de Almeida 1866-07-27 http://www.wikidata.org/entity/Q551542
  Penacova
Not found

Looking for António de Gouveia Osório 1825-07-25 http://www.wikidata.org/entity/Q9620470
  Penalva do Castelo
Not found

Looking for João de Lemos 1819-05-06 http://www.wikidata.org/entity/Q6298461
  Peso da Régua
Not found

Looking for José do Canto 1820-12-20 http://www.wikidata.org/entity/Q10310867
  Ponta Delgada

                 name sex   naturalidade naturalidade.date naturalidade.obs
id
132361  José do Canto   m  Ponta Delgada        1841-10-09             None

Matched

Looking for José Maria Raposo do Amaral 1826-09-26 http://www.wikidata.org/entity/Q10309973
  Ponta Delgada
Not found

Looking for Francisco Caupers Machado de Faria e Maia 1841-05-24 http://www.wikidata.org/entity/Q10284691
  Ponta Delgada

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
284806,Francisco Machado de Faria e Maia,m,Ponta Delgada,1861-06-13,None

Matched

Looking for Bernardo do Canto Machado de Faria e Maia 1797-06-21 http://www.wikidata.org/entity/Q9655523
  Ponta Delgada
Not found

Looking for Eugénio do Canto 1836-10-17 http://www.wikidata.org/entity/Q87477495
  Ponta Delgada

                    name sex   naturalidade naturalidade.date naturalidade.obs
id
132025  Eugénio do Canto   m  Ponta Delgada        1854-07-11             None

Matched

Looking for Ernesto do Canto 1831-12-12 http://www.wikidata.org/entity/Q10274102
  Ponta Delgada
Not found

Looking for João Hickling Anglin 1894-04-17 http://www.wikidata.org/entity/Q87487398
  Ponta Delgada
Not found

Looking for Eugénio Vaz Pacheco do Canto e Castro 1863-11-08 http://www.wikidata.org/entity/Q10278167
  Ponta Delgada

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
132517,Eugénio Vaz Pacheco do Canto e Castro,m,Ponta Delgada,1884-06-14,None

Matched

Looking for Luís Bettencourt de Medeiros e Câmara 1873-02-21 http://www.wikidata.org/entity/Q10321315
  Ponta Delgada
Not found

Looking for Augusto Caupers Machado de Faria e Maia 1831-09-21 http://www.wikidata.org/entity/Q16495179
  Ponta Delgada

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
183299,Augusto Machado de Faria Maia,m,Ponta Delgada,1847-10-23,None

Matched

Looking for Antero de Quental 1842-04-18 http://www.wikidata.org/entity/Q467494
  Ponta Delgada
Not found

Looking for Norton de Matos 1867-03-23 http://www.wikidata.org/entity/Q177745
  Ponte de Lima
Not found

Looking for Francisco de São Luís Saraiva 1766-01-26 http://www.wikidata.org/entity/Q661150
  Ponte de Lima
Not found

Looking for António Feijó 1859-06-01 http://www.wikidata.org/entity/Q610837
  Ponte de Lima

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
247098,António de Castro Feijó,m,Ponte de Lima,1877-10-15,None
247101,António Joaquim de Castro Feijó,m,Ponte de Lima,1878-10-15,None

Ambiguous

Looking for Francisco José da Costa e Amaral 1798-08-14 http://www.wikidata.org/entity/Q10284873
  Portalegre

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
145473,Francisco José da Costa e Amaral,m,Portalegre,1816-10-18,None

Matched

Looking for Filipe Folque 1800-11-28 http://www.wikidata.org/entity/Q17280326
  Portalegre

                 name sex naturalidade naturalidade.date naturalidade.obs
id
139332  Filipe Folque   m   Portalegre        1822-06-06             None

Matched

Looking for Augusto Maria da Fonseca Coutinho 1857-11-17 http://www.wikidata.org/entity/Q9637776
  Portalegre

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
205553,Augusto Maria da Fonseca Coutinho,m,Portalegre,1873-10-02,None

Matched

Looking for Augusto Eduardo Nunes 1849-05-31 http://www.wikidata.org/entity/Q9637622
  Portalegre

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
172815,Augusto Eduardo Nunes,m,Portalegre,1874-10-13,None

Matched

Looking for José Adriano Pequito Rebelo 1892-05-21 http://www.wikidata.org/entity/Q3186139
  Portalegre
Not found

Looking for António Mendo Caldeira de Castel-Branco Cota Falcão 1848-10-09 http://www.wikidata.org/entity/Q16492080
  Portalegre
Not found

Looking for Manuel Teixeira Gomes 1860-05-27 http://www.wikidata.org/entity/Q878532
  Portimão
Not found

Looking for António Aires de Gouveia 1828-09-13 http://www.wikidata.org/entity/Q60467443
  Porto

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
282433,António Aires de Gouveia,m,Porto,1853-05-24,None

Matched

Looking for Antonio da Costa Paiva 1806-10-12 http://www.wikidata.org/entity/Q21522539
  Porto
Not found

Looking for Duarte Leite 1864-08-11 http://www.wikidata.org/entity/Q1261617
  Porto
Not found

Looking for Armando Marques Guedes 1886-12-08 http://www.wikidata.org/entity/Q23969981
  Porto

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
180482,Armando Marques Guedes,m,Porto,1906-10-02,None

Matched

Looking for Gonçalo Pereira da Silva de Sousa e Meneses 1851-12-28 http://www.wikidata.org/entity/Q85420795
  Porto
Not found

Looking for Artur Alberto de Campos Henriques 1853-04-28 http://www.wikidata.org/entity/Q320981
  Porto

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
187608,Artur Alberto de Campos Henriques,m,Porto,1870-10-03,None

Matched

Looking for Soares de Passos 1826-11-27 http://www.wikidata.org/entity/Q2296345
  Porto
Not found

Looking for Almeida Garrett 1799-02-04 http://www.wikidata.org/entity/Q316806
  Porto
Not found

Looking for António Luís Gomes 1863-09-23 http://www.wikidata.org/entity/Q8677139
  Porto
Not found

Looking for Licínio Pinto Leite 1844-06-10 http://www.wikidata.org/entity/Q25439209
  Porto

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
211145,Licínio Pinto Leite,m,Porto,1874-07-08,None

Matched

Looking for José Ferreira Borges 1786-06-08 http://www.wikidata.org/entity/Q7588155
  Porto

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
186265,José Ferreira Borges,m,Porto,1801-10-14,None
131212,José Ferreira Borges,m,Porto,1801-10-14,None

Matched

Looking for António de Sousa de Macedo 1606-12-15 http://www.wikidata.org/entity/Q8202081
  Porto

/var/folders/55/l_7x10kn4hgf9t4mtrwdvmf00000gn/T/ipykernel_72085/4256700154.py:51: UserWarning: Possible duplicates: 186265, 131212
  warnings.warn("Possible duplicates: "+", ".join(hit.index.values))

Not found

Looking for António Pereira Nobre 1867-08-16 http://www.wikidata.org/entity/Q611238
  Porto

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
170404,António Pereira Nobre,m,Porto,1888-10-02,None
170396,António Nobre,m,Porto,1889-10-15,None

Matched

Looking for Cristiano de Sousa 1862-03-13 http://www.wikidata.org/entity/Q106419707
  Porto
Not found

Looking for Raul Mesnier 1849-04-02 http://www.wikidata.org/entity/Q3057590
  Porto
Not found

Looking for José Joaquim de Almeida de Moura Coutinho 1801-03-05 http://www.wikidata.org/entity/Q10309684
  Porto

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
206021,José de Alvo Brandão Pinto de Sousa Coutinho,m,Porto,1820-10-17,None
294057,José Joaquim de Almeida e Moura Coutinho,m,Porto,1821-10-23,None

Ambiguous

Looking for Venceslau de Lima 1858-11-15 http://www.wikidata.org/entity/Q1392611
  Porto
Not found

Looking for Cristiano de Sousa 1862-03-13 http://www.wikidata.org/entity/Q106419707
  Porto
Not found

Looking for Guilherme Braga 1845-03-22 http://www.wikidata.org/entity/Q1553827
  Porto

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
187254,Guilherme Augusto Fernandes Braga,m,Porto,1857-10-14,None

Matched

Looking for Almeida Garrett 1799-02-04 http://www.wikidata.org/entity/Q316806
  Porto
Not found

Looking for Alexandre Braga, pai 1829-03-14 http://www.wikidata.org/entity/Q16488032
  Porto
Not found

Looking for José Maria Pacheco de Aguiar 1803-12-08 http://www.wikidata.org/entity/Q10309965
  Porto Judeu
Not found

Looking for Pedro Paulo de Figueiredo da Cunha e Melo 1770-06-18 http://www.wikidata.org/entity/Q660778
  Portugal
Not found

Looking for João Franco 1855-02-14 http://www.wikidata.org/entity/Q1344985
  Portugal
Not found

Looking for António Mendes Bello 1842-06-18 http://www.wikidata.org/entity/Q611205
  Portugal
Not found

Looking for João da Mota e Silva 1685-08-14 http://www.wikidata.org/entity/Q1772318
  Portugal
Not found

Looking for José Machado Serpa 1864-03-09 http://www.wikidata.org/entity/Q10309855
  Prainha
Not found

Looking for Gonçalo Sampaio 1865-03-29 http://www.wikidata.org/entity/Q459037
  Póvoa de Lanhoso
Not found

Looking for Manuel da Terra Pereira Viana 1856-01-18 http://www.wikidata.org/entity/Q17318274
  Q22064929
Not found

Looking for João Carlos de Sá Alves 1895-11-04 http://www.wikidata.org/entity/Q10311305
  Rebordãos
Not found

Looking for Luiz de Andrade 1849-11-20 http://www.wikidata.org/entity/Q42306335
  Recife
Not found

Looking for Nuno Eugénio Lóssio e Seiblitz 1782-10-01 http://www.wikidata.org/entity/Q10338177
  Recife
Not found

Looking for António de Macedo Papança 1852-07-18 http://www.wikidata.org/entity/Q16144048
  Reguengos de Monsaraz
Not found

Looking for José Teixeira de Queirós de Almeida de Morais Sarmento 1816-08-04 http://www.wikidata.org/entity/Q23771087
  Reino de Portugal
Not found

Looking for Luís Ferreira de Figueiredo 1847-05-05 http://www.wikidata.org/entity/Q10321427
  Reino de Portugal
Not found

Looking for António Borges Coutinho de Medeiros de Sousa Dias da Câmara 1871-01-19 http://www.wikidata.org/entity/Q9618745
  Reino de Portugal
Not found

Looking for Félix de Avelar Brotero 1744-11-25 http://www.wikidata.org/entity/Q1032088
  Reino de Portugal
Not found

Looking for Manuel Borges Carneiro 1774-11-02 http://www.wikidata.org/entity/Q10324018
  Resende

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
139641,Manuel Borges Carneiro,m,Resende,1791-10-19,None

Matched

Looking for Antônio Rodrigues de Aguiar 1768-03-21 http://www.wikidata.org/entity/Q37922670
  Rio de Janeiro
Not found

Looking for José Joaquim da Cunha Azeredo Coutinho 1742-09-08 http://www.wikidata.org/entity/Q4290353
  Rio de Janeiro
Not found

Looking for Joaquim Maria Mascarenhas Castelo Branco 1753-06-15 http://www.wikidata.org/entity/Q64734493
  Rio de Janeiro
Not found

Looking for José Joaquim Justiniano Mascarenhas Castelo Branco 1731-08-23 http://www.wikidata.org/entity/Q64734418
  Rio de Janeiro
Not found

Looking for Sousa Caldas 1762-11-24 http://www.wikidata.org/entity/Q456789
  Rio de Janeiro
Not found

Looking for Domingos Caldas Barbosa 1738-08-04 http://www.wikidata.org/entity/Q1960658
  Rio de Janeiro
Not found

Looking for Domingos Caldas Barbosa 1738-08-04 http://www.wikidata.org/entity/Q1960658
  Rio de Janeiro
Not found

Looking for José Joaquim Justiniano Mascarenhas Castelo Branco 1731-08-23 http://www.wikidata.org/entity/Q64734418
  Rio de Janeiro
Not found

Looking for António Cândido Gonçalves Crespo 1846-03-11 http://www.wikidata.org/entity/Q1960536
  Rio de Janeiro
Not found

Looking for António Cândido Gonçalves Crespo 1846-03-11 http://www.wikidata.org/entity/Q1960536
  Rio de Janeiro
Not found

Looking for António José da Silva 1705-05-08 http://www.wikidata.org/entity/Q611037
  Rio de Janeiro

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
225029,António José da Silva,m,Rio de Janeiro,1722-10-01,None

Matched

Looking for Frei José da Costa Azevedo 1763-09-16 http://www.wikidata.org/entity/Q56702597
  Rio de Janeiro
Not found

Looking for João Crisóstomo Melício 1836-12-28 http://www.wikidata.org/entity/Q10311373
  Rio de Janeiro
Not found

Looking for José Luís de Vasconcelos e Sousa 1740-07-09 http://www.wikidata.org/entity/Q107328945
  Rio de Janeiro
Not found

Looking for António José da Silva 1705-05-08 http://www.wikidata.org/entity/Q611037
  Rio de Janeiro

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
225029,António José da Silva,m,Rio de Janeiro,1722-10-01,None

Matched

Looking for Sousa Caldas 1762-11-24 http://www.wikidata.org/entity/Q456789
  Rio de Janeiro
Not found

Looking for Bernardino Machado 1851-03-28 http://www.wikidata.org/entity/Q455317
  Rio de Janeiro
Not found

Looking for Alexandre Rodrigues Ferreira 1756-04-27 http://www.wikidata.org/entity/Q188916
  Salvador
Not found

Looking for Domingos Borges de Barros 1780-10-10 http://www.wikidata.org/entity/Q10268035
  Salvador
Not found

Looking for Cipriano Barata 1762-09-26 http://www.wikidata.org/entity/Q5121310
  Salvador
Not found

Looking for Tomás da Encarnação da Costa e Lima 1723-06-25 http://www.wikidata.org/entity/Q64736124
  Salvador
Not found

Looking for Antônio Luís Pereira da Cunha 1760-04-06 http://www.wikidata.org/entity/Q16491930
  Salvador
Not found

Looking for Gregório de Matos 1636-12-23 http://www.wikidata.org/entity/Q983565
  Salvador
Not found

Looking for José Joaquim Carneiro de Campos 1768-03-04 http://www.wikidata.org/entity/Q10309643
  Salvador
Not found

Looking for José de Anchieta 1534-03-19 http://www.wikidata.org/entity/Q317126
  San Cristóbal de La Laguna
Not found

Looking for José de Anchieta 1534-03-29 http://www.wikidata.org/entity/Q317126
  San Cristóbal de La Laguna
Not found

Looking for Mário Pais de Sousa 1891-02-22 http://www.wikidata.org/entity/Q16930267
  Santa Comba Dão
Not found

Looking for Manuel de Serpa Machado 1784-12-04 http://www.wikidata.org/entity/Q10324678
  Santa Comba Dão
Not found

Looking for José Maria de Sousa Horta e Costa 1858-10-20 http://www.wikidata.org/entity/Q6293114
  Santa Comba Dão

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
202661,José Maria de Sousa Horta e Costa,m,Santa Comba Dão,1875-10-02,None

Matched

Looking for José da Silva Carvalho 1782-12-19 http://www.wikidata.org/entity/Q3808775
  Santa Comba Dão
Not found

Looking for Francisco de Mendonça Pacheco de Melo 1857-04-27 http://www.wikidata.org/entity/Q10285375
  Santa Cruz da Graciosa
Not found

Looking for Francisco Trigoso 1777-09-17 http://www.wikidata.org/entity/Q10285184
  Santa Engrácia
Not found

Looking for Manuel Augusto Martins 1867-04-10 http://www.wikidata.org/entity/Q61755108
  Santa Maria Maior
Not found

Looking for Guilherme Moreira 1861-03-21 http://www.wikidata.org/entity/Q10292816
  Santa Maria da Feira
Not found

Looking for José Vitorino Damásio 1807-11-02 http://www.wikidata.org/entity/Q10310647
  Santa Maria da Feira
Not found

Looking for Hermenegildo Augusto de Faria Blanc 1811-09-23 http://www.wikidata.org/entity/Q10295132
  Santa Maria da Feira
Not found

Looking for Henrique de Carvalho Nunes da Silva Anacoreta 1871-11-12 http://www.wikidata.org/entity/Q28890065
  Santarém

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
145841,Henrique Nunes da Silva Anacoreta,m,Santarém,1886-10-15,None

Matched

Looking for Afonso Mendes 1579-06-28 http://www.wikidata.org/entity/Q4689383
  Santo Aleixo da Restauração
Not found

Looking for Augusto César Pires de Lima 1883-08-29 http://www.wikidata.org/entity/Q16495188
  Santo Tirso
Not found

Looking for Antônio Carlos Ribeiro de Andrada Machado e Silva 1773-11-01 http://www.wikidata.org/entity/Q742361
  Santos
Not found

Looking for José Bonifácio de Andrada e Silva 1763-06-13 http://www.wikidata.org/entity/Q379631
  Santos
Not found

Looking for Martim Francisco Ribeiro de Andrada 1775-04-09 http://www.wikidata.org/entity/Q3295296
  Santos
Not found

Looking for Bartolomeu de Gusmão 1685-12-18 http://www.wikidata.org/entity/Q709516
  Santos
Not found

Looking for Bartolomeu de Gusmão 1685-12-18 http://www.wikidata.org/entity/Q709516
  Santos
Not found

Looking for Giovanni Antonio Grassi 1775-09-10 http://www.wikidata.org/entity/Q5563677
  Schilpario
Not found

Looking for Giovanni Antonio Grassi 1775-09-10 http://www.wikidata.org/entity/Q5563677
  Schilpario
Not found

Looking for Giovanni Antonio Grassi 1775-09-10 http://www.wikidata.org/entity/Q5563677
  Schilpario
Not found

Looking for Afonso Costa 1871-03-06 http://www.wikidata.org/entity/Q383401
  Seia

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
198981,Afonso Augusto da Costa,m,Seia,1887-10-03,None

Matched

Looking for Q7442698 1842-12-17 http://www.wikidata.org/entity/Q7442698
  Seia
Not found

Looking for António de Abranches Ferrão 1883-08-25 http://www.wikidata.org/entity/Q16491055
  Seia

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
248135,António de Abranches Ferrão,m,Seia,1902-10-04,None

Matched

Looking for António Ribeiro Saraiva 1800-06-10 http://www.wikidata.org/entity/Q16492304
  Sernancelhe

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
220851,António Ribeiro Saraiva,m,Sernancelhe,1816-11-09,None

Matched

Looking for José Luís Soares de Barbosa 1728-09-29 http://www.wikidata.org/entity/Q105235831
  Setúbal

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
150836,José Luís Soares Barbosa,m,Setúbal,1744-10-01,None

Matched

Looking for José Diogo de Mascarenhas Neto 1752-02-18 http://www.wikidata.org/entity/Q17318247
  Silves

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
168978,José Diogo Mascarenhas Neto,m,Silves,1772-00-00,None

Matched

Looking for Pedro de Araújo Lima 1793-12-22 http://www.wikidata.org/entity/Q1797348
  Sirinhaém
Not found

Looking for José Marnoco e Sousa 1869-08-29 http://www.wikidata.org/entity/Q17280347
  Sousela

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
184276,José Ferreira Marnôco e Sousa,m,Sousela,1890-10-14,None
311352,José Ferreira Marnoca e Sousa,m,Sousela,1893-06-21,None

Ambiguous

Looking for Adolfo Ferreira Loureiro 1836-12-12 http://www.wikidata.org/entity/Q19607365
  São Bartolomeu
Not found

Looking for João de Deus 1830-03-08 http://www.wikidata.org/entity/Q1710223
  São Bartolomeu de Messines
Not found

Looking for João de Deus 1830-03-08 http://www.wikidata.org/entity/Q1710223
  São Bartolomeu de Messines
Not found

Looking for Cristóvão Alão de Morais 1632-05-13 http://www.wikidata.org/entity/Q10261723
  São João da Madeira
Not found

Looking for Francisco José de Lacerda e Almeida 1753-08-22 http://www.wikidata.org/entity/Q10284884
  São Paulo
Not found

Looking for Diogo de Mendonça Corte-Real 1658-07-17 http://www.wikidata.org/entity/Q5279236
  Tavira
Not found

Looking for Tomás Cabreira 1865-01-23 http://www.wikidata.org/entity/Q10383090
  Tavira
Not found

Looking for João Teixeira Soares de Sousa 1827-09-12 http://www.wikidata.org/entity/Q6298402
  Terreiros (Manadas)
Not found

Looking for João Teixeira Soares de Sousa 1827-09-12 http://www.wikidata.org/entity/Q6298402
  Terreiros (Manadas)
Not found

Looking for Elias da Cunha Pessoa 1801-07-04 http://www.wikidata.org/entity/Q21290098
  Tomar

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
240208,Elias da Cunha Pessoa,m,Tomar,1819-10-22,None

Matched

Looking for Manuel Bernardo Borges de Azevedo Enes 1856-03-13 http://www.wikidata.org/entity/Q10324011
  Topo (Nossa Senhora do Rosário)
Not found

Looking for Rafael Duque 1893-02-03 http://www.wikidata.org/entity/Q10357034
  Torres Novas
Not found

Looking for João de Andrade Corvo 1824-01-30 http://www.wikidata.org/entity/Q10312425
  Torres Novas
Not found

Looking for Pedro de Sousa Holstein, Duque de Palmela 1781-05-08 http://www.wikidata.org/entity/Q982358
  Turim
Not found

Looking for António Augusto da Costa Simões 1819-08-23 http://www.wikidata.org/entity/Q55688130
  Vacariça
Not found

Looking for Augusto Romano Sanches de Baena 1822-09-26 http://www.wikidata.org/entity/Q9637884
  Vairão
Not found

Looking for António Dias de Oliveira 1804-07-20 http://www.wikidata.org/entity/Q610800
  Valongo

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
174458,António Dias de Oliveira,m,Valongo,1820-11-24,None

Matched

Looking for Joaquim José Pereira da Silveira e Sousa 1796-02-17 http://www.wikidata.org/entity/Q10307234
  Velas
Not found

Looking for Henrique de Macedo Pereira Coutinho 1843-09-06 http://www.wikidata.org/entity/Q24846545
  Verride

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
205788,Henrique de Macedo Pereira Coutinho,m,Verride,1859-07-02,None

Matched

Looking for Luís António de Abreu e Lima 1787-10-18 http://www.wikidata.org/entity/Q20045977
  Viana do Castelo

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
225678,Luís Bravo de Abreu e Lima,m,Viana do Castelo,1834-10-20,None
152205,Luís do Rego Barreto Barros Lima,m,Viana do Castelo,1849-10-02,None

Ambiguous

Looking for José Malheiro Reimão 1860-07-03 http://www.wikidata.org/entity/Q10309864
  Viana do Castelo
Not found

Looking for João da Cunha Souto Maior (maçon) 1767-09-22 http://www.wikidata.org/entity/Q10312369
  Viana do Castelo
Not found

Looking for João de Sousa, Marquês das Minas 1666-12-29 http://www.wikidata.org/entity/Q6298468
  Viana do Castelo
Not found

Looking for Aquiles Estaço 1524-06-22 http://www.wikidata.org/entity/Q4673751
  Vidigueira
Not found

Looking for Álvaro Rodrigues Azevedo 1825-03-20 http://www.wikidata.org/entity/Q17272838
  Vila Franca de Xira

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
148851,Álvaro Rodrigues de Azevedo,m,Vila Franca de Xira,1843-10-02,None

Matched

Looking for Joaquim Germano de Sequeira da Fonseca e Sousa 1827-09-04 http://www.wikidata.org/entity/Q24013817
  Vila Franca de Xira
Not found

Looking for Manuel Nicolau de Almeida 1761-12-25 http://www.wikidata.org/entity/Q10324400
  Vila Franca de Xira

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
143991,Manuel Nicolau de Almeida,m,Vila Franca de Xira,1781-10-30,None

Matched

Looking for Francisco Torrinha 1879-05-01 http://www.wikidata.org/entity/Q10285181
  Vila Nova de Famalicão
Not found

Looking for José Augusto Correia de Campos 1890-12-05 http://www.wikidata.org/entity/Q16930180
  Vila Nova de Paiva

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
130596,José Augusto Correia e Campos,m,Vila Nova de Paiva,1909-10-12,None

Matched

Looking for Aarão Ferreira de Lacerda 1863-10-03 http://www.wikidata.org/entity/Q9559855
  Vila Nova de Paiva
Not found

Looking for Emírcio Teixeira Pinto 1899-08-17 http://www.wikidata.org/entity/Q10272643
  Vila Pouca de Aguiar
Not found

Looking for Miguel Vaz Guedes de Ataíde 1829-07-08 http://www.wikidata.org/entity/Q10329878
  Vila Real
Not found

Looking for Celestino de Almeida 1864-05-28 http://www.wikidata.org/entity/Q16929976
  Vila de Frades
Not found

Looking for António de Azevedo Castelo Branco 1842-12-23 http://www.wikidata.org/entity/Q21290090
  Vilarinho de Samardã

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
189296,António de Azevedo Castelo Branco,m,Vilarinho de Samardã,1860-10-02,None

Matched

Looking for José de Azevedo Castelo Branco 1852-10-05 http://www.wikidata.org/entity/Q21290138
  Vilarinho de Samardã
Not found

Looking for Eduardo José Coelho 1835-09-17 http://www.wikidata.org/entity/Q110910811
  Vilela do Tâmega
Not found

Looking for António de Oliveira Salazar 1889-04-28 http://www.wikidata.org/entity/Q151394
  Vimieiro

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
212667,António de Oliveira Salazar,m,Vimieiro,1913-07-28,None

Matched

Looking for Augusto Hilário 1864-01-07 http://www.wikidata.org/entity/Q9637703
  Viseu
Not found

Looking for António Barroso Pereira Vitorino 1878-03-13 http://www.wikidata.org/entity/Q26973683
  Viseu

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
216075,António Barroso Pereira Vitorino,m,Viseu,1897-10-05,None

Matched

Looking for Mário de Figueiredo 1890-04-19 http://www.wikidata.org/entity/Q10334567
  Viseu
Not found

Looking for Q1771793 1588-10-16 http://www.wikidata.org/entity/Q1771793
  Waterford
Not found

Looking for José Marques de Castilho 1869-01-03 http://www.wikidata.org/entity/Q10310060
  Águeda
Not found

Looking for Afonso Pinto Veloso 1878-10-09 http://www.wikidata.org/entity/Q16142675
  Águeda

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
214665,Afonso de Melo Pinto Veloso,m,Águeda,1893-10-20,None

Matched

Looking for Jacinto Carlos da Silveira 1732-09-18 http://www.wikidata.org/entity/Q64747752
  Évora

,name,sex,naturalidade,naturalidade.date,naturalidade.obs
id,,,,,
230556,Jacinto Carlos da Silveira,m,Évora,1750-10-01,None

Matched

Looking for José Maria de Abreu Freire e Almeida 1827-03-28 http://www.wikidata.org/entity/Q16337692

Looking for Álvaro Augusto Pegado de Sousa Pinto Barroso 1862-04-09 http://www.wikidata.org/entity/Q16489277

Looking for Abílio Beça 1856-08-20 http://www.wikidata.org/entity/Q9561614

Looking for António Roberto de Barros Leitão e Carvalhosa 1763-06-07 http://www.wikidata.org/entity/Q23771067

Looking for António Dinis da Graça Vieira 1824-07-26 http://www.wikidata.org/entity/Q18707730

Looking for Joaquim Desterro de Almeida 1880-02-22 http://www.wikidata.org/entity/Q10307138

Looking for António Caetano Celorico Gil 1880-08-07 http://www.wikidata.org/entity/Q24203205

Looking for António Pires da Silva de Azevedo Loureiro 1833-04-01 http://www.wikidata.org/entity/Q16492263

Looking for Joaquim Pedro Martins 1875-12-23 http://www.wikidata.org/entity/Q16930167

Looking for Bernardo Rodrigues Nogueira 1695-04-06 http://www.wikidata.org/entity/Q16464464

Looking for Francisco Guedes de Carvalho Meneses da Costa 1757-01-02 http://www.wikidata.org/entity/Q10284812

Looking for António Felisberto da Silva e Cunha Leite Pereira 1811-07-21 http://www.wikidata.org/entity/Q16491543

Looking for António Rodrigues Manito 1819-02-19 http://www.wikidata.org/entity/Q108002246

Looking for José Barbosa 1674-11-23 http://www.wikidata.org/entity/Q17285773

Looking for Fernando António de Almeida Tavares e Oliveira 1793-03-31 http://www.wikidata.org/entity/Q17318172

Looking for Roque Ribeiro de Abranches Castelo Branco 1770-07-15 http://www.wikidata.org/entity/Q17318358

Looking for Q4777580 1859-09-21 http://www.wikidata.org/entity/Q4777580

Looking for João José da Silva 1845-09-08 http://www.wikidata.org/entity/Q10311689

Looking for João Mendes da Costa Amaral 1893-01-18 http://www.wikidata.org/entity/Q10311888

Looking for Luís de Figueiredo de Lemos 1544-08-31 http://www.wikidata.org/entity/Q10321742

Looking for João Catanho de Menezes 1854-04-17 http://www.wikidata.org/entity/Q10311319

Looking for Q6844431 1831-08-22 http://www.wikidata.org/entity/Q6844431

Looking for João José da Silva 1845-09-08 http://www.wikidata.org/entity/Q10311689

Looking for Manuel José de Pinho Soares de Albergaria 1800-03-31 http://www.wikidata.org/entity/Q10324302

Looking for Fernando dos Santos Costa 1899-12-19 http://www.wikidata.org/entity/Q5444924

Looking for Francisco da Fonseca Henriques 1665-10-06 http://www.wikidata.org/entity/Q104090593

Looking for Francisco de Melo Franco 1757-09-17 http://www.wikidata.org/entity/Q23771075

Looking for Francisco de Melo Franco 1757-09-17 http://www.wikidata.org/entity/Q23771075

Looking for Q15486217 1780-05-10 http://www.wikidata.org/entity/Q15486217

Looking for Sebastião Carlos da Costa Brandão e Albuquerque 1833-10-07 http://www.wikidata.org/entity/Q10369079

Looking for Artur de Almeida Ribeiro 1865-01-30 http://www.wikidata.org/entity/Q16501357

Looking for Manuel de Andrade (jurista) 1899-11-11 http://www.wikidata.org/entity/Q10324612

Looking for Francisco Margiochi 1774-10-05 http://www.wikidata.org/entity/Q17318190

Looking for António Luís Ferreira Carneiro de Vasconcelos Teixeira Girão 1823-07-13 http://www.wikidata.org/entity/Q16491923
Matched 128 ambiguous 13 not found 280

In [41]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 455 entries, 34 to 338
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          455 non-null    object
 1   bnp_id        277 non-null    object
 2   naturalidade  421 non-null    object
 3   placeID       421 non-null    object
 4   data_nasc     455 non-null    object
 5   fauc_id       114 non-null    object
dtypes: object(6)
memory usage: 41.0+ KB

In [32]:
students.to_csv('../inferences/wikidata/students_wikidata_matched.csv',sep=',')

In [1]:

query = """

    SELECT DISTINCT ?student 
     WHERE {
      ?student p:P69 ?educatedAt.
      ?educatedAt (ps:P69/(wdt:P279*)) wd:Q368643.
      ?student p:P569 ?birthDateStmt.
      ?birthDateStmt psv:P569 ?birthDateValue.
      ?birthDateValue wikibase:timePrecision ?precision_1.
      FILTER(?precision_1 >= 11 )
      ?birthDateValue wikibase:timeValue ?P569_1.
      FILTER(?P569_1 < "+1900-01-01T00:00:00Z"^^xsd:dateTime)
    }
    LIMIT 5

"""

In [2]:
!pip install lxml

Requirement already satisfied: lxml in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (4.8.0)
WARNING: You are using pip version 21.2.3; however, version 22.1 is available.
You should consider upgrading via the '/Users/jrc/.pyenv/versions/3.10.0/bin/python3.10 -m pip install --upgrade pip' command.

In [3]:
from datetime import datetime

from qwikidata.entity import WikidataItem, WikidataLexeme, WikidataProperty
from qwikidata.linked_data_interface import get_entity_dict_from_api
from qwikidata.sparql import return_sparql_query_results

from lxml import etree

# Prepare to fetch records from Portuguese National Library



xsl_file = '../extras/bnp/visbd-fauc.xsl'
xsl = etree.parse(xsl_file) 

# Things we would like to known about the students
claims_of_interest = ['P69','P1559','P1447','P27','P569','P570','P106','P19','P20',
                      'P22','P25','p97', 
                      'P973',                      # described at URL
                      'P1005','P102','P39','P166','P213','P214']
                      
claims_ignored = set()
prop_labels = {}
cache = {}
results = return_sparql_query_results(query)

# https://qwikidata.readthedocs.io/en/stable/entity.html
for result in results['results']['bindings']:
    uri = result['student']['value']
    qid = uri.split("/")[-1]  # last item in the path
    result_dict = get_entity_dict_from_api(qid)
    std = WikidataItem(result_dict)

    print(std.entity_id,std.get_label())
    for aka in std.get_aliases(lang='pt'):
        print(f"{' '*2} aka:",aka)

    claim_groups = std.get_claim_groups()


    claim_id_list = sorted([c for c in claim_groups.keys() if c in claims_of_interest])
    if 'P1005' in claim_id_list:     # we move the property related to published works to the end
        claim_id_list.remove('P1005')
        claim_id_list = claim_id_list + ['P1005']


    for claim_id in claim_id_list:
        if claim_id in prop_labels.keys():
            propLabel = prop_labels[claim_id]
        else:
            prop_dict = get_entity_dict_from_api(claim_id)
            propLabel = prop_dict['labels']['en']['value']
            prop_labels[claim_id] = propLabel

        claim_group = claim_groups[claim_id]
        print(f"{' '*2} {claim_id} {propLabel}({len(claim_group)})")
        for claim in claim_group:
            snak = claim.mainsnak
            if snak.snak_datatype == 'wikibase-item':
                qid = snak.datavalue.value["id"]
                entity = WikidataItem(get_entity_dict_from_api(qid))
                print(f"{' '*6}{qid} {entity.get_label(lang='pt')}")
            elif snak.value_datatype == 'string':
                print(f"{' '*6} {snak.datavalue.value}") 
            elif snak.value_datatype == 'time':
                svalue = snak.datavalue.value['time']
                try:
                    date_value = datetime.strptime(svalue,"+%Y-%m-%dT%H:%M:%SZ")
                    print(f"{' '*6} {date_value}")  
                except ValueError as e:
                    print("Problem converting date, probably date incomplete: "+svalue,e)
            else:
                snak_info = (claim.rank,snak.snaktype,snak.snak_datatype,snak.value_datatype)  
                print(f"{' '*6}{snak_info}")
            
            if claim_id == 'P1005': 
                bnp_id = snak.datavalue.value
                url = f"http://urn.bn.pt/bibliografia/unimarc/xml?id={bnp_id}"
                records = etree.parse(url)
                transform = etree.XSLT(xsl)
                print(str(transform(records)))

            for pid, quals in claim.qualifiers.items():
                prop = WikidataProperty(get_entity_dict_from_api(pid))
                for qual in quals:
                    if qual.snak.snaktype != "value":
                        continue
                    else:
                        print(f"{' '*9}{prop.get_label()} {qual.snak.datavalue}")

    print(f"{' '*3}Other properties:",set(claim_groups.keys())-set(claims_of_interest) )
    claims_ignored = claims_ignored.union(set(claim_groups.keys())-set(claims_of_interest))
    print()

print()
if len(claims_ignored) > 0:
    print("Properties present in the students and ignored in this list")
    for ignored in sorted(claims_ignored):
        if ignored in prop_labels.keys():
            propLabel = prop_labels[prop]
        else:
            prop_dict = get_entity_dict_from_api(ignored)
            propLabel = prop_dict['labels']['en']['value']
            prop_labels[prop] = propLabel  
        print(f"   {ignored:<6s}: {propLabel}")

Q61755108 Manuel Augusto Martins
   P106 occupation(1)
      Q82955 político
   P19 place of birth(1)
      Q2078801 Santa Maria Maior
   P20 place of death(1)
      Q25444 Funchal
   P27 country of citizenship(1)
      Q45 Portugal
   P569 date of birth(1)
       1867-04-10 00:00:00
   P570 date of death(1)
       1936-04-04 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
         academic major WikibaseEntityId(id=Q7748)
   Other properties: {'P735', 'P21', 'P1412', 'P18', 'P2671', 'P103', 'P31', 'P734'}

Q16917757 Francisco Correia de Mendonça
   P106 occupation(1)
      Q16533 juiz
   P19 place of birth(1)
      Q732548 Lagos
   P27 country of citizenship(1)
      Q45 Portugal
   P569 date of birth(1)
       1832-01-03 00:00:00
   P570 date of death(1)
       1899-08-04 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
   Other properties: {'P735', 'P21', 'P1412', 'P2671', 'P103', 'P31'}

Q17272838 Álvaro Rodrigues Azevedo
   aka: José Rodrigues de Azevedo
   aka: Alvaro Rodrigues d’Azevedo
   aka: José Rodrigues d' Azevedo
   aka: Álvaro Rodrigues de Azevedo
   P106 occupation(5)
      Q40348 advogado(a)
      Q974144 educador
      Q82955 político
      Q201788 historiador(a)
      Q36180 escritor(a)
   P19 place of birth(1)
      Q917326 Vila Franca de Xira
   P20 place of death(1)
      Q597 Lisboa
   P213 ISNI(1)
       0000 0000 6665 1261
   P214 VIAF ID(1)
       5316073
   P27 country of citizenship(1)
      Q45 Portugal
   P569 date of birth(1)
       1825-03-20 00:00:00
   P570 date of death(1)
       1898-01-06 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
   P1005 Portuguese National Library ID(1)
       54152

Esboço critico-litterario (do Bosquejo historico de litteratura classica do sr. A. C. Borges de Figueiredo) / Alvaro Rodrigues de Azevedo. - Funchal : Typ. de M. M. S. Carregal, 1866. - 1 v. ; 8º
http://id.bnportugal.gov.pt/bib/catbnp/512219

As saudades da terra : história das ilhas do Porto Santo, Madeira, Desertas e Selvagens / Gaspar Fructuoso ; introd. Alberto Vieira ; coord. geral Francisco Faria Paulino ; anot. Álvaro Rodrigues de Azevedo. - Funchal : Empresa Municipal Funchal 500 Anos, D.L. 2007. - 917, [3] p. : il. ; 24 cm. - (Funchal 500 anos). - Manuscrito do Século XVI, anotado por Álvaro Rodrigues de Azevedo. - Edi. fac-símile do Funchal : Typ Funchalense, 1873. - ISBN 978-989-95637-0-7
http://id.bnportugal.gov.pt/bib/catbnp/1743559

Curso elementar de recitaçao, philologia e redacçao / por Alvaro Rodrigues de Azevedo. - Funchal : Typografia Funchalense, 1869. - VIII, 182 p. ; 18 cm
http://id.bnportugal.gov.pt/bib/catbnp/367517

O communismo : discurso proferido na aula pratica forense da Universidade / por A. de Azevedo. - Lisboa : Typ. de Francisco Xavier de Souza, 1849. - 52 p. ; 19 cm
http://id.bnportugal.gov.pt/bib/catbnp/550067

Museu litterario : semanario de instrucção e recreio / adm. e dir. A. de Azevedo. - Lisboa : Typ. Azevedo & Moreira, 1876. - 23 cm. - Semanal
http://id.bnportugal.gov.pt/bib/catbnp/590827

Miscellanea Madeirense : folhetins do Diário de Notícias do Funchal, 1876-1877 / compil. por Alvaro Rodrigues de Azevedo. - [Funchal : s.n.], 1876-1877. - [110] p. ; 18x26 cm. - Fragmentos de folhas reunidas em 1 v
http://id.bnportugal.gov.pt/bib/catbnp/595504

Benavente : estudo histórico-descritivo / Álvaro Rodrigues d'Azevedo ; obra póstuma, continuada e editada por Ruy d'Azevedo. - Lisboa : [s.n.], 1926 (Almeirim : Gráfica Central). - XV, 296 p. : il. ; 25 cm
http://id.bnportugal.gov.pt/bib/catbnp/440403

Benavente, estudo histórico-descritivo / álvaro Rodrigues d'Azevedo ; pref. de Rui de Azevedo. - Lisboa : Minerva Lisbonense, 1924. - 1 v. ; 25 cm
http://id.bnportugal.gov.pt/bib/catbnp/424146

O direito de perdoar / por A. de Azevedo. - Coimbra : [s.n.], 1848. - 14 p. ; 21 cm
http://id.bnportugal.gov.pt/bib/catbnp/412381

Benavente : estudo histórico-descritivo / Alvaro Rodrigues d'Azevedo ; obra póstuma continuada e editada por Ruy d'Azevedo. - Lisboa : [s.n.], 1926 (Lisboa : [Minerva Lisbonense]). - XV, [1], 286 p. : il. ; 26 cm
http://id.bnportugal.gov.pt/bib/catbnp/401770

As saudades da terra : história das ilhas do Porto-Sancto, Madeira, Desertas e Selvagens / pelo douctor Gaspar Fructuoso ; manuscripto do século XVI annotado por Alvaro Rodrigues de Azevedo. - Funchal : Typ. Funchalense, 1873. - XI, 917, [2] p. ; 26 cm
http://id.bnportugal.gov.pt/bib/catbnp/239117

Contos engraçados : histórias para as crianças / A. de Azevedo. - [S.l. : s.n.], 1941 (Porto : Tip. Domingos de Oliveira). - 48 p. : il. ; 20 cm
http://id.bnportugal.gov.pt/bib/catbnp/731945

A familia do demerarista : drama em um acto / original de A. d'Azevedo. - Funchal : Typ. do Funchalense, 1859. - 40 p. ; 24 cm
http://id.bnportugal.gov.pt/bib/catbnp/972604

Romanceiro do Archipelago da Madeira / colligido e publicado por Alvaro Rodrigues de Azevedo. - Funchal : Typ. da "Voz do Povo", 1880. - XXIV, 514 p. ; 20 cm. - Inocêncio A. 16
http://id.bnportugal.gov.pt/bib/catbnp/336292

O comunismo : discurso proferido na aula de practica forense da universidade / por A. de Azevedo. - Lisboa : Typ. Francisco Xavier de Sousa, 1849. - 52 p. ; 17 cm
http://id.bnportugal.gov.pt/bib/catbnp/828670

Gazeta dos theatros / publicação da Agência Litteraria e Theatral ; [red. e propr. A. d'Azevedo]. - Lisboa : Agência Litteraria e Theatral, 1875-1876. - 32 cm. - Bimensal
http://id.bnportugal.gov.pt/bib/catbnp/525988

[ Documentos de diversas tipologias sobre Cristóvão Colombo e sua eventual passagem pela Ilha da Madeira] [Manuscrito]. - , 1584-1892. - [113] f. : grav. ; 38 cm. - Originais, cópias e impressos. - Mau estado: papel quebradiço e danificado. - Nota manuscrita: "Off[ereci]do à Bibl[iote]ca Nac[ional] de Lisboa pelo Exm. Dr. Alvaro Ro[dr]i[gue]s d'Azevedo em maio de 1892". - Instrumento de dote e casamento de Joana, filha de Francisco Gonçalves da Câmara, e Pero Ribeiro Esmeraldo, filho de António de Carvalhal, que recebem de dote umas casas na Rua do Esmeraldo, que têm serventia para a dita Rua e para a Rua do Sabão. Funchal, 1584. Cópia certificada e transcrição incompleta (f. [28-38]). Instrumento de doação e nomeação que fez António do Carvalhal, o Velho, a seu filho, António do Carvalhal, o Moço, da metade das casas da Rua do Esmeraldo, que têm serventia para a dita Rua e para a Rua do Sabão. Funchal, 1644. Cópia certificada e transcrição (f. [39-42]). Correspondência entre Álvaro Rodrigues de Azevedo, João Alves Camacho e José Maria de Agrela. 1879 (f. [47-53]). Correspondência entre Álvaro Rodrigues de Azevedo e José Leite Monteiro. 1879 (f. [58-62]). Certidão da escritura de venda que fez Agostinho de Ornelas e Vasconcelos Esmeraldo Rolim de Moura a João de Freitas Martins de um sobrado de casas denominadas "o garanel", situadas na Rua do Sabão, com frente para a Rua do Esmeraldo, no Funchal, em 1865. (f. [63-65]). Certidão da escritura de venda que fez o Conde do Carvalhal, D. António da Câmara Leme Carvalhal Esmeraldo a Carlos R. Blandy de uma casa de sobrado na Rua do Esmeraldo, no Funchal, em 1870. (f. [66-69])
http://id.bnportugal.gov.pt/bib/catbnp/2024533

   Other properties: {'P1412', 'P21', 'P1473', 'P735', 'P910', 'P2671', 'P268', 'P1477', 'P7859', 'P31', 'P734'}

Q17280031 Francisco Jerónimo da Silva
   P106 occupation(3)
      Q40348 advogado(a)
      Q2135469 assessor jurídico
      Q36180 escritor(a)
   P19 place of birth(1)
      Q193677 Angra do Heroísmo
   P20 place of death(1)
      Q597 Lisboa
   P214 VIAF ID(1)
       98658253
   P27 country of citizenship(1)
      Q45 Portugal
   P569 date of birth(1)
       1807-12-30 00:00:00
   P570 date of death(1)
       1871-11-02 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
   P1005 Portuguese National Library ID(1)
       111105

Descripção da entrada d'El-Rei, nosso senhor, o Senhor D. Miguel I na cidade de Braga... / porFrancisco Jeronimo da Silva. - Coimbra : Real Impr. da Universidade, 1832. - 23 p. ; 21 cm
http://id.bnportugal.gov.pt/bib/catbnp/983565

Minuta de revista por parte de W. Gibbens capitão do navio Libra na causa de tomadia que lhe move a Fazenda Nacional / Francisco Jeronymo da Silva. - Porto : Typ. Commercial, 1854. - 13 p. ; 20 cm
http://id.bnportugal.gov.pt/bib/catbnp/764188

Copia da minuta de revista na causa da Companhia dos Vinhos com J. Carneiro Giraldes V. & Companhia / Francisco Jeronymo da Silva. - Lisboa : Typ. de G.M. Martins, 1854. - 12 p. ; 20 cm
http://id.bnportugal.gov.pt/bib/catbnp/764155

Defeza do Barão de Barcelinhos no pleito que lhe move D. Maria Lucianna de Oliveira Croft, deduzida na 2ª instância da Relação do Porto / Francisco Jerónimo da Silva. - Porto : Typ. Faria Guimarães, 1843. - 45 p. ; 16 cm
http://id.bnportugal.gov.pt/bib/catbnp/725318

Contraminuta de revista por parte de D. José Maria da Piedade e Lencastre e mulher, na causa em que contendem com Joaquim António de Magalhães Pinto e mulher / advogado Francisco Jeronymo da Silva. - Lisboa : Typ. do Panorama, 1855. - 13 p. ; 22 cm
http://id.bnportugal.gov.pt/bib/catbnp/918242

Varias peças relativas à cauza de reivincação de vinculos em que é author o conselheiro Francisco de Menezes de Lemos e ré D. Maria Benedicta de Menezes / Francisco Jerónimo da Silva. - Lisboa : Imprensa de Francisco Xavier de Souza, 1854. - Encadernado com outros
http://id.bnportugal.gov.pt/bib/catbnp/26469

Fidelidade da Ilha Terceira / Francisco Jeronimo da Silva. - Angra do Heroísmo : Liv. Andrade, 1953. - 67 p. ; 22 cm. - Sep. Bol. Inst. Histórico da Ilha Terceira, 11
http://id.bnportugal.gov.pt/bib/catbnp/1030571

   Other properties: {'P1412', 'P21', 'P735', 'P18', 'P2671', 'P7859', 'P31', 'P734'}

Q21290090 António de Azevedo Castelo Branco
   P106 occupation(3)
      Q49757 poeta
      Q36180 escritor(a)
      Q1930187 jornalista
   P166 award received(1)
      Q66659610 Grã-Cruz da Ordem da Torre e Espada
   P19 place of birth(1)
      Q592516 Vilarinho de Samardã
   P20 place of death(1)
      Q597 Lisboa
   P213 ISNI(1)
       0000 0001 1218 2946
   P214 VIAF ID(2)
       163372837
       99918302
   P27 country of citizenship(1)
      Q45 Portugal
   P39 position held(1)
      Q43185970 Presidente da Câmara Municipal de Lisboa
   P569 date of birth(1)
       1842-12-23 00:00:00
   P570 date of death(1)
       1916-01-05 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
   P1005 Portuguese National Library ID(1)
       64533

A Lyra Meridional / por Antonio d'Azevedo Castello Branco. - Porto : Livraria Civilisação de Eduardo da Costa Santos,, 1886. - 51, [1] p. ; 17 cm. - Inocêncio 20, 179
http://id.bnportugal.gov.pt/bib/catbnp/1684284

Notice sur l'évolution du droit pénal portugais / Antonio d'Azevedo Castello Branco. - Lisbonne : Imp. Nationale, 1888. - 31 p. ; 23 cm
http://id.bnportugal.gov.pt/bib/catbnp/765653

Cadeias e manicómios : uma reforma necessária / António de Azevedo Castelo Branco. - Lisboa : Imp. Minerva, 1891. - 27 p. ; 23 cm
http://id.bnportugal.gov.pt/bib/catbnp/763423

Meridionais : poesias / António de Azevedo Castelo Branco ; com um preâmbulo de Alberto Pimentel. - Lisboa : Guimarães, 1925. - 112 p. ; 19 cm
http://id.bnportugal.gov.pt/bib/catbnp/530117

Estudos penitenciários e criminaes / António de Azevedo Castelo Branco. - Lisboa : Tip. Casa Portuguesa, 1888. - 1 v. ; 23 cm
http://id.bnportugal.gov.pt/bib/catbnp/845940

Lira meridinal / António de Azevedo Castelo Branco. - Porto : Campos & Godinho, 1886. - 343, [1] p. ; 19 cm
http://id.bnportugal.gov.pt/bib/catbnp/528812

   Other properties: {'P1412', 'P21', 'P1473', 'P735', 'P648', 'P2163', 'P2671', 'P103', 'P244', 'P1006', 'P7859', 'P31'}


Properties present in the students and ignored in this list
   P1006 : Nationale Thesaurus voor Auteurs ID
   P103  : native language
   P1412 : languages spoken, written or signed
   P1473 : BLPL author ID
   P1477 : birth name
   P18   : image
   P21   : sex or gender
   P2163 : FAST ID
   P244  : Library of Congress authority ID
   P2671 : Google Knowledge Graph ID
   P268  : Bibliothèque nationale de France ID
   P31   : instance of
   P648  : Open Library ID
   P734  : family name
   P735  : given name
   P7859 : WorldCat Identities ID
   P910  : topic's main category

## Lugares

---

## Places

In [ ]:
place = "Soure"

In [ ]:
pquery = """

SELECT DISTINCT ?location ?locationName ?instanceOf ?instanceOfLabel ?insideLabel ?inside2Label ?coordinates ?geonamesID WHERE {
                        ?location ?label '$place'@pt .  
                        ?location wdt:P17 wd:Q45 .
                        ?location rdfs:label ?locationName .
                        ?location wdt:P31 ?instanceOf .
                        ?location wdt:P625 ?coordinates .
                        ?location wdt:P131 ?inside .

                        OPTIONAL {

                          ?inside wdt:P131 ?inside2 .
                          ?location wdt:P1566 ?geonamesID .
                        }
                        FILTER(lang(?locationName) = "pt") 
                        { SERVICE wikibase:label { bd:serviceParam wikibase:language "pt". }}
 
                        }
"""

#### Encontrar um lugar na wikipedia

---

### Find a place in Wikipedia

In [ ]:
!pip install mkwikidata

In [ ]:
import mkwikidata
import pandas as pd

place = 'Soure'

query_result = mkwikidata.run_query(pquery, params={'place':place})
results = query_result['results']['bindings']
table = [{'name':loc['locationName']['value'],
          'type':loc['instanceOfLabel']['value'],
          'uri':loc['location']['value'],
          'inside':loc['insideLabel']['value'],
          'inside2':loc.get('inside2Label',{'value':None})['value'],
          'geonamesID':loc.get('geonamesID',{'value':None})['value'],
          
          } for loc in results]

pd.DataFrame(table).sort_values('uri')

,name,type,uri,inside,inside2,geonamesID
2,Soure,freguesia de Portugal,http://www.wikidata.org/entity/Q1977811,Soure,Região de Coimbra,8011895
4,Soure,freguesia de Portugal,http://www.wikidata.org/entity/Q1977811,Soure,Região de Coimbra,8011895
5,Soure,freguesia de Portugal,http://www.wikidata.org/entity/Q1977811,Soure,Coimbra,8011895
8,Soure,freguesia de Portugal,http://www.wikidata.org/entity/Q1977811,Soure,Coimbra,8011895
0,Soure,município de Portugal,http://www.wikidata.org/entity/Q543993,Coimbra,Portugal,2733851
1,Soure,vila de Portugal,http://www.wikidata.org/entity/Q543993,Coimbra,Portugal,2733851
3,Soure,vila de Portugal,http://www.wikidata.org/entity/Q543993,Região de Coimbra,None,None
7,Soure,município de Portugal,http://www.wikidata.org/entity/Q543993,Região de Coimbra,None,None
6,Soure,vila de Portugal,http://www.wikidata.org/entity/Q97597938,Soure,None,None

In [ ]:
from timelinknb import current_time,current_machine, get_db
from ucalumni.config import default_db

db_spec = default_db
db = get_db(db_spec)
print(current_machine,current_time,f'db={db_spec}')

imac-jrc.local 2022-05-18 17:43:33.378466 db=('sqlite', 'fauc.db')

### Localizar os lugares mais infrequentes no FAUC

---

### Locate the less frequent places in the FAUC

In [ ]:
from timelinknb.pandas import attribute_values


# Get list of different values and the number of occurences
naturalidades = attribute_values('naturalidade')
small_places = naturalidades[naturalidades['count']<10].sort_values('count', ascending=False).head(100)

Test with a small number

In [ ]:
from IPython.display import display
import time

for place in small_places.index.values[:10]:
    print("Looking for:", place)
    try:
        query_result = mkwikidata.run_query(pquery, params={'place':place})
    except Exception as e:
        print(e)
    results = query_result['results']['bindings']
    if len(results) > 0:
        table = [{'name':loc['locationName']['value'],
                'type':loc['instanceOfLabel']['value'],
                'uri':loc['location']['value'],
                'inside':loc['insideLabel']['value'],
                'inside2':loc.get('inside2Label',{'value':None})['value'],
                'geonamesID':loc.get('geonamesID',{'value':None})['value'],
                
                } for loc in results]
        candidates = pd.DataFrame(table)
        display(candidates)
        geonames = candidates['geonamesID'].unique()
        for geo in geonames:
            print(f"   https://www.geonames.org/{geo}")
    else:
        print("   not found")
        
    time.sleep(1)  # respect wikidata

Looking for: Alcofra

,name,type,uri,inside,inside2,geonamesID
0,Alcofra,freguesia de Portugal,http://www.wikidata.org/entity/Q1021445,Vouzela,Viseu,8014009
1,Alcofra,freguesia de Portugal,http://www.wikidata.org/entity/Q1021445,Vouzela,Comunidade Intermunicipal Viseu Dão Lafões,8014009

   https://www.geonames.org/8014009
Looking for: Lumiar

,name,type,uri,inside,inside2,geonamesID
0,Estação Lumiar,estação subterrânea,http://www.wikidata.org/entity/Q374170,Lisboa,None,None
1,Estação Lumiar,estação de metropolitano,http://www.wikidata.org/entity/Q374170,Lisboa,None,None
2,Lumiar,freguesia de Portugal,http://www.wikidata.org/entity/Q924723,Lisboa,Lisboa,8012475

   https://www.geonames.org/None
   https://www.geonames.org/8012475
Looking for: Seixo de Ansiães

,name,type,uri,inside,inside2,geonamesID
0,Seixo de Ansiães,freguesia de Portugal,http://www.wikidata.org/entity/Q1011237,Carrazeda de Ansiães,Trás-os-Montes e Alto Douro,8014442
1,Seixo de Ansiães,freguesia de Portugal,http://www.wikidata.org/entity/Q1011237,Carrazeda de Ansiães,Bragança,8014442
2,Seixo de Ansiães,freguesia de Portugal,http://www.wikidata.org/entity/Q1011237,Carrazeda de Ansiães,Douro,8014442

   https://www.geonames.org/8014442
Looking for: Santa Cristina de Figueiró

,name,type,uri,inside,inside2,geonamesID
0,Santa Cristina de Figueiró,localidade,http://www.wikidata.org/entity/Q1023987,Amarante,Porto,8012656
1,Santa Cristina de Figueiró,freguesia de Portugal,http://www.wikidata.org/entity/Q1023987,Amarante,Douro Litoral,8012656
2,Santa Cristina de Figueiró,localidade,http://www.wikidata.org/entity/Q1023987,Amarante,Douro Litoral,8012656
3,Santa Cristina de Figueiró,freguesia de Portugal,http://www.wikidata.org/entity/Q1023987,Amarante,Porto,8012656

   https://www.geonames.org/8012656
Looking for: Sandelgas
   not found
Looking for: Salvaterra
   not found
Looking for: Rio Bom
   not found
Looking for: Ribeira de Homem
   not found
Looking for: Quintãs
   not found
Looking for: Proença
   not found

## Biblioteca Nacional de Portugal

---

## Portuguese National Library

Get all the bibiographic records of a student with P1005 id.

In [94]:
from lxml import etree

bnp_id = "92687"
url = f"http://urn.bn.pt/bibliografia/unimarc/xml?id={bnp_id}"

xsl_file = '../extras/bnp/visbd-fauc.xsl'
xsl = etree.parse(xsl_file) 
records = etree.parse(url)
transform = etree.XSLT(xsl)

print(str(transform(records)))

Socialismo libertario e anarchismo : história e doutrina / Silva Mendes. - [S.l. : s.n.], 1896. - 369 p. ; 22 cm
http://id.bnportugal.gov.pt/bib/catbnp/418597

Sobre filosofia / Manuel da Silva Mendes. - Macau : Leal Senado, [1915]. - 169 p. : il. ; 21 cm
http://id.bnportugal.gov.pt/bib/catbnp/1579131

Socialismo libertário ou anarchismo : história e doutrina / Manuel da Silva Mendes. - ed. fac-simil. - Lisboa : Letra Livre, D.L. 2006. - 369 p. : fac-simil. ; 24 cm. - Ed. fac-simil., Lisboa, 1896. - ISBN 989-95114-0-4. - ISBN 978-989-95114-0-8
http://id.bnportugal.gov.pt/bib/catbnp/1563060

Manuel da Silva Mendes : a instrução pública em Macau ; org. e introd. António Aresta. - Macau : Direcção dos Serviços de Educação e Juventude, 1996. - 96, [5] p., [7] p. il. : il. ; 24 cm. - (Educação memórias ; 3). - ISBN 972-8091-32-X
http://id.bnportugal.gov.pt/bib/catbnp/987433

Arte chinesa : (colectânea de artigos) / Manuel da Silva Mendes. - [Macau] : Edição do Leal Senado de Macau, 1983. - 114 p. ; 21 cm
http://id.bnportugal.gov.pt/bib/catbnp/629219

Colectânea de artigos / Manuel da Silva Mendes. - Macau : Notícias de Macau, 1949. - 3 v. ; 20 cm. - (Notícias de Macau ; 1, 2, 3)
http://id.bnportugal.gov.pt/bib/catbnp/356998

Colectanea de artigos / Manuel da Silva Mendes. - Macau : Notícias de Macau, 1964. - 2 v. ; 19 cm. - (Notícias de Macau ; 18, 19). - 1º v.: Arte. - 324 p. 2º v.: Problemas citadinos / compil. Luís G. Gomes. - 1964. - 356 p
http://id.bnportugal.gov.pt/bib/catbnp/356997

Macau, impressões e recordações / Manuel da Silva Mendes ; pref. Graciete Batalha. - Lisboa : Quinzena de Macau, 1979. - 132 p. : il. ; 20 cm
http://id.bnportugal.gov.pt/bib/catbnp/286065

A pintura na China : uma estetica especial / Silva Mendes. - Recorte. - Espólio Camilo Pessanha
http://id.bnportugal.gov.pt/bib/catbnp/1726586

Nova colectânea de artigos / de Manuel da Silva. - [S.l.] : Folhetim do "Notícias de Macau", 1963-1964. - 4 v. ; 18 cm. - (Notícias de Macau ; 18, 19, 20, 21). - Vol. 1. Vol. 2 Problemas citadinos / compil. de Luis G. Gomes. - V, 356 p. ;. Vol. 3. Vol. 4 Diversos / compil. de Luis G. Gomes. - 195 p
http://id.bnportugal.gov.pt/bib/catbnp/908651

Guilherme Tell / Drama de Schiller ; Traducção Portugueza em Verso Solto Com Uma Introdução e Annotada Por M. da Silva Mendes. - Famalicão : Typ. Minerva, 1898. - XXIV, 232 p. ; 22 cm
http://id.bnportugal.gov.pt/bib/catbnp/1244334

Manuel da Silva Mendes : memória e pensamento ; coord. António Aresta, Rogério Beltrão Coelho ; autores Ana Cristina Alves... [et al.]. - Macau : Livros do Oriente, [201-]-. - v. : il. ; 24 cm. - (Estudos e documentos). - V. 2: 2018. - 539 p. - ISBN 978-99965-335-5-6 (v. 2)
http://id.bnportugal.gov.pt/bib/catbnp/2067481

In [16]:
recs = records.getroot()
recs.tag

'{http://www.bn.pt/standards/metadata/marcxml/1.0/}collection'

In [92]:
marcxml_ns = "http://www.bn.pt/standards/metadata/marcxml/1.0/"
nsmap = {None: marcxml_ns}
for rec in recs:
    print("Record:")
    for cf in rec.findall("controlfield",namespaces=nsmap):
        print(cf.get('tag'),cf.text)
    for df in rec.findall("datafield",namespaces=nsmap):
        print(f"{df.get('tag'):3s} {df.get('ind1'):1s}{df.get('ind2'):1s}")
        for sf in list(df):
            print(f"   ${sf.get('code')} {sf.text}",)
print()

Record:
001 418597
003 http://id.bnportugal.gov.pt/bib/catbnp/418597
005 19981231000000.0
095
   $a PTBN00447303
100
   $a 19930417d1896    m  y0pory0103    ba
101 0
   $a por
102
   $a PT
200 0
   $a Socialismo libertario e anarchismo
   $e história e doutrina
   $f Silva Mendes
210
   $a [S.l.
   $c s.n.],
   $d 1896
215
   $a 369 p.
   $d 22 cm
500 10
   $a Socialismo libertário ou anarquismo
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s S.C. 3676 V.
966
   $l BN
   $m FGMON
   $s S.C. 11055 P.
997
   $a BIBEOD
Record:
001 1579131
003 http://id.bnportugal.gov.pt/bib/catbnp/1579131
100
   $a 20070321d1915    m  y0pory0103    ba
101 0
   $a por
102
   $a MO
105
   $a a   z   001yy
106
   $a r
200 1
   $a Sobre filosofia
   $f Manuel da Silva Mendes
210
   $a Macau
   $c Leal Senado,
   $d [1915]
215
   $a 169 p.
   $c il.
   $d 21 cm
675
   $a 22Taoísmo
   $v BN
   $z por
   $3 1288349
675
   $a 24Budismo
   $v BN
   $z por
   $3 1278430
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s R. 24278 V.
   $x 4
997
   $a BIBEOD
Record:
001 1563060
003 http://id.bnportugal.gov.pt/bib/catbnp/1563060
010
   $a 989-95114-0-4
010
   $a 978-989-95114-0-8
100
   $a 20070416e20061896k  y0pory0103    ba
101 0
   $a por
102
   $a PT
105
   $a y   z   001yy
106
   $a r
200 1
   $a Socialismo libertário ou anarchismo
   $e história e doutrina
   $f Manuel da Silva Mendes
205
   $a ed. fac-simil
210
   $a Lisboa
   $c Letra Livre,
   $d D.L. 2006
215
   $a 369 p.
   $c fac-simil.
   $d 24 cm
324
   $a Ed. fac-simil., Lisboa, 1896
518 1
   $a Socialismo libertário ou anarchismo
620
   $d Lisboa
675
   $a 329.3(091)
   $v BN
   $z por
   $3 1345088
675
   $a 316.353(091)
   $v BN
   $z por
   $3 1345089
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s S.C. 113486 V.
   $x 1
966
   $l BN
   $m FGMON
   $s S.C. 113486 V.-D
   $x 1
966
   $l BN
   $m RESIMP
   $s RES. 4475 V.
   $x 3
Record:
001 987433
003 http://id.bnportugal.gov.pt/bib/catbnp/987433
005 19990626000000.0
010
   $a 972-8091-32-X
095
   $a PTBN00999667
100
   $a 19980623d1996    m  b0pory0103    ba
101 0
   $a por
102
   $a MO
105
   $a af  z   001yy
106
   $a r
200 1
   $a Manuel da Silva Mendes
   $e <a >instrução pública em Macau
   $g org. e introd. António Aresta
210
   $a Macau
   $c Direcção dos Serviços de Educação e Juventude,
   $d 1996
215
   $a 96, [5] p., [7] p. il.
   $c il.
   $d 24 cm
225 2
   $a Educação memórias
   $v 3
606
   $a Ensino público
   $y Macau (Portugal)
   $3 888468
675
   $a 373(512.318)
   $v BN
   $z por
   $3 888469
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
702  1
   $a Aresta,
   $b António,
   $f 1955-
   $4 070
   $3 174550
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s S.C. 79454 V.
   $x 1
Record:
001 629219
003 http://id.bnportugal.gov.pt/bib/catbnp/629219
005 19990105000000.0
095
   $a PTBN00840747
100
   $a 19880504d1983    km y0pory0103    ba
101 0
   $a por
102
   $a MO
105
   $a y   z   001yy
106
   $a r
200 1
   $a Arte chinesa
   $e (colectânea de artigos)
   $f Manuel da Silva Mendes
210
   $a [Macau]
   $c Edição do Leal Senado de Macau,
   $d 1983
215
   $a 114 p.
   $d 21 cm
675
   $a 7.03(510)(042)
   $v BN
   $z por
   $3 1249628
675
   $a 75A/Z(510)(042)
   $v BN
   $z por
   $3 1249629
675
   $a 75(510)
   $v med
   $z fre
   $3 340941
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s B.A. 25463 V.
   $x 3
997
   $a BIBEOD
Record:
001 356998
003 http://id.bnportugal.gov.pt/bib/catbnp/356998
005 20000131172600.0
095
   $a PTBN00380343
100
   $a 19920715d1949    m  y0pory0103    ba
101 0
   $a por
102
   $a MO
200 1
   $a Colectânea de artigos
   $f Manuel da Silva Mendes
210
   $a Macau
   $c Notícias de Macau,
   $d 1949
215
   $a 3 v.
   $d 20 cm
225 2
   $a Notícias de Macau
   $v 1, 2, 3
675
   $a 869.0(512.318)
   $v med
   $z por
   $3 376219
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
930
   $l BN
   $d L. 65577-9 P.
930
   $l BN
   $d L. 40836-8 P.
966
   $d V. 1
   $l BN
   $m FGMON
   $s L. 40836 P.
966
   $d V. 2
   $l BN
   $m FGMON
   $s L. 40837 P.
966
   $d V. 3
   $l BN
   $m FGMON
   $s L. 40838 P.
966
   $l BN
   $m FGMON
   $s L. 65577 P.
966
   $l BN
   $m FGMON
   $s L. 65578 P.
966
   $l BN
   $m FGMON
   $s L. 65579 P.
997
   $a BIBEOD
998
   $a CR711-305
Record:
001 356997
003 http://id.bnportugal.gov.pt/bib/catbnp/356997
005 20000131172500.0
095
   $a PTBN00380342
100
   $a 19981229d1964    m  y0pory0103    ba
101 0
   $a por
102
   $a MO
106
   $a r
200 1
   $a Colectanea de artigos
   $f Manuel da Silva Mendes
210
   $a Macau
   $c Notícias de Macau,
   $d 1964
215
   $a 2 v.
   $d 19 cm
225 2
   $a Notícias de Macau
   $v 18, 19
327 1
   $a 1º v.: Arte. - 324 p.
   $a 2º v.: Problemas citadinos / compil. Luís G. Gomes. - 1964. - 356 p.
675
   $a 869.0(512.318)
   $v med
   $z por
   $3 376219
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
702  1
   $a Gomes,
   $b Luís Gonzaga,
   $f 1907-1976
   $4 220
   $3 36380
801  0
   $a PT
   $b BN
   $g RPC
966
   $b 001
   $d 1º v.
   $l BN
   $m FGMON
   $s L. 65541 P.
   $x 1
966
   $b 001
   $d 2º v.
   $l BN
   $m FGMON
   $s L. 65542 P.
   $x 1
997
   $a BIBEOD
998
   $a CR711-304
Record:
001 286065
003 http://id.bnportugal.gov.pt/bib/catbnp/286065
005 19981209133900.0
095
   $a PTBN00297885
100
   $a 19880918d1979    m  y0pora0103    ba
101 0
   $a por
102
   $a PT
200 1
   $a Macau, impressões e recordações
   $f Manuel da Silva Mendes
   $g pref. Graciete Batalha
210
   $a Lisboa
   $c Quinzena de Macau,
   $d 1979
215
   $a 132 p.
   $c il.
   $d 20 cm
675
   $a 869.0-9 Mendes, M. da S.
   $v med
   $z por
   $3 451369
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
702  1
   $a Batalha,
   $b Graciete Nogueira,
   $f 1925-1992
   $4 080
   $3 13895
702  1
   $a Seabra,
   $b Paula
   $4 440
   $3 386605
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s L. 74517 P.
   $x 3
997
   $a BIBEOD
Record:
001 1726586
003 http://id.bnportugal.gov.pt/bib/catbnp/1726586
100
   $a 20091013d1919    m  y0pory0103    ba
101 0
   $a por
102
   $a PT
200 1
   $a <A >pintura na China
   $e uma estetica especial
   $f Silva Mendes
316
   $a Recorte
   $5 PTBN: CFF4-Esp. N1/151
317
   $a Espólio Camilo Pessanha
   $5 PTBN: CFF4-Esp. N1/151
461  1
   $t <O >século
   $e ed. da noite
   $c Lisboa
   $v A. 6, n.º 1617 (19 Abr. 1919)
   $5 PTBN: CFF4-Esp. N1/151
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m RESESP
   $s Esp. N1/151
   $x 2
Record:
001 908651
003 http://id.bnportugal.gov.pt/bib/catbnp/908651
005 19990603000000.0
095
   $a PTBN01035250
100
   $a 19990109g19631964km y0pory0103    ba
101 0
   $a por
102
   $a PT
200 1
   $a Nova colectânea de artigos
   $f de Manuel da Silva
210
   $a [S.l.]
   $c Folhetim do "Notícias de Macau",
   $d 1963-1964
215
   $a 4 v.
   $d 18 cm
225 2
   $a Notícias de Macau
   $v 18, 19, 20, 21
327 1
   $a Vol. 1< Arte. - VIII, 324 p. ;
   $a Vol. 2> Problemas citadinos / compil. de Luis G. Gomes. - V, 356 p. ;
   $a Vol. 3< Assuntos cínicos e crónicas / compil. de Luis G. Gomes. - 324 p. ;
   $a Vol. 4> Diversos / compil. de Luis G. Gomes. - 195 p.
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
930
   $l BN
   $d H.G. 32168-71 P.
966
   $d V. 1
   $l BN
   $m FGMON
   $s H.G. 32168 P.
966
   $d V. 2
   $l BN
   $m FGMON
   $s H.G. 32169 P.
966
   $d V. 3
   $l BN
   $m FGMON
   $s H.G. 32170 P.
966
   $d V. 4
   $l BN
   $m FGMON
   $s H.G. 32171 P.
997
   $a BIBEOD
Record:
001 1244334
003 http://id.bnportugal.gov.pt/bib/catbnp/1244334
100
   $a 20020702d1898    m  y0pory010305  ba
101 1
   $a por
102
   $a PT
200 1
   $a Guilherme Tell
   $f Drama de Schiller
   $g Traducção Portugueza em Verso Solto Com Uma Introdução e Annotada Por M. da Silva Mendes
210
   $a Famalicão
   $c Typ. Minerva
   $d 1898
215
   $a XXIV, 232 p.
   $d 22 cm
700  1
   $a Schiller,
   $b Friedrich von,
   $f 1759-1805
   $3 62879
702  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $4 730
   $3 92687
801  0
   $a PT
   $b BN
801  1
   $a FR
   $b JOUVE
966
   $l BN
   $m FGMON
   $s L. 18238 V.
   $x 0
997
   $a BIBEOD
Record:
001 2067481
003 http://id.bnportugal.gov.pt/bib/catbnp/2067481
010
   $a 978-99965-335-5-6
   $b v. 2)
100
   $a 20210426g201 9999m  y0pory01030103ba
101 0
   $a por
102
   $a MO
105
   $a af  z   001yy
106
   $a r
200 1
   $a Manuel da Silva Mendes
   $e memória e pensamento
   $g coord. António Aresta, Rogério Beltrão Coelho
   $g autores Ana Cristina Alves... [et al.]
210
   $a Macau
   $c Livros do Oriente,
   $d [201-]-
215
   $a v.
   $c il.
   $d 24 cm
225 2
   $a Estudos e documentos
327 0
   $a V. 2: 2018. - 539 p.
675
   $a 821.134.3Mendes, Silva.09(042)
   $v BN
   $z por
   $3 1708909
675
   $a 37Mendes, Silva(042)
   $v BN
   $z por
   $3 1708907
675
   $a 061.3
   $v BN
   $z por
   $3 292562
700  1
   $a Aresta,
   $b António,
   $f 1955-
   $4 340
   $3 174550
702  1
   $a Coelho,
   $b R. Beltrão
   $4 340
   $3 83170
702  1
   $a Alves,
   $b Ana Cristina,
   $f 1963-
   $4 070
   $3 129124
702  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $4 100
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
856 41
   $u http://rnod.bnportugal.gov.pt/ImagesBN/winlibimg.aspx?skey=&doc=2067481&img=149475&save=true
900
   $a BIBNAC
   $d 20210519
966
   $l BN
   $m FGMON
   $s C.G. 23383 V.
   $x 1

In [10]:
recs = records['collection']

cfields = recs['record'][0]['controlfield']
dfields = recs['record'][0]['datafield']
cfields

TypeError: 'lxml.etree._ElementTree' object is not subscriptable