**[PT]** Português

---

**[EN]** English

# Bloco de experiências com linked data

---

# Notebook to experiment with linked data

## Exemplo de pesquisas

---

## Query examples

### Estudantes da Universidade de Coimbra nascidos antes do século XX na Wikidata

---

### Students of the University of Coimbra born before the 20th century in Wikidata

In [69]:
# Id of Universidade de Coimbra
uc_qid = 'Q368643'

# Property "educated at"
p_educated = 'P69'

# Property birth date
p_birth_date = 'P569'
# Property birth place
p_birth_place = 'P19'

# Property death date
p_death_date = 'P570'
# Property death place
p_death_place = 'P20'

# Coordinates of place
p_coordiantes = 'P625'

# country
p_country = 'P27'

# Biblioteca Nacional de Portugal ID
p_bnp_id = 'P1005'

# Install qwikidata library

In [70]:
!pip install qwikidata

Requirement already satisfied: qwikidata in /Users/jrc/.pyenv/versions/3.10.3/lib/python3.10/site-packages (0.4.1)
Requirement already satisfied: mypy-extensions in /Users/jrc/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from qwikidata) (0.4.3)
Requirement already satisfied: requests in /Users/jrc/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from qwikidata) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/jrc/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from requests->qwikidata) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jrc/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from requests->qwikidata) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/jrc/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from requests->qwikidata) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jrc/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from requests->qwikidata) (2021.10.8)

### Obter todos os estudantes da UC, nascidos antes de 1900, com data e local de nascimento e morte, e id na Biblioteca Nacional, se disponível

E também: coordenadas do local de nascimento e outros nomes.

---

### Fetch all the students of UC born before 1900 with date and place of birth and deadth and Portuguese National Library ID

And also: coordinates of place of birth and aliases.

In [71]:
# for the method of getting the coordinates see https://en.wikibooks.org/wiki/SPARQL/WIKIDATA_Precision,_Units_and_Coordinates#Coordinates
all_query = """

SELECT DISTINCT ?student ?bnp_idLabel ?studentLabel ?altLabel ?countryLabel ?birthDateLabel ?birthPlace ?birthPlaceLabel ?longitude ?latitude ?deathDateLabel ?deathPlace ?deathPlaceLabel 
WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "pt". }
  {
    SELECT DISTINCT ?student ?altLabel ?bnp_id ?country ?birthDate ?birthPlace ?longitude ?latitude ?deathDate ?deathPlace WHERE {
      ?student p:P69 ?statement0.
      ?statement0 (ps:P69/(wdt:P279*)) wd:Q368643.
      ?student p:P569 ?statement_1.
      OPTIONAL { ?student p:P570/psv:P570/wikibase:timeValue ?deathDate.}
      OPTIONAL { ?student p:P27/ps:P27 ?country.}
      OPTIONAL { ?student p:P19/ps:P19 ?birthPlace.} 
      OPTIONAL { ?student p:P19/ps:P19/p:P625/psv:P625/wikibase:geoLongitude ?longitude.}
      OPTIONAL { ?student p:P19/ps:P19/p:P625/psv:P625/wikibase:geoLatitude ?latitude.}
      OPTIONAL { ?student p:P20/ps:P20 ?deathPlace.}
      OPTIONAL { ?student p:P1005/ps:P1005 ?bnp_id.}
      OPTIONAL { ?student skos:altLabel ?altLabel . FILTER (lang(?altLabel) = "pt") }
      ?statement_1 psv:P569 ?statementValue_1.
      ?statementValue_1 wikibase:timePrecision ?precision_1.
      FILTER(?precision_1 >= 11 )
      ?statementValue_1 wikibase:timeValue ?birthDate.
      FILTER(?birthDate< "+1900-01-01T00:00:00Z"^^xsd:dateTime)
    }
    ORDER BY ?studentLabel ?student
    LIMIT 1000
  }
}
"""

Query Wikidata

In [72]:
from qwikidata.sparql import return_sparql_query_results

results = return_sparql_query_results(all_query)
records = results['results']['bindings']

Show sample records

In [73]:
records[:2]

[{'student': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q94850304'},
  'altLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'Levy Maria Jordão de Paiva Manso'},
  'birthPlace': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q597'},
  'longitude': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
   'type': 'literal',
   'value': '-9.139016'},
  'latitude': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
   'type': 'literal',
   'value': '38.708042'},
  'deathPlace': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q597'},
  'bnp_idLabel': {'type': 'literal', 'value': '54707'},
  'studentLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'Levy Maria Jordão'},
  'countryLabel': {'xml:lang': 'pt', 'type': 'literal', 'value': 'Portugal'},
  'birthDateLabel': {'type': 'literal', 'value': '1831-01-09T00:00:00Z'},
  'birthPlaceLabel': {'xml:lang': 'pt', 'type': 'literal', 'value': 'Lisboa'},
  'deathDateLabel': {'type': 'literal', 'value': '1875-07-19T00:00:00Z'},
  'deathPlaceLabel': {'xml:lang': 'pt', 'type': 'literal', 'value': 'Lisboa'}},
 {'student': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q94850304'},
  'altLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'Levy Maria Jordão de Paiva Manso'},
  'birthPlace': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q597'},
  'longitude': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
   'type': 'literal',
   'value': '-9.139016'},
  'latitude': {'datatype': 'http://www.w3.org/2001/XMLSchema#double',
   'type': 'literal',
   'value': '38.708042'},
  'deathPlace': {'type': 'uri',
   'value': 'http://www.wikidata.org/entity/Q597'},
  'bnp_idLabel': {'type': 'literal', 'value': '54707'},
  'studentLabel': {'xml:lang': 'pt',
   'type': 'literal',
   'value': 'Levy Maria Jordão'},
  'countryLabel': {'xml:lang': 'pt', 'type': 'literal', 'value': 'Portugal'},
  'birthDateLabel': {'type': 'literal', 'value': '1831-01-09T00:00:00Z'},
  'birthPlaceLabel': {'xml:lang': 'pt', 'type': 'literal', 'value': 'Lisboa'},
  'deathDateLabel': {'type': 'literal', 'value': '1875-01-01T00:00:00Z'},
  'deathPlaceLabel': {'xml:lang': 'pt', 'type': 'literal', 'value': 'Lisboa'}}]

Create dataframe from results

In [74]:
import pandas as pd


tuples = [(  
            student.get('student',{'value':None})['value'],
            student.get('studentLabel',{'value':None})['value'],
            student.get('altLabel',{'value':None})['value'],
            student.get('bnp_idLabel',{'value':None})['value'],
            student.get('birthPlaceLabel',{'value':None})['value'],
            student.get('birthPlace',{'value':None})['value'],
            student.get('longitude',{'value':None})['value'],
            student.get('latitude',{'value':None})['value'],
            student.get('birthDateLabel',{'value':'0000-00-00'})['value'][0:10], # keep just the date, the time is normally missing
            )
            for student in records]

students = pd.DataFrame(tuples, columns=['wikidata','name','alias','bnp_id','naturalidade','placeID','longitude','latitude','birth_date'])
students.drop_duplicates(subset=['wikidata','name','alias'], inplace=True)
print(students.info())
print("Number of unique wikidata entities:",len(students['wikidata'].unique()))
students.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 688 entries, 0 to 838
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   wikidata      688 non-null    object
 1   name          688 non-null    object
 2   alias         462 non-null    object
 3   bnp_id        458 non-null    object
 4   naturalidade  651 non-null    object
 5   placeID       651 non-null    object
 6   longitude     649 non-null    object
 7   latitude      649 non-null    object
 8   birth_date    688 non-null    object
dtypes: object(9)
memory usage: 53.8+ KB
None
Number of unique wikidata entities: 429

,wikidata,name,alias,bnp_id,naturalidade,placeID,longitude,latitude,birth_date
0,http://www.wikidata.org/entity/Q94850304,Levy Maria Jordão,Levy Maria Jordão de Paiva Manso,54707,Lisboa,http://www.wikidata.org/entity/Q597,-9.139016,38.708042,1831-01-09
2,http://www.wikidata.org/entity/Q9619744,António Maria Vasco de Melo Silva César e Meneses,António de melo césar e meneses,537789,Lisboa,http://www.wikidata.org/entity/Q597,-9.139016,38.708042,1851-11-13
3,http://www.wikidata.org/entity/Q966168,Manuel Gonçalves Cerejeira,Gonçalves cerejeira,68690,Lousado,http://www.wikidata.org/entity/Q949303,-8.53028,41.351388888889,1888-11-29
4,http://www.wikidata.org/entity/Q9620291,António da Costa,António da Costa e Sousa de Macedo,105800,Lisboa,http://www.wikidata.org/entity/Q597,-9.139016,38.708042,1824-11-24
5,http://www.wikidata.org/entity/Q921705,Alexandre de Serpa Pinto,Alexandre Serpa Pinto,32584,Cinfães,http://www.wikidata.org/entity/Q861464,-8.0833333333333,41.066666666667,1846-04-20

#### Cruzar informação da Wikidate com o FAUC: comparar nome e local de nascimento, verificar datas

---

#### Record matching wikidata with FAUC: use name and place of birth, check dates

In [75]:
import warnings

from timelinknb.pandas import attribute_to_df
from timelinknb import get_db
from ucalumni.config import default_db
from IPython.display import display

db_spec = default_db
db = get_db(db_spec)

students['fauc_id'] = None

not_found = 0
match = 0
ambiguous = 0

def remove_particles(name):
    particles = ("de","da","e","das","dos","do")
    return " ".join([n for n in name.split() if n not in particles])


students.sort_values(['name','wikidata','alias','birth_date'], inplace=True)

match_list = []
duplicate_list = []
ambiguous_list = []

for i,row in students.iterrows():
    
    uri = row['wikidata']
    name = row['name']
  
    if uri in match_list:
        continue

    # fix specific name problems in wilkipedia
    if name == 'Samoa Barros':
        name = 'Samora Barros'
    elif name == 'Frei Custódio Alves Serrão':
        name = 'Custódio Alves Serrão'
    elif name == 'Levy Maria Jordão':
        name = 'Levi Maria Jordão'

    name_particles = remove_particles(name).split(" ")
    name_like = '%'.join(name_particles)
    name_like = '%'+name_like+'%'
    
    alias = row['alias']
    if alias is not None:
        alias_particles = remove_particles(alias).split(" ")
        alias_like = '%'.join(alias_particles)
        alias_like = '%'+alias_like+'%'

    if name is None and alias is None:
        warnings.warn(f"{uri} has null name and no alias, skipped.")
        continue
    
    birth_date = row['birth_date']
    print()
    if row['naturalidade'] is not None:
        place = row['naturalidade']
        aka = f"(aka {alias})" if alias is not None else ""
        print(f"Looking for {name} {aka} {place} {birth_date} {uri}")
        
        # get students with similar names from similar places
        candidates = attribute_to_df('nome-geografico',the_value='%'+place+'%',name_like=name_like,dates_in=(birth_date,'1920-00-00' ))
        
        if candidates.iloc[0].count() == 0 and alias is not None:
            # Try again with alias
            candidates = attribute_to_df('nome-geografico',the_value='%'+place+'%',name_like=alias_like,dates_in=(birth_date,'1920-00-00' ))

        if candidates.iloc[0].count() == 0:
            print("Not found")
            not_found = not_found + 1
        else:
            # some candidates were found
            display(candidates.head(5))
            
            # if just one we take it
            if len(candidates.index) == 1:
                print("Matched")
                fauc_id = candidates.iloc[0].name
                match = match + 1
                students.loc[i]['fauc_id'] = fauc_id
                match_list.append(uri)
            else:  # found more than one check if one name matches exactly
                hit = 0
                candidates_list = []
                for fid, row in candidates.iterrows():
                    if remove_particles(row['name']).lower() == remove_particles(name).lower():
                        hit = hit + 1
                        hit_id = fid
                        candidates_list.append(fid)
                if hit == 0 and alias is not None:
                    hit = 0
                    for fid, row in candidates.iterrows():
                        if remove_particles(row['name']).lower() == remove_particles(alias).lower():
                            hit = hit + 1
                            hit_id = fid      
                            candidates_list.append(fid)             
                if hit == 0:
                    print("Ambiguous: could not find match in candidates")
                    ambiguous = ambiguous + 1
                    ambiguous_list.append({'widata':uri,'name':name, 'fauc':list(candidates.index.unique())})
                elif hit > 0:
                    print("Matched")
                    fauc_id = hit_id  # note this 'name' is the index entry
                    match = match + 1
                    students.loc[i]['fauc_id'] = fauc_id
                    match_list.append(uri)
                    if hit > 1 :
                        duplicate_list.append({'widata':uri,'name':name, 'fauc':candidates_list})
                        warnings.warn("Possible duplicates: "+", ".join(candidates_list))

print(f"Matched {match} ambiguous {ambiguous} not found {not_found}")

Looking for Aarão Ferreira de Lacerda  Vila Nova de Paiva 1863-10-03 http://www.wikidata.org/entity/Q9559855
Not found

Looking for Abel Maria Jordão de Paiva Manso  Coimbra 1801-03-03 http://www.wikidata.org/entity/Q106271718
Not found

Looking for Abílio Augusto da Fonseca Pinto  Coimbra 1830-05-27 http://www.wikidata.org/entity/Q23820937

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
245300,Abílio Augusto da Fonseca Pinto,m,Coimbra,1844-10-22,None

Matched


Looking for Adolfo Ferreira Loureiro (aka Adolfo Ferreira de Loureiro) São Bartolomeu 1836-12-12 http://www.wikidata.org/entity/Q19607365
Not found

Looking for Adriano António Canavarro Crispiniano da Fonseca  Marco de Canaveses 1884-11-08 http://www.wikidata.org/entity/Q16144296
Not found

Looking for Adriano Inácio Botelho  Angra do Heroísmo 1892-09-12 http://www.wikidata.org/entity/Q56072395

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
186608,Adriano Inácio Botelho,m,Angra do Heroísmo,1910-11-02,Santa Luzia (Angra do Heroísmo)

Matched

Looking for Afonso Costa (aka Afonso Augusto Costa) Seia 1871-03-06 http://www.wikidata.org/entity/Q383401

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
198981,Afonso Augusto da Costa,m,Seia,1887-10-03,None

Matched

Looking for Afonso Mendes  Santo Aleixo da Restauração 1579-06-28 http://www.wikidata.org/entity/Q4689383
Not found

Looking for Afonso Pinto Veloso (aka Afonso de Melo Pinto Veloso) Águeda 1878-10-09 http://www.wikidata.org/entity/Q16142675

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
214665,Afonso de Melo Pinto Veloso,m,Águeda,1893-10-20,None

Matched

Looking for Aires Jácome Correia  Lisboa 1882-08-09 http://www.wikidata.org/entity/Q16144891
Not found

Looking for Alberto Monsaraz (aka Alberto de Monsaraz) Lisboa 1889-02-28 http://www.wikidata.org/entity/Q2275881

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
250889,Alberto Monsaraz,m,Lisboa,1906-10-01,None

Matched

Looking for Alberto Pinheiro Torres  Braga 1874-11-02 http://www.wikidata.org/entity/Q16487096

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
203860,Alberto Pinheiro Torres,m,Braga,1891-10-03,None

Matched

Looking for Alberto Teles de Utra Machado  Angra do Heroísmo 1840-01-24 http://www.wikidata.org/entity/Q16487343
Not found

Looking for Alberto da Veiga Simões  Arganil 1888-12-16 http://www.wikidata.org/entity/Q47318259

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
231020,Alberto da Veiga Simões,m,Arganil,1906-10-02,None

Matched

Looking for Albino dos Reis (aka Albino Soares Pinto dos Reis) Oliveira de Azeméis 1888-09-30 http://www.wikidata.org/entity/Q9594728
Not found

Looking for Albino dos Reis (aka Albino Soares Pinto dos Reis Júnior) Oliveira de Azeméis 1888-09-30 http://www.wikidata.org/entity/Q9594728
Not found

Looking for Alexandre Braga, pai (aka Alexandre José da Silva Braga) Porto 1829-03-14 http://www.wikidata.org/entity/Q16488032

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
187311,Alexandre José da Silva Braga Júnior,m,Porto,1848-10-23,None

Matched

Looking for Alexandre Meireles do Canto e Castro  Angra do Heroísmo 1827-03-10 http://www.wikidata.org/entity/Q16488152

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
132510,Alexandre Meireles do Canto e Castro,m,Angra do Heroísmo,1849-10-30,"Angra do Heroísmo, Açores"

Matched

Looking for Alexandre Rodrigues Ferreira  Salvador 1756-04-27 http://www.wikidata.org/entity/Q188916
Not found

Looking for Alexandre de Gamboa Loureiro  Lisboa 1770-08-26 http://www.wikidata.org/entity/Q96749053

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
253931,Alexandre de Gamboa Loureiro,m,Lisboa,1785-10-20,None

Matched

Looking for Alexandre de Serpa Pinto (aka Alexandre Alberto da Rocha de Serpa Pinto) Cinfães 1846-04-20 http://www.wikidata.org/entity/Q921705

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
223565,Alexandre Alberto da Rocha Serpa Pinto,m,Cinfães,1867-10-15,None

Matched

Looking for Alfredo Augusto de Soveral Martins (aka Alfredo Cardoso de Soveral Martins) Almacave 1869-06-07 http://www.wikidata.org/entity/Q1636522
Not found

Looking for Alfredo Carneiro da Cunha  Fundão 1863-12-21 http://www.wikidata.org/entity/Q16488312

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
208773,Alfredo Carneiro da Cunha,m,Fundão,1880-10-04,None

Matched

Looking for Alfredo Pimenta (aka Alfredo Augusto Lopes Pimenta) Guimarães 1882-12-03 http://www.wikidata.org/entity/Q4723837

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
296360,Alfredo Augusto Lopes Pimenta,m,São Mamede de Aldão Guimarães,1906-06-21,None

Matched

Looking for Alfredo da Silva Sampaio  Angra do Heroísmo 1872-09-19 http://www.wikidata.org/entity/Q9603234
Not found

Looking for Almeida Garrett (aka Almeida Garret) Porto 1799-02-04 http://www.wikidata.org/entity/Q316806

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
144223,Tomás de Aquino de Almeida Garrett,m,Porto,1897-10-15,None

Matched

Looking for Almiro Maia de Loureiro  Lisboa 1897-09-21 http://www.wikidata.org/entity/Q23777977
Not found

Looking for Amadeu de Castro e Sola (aka Amadeu Teles da Silva de Afonseca Mesquita de Castro Pereira e Solla) Braga 1874-08-19 http://www.wikidata.org/entity/Q20045590
Not found

Looking for Anselmo José Braamcamp (aka Anselmo Braancamp) Lisboa 1817-10-23 http://www.wikidata.org/entity/Q321278

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
187197,Anselmo José Braancamp,m,Lisboa,1835-10-31,None
183723,Anselmo José Braancamp de Mancelos,m,Lisboa,1908-10-07,None

Ambiguous: could not find match in candidates

Looking for Anselmo José Braamcamp (aka Anselmo José Braamcamp de Almeida Castelo Branco) Lisboa 1817-10-23 http://www.wikidata.org/entity/Q321278
Not found

Looking for Anselmo José Braamcamp (aka Anselmo braamcamp) Lisboa 1817-10-23 http://www.wikidata.org/entity/Q321278

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
164265,Anselmo Braamcamp Freire,m,Lisboa,1867-10-02,None

Matched

Looking for Antero de Quental (aka Antero Tarquínio de Quental) Ponta Delgada 1842-04-18 http://www.wikidata.org/entity/Q467494

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
132885,Antero Tarquinio do Quental,m,Ponta Delgada,1858-10-02,"Ponta Delgada, Ilha de São Miguel, Açores"

Matched

Looking for Antonio Cordeses  Olot 1518-08-09 http://www.wikidata.org/entity/Q27786526
Not found

Looking for Antonio da Costa Paiva (aka A.Paiva) Porto 1806-10-12 http://www.wikidata.org/entity/Q21522539
Not found

Looking for Antonio da Costa Paiva (aka António da Costa Paiva) Porto 1806-10-12 http://www.wikidata.org/entity/Q21522539

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
221537,António da Costa Paiva,m,Porto,1822-10-07,None

Matched

Looking for António Aires de Gouveia  Porto 1828-09-13 http://www.wikidata.org/entity/Q60467443

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
282433,António Aires de Gouveia,m,Porto,1853-05-24,None

Matched

Looking for António Augusto da Costa Simões  Vacariça 1819-08-23 http://www.wikidata.org/entity/Q55688130
Not found

Looking for António Augusto da Silva Martins  Abrantes 1892-04-04 http://www.wikidata.org/entity/Q18715803

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
184909,António Augusto da Silva Martins,m,Abrantes,1910-10-15,None

Matched

Looking for António Augusto de Sousa  Alijó 1883-12-10 http://www.wikidata.org/entity/Q23905297
Not found

Looking for António Baião  Ferreira do Zêzere 1878-10-10 http://www.wikidata.org/entity/Q9618672

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
149831,António Eduardo Simões Baião,m,Ferreira do Zêzere,1894-10-12,"Beco, Ferreira do Zêzere"

Matched

Looking for António Barroso Pereira Vitorino  Viseu 1878-03-13 http://www.wikidata.org/entity/Q26973683

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
216075,António Barroso Pereira Vitorino,m,Viseu,1897-10-05,None

Matched

Looking for António Bernardo da Costa Cabral, Marquês de Tomar  Fornos de Algodres 1803-05-09 http://www.wikidata.org/entity/Q130870
Not found

Looking for António Borges Coutinho de Medeiros de Sousa Dias da Câmara  Reino de Portugal 1871-01-19 http://www.wikidata.org/entity/Q9618745
Not found


Looking for António Cândido Gonçalves Crespo  Rio de Janeiro 1846-03-11 http://www.wikidata.org/entity/Q1960536

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
207268,António Cândido Gonçalves Crespo,m,Rio de Janeiro,1872-10-12,"Rio de Janeiro, Brasil"

Matched

Looking for António Dias de Oliveira (aka António dias de oliveira) Valongo 1804-07-20 http://www.wikidata.org/entity/Q610800

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
174458,António Dias de Oliveira,m,Valongo,1820-11-24,None

Matched

Looking for António Dinis da Cruz e Silva (aka Antonio Diniz Cruz e Silva) Lisboa 1731-07-04 http://www.wikidata.org/entity/Q610816
Not found

Looking for António Dinis da Cruz e Silva (aka Antonio diniz cruz e silva) Lisboa 1731-07-04 http://www.wikidata.org/entity/Q610816
Not found

Looking for António Dinis da Cruz e Silva (aka António Dinis Cruz e Silva) Lisboa 1731-07-04 http://www.wikidata.org/entity/Q610816
Not found

Looking for António Dinis da Cruz e Silva (aka António dinis cruz e silva) Lisboa 1731-07-04 http://www.wikidata.org/entity/Q610816
Not found

Looking for António Dinis da Cruz e Silva (aka António dinis da cruz e silva) Lisboa 1731-07-04 http://www.wikidata.org/entity/Q610816
Not found

Looking for António Dinis da Cruz e Silva (aka Cruz e Silva) Lisboa 1731-07-04 http://www.wikidata.org/entity/Q610816
Not found


Looking for António Egas Moniz (aka Antonio Caetano de Abreu Freire Egas Moniz) Avanca 1874-11-29 http://www.wikidata.org/entity/Q273219

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
165113,António Caetano de Abreu Freire Egas Moniz,m,Avanca,1891-10-14,None

Matched

Looking for António Feijó (aka António Joaquim de Castro Feijó) Ponte de Lima 1859-06-01 http://www.wikidata.org/entity/Q610837

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
247098,António de Castro Feijó,m,Ponte de Lima,1877-10-15,None
247101,António Joaquim de Castro Feijó,m,Ponte de Lima,1878-10-15,None

Matched

Looking for António Feliciano de Castilho (aka Antonio feliciano de castilho) Lisboa 1800-01-28 http://www.wikidata.org/entity/Q2624029

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
190014,António Feliciano de Castilho,m,Lisboa,1817-10-29,None

Matched


Looking for António Fogaça  Barcelos 1863-05-11 http://www.wikidata.org/entity/Q9619113
Not found

Looking for António Ginestal Machado (aka Ginestal machado) Almeida 1874-05-03 http://www.wikidata.org/entity/Q357489
Not found

Looking for António José da Silva (aka António José da Silva - o Judeu) Rio de Janeiro 1705-05-08 http://www.wikidata.org/entity/Q611037

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
225029,António José da Silva,m,Rio de Janeiro,1722-10-01,None

Matched

Looking for António José de Almeida (aka Antônio José de Almeida) Penacova 1866-07-27 http://www.wikidata.org/entity/Q551542
Not found

Looking for António José de Ávila (aka António José d'Ávila) Horta 1806-03-08 http://www.wikidata.org/entity/Q611078
Not found

Looking for António José de Ávila (aka António José Ávila) Horta 1806-03-08 http://www.wikidata.org/entity/Q611078
Not found

Looking for António José de Ávila (aka António josé d'ávila) Horta 1806-03-08 http://www.wikidata.org/entity/Q611078
Not found

Looking for António José de Ávila (aka António josé de ávila) Horta 1806-03-08 http://www.wikidata.org/entity/Q611078
Not found

Looking for António José de Ávila Júnior (aka António José de Ávila) Horta 1842-11-07 http://www.wikidata.org/entity/Q16059321
Not found


Looking for António Luís Gomes  Porto 1863-09-23 http://www.wikidata.org/entity/Q8677139
Not found

Looking for António Luís de Freitas  Carrazeda de Ansiães 1855-01-10 http://www.wikidata.org/entity/Q9619586
Not found

Looking for António Luís de Seabra  Oceano Atlântico 1798-12-02 http://www.wikidata.org/entity/Q16491932
Not found

Looking for António Maria Vasco de Melo Silva César e Meneses (aka António Maria Vasco de Mello Silva César e Menezes) Lisboa 1851-11-13 http://www.wikidata.org/entity/Q9619744
Not found

Looking for António Maria Vasco de Melo Silva César e Meneses (aka António Maria Vasco de Melo César e Meneses) Lisboa 1851-11-13 http://www.wikidata.org/entity/Q9619744
Not found

Looking for António Maria Vasco de Melo Silva César e Meneses (aka António Vasco de Melo) Lisboa 1851-11-13 http://www.wikidata.org/entity/Q9619744

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
235520,António Vasco de Melo Silva César e Menezes,m,Lisboa,1893-10-09,None

Matched

Looking for António Maria da Silva (aka António maria da silva) Lisboa 1872-05-26 http://www.wikidata.org/entity/Q611175
Not found

Looking for António Menano  Fornos de Algodres 1895-05-05 http://www.wikidata.org/entity/Q16492076
Not found

Looking for António Mendes Bello (aka António Mendes Belo) Portugal 1842-06-18 http://www.wikidata.org/entity/Q611205
Not found

Looking for António Mendes Bello (aka António mendes bello) Portugal 1842-06-18 http://www.wikidata.org/entity/Q611205
Not found

Looking for António Mendo Caldeira de Castel-Branco Cota Falcão  Portalegre 1848-10-09 http://www.wikidata.org/entity/Q16492080
Not found

Looking for António Osório Sarmento de Figueiredo, Jr.  Cumieira 1855-03-13 http://www.wikidata.org/entity/Q4777591
Not found

Looking for António Pereira Nobre (aka António Nobre) Porto 1867-08-16 http://www.wikidata.org/entity/Q611238

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
170404,António Pereira Nobre,m,Porto,1888-10-02,None

Matched

Looking for António Pinto de Magalhães Aguiar  Constance 1834-06-23 http://www.wikidata.org/entity/Q9620002
Not found


Looking for António Ribeiro Saraiva  Sernancelhe 1800-06-10 http://www.wikidata.org/entity/Q16492304

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
220851,António Ribeiro Saraiva,m,Sernancelhe,1816-11-09,None

Matched



Looking for António Sardinha (aka António Maria de Sousa Sardinha) Monforte 1888-09-09 http://www.wikidata.org/entity/Q461148
Not found

Looking for António Teles Peixoto Guterres Palhinha  Horta 1813-10-11 http://www.wikidata.org/entity/Q63981883
Not found

Looking for António Xavier de Sousa Monteiro  Lisboa 1829-11-03 http://www.wikidata.org/entity/Q9620285

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
252018,António Xavier de Sousa Monteiro,m,Lisboa,1850-10-28,None

Matched

Looking for António da Costa (aka António da Costa de Sousa Macedo) Lisboa 1824-11-24 http://www.wikidata.org/entity/Q9620291

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
200949,Francisco António Pereira da Costa,m,Lisboa,1825-10-31,None
190246,António Maria Ribeiro da Costa Holtreman,m,Lisboa,1827-10-05,None
181226,António da Costa e Sousa de Macedo,m,Lisboa,1842-10-05,None
213292,António Xavier da Costa Veiga,m,Lisboa,1858-10-05,None
217817,António Francisco da Costa Lima,m,Lisboa,1873-10-02,None

Matched

Looking for António da Trindade de Vasconcelos Pereira de Melo  Amarante 1812-08-28 http://www.wikidata.org/entity/Q9620375
Not found

Looking for António de Abranches Ferrão  Seia 1883-08-25 http://www.wikidata.org/entity/Q16491055

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
248135,António de Abranches Ferrão,m,Seia,1902-10-04,None

Matched

Looking for António de Azevedo Castelo Branco  Vilarinho de Samardã 1842-12-23 http://www.wikidata.org/entity/Q21290090

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
189296,António de Azevedo Castelo Branco,m,Vilarinho de Samardã,1860-10-02,None

Matched

Looking for António de Carvalho e Vasconcelos  Cantanhede 1827-03-29 http://www.wikidata.org/entity/Q56179547

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
208983,António de Carvalho Coutinho de Vasconcelos,m,Cantanhede,1843-10-07,None

Matched

Looking for António de Gouveia Osório (aka António de gouveia osório) Penalva do Castelo 1825-07-25 http://www.wikidata.org/entity/Q9620470
Not found

Looking for António de Macedo Papança (aka Conde de Monsaraz) Reguengos de Monsaraz 1852-07-18 http://www.wikidata.org/entity/Q16144048
Not found

Looking for António de Oliveira Monteiro  Alcafozes 1842-01-02 http://www.wikidata.org/entity/Q21290091

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
251928,António de Oliveira Monteiro,m,Alcafozes,1860-07-09,None

Matched

Looking for António de Oliveira Salazar (aka Antonio Oliveira Salazar) Vimieiro 1889-04-28 http://www.wikidata.org/entity/Q151394

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
212667,António de Oliveira Salazar,m,Vimieiro,1913-07-28,None

Matched

Looking for António de Serpa Pimentel (aka António Serpa) Coimbra 1825-11-20 http://www.wikidata.org/entity/Q558201

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
241774,António de Serpa Pimentel,m,Coimbra,1840-10-15,None

Matched

Looking for António de Sousa Horta Sarmento Osório  Lousã 1882-08-14 http://www.wikidata.org/entity/Q24302446

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
176692,António de Sousa Horta Sarmento Osório,m,Lousã,1898-10-03,None

Matched

Looking for António de Sousa de Macedo (aka Antonio de Souza de Macedo) Porto 1606-12-15 http://www.wikidata.org/entity/Q8202081
Not found

Looking for António de Sousa de Macedo (aka António de sousa de macedo) Porto 1606-12-15 http://www.wikidata.org/entity/Q8202081
Not found

Looking for António dos Santos Rocha  Figueira da Foz 1853-04-30 http://www.wikidata.org/entity/Q611708

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
173131,António dos Santos Rocha,m,Figueira da Foz,1904-10-03,None

Matched

Looking for Antônio Carlos Ribeiro de Andrada Machado e Silva  Santos 1773-11-01 http://www.wikidata.org/entity/Q742361
Not found

Looking for Antônio José Machado  Fortaleza 1809-10-14 http://www.wikidata.org/entity/Q16491822
Not found

Looking for Antônio Luís Pereira da Cunha  Salvador 1760-04-06 http://www.wikidata.org/entity/Q16491930
Not found

Looking for Antônio Paulino Limpo de Abreu  Lisboa 1798-09-22 http://www.wikidata.org/entity/Q1789311
Not found

Looking for Antônio Rodrigues de Aguiar  Rio de Janeiro 1768-03-21 http://www.wikidata.org/entity/Q37922670
Not found

Looking for Aquiles Estaço  Vidigueira 1524-06-22 http://www.wikidata.org/entity/Q4673751
Not found

Looking for Armando Marques Guedes (aka Armando Manuel Marques Guedes) Porto 1886-12-08 http://www.wikidata.org/entity/Q23969981

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
180482,Armando Marques Guedes,m,Porto,1906-10-02,None

Matched

Looking for Artur Alberto de Campos Henriques (aka Artur Campos Henriques) Porto 1853-04-28 http://www.wikidata.org/entity/Q320981

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
187608,Artur Alberto de Campos Henriques,m,Porto,1870-10-03,None

Matched


Looking for Augusto Alexandre Barjona de Freitas  Coimbra 1857-07-10 http://www.wikidata.org/entity/Q16336816

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
167003,Augusto Alexandre Barjona de Freitas,m,Coimbra,1873-10-03,None

Matched

Looking for Augusto Alves da Veiga (aka Alves da Veiga) Izeda 1850-09-28 http://www.wikidata.org/entity/Q3558535

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
213294,Augusto Manuel Alves da Veiga,m,Izeda,1869-10-13,"Izeda, Bragança"

Matched

Looking for Augusto Caupers Machado de Faria e Maia  Ponta Delgada 1831-09-21 http://www.wikidata.org/entity/Q16495179
Not found

Looking for Augusto César Barjona de Freitas (aka Barjona de Freitas) Coimbra 1834-01-13 http://www.wikidata.org/entity/Q9637572

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
167004,Augusto César Barjona de Freitas,m,Coimbra,1849-10-02,None

Matched

Looking for Augusto César Pires de Lima  Santo Tirso 1883-08-29 http://www.wikidata.org/entity/Q16495188

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
218280,Augusto César Pires de Lima,m,Santo Tirso,1900-10-05,Areias (Santo Tirso)

Matched

Looking for Augusto Eduardo Nunes  Portalegre 1849-05-31 http://www.wikidata.org/entity/Q9637622

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
172815,Augusto Eduardo Nunes,m,Portalegre,1874-10-13,None

Matched

Looking for Augusto Hilário  Viseu 1864-01-07 http://www.wikidata.org/entity/Q9637703

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
144769,Augusto Hilário da Costa Alves,m,Viseu,1886-10-12,None

Matched

Looking for Augusto Maria da Fonseca Coutinho  Portalegre 1857-11-17 http://www.wikidata.org/entity/Q9637776

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
205553,Augusto Maria da Fonseca Coutinho,m,Portalegre,1873-10-02,None

Matched

Looking for Augusto Romano Sanches de Baena (aka Augusto Romano Sanches de Baena e Farinha d'Almeida Portugal da Silva e Sousa) Vairão 1822-09-26 http://www.wikidata.org/entity/Q9637884
Not found

Looking for Augusto Romano Sanches de Baena (aka D. Augusto Romano Sanches de Baena e Farinha d'Almeida Portugal da Silva e Sousa) Vairão 1822-09-26 http://www.wikidata.org/entity/Q9637884
Not found

Looking for Augusto Romano Sanches de Baena (aka Sanches de Baena) Vairão 1822-09-26 http://www.wikidata.org/entity/Q9637884
Not found

Looking for Augusto Romano Sanches de Baena (aka Visconde de Sanches de Baena) Vairão 1822-09-26 http://www.wikidata.org/entity/Q9637884
Not found

Looking for Augusto da Fonseca Júnior  Colos 1895-02-10 http://www.wikidata.org/entity/Q9637995
Not found

Looking for Aureliano de Mira Fernandes (aka Aureliano Lopes de Mira Fernandes) Mina de São Domingos 1884-06-16 http://www.wikidata.org/entity/Q9638198
Not found

Looking for Aureliano de Mira Fernandes (aka Mira Fernandes) Mina de São Domingos 1884-06-16 http://www.wikidata.org/entity/Q9638198
Not found

Looking for Aurélio Quintanilha (aka Aurélio Pereira da Silva Quintanilha) Angra do Heroísmo 1892-04-24 http://www.wikidata.org/entity/Q9638330
Not found

Looking for Bartolomeu da Costa (tesoureiro-mor da Sé de Lisboa) (aka Bartolomeu da Costa) Castelo Branco 1553-09-03 http://www.wikidata.org/entity/Q27876006

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
199898,Bartolomeu da Costa,m,Castelo Branco,1574-00-00,None

Matched

Looking for Bartolomeu de Gusmão (aka Bartolomeu Lourenço de Gusmão) Santos 1685-12-18 http://www.wikidata.org/entity/Q709516
Not found

Looking for Bartolomeu de Gusmão (aka Bartolomeu lourenço de gusmão) Santos 1685-12-18 http://www.wikidata.org/entity/Q709516
Not found

Looking for Bartolomeu de Gusmão (aka O padre voador) Santos 1685-12-18 http://www.wikidata.org/entity/Q709516
Not found

Looking for Bartolomeu de Gusmão (aka Padre Bartolomeu de Gusmão) Santos 1685-12-18 http://www.wikidata.org/entity/Q709516
Not found

Looking for Basílio Alberto de Sousa Pinto  Cinfães 1793-03-16 http://www.wikidata.org/entity/Q16497103
Not found

Looking for Bernardino Machado (aka Bernardino Luis Machado Guimarães) Rio de Janeiro 1851-03-28 http://www.wikidata.org/entity/Q455317

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
180974,Bernardino Luís Machado Guimarães,m,Rio de Janeiro,1867-07-22,None

Matched

Looking for Bernardo Augusto de Madureira e Vasconcelos (aka Bernardo Augusto de Madureira) Ancede 1842-03-07 http://www.wikidata.org/entity/Q9655262

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
182496,Bernardo Augusto de Madureira,m,Ancede,1863-10-24,None

Matched

Looking for Bernardo Pereira de Vasconcelos (aka Bernardo Pereira de Vasconcellos) Ouro Preto 1795-08-27 http://www.wikidata.org/entity/Q12082349
Not found

Looking for Bernardo Pinheiro Correia de Melo  Guimarães 1855-05-27 http://www.wikidata.org/entity/Q16497992

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
174689,Bernardo Pinheiro Correia de Melo,m,Guimarães,1872-11-14,None

Matched


Looking for Bernardo de Brito (aka Baltasar de Brito de Andrade) Almeida 1569-08-20 http://www.wikidata.org/entity/Q3638813
Not found

Looking for Bernardo de Brito (aka Baltasar de Brito e Andrade) Almeida 1569-08-20 http://www.wikidata.org/entity/Q3638813
Not found

Looking for Bernardo de Brito (aka Frei Bernardo de Brito) Almeida 1569-08-20 http://www.wikidata.org/entity/Q3638813
Not found

Looking for Bernardo do Canto Machado de Faria e Maia (aka Bernardo do Canto Machado Faria e Maia) Ponta Delgada 1797-06-21 http://www.wikidata.org/entity/Q9655523

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
183304,Bernardo do Canto Machado Faria e Maia,m,Ponta Delgada,1816-10-15,Ponta Delgada (São Miguel)

Matched

Looking for Bernhard Tollens (aka Bernhard Christian Gottfried Tollens) Hamburgo 1841-07-30 http://www.wikidata.org/entity/Q66830
Not found

Looking for Brás Garcia de Mascarenhas  Avô 1596-02-03 http://www.wikidata.org/entity/Q4981790

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
170701,Brás Garcia Mascarenhas,m,Avô,1722-10-01,None
170702,Brás Garcia Mascarenhas,m,Avô,1760-12-15,None

Matched

Looking for Caetano da Anunciação Brandão  Oliveira de Azeméis 1740-09-11 http://www.wikidata.org/entity/Q13408257

/var/folders/6m/_0n598297cj_bc2ql0rynnx00000gp/T/ipykernel_34979/2881094324.py:113: UserWarning: Possible duplicates: 170701, 170702
  warnings.warn("Possible duplicates: "+", ".join(candidates_list))

Not found

Looking for Camilo Pessanha (aka Camilo de Almeida Pessanha) Coimbra 1867-09-07 http://www.wikidata.org/entity/Q286722

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
239985,Camilo de Almeida Pessanha,m,Coimbra,1884-10-09,None

Matched

Looking for Carlos Orta Lobo d'Ávila (aka Carlos Lobo de Ávila) Lisboa 1860-03-17 http://www.wikidata.org/entity/Q9697267

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
148765,Carlos Augusto Lobo de Ávila,m,Lisboa,1878-10-28,None

Matched

Looking for Celestino de Almeida (aka Celestino Germano Pais de Almeida) Vila de Frades 1864-05-28 http://www.wikidata.org/entity/Q16929976
Not found

Looking for Cipriano Barata (aka Cipriano José Barata de Almeida) Salvador 1762-09-26 http://www.wikidata.org/entity/Q5121310
Not found

Looking for Cipriano Barata (aka Cipriano barata) Salvador 1762-09-26 http://www.wikidata.org/entity/Q5121310
Not found

Looking for Cipriano Barata (aka Cipriano josé barata de almeida) Salvador 1762-09-26 http://www.wikidata.org/entity/Q5121310
Not found

Looking for Cláudio Manuel da Costa  Mariana 1729-06-05 http://www.wikidata.org/entity/Q1789904
Not found

Looking for Conde do Ameal  Coimbra 1844-02-05 http://www.wikidata.org/entity/Q16489680
Not found

Looking for Cristiano de Sousa (aka Christiano de Sousa) Porto 1862-03-13 http://www.wikidata.org/entity/Q106419707

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
180953,Cristiano de Sousa Guimarães,m,Porto,1882-10-02,None

Matched

Looking for Cristóvão Alão de Morais (aka Cristovão Alão de Morais) São João da Madeira 1632-05-13 http://www.wikidata.org/entity/Q10261723
Not found

Looking for Cristóvão Clávio (aka Christoph Clau) Bamberg 1538-04-04 http://www.wikidata.org/entity/Q76728
Not found

Looking for Cristóvão Clávio (aka Christopher clavius) Bamberg 1538-04-04 http://www.wikidata.org/entity/Q76728
Not found

Looking for Cândido José de Araújo Viana (aka Candido José de Araujo Vianna) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Candido josé de araujo vianna) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Cândido José de Araújo Viana, marquês de Sapucaí) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Cândido José de Araújo Vianna) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Cândido josé de araújo viana) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Cândido josé de araújo viana, marquês de sapucaí) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Cândido josé de araújo vianna) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Marquês de Sapucaí) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Marquês de sapucaí) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Visconde de Sapucaí) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for Cândido José de Araújo Viana (aka Visconde de sapucaí) Nova Lima 1793-09-15 http://www.wikidata.org/entity/Q5202392
Not found

Looking for D. Luís da Cunha (aka D. Luiz da Cunha) Lisboa 1662-01-25 http://www.wikidata.org/entity/Q501859
Not found

Looking for D. Luís da Cunha (aka Luís da Cunha) Lisboa 1662-01-25 http://www.wikidata.org/entity/Q501859

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
210415,Luís Álvares da Cunha,m,Lisboa,1662-10-01,None
209044,António Luís da Cunha,m,Lisboa,1678-10-01,None
210374,Luís da Cunha,m,Lisboa,1678-10-01,None
148633,Francisco Luís da Cunha e Ataíde,m,Lisboa,1684-10-01,None
210448,Luís Dantas da Cunha,m,Lisboa,1704-02-07,None

Matched

Looking for Daniel da Silva (aka Daniel Augusto da Silva) Lisboa 1814-05-16 http://www.wikidata.org/entity/Q5219175

/var/folders/6m/_0n598297cj_bc2ql0rynnx00000gp/T/ipykernel_34979/2881094324.py:113: UserWarning: Possible duplicates: 210374, 210379, 294781
  warnings.warn("Possible duplicates: "+", ".join(candidates_list))

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
225940,Daniel Augusto da Silva,m,Lisboa,1836-05-25,None

Matched

Looking for Diego de Paiva de Andrade (aka Diego Andrada de Payva) Coimbra 1528-07-26 http://www.wikidata.org/entity/Q3708465
Not found

Looking for Diego de Paiva de Andrade (aka Diogo de Paiva de Andrada) Coimbra 1528-07-26 http://www.wikidata.org/entity/Q3708465
Not found

Looking for Diogo Inácio de Pina Manique (aka Pina Manique) Lisboa 1733-10-03 http://www.wikidata.org/entity/Q3028686

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
243328,Diogo Inácio de Pina Manique,m,Lisboa,1752-10-01,None
243330,Diogo Inácio de Pina Manique,m,Lisboa,1856-10-25,None

Matched

Looking for Diogo de Barcelos Machado de Bettencourt (aka Diogo de Barcelos Machado Bettencourt) Angra do Heroísmo 1847-08-08 http://www.wikidata.org/entity/Q5279228

/var/folders/6m/_0n598297cj_bc2ql0rynnx00000gp/T/ipykernel_34979/2881094324.py:113: UserWarning: Possible duplicates: 243328, 243330
  warnings.warn("Possible duplicates: "+", ".join(candidates_list))

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
152471,Diogo de Barcelos Machado Bettencourt do Carva...,m,Angra do Heroísmo,1853-10-03,None

Matched

Looking for Diogo de Mendonça Corte-Real (aka Diogo de Mendonça Corte Real) Tavira 1658-07-17 http://www.wikidata.org/entity/Q5279236
Not found

Looking for Dom José de Barros Alarcão (aka José de Barros Alarcão) Leiria 1634-11-28 http://www.wikidata.org/entity/Q64727664
Not found

Looking for Domingos Borges de Barros (aka Barão de Pedra Branca) Salvador 1780-10-10 http://www.wikidata.org/entity/Q10268035
Not found

Looking for Domingos Borges de Barros (aka Visconde da Pedra Branca) Salvador 1780-10-10 http://www.wikidata.org/entity/Q10268035
Not found

Looking for Domingos Borges de Barros (aka Visconde de Pedra Branca) Salvador 1780-10-10 http://www.wikidata.org/entity/Q10268035
Not found

Looking for Domingos Caldas Barbosa (aka Viola de Lereno) Rio de Janeiro 1738-08-04 http://www.wikidata.org/entity/Q1960658

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
150380,Domingos de Caldas Barbosa,m,Rio de Janeiro,1763-10-01,"Rio de Janeiro, Brasil"

Matched

Looking for Domingos Leite Pereira (aka Domingos Leite) Braga 1882-09-19 http://www.wikidata.org/entity/Q1237519
Not found

Looking for Domingos Leite Pereira (aka Domingos Pereira) Braga 1882-09-19 http://www.wikidata.org/entity/Q1237519

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
233404,Domingos José Pereira,m,Braga,1899-10-02,None

Matched

Looking for Duarte Leite (aka Duarte Leite Pereira da Silva) Porto 1864-08-11 http://www.wikidata.org/entity/Q1261617

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
226121,Duarte Leite Pereira da Silva,m,Porto,1880-10-14,None

Matched

Looking for Eduardo José Coelho  Vilela do Tâmega 1835-09-17 http://www.wikidata.org/entity/Q110910811
Not found

Looking for Eduardo de Abreu (aka Eduardo Augusto da Rocha Abreu) Angra do Heroísmo 1856-02-08 http://www.wikidata.org/entity/Q8772425

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
140699,Eduardo Abreu,m,Angra do Heroísmo,1875-10-11,"Angra do Heroísmo, Açores"

Matched

Looking for Elias da Cunha Pessoa  Tomar 1801-07-04 http://www.wikidata.org/entity/Q21290098

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
240208,Elias da Cunha Pessoa,m,Tomar,1819-10-22,None

Matched

Looking for Elísio de Moura (aka Elysio de Moura) Braga 1877-08-30 http://www.wikidata.org/entity/Q10272145

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
240348,Elísio de Azevedo e Moura,m,Braga,1893-06-15,None

Matched

Looking for Emírcio Teixeira Pinto (aka Emircio Teixeira Pinto) Vila Pouca de Aguiar 1899-08-17 http://www.wikidata.org/entity/Q10272643
Not found

Looking for Emírcio Teixeira Pinto (aka Emircio teixeira pinto) Vila Pouca de Aguiar 1899-08-17 http://www.wikidata.org/entity/Q10272643
Not found

Looking for Emírcio Teixeira Pinto (aka Emírcio Leão Maria Magno Teixeira Pinto) Vila Pouca de Aguiar 1899-08-17 http://www.wikidata.org/entity/Q10272643
Not found

Looking for Emírcio Teixeira Pinto (aka Emírcio leão maria magno teixeira pinto) Vila Pouca de Aguiar 1899-08-17 http://www.wikidata.org/entity/Q10272643
Not found

Looking for Emírcio Teixeira Pinto (aka Emírcio teixeira pinto) Vila Pouca de Aguiar 1899-08-17 http://www.wikidata.org/entity/Q10272643
Not found

Looking for Ernesto Ferreira França  Bahia 1804-06-21 http://www.wikidata.org/entity/Q10274055
Not found

Looking for Ernesto Gonçalves  Funchal 1898-06-30 http://www.wikidata.org/entity/Q110736363
Not found

Looking for Ernesto do Canto  Ponta Delgada 1831-12-12 http://www.wikidata.org/entity/Q10274102
Not found

Looking for Eugénio Dionísio de Mascarenhas Grade  Lagoa 1785-03-06 http://www.wikidata.org/entity/Q96761830
Not found

Looking for Eugénio Vaz Pacheco do Canto e Castro (aka Eugénio Pacheco) Ponta Delgada 1863-11-08 http://www.wikidata.org/entity/Q10278167

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
132517,Eugénio Vaz Pacheco do Canto e Castro,m,Ponta Delgada,1884-06-14,None

Matched

Looking for Eugénio de Castro  Coimbra 1869-03-04 http://www.wikidata.org/entity/Q1373516
Not found

Looking for Eugénio do Canto  Ponta Delgada 1836-10-17 http://www.wikidata.org/entity/Q87477495

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
132025,Eugénio do Canto,m,Ponta Delgada,1854-07-11,None
132517,Eugénio Vaz Pacheco do Canto e Castro,m,Ponta Delgada,1884-06-14,None

Matched

Looking for Ferdinand Ashmall (aka Ashmall) Elwick 1695-01-09 http://www.wikidata.org/entity/Q3068505
Not found


Looking for Fernando Martins de Mascarenhas (aka Fernando martins de mascarenhas) Montemor-o-Novo 1548-01-30 http://www.wikidata.org/entity/Q10281435
Not found

Looking for Fernando de Sousa e Silva (aka Fernando de Sousa da Silva) Lisboa 1712-11-27 http://www.wikidata.org/entity/Q1397410

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
236173,Fernando Diogo de Sousa da Silva e Menezes,m,Lisboa,1730-10-01,None
226251,Fernando Diogo de Sousa e Silva,m,Lisboa,1731-10-01,None

Ambiguous: could not find match in candidates



Looking for Filipe Folque (aka Filipe de Sousa Folque) Portalegre 1800-11-28 http://www.wikidata.org/entity/Q17280326

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
139332,Filipe Folque,m,Portalegre,1822-06-06,None

Matched

Looking for Filipe de Sousa e Holstein (aka Filipe de Sousa Holstein) Lisboa 1841-12-26 http://www.wikidata.org/entity/Q10282299

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
190218,Filipe de Sousa Holstein,m,Lisboa,1856-10-23,None

Matched

Looking for Filomeno da Câmara Melo Cabral  Lagoa 1844-07-18 http://www.wikidata.org/entity/Q10282363
Not found

Looking for Francisco Antonio Pereira da Costa  Lisboa 1809-10-11 http://www.wikidata.org/entity/Q55908387
Not found

Looking for Francisco António Fernandes da Silva Ferrão  Coimbra 1798-07-23 http://www.wikidata.org/entity/Q17280331
Not found

Looking for Francisco Caupers Machado de Faria e Maia  Ponta Delgada 1841-05-24 http://www.wikidata.org/entity/Q10284691
Not found

Looking for Francisco Correia de Mendonça  Lagos 1832-01-03 http://www.wikidata.org/entity/Q16917757

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
234635,Francisco Correia de Mendonça Júnior,m,Lagos,1848-10-30,None

Matched

Looking for Francisco Fernandes Costa (aka Francisco José Fernandes Costa) Foz de Arouce 1867-04-19 http://www.wikidata.org/entity/Q357932

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
201049,Francisco José Fernandes Costa,m,Foz de Arouce,1890-10-02,None

Matched

Looking for Francisco Gomes Teixeira (aka Gomes Teixeira) Armamar 1851-01-28 http://www.wikidata.org/entity/Q3815565
Not found



Looking for Francisco Jerónimo da Silva  Angra do Heroísmo 1807-12-30 http://www.wikidata.org/entity/Q17280031
Not found

Looking for Francisco José da Costa e Amaral  Portalegre 1798-08-14 http://www.wikidata.org/entity/Q10284873

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
145473,Francisco José da Costa e Amaral,m,Portalegre,1816-10-18,None

Matched

Looking for Francisco José de Lacerda e Almeida (aka Francisco de Lacerda) São Paulo 1753-08-22 http://www.wikidata.org/entity/Q10284884

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
143095,Francisco José de Lacerda e Almeida,m,São Paulo,1772-12-11,"São Paulo, Brasil"

Matched

Looking for Francisco José de Sousa Loureiro  Coimbra 1772-09-20 http://www.wikidata.org/entity/Q19607875

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
254021,Francisco José de Sousa Loureiro,m,Coimbra,1784-10-26,None

Matched


Looking for Francisco Torrinha (aka Francisco Forte de Faria Torrinha) Vila Nova de Famalicão 1879-05-01 http://www.wikidata.org/entity/Q10285181

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
204873,Francisco Forte Faria Torrinha,m,Vila Nova de Famalicão,1896-10-12,"Joane, Vila Nova de Famalicão"

Matched

Looking for Francisco Trigoso (aka Aragão Morato) Santa Engrácia 1777-09-17 http://www.wikidata.org/entity/Q10285184
Not found

Looking for Francisco Trigoso (aka Francisco Manuel Trigoso) Santa Engrácia 1777-09-17 http://www.wikidata.org/entity/Q10285184
Not found

Looking for Francisco Trigoso (aka Francisco Manuel Trigoso de Aragão Morato) Santa Engrácia 1777-09-17 http://www.wikidata.org/entity/Q10285184
Not found

Looking for Francisco Trigoso (aka Francisco manuel trigoso) Santa Engrácia 1777-09-17 http://www.wikidata.org/entity/Q10285184
Not found

Looking for Francisco Trigoso (aka Francisco trigoso) Santa Engrácia 1777-09-17 http://www.wikidata.org/entity/Q10285184
Not found

Looking for Francisco Veiga Beirão (aka Francisco António da Veiga Beirão) Lisboa 1841-07-24 http://www.wikidata.org/entity/Q1392575

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
185127,Francisco António da Veiga Beirão,m,Lisboa,1857-10-05,None
280460,Francisco António da Veiga Beirão Júnior,m,Lisboa,1912-07-15,None

Matched

Looking for Francisco Vieira Pita  Canhas 1863-09-01 http://www.wikidata.org/entity/Q10285201
Not found


Looking for Francisco de Almada e Mendonça  Lisboa 1757-02-28 http://www.wikidata.org/entity/Q10285297
Not found

Looking for Francisco de Ascensão Mendonça (aka Francisco de Ascenção Mendonça) Faro 1889-05-30 http://www.wikidata.org/entity/Q4290420
Not found

Looking for Francisco de Borja Pedro Maria António de Sousa Holstein  Paris 1838-04-20 http://www.wikidata.org/entity/Q10285342
Not found

Looking for Francisco de Castro Matoso Corte-Real (aka Francisco de Castro Matoso da Silva Corte-Real) Aveiro 1832-11-23 http://www.wikidata.org/entity/Q18285192
Not found


Looking for Francisco de Mendonça Pacheco de Melo  Santa Cruz da Graciosa 1857-04-27 http://www.wikidata.org/entity/Q10285375
Not found

Looking for Francisco de Paula Vieira da Silva Tovar  Molelos 1774-02-08 http://www.wikidata.org/entity/Q5484166
Not found

Looking for Francisco de Saldanha da Gama  Lisboa 1723-05-20 http://www.wikidata.org/entity/Q932758
Not found

Looking for Francisco de São Luís Saraiva  Ponte de Lima 1766-01-26 http://www.wikidata.org/entity/Q661150
Not found

Looking for Frederico Augusto Lopes da Silva  Angra do Heroísmo 1863-12-01 http://www.wikidata.org/entity/Q10285752
Not found

Looking for Custódio Alves Serrão  Alcântara 1799-10-02 http://www.wikidata.org/entity/Q56741356

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
223882,Custódio Alves da Puresa Serrão,m,Alcântara,1819-10-22,Alcântara (Maranhão)

Matched

Looking for Frei José da Costa Azevedo  Rio de Janeiro 1763-09-16 http://www.wikidata.org/entity/Q56702597
Not found

Looking for Félix de Avelar Brotero (aka Avelar Brotero) Loures 1744-11-25 http://www.wikidata.org/entity/Q1032088
Not found

Looking for Félix de Avelar Brotero (aka Brot.) Reino de Portugal 1744-11-25 http://www.wikidata.org/entity/Q1032088
Not found

Looking for Félix de Avelar Brotero (aka Brotero) Reino de Portugal 1744-11-25 http://www.wikidata.org/entity/Q1032088
Not found

Looking for Félix de Avelar Brotero (aka Felix da Silva de Avellar Brotero) Reino de Portugal 1744-11-25 http://www.wikidata.org/entity/Q1032088
Not found

Looking for Félix de Avelar Brotero (aka Felix de Avelar Brotero) Reino de Portugal 1744-11-25 http://www.wikidata.org/entity/Q1032088
Not found

Looking for Félix de Avelar Brotero (aka Felix de Silva Avellar Brotero) Loures 1744-11-25 http://www.wikidata.org/entity/Q1032088
Not found

Looking for Félix de Avelar Brotero (aka Félix da Silva de Avelar Brotero) Reino de Portugal 1744-11-25 http://www.wikidata.org/entity/Q1032088
Not found

Looking for Giovanni Antonio Grassi (aka Giovanni Grassi) Schilpario 1775-09-10 http://www.wikidata.org/entity/Q5563677
Not found

Looking for Giovanni Antonio Grassi (aka John A. Grassi) Schilpario 1775-09-10 http://www.wikidata.org/entity/Q5563677
Not found

Looking for Giovanni Antonio Grassi (aka John Anthony Grassi) Schilpario 1775-09-10 http://www.wikidata.org/entity/Q5563677
Not found

Looking for Giovanni Antonio Grassi (aka John Grassi) Schilpario 1775-09-10 http://www.wikidata.org/entity/Q5563677
Not found

Looking for Gonçalo Pereira da Silva de Sousa e Meneses  Porto 1851-12-28 http://www.wikidata.org/entity/Q85420795
Not found

Looking for Gonçalo Sampaio (aka Gonçalo António da Silva Ferreira Sampaio) Póvoa de Lanhoso 1865-03-29 http://www.wikidata.org/entity/Q459037
Not found

Looking for Gonçalo Sampaio (aka Professor Gonçalo Sampaio) Póvoa de Lanhoso 1865-03-29 http://www.wikidata.org/entity/Q459037
Not found

Looking for Gonçalo Sampaio (aka Samp.) Póvoa de Lanhoso 1865-03-29 http://www.wikidata.org/entity/Q459037
Not found

Looking for Gregório de Matos (aka Boca de Brasa) Salvador 1636-12-23 http://www.wikidata.org/entity/Q983565
Not found

Looking for Gregório de Matos (aka Boca do Inferno) Salvador 1636-12-23 http://www.wikidata.org/entity/Q983565
Not found

Looking for Gregório de Matos (aka Gregorio de Matos) Salvador 1636-12-23 http://www.wikidata.org/entity/Q983565
Not found

Looking for Gregório de Matos (aka Gregório de Matos Guerra) Salvador 1636-12-23 http://www.wikidata.org/entity/Q983565
Not found

Looking for Gregório de Matos (aka Gregório de Matos e Guerra) Salvador 1636-12-23 http://www.wikidata.org/entity/Q983565
Not found

Looking for Gregório de Matos (aka Gregório de Mattos) Salvador 1636-12-23 http://www.wikidata.org/entity/Q983565
Not found

Looking for Gregório de Matos (aka Gregório de Mattos Guerra) Salvador 1636-12-23 http://www.wikidata.org/entity/Q983565
Not found

Looking for Guerra Junqueiro (aka Abílio Manuel Guerra Junqueiro) Freixo de Espada à Cinta 1850-09-17 http://www.wikidata.org/entity/Q336918

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
180781,Abílio Guerra Junqueiro,m,Freixo de Espada à Cinta,1866-10-15,None

Matched

Looking for Guilherme Braga (aka Guilherme da Silva Braga) Porto 1845-03-22 http://www.wikidata.org/entity/Q1553827

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
187254,Guilherme Augusto Fernandes Braga,m,Porto,1857-10-14,None

Matched

Looking for Guilherme Moreira (aka Guilherme Alves Moreira) Santa Maria da Feira 1861-03-21 http://www.wikidata.org/entity/Q10292816
Not found

Looking for Henrique Ferreira de Oliveira Brás (aka Henrique Brás) Angra do Heroísmo 1884-02-09 http://www.wikidata.org/entity/Q10294753
Not found

Looking for Henrique Ferreira de Oliveira Brás (aka Henrique Ferreira de Oliveira Braz) Angra do Heroísmo 1884-02-09 http://www.wikidata.org/entity/Q10294753
Not found

Looking for Henrique de Carvalho Nunes da Silva Anacoreta  Santarém 1871-11-12 http://www.wikidata.org/entity/Q28890065
Not found

Looking for Henrique de Macedo Pereira Coutinho  Verride 1843-09-06 http://www.wikidata.org/entity/Q24846545

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
205788,Henrique de Macedo Pereira Coutinho,m,Verride,1859-07-02,None

Matched

Looking for Hermenegildo Augusto de Faria Blanc  Santa Maria da Feira 1811-09-23 http://www.wikidata.org/entity/Q10295132
Not found

Looking for Hipólito da Costa (aka Hipólito José da Costa) Colónia do Sacramento 1774-08-13 http://www.wikidata.org/entity/Q5102822
Not found

Looking for Hipólito da Costa (aka Hipólito José da Costa Furtado de Mendonça) Colónia do Sacramento 1774-08-13 http://www.wikidata.org/entity/Q5102822
Not found

Looking for Hipólito da Costa (aka Hypolito da costa) Colónia do Sacramento 1774-08-13 http://www.wikidata.org/entity/Q5102822
Not found

Looking for Hipólito da Costa (aka Hyppolito da Costa) Colónia do Sacramento 1774-08-13 http://www.wikidata.org/entity/Q5102822
Not found

Looking for Honório Hermeto Carneiro Leão (aka Marquês do Paraná) Jacuí 1801-01-11 http://www.wikidata.org/entity/Q591529
Not found

Looking for Ildefonso Leopoldo Bayard (aka Ildefonso-Leopoldo Bayard) Coimbra 1785-09-03 http://www.wikidata.org/entity/Q55893270

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
149900,Ildefonso Leopoldo Bayard,m,Coimbra,1802-10-01,None

Matched

Looking for Inácio Barbosa Machado  Lisboa 1686-11-23 http://www.wikidata.org/entity/Q5993064
Not found

Looking for Inácio do Nascimento Morais Cardoso  Murça 1811-12-20 http://www.wikidata.org/entity/Q928876

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
134325,Inácio do Nascimento Morais Cardoso,m,Murça,1827-10-05,"Murça, Vila Real"

Matched

Looking for Jacinto Carlos da Silveira  Évora 1732-09-18 http://www.wikidata.org/entity/Q64747752

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
230556,Jacinto Carlos da Silveira,m,Évora,1750-10-01,None

Matched

Looking for Januário Correia de Almeida (aka Conde de são januário) Paço de Arcos 1829-03-31 http://www.wikidata.org/entity/Q10305313
Not found

Looking for Januário Correia de Almeida (aka Januário correia de almeida) Paço de Arcos 1829-03-31 http://www.wikidata.org/entity/Q10305313
Not found

Looking for Joaquim António de Aguiar (aka Joaquim António Aguiar) Coimbra 1792-08-24 http://www.wikidata.org/entity/Q1392619

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
141759,Joaquim António de Aguiar,m,Coimbra,1808-11-29,None

Matched


Looking for Joaquim Ferreira de Carvalho  Coimbra 1750-07-17 http://www.wikidata.org/entity/Q64747394

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
156176,Joaquim Ferreira de Carvalho,m,Coimbra,1770-10-01,None
153295,António Joaquim da Silva Ferreira Carvalho,m,Coimbra,1847-10-30,None

Matched

Looking for Joaquim Germano de Sequeira da Fonseca e Sousa  Vila Franca de Xira 1827-09-04 http://www.wikidata.org/entity/Q24013817
Not found

Looking for Joaquim Heliodoro da Cunha Rivara (aka Cunha Rivara) Arraiolos 1809-06-23 http://www.wikidata.org/entity/Q6206316
Not found

Looking for Joaquim José Pereira da Silveira e Sousa  Velas 1796-02-17 http://www.wikidata.org/entity/Q10307234
Not found

Looking for Joaquim José Pereira de Melo  Belém 1790-08-22 http://www.wikidata.org/entity/Q21290114
Not found

Looking for Joaquim José Rodrigues Torres  Itaboraí 1802-12-13 http://www.wikidata.org/entity/Q1791241
Not found

Looking for Joaquim Machado de Castro (aka Machado de Castro) Coimbra 1731-06-19 http://www.wikidata.org/entity/Q1690864
Not found

Looking for Joaquim Maria Mascarenhas Castelo Branco  Rio de Janeiro 1753-06-15 http://www.wikidata.org/entity/Q64734493
Not found

Looking for Joaquim Maria da Silva (aka Joaquim maria da silva) Angra do Heroísmo 1830-05-24 http://www.wikidata.org/entity/Q10307298

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
227536,Joaquim Maria da Silva,m,Angra do Heroísmo,1849-10-31,"Angra do Heroísmo, Açores"

Matched

Looking for Joaquim Mendes dos Remédios (aka Joaquim mendes dos remédios) Nisa 1867-09-21 http://www.wikidata.org/entity/Q10307317

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
137672,Joaquim Mendes dos Remédios,m,Nisa,1888-10-15,None

Matched

Looking for Joaquim Moniz de Sá Corte-Real e Amaral (aka Corte Real e Amaral) Angra do Heroísmo 1889-08-28 http://www.wikidata.org/entity/Q10307319
Not found

Looking for Joaquim Moniz de Sá Corte-Real e Amaral (aka Joaquim Moniz de Sá Corte Real e Amaral) Angra do Heroísmo 1889-08-28 http://www.wikidata.org/entity/Q10307319
Not found

Looking for Joaquim Moniz de Sá Corte-Real e Amaral (aka Joaquim de Moniz de Sá Corte Real Amaral) Angra do Heroísmo 1889-08-28 http://www.wikidata.org/entity/Q10307319
Not found

Looking for Joaquim Pais de Abranches  Carvalhal Redondo 1837-05-14 http://www.wikidata.org/entity/Q23905379

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
140432,Joaquim Pais de Abranches,m,Carvalhal Redondo,1858-10-06,None

Matched


Looking for Joaquim Pimenta de Castro (aka Joaquim Pereira Pimenta de Castro) Monção 1846-11-05 http://www.wikidata.org/entity/Q305493
Not found

Looking for Joaquim Simões Ferreira  Coimbra 1837-04-01 http://www.wikidata.org/entity/Q112085958

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
246435,Joaquim Simões Ferreira,m,Coimbra,1853-10-19,None

Matched

Looking for Joaquim Taibner de Morais (aka Joaquim taibner de morais) Marinha Grande 1840-08-10 http://www.wikidata.org/entity/Q10307419
Not found

Looking for Joaquim Teotônio Segurado (aka Joaquim Theotônio Segurado) Moura 1775-02-25 http://www.wikidata.org/entity/Q10307427
Not found

Looking for Joaquim Teotônio Segurado (aka Teotônio Segurado) Moura 1775-02-25 http://www.wikidata.org/entity/Q10307427
Not found

Looking for Joaquim Teotônio Segurado (aka Theotônio Segurado) Moura 1775-02-25 http://www.wikidata.org/entity/Q10307427
Not found

Looking for Joaquim de Carvalho  Figueira da Foz 1892-06-10 http://www.wikidata.org/entity/Q1690871

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
156097,Joaquim de Carvalho,m,Figueira da Foz,1909-10-02,None

Matched

Looking for Joaquim de Mariz  Coimbra 1847-02-28 http://www.wikidata.org/entity/Q5931630

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
184267,Joaquim de Mariz Júnior,m,Coimbra,1869-10-02,None

Matched

Looking for José Adelino Serrasqueiro  Castelo Branco 1835-12-22 http://www.wikidata.org/entity/Q5580990

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
224045,José Adelino Serrasqueiro,m,Castelo Branco,1862-00-00,None

Matched

Looking for José Adriano Pequito Rebelo (aka José Pequito Rebelo) Portalegre 1892-05-21 http://www.wikidata.org/entity/Q3186139
Not found

Looking for José Adriano Pequito Rebelo (aka José adriano pequito rebelo) Portalegre 1892-05-21 http://www.wikidata.org/entity/Q3186139
Not found

Looking for José Adriano Pequito Rebelo (aka José pequito rebelo) Portalegre 1892-05-21 http://www.wikidata.org/entity/Q3186139
Not found

Looking for José Adriano Pequito Rebelo (aka Pequito Rebelo) Portalegre 1892-05-21 http://www.wikidata.org/entity/Q3186139
Not found

Looking for José Adriano Pequito Rebelo (aka Pequito rebelo) Portalegre 1892-05-21 http://www.wikidata.org/entity/Q3186139
Not found

Looking for José Alberto de Oliveira Anchieta  Lisboa 1832-10-09 http://www.wikidata.org/entity/Q10308727
Not found

Looking for José António Ferreira Brak-Lamy (aka José Antonio Ferreira Braklami) Lagos 1781-08-18 http://www.wikidata.org/entity/Q10308782
Not found

Looking for José António Ferreira Brak-Lamy (aka José Antonio Ferreira Braklamy) Lagos 1781-08-18 http://www.wikidata.org/entity/Q10308782
Not found

Looking for José António Ferreira Brak-Lamy (aka José António Ferreira Braklamy) Lagos 1781-08-18 http://www.wikidata.org/entity/Q10308782
Not found

Looking for José António Ferreira Brak-Lamy (aka José Antônio Ferreira Braklamy) Lagos 1781-08-18 http://www.wikidata.org/entity/Q10308782
Not found

Looking for José António Ferreira Brak-Lamy (aka José antónio ferreira braklamy) Lagos 1781-08-18 http://www.wikidata.org/entity/Q10308782
Not found

Looking for José António Guerreiro  Lanhelas 1789-12-05 http://www.wikidata.org/entity/Q10308789

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
180816,José António Guerreiro,m,Lanhelas,1811-10-29,None

Matched

Looking for José Augusto Correia de Campos  Vila Nova de Paiva 1890-12-05 http://www.wikidata.org/entity/Q16930180

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
130596,José Augusto Correia e Campos,m,Vila Nova de Paiva,1909-10-12,None

Matched

Looking for José Augusto Ferreira Veiga  Macau 1838-11-22 http://www.wikidata.org/entity/Q6291629
Not found

Looking for José Augusto Nogueira Sampaio  Angra do Heroísmo 1827-12-11 http://www.wikidata.org/entity/Q10308913

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
215040,José Augusto Nogueira Sampaio,m,Angra do Heroísmo,1842-10-11,None

Matched


Looking for José Bernardo da Silva Cabral (aka José bernardo da silva cabral) Fornos de Algodres 1801-07-27 http://www.wikidata.org/entity/Q10308989

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
128467,José Bernardo da Silva Cabral,m,Fornos de Algodres,1817-10-20,None

Matched

Looking for José Bonifácio de Andrada e Silva (aka Americo Elysio) Santos 1763-06-13 http://www.wikidata.org/entity/Q379631

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
271263,José Bonifácio de Andrada e Silva,m,Santos,1783-10-30,"Santos, São Paulo, Brasil"

Matched

Looking for José Cardoso de Meneses Martins  Guimarães 1873-10-10 http://www.wikidata.org/entity/Q21290139
Not found

Looking for José Coelho da Mota Prego  Guimarães 1857-08-02 http://www.wikidata.org/entity/Q106262879

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
250279,José Coelho da Mota Prego,m,Guimarães,1880-10-15,None

Matched

Looking for José Custódio de Morais  Marinha Grande 1890-03-09 http://www.wikidata.org/entity/Q47318408

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
251292,José Custódio Morais,m,Marinha Grande,1908-10-08,None

Matched

Looking for José Diogo de Mascarenhas Neto  Silves 1752-02-18 http://www.wikidata.org/entity/Q17318247

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
168978,José Diogo Mascarenhas Neto,m,Silves,1772-00-00,None

Matched

Looking for José Eduardo Raposo de Magalhães  Alcobaça 1844-06-12 http://www.wikidata.org/entity/Q10309302

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
182939,José Eduardo Raposo de Magalhães,m,Alcobaça,1863-10-09,None

Matched

Looking for José Eugénio Dias Ferreira (aka José Eugénio Ferreira) Lisboa 1882-11-13 http://www.wikidata.org/entity/Q10309346

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
246787,José Eugénio Dias Ferreira,m,Lisboa,1898-10-03,None

Matched

Looking for José Ferreira Borges  Porto 1786-06-08 http://www.wikidata.org/entity/Q7588155

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
186265,José Ferreira Borges,m,Porto,1801-10-14,None
131212,José Ferreira Borges,m,Porto,1801-10-14,None

Matched

Looking for José Francisco de Azevedo e Silva (aka Azevedo e Silva) Loulé 1858-11-25 http://www.wikidata.org/entity/Q10309450

/var/folders/6m/_0n598297cj_bc2ql0rynnx00000gp/T/ipykernel_34979/2881094324.py:113: UserWarning: Possible duplicates: 186265, 131212
  warnings.warn("Possible duplicates: "+", ".join(candidates_list))

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
230292,José Francisco de Azevedo e Silva Júnior,m,Loulé,1879-10-02,None

Matched

Looking for José Jacinto Nunes (aka Jacinto Nunes) Pedrógão Grande 1839-10-25 http://www.wikidata.org/entity/Q10309630
Not found

Looking for José Joaquim Carneiro de Campos (aka José Joaquim Carneiro de Santos) Salvador 1768-03-04 http://www.wikidata.org/entity/Q10309643
Not found

Looking for José Joaquim Carneiro de Campos (aka José Joaquim de Carneiro de Campos) Salvador 1768-03-04 http://www.wikidata.org/entity/Q10309643
Not found

Looking for José Joaquim Carneiro de Campos (aka José joaquim carneiro de campos) Salvador 1768-03-04 http://www.wikidata.org/entity/Q10309643
Not found

Looking for José Joaquim Carneiro de Campos (aka José joaquim de carneiro de campos) Salvador 1768-03-04 http://www.wikidata.org/entity/Q10309643
Not found

Looking for José Joaquim Carneiro de Campos (aka Marquês de caravelas) Salvador 1768-03-04 http://www.wikidata.org/entity/Q10309643
Not found

Looking for José Joaquim Justiniano Mascarenhas Castelo Branco  Rio de Janeiro 1731-08-23 http://www.wikidata.org/entity/Q64734418
Not found

Looking for José Joaquim Rodrigues de Bastos  Moitedo 1777-11-08 http://www.wikidata.org/entity/Q21483097
Not found

Looking for José Joaquim da Cunha Azeredo Coutinho (aka Azeredo Coutinho) Rio de Janeiro 1742-09-08 http://www.wikidata.org/entity/Q4290353
Not found

Looking for José Joaquim de Almeida de Moura Coutinho  Porto 1801-03-05 http://www.wikidata.org/entity/Q10309684

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
294057,José Joaquim de Almeida e Moura Coutinho,m,Porto,1821-10-23,None

Matched

Looking for José Jorge Loureiro  Lisboa 1791-04-23 http://www.wikidata.org/entity/Q558561
Not found

Looking for José Júlio de Bettencourt Rodrigues  Funchal 1843-05-08 http://www.wikidata.org/entity/Q10309728
Not found

Looking for José Lages Perestrelo de Vasconcelos  Lisboa 1881-02-17 http://www.wikidata.org/entity/Q24013847

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
210566,José Lages Perestrelo de Vasconcelos,m,Lisboa,1898-10-15,None

Matched

Looking for José Luciano de Castro (aka José Luciano) Oliveirinha 1834-12-14 http://www.wikidata.org/entity/Q321218

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
198631,José Luciano de Castro Pereira Corte Real,m,Oliveirinha,1849-10-04,None
292664,José Luciano de Castro Pereira Corte Real,m,Oliveirinha,1853-07-06,"Oliveirinha, Aveiro"

Ambiguous: could not find match in candidates

Looking for José Luciano de Castro (aka José Luciano de Castro Pereira Côrte-Real) Oliveirinha 1834-12-14 http://www.wikidata.org/entity/Q321218

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
198631,José Luciano de Castro Pereira Corte Real,m,Oliveirinha,1849-10-04,None
292664,José Luciano de Castro Pereira Corte Real,m,Oliveirinha,1853-07-06,"Oliveirinha, Aveiro"

Ambiguous: could not find match in candidates

Looking for José Luciano de Castro (aka José luciano de castro pereira corte-real) Oliveirinha 1834-12-14 http://www.wikidata.org/entity/Q321218

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
198631,José Luciano de Castro Pereira Corte Real,m,Oliveirinha,1849-10-04,None
292664,José Luciano de Castro Pereira Corte Real,m,Oliveirinha,1853-07-06,"Oliveirinha, Aveiro"

Ambiguous: could not find match in candidates

Looking for José Luciano de Castro (aka Luciano de Castro) Oliveirinha 1834-12-14 http://www.wikidata.org/entity/Q321218

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
198631,José Luciano de Castro Pereira Corte Real,m,Oliveirinha,1849-10-04,None
292664,José Luciano de Castro Pereira Corte Real,m,Oliveirinha,1853-07-06,"Oliveirinha, Aveiro"

Ambiguous: could not find match in candidates

Looking for José Luís Alves Feijó  Freixo de Espada à Cinta 1816-01-08 http://www.wikidata.org/entity/Q64697672
Not found

Looking for José Luís Soares de Barbosa  Setúbal 1728-09-29 http://www.wikidata.org/entity/Q105235831

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
150836,José Luís Soares Barbosa,m,Setúbal,1744-10-01,None

Matched

Looking for José Luís de Vasconcelos e Sousa  Rio de Janeiro 1740-07-09 http://www.wikidata.org/entity/Q107328945
Not found

Looking for José Machado Serpa (aka José Machado de Serpa) Prainha 1864-03-09 http://www.wikidata.org/entity/Q10309855

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
223548,José Machado de Serpa,m,Prainha do Norte,1881-10-11,"Prainha do Norte, Açores"

Matched

Looking for José Malheiro Reimão (aka José Malheiro Reimão Teles de Meneses e Sá) Viana do Castelo 1860-07-03 http://www.wikidata.org/entity/Q10309864
Not found

Looking for José Malheiro Reimão (aka José malheiro reimão) Viana do Castelo 1860-07-03 http://www.wikidata.org/entity/Q10309864
Not found

Looking for José Manuel Pereira dos Reis  Cadaval 1879-01-30 http://www.wikidata.org/entity/Q10309887
Not found

Looking for José Maria Baldy  Lisboa 1800-05-16 http://www.wikidata.org/entity/Q96337414
Not found

Looking for José Maria Pacheco de Aguiar (aka José maria pacheco de aguiar) Porto Judeu 1803-12-08 http://www.wikidata.org/entity/Q10309965
Not found

Looking for José Maria Pereira Forjaz de Sampaio  Lisboa 1858-07-25 http://www.wikidata.org/entity/Q21290141

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
160401,José Maria Pereira Forjaz de Sampaio,m,Lisboa,1878-10-09,None

Matched

Looking for José Maria Pereira de Lima (aka Pereira de Lima) Coimbra 1853-02-17 http://www.wikidata.org/entity/Q10309969

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
283501,José Maria Pereira de Lima,m,Coimbra,1874-06-25,None

Matched

Looking for José Maria Raposo do Amaral (aka José Maria Raposo de Amaral) Ponta Delgada 1826-09-26 http://www.wikidata.org/entity/Q10309973
Not found

Looking for José Maria Raposo do Amaral (aka Raposo do Amaral) Ponta Delgada 1826-09-26 http://www.wikidata.org/entity/Q10309973
Not found

Looking for José Maria da Silva Ferrão de Carvalho Martens  Lisboa 1815-04-08 http://www.wikidata.org/entity/Q64737031
Not found

Looking for José Maria da Silva Leal (aka José maria da silva leal) Lisboa 1812-10-08 http://www.wikidata.org/entity/Q10309991
Not found


Looking for José Maria de Sousa Horta e Costa  Santa Comba Dão 1858-10-20 http://www.wikidata.org/entity/Q6293114

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
202661,José Maria de Sousa Horta e Costa,m,Santa Comba Dão,1875-10-02,None

Matched

Looking for José Marnoco e Sousa  Sousela 1869-08-29 http://www.wikidata.org/entity/Q17280347
Not found

Looking for José Marques de Castilho  Águeda 1869-01-03 http://www.wikidata.org/entity/Q10310060
Not found

Looking for José Marques de Loureiro  Campo de Besteiros 1879-03-18 http://www.wikidata.org/entity/Q16930191
Not found

Looking for José Pimentel Homem de Noronha (aka José pimentel homem de noronha) Calheta 1846-04-12 http://www.wikidata.org/entity/Q10310328
Not found

Looking for José Pinto Loureiro  Nelas 1885-08-30 http://www.wikidata.org/entity/Q19607903

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
254068,José Pinto Loureiro,m,Nelas,1909-10-02,None

Matched

Looking for José Prudêncio Teles  Horta 1804-08-22 http://www.wikidata.org/entity/Q63457061

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
182044,José Prudêncio Teles de Ultra Machado,m,Horta,1821-11-05,"Horta, Ilha do Faial, Açores"

Matched

Looking for José Saturnino da Costa Pereira (aka José saturnino da costa pereira) Colónia do Sacramento 1771-11-22 http://www.wikidata.org/entity/Q10310503
Not found

Looking for José Silvestre Ribeiro  Idanha-a-Nova 1807-12-31 http://www.wikidata.org/entity/Q10310523

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
165280,José Silvestre Ribeiro,m,Idanha-a-Nova,1823-10-14,None

Matched

Looking for José Teixeira de Queirós de Almeida de Morais Sarmento  Reino de Portugal 1816-08-04 http://www.wikidata.org/entity/Q23771087
Not found

Looking for José Vicente Barbosa du Bocage (aka José Vicente Barboza du Bocage) Funchal 1823-05-02 http://www.wikidata.org/entity/Q1709686
Not found

Looking for José Vitorino Damásio (aka José vitorino damásio) Santa Maria da Feira 1807-11-02 http://www.wikidata.org/entity/Q10310647
Not found

Looking for José Vitorino Damásio (aka Vitorino Damásio) Santa Maria da Feira 1807-11-02 http://www.wikidata.org/entity/Q10310647
Not found

Looking for José Vitorino Damásio (aka Vitorino damásio) Santa Maria da Feira 1807-11-02 http://www.wikidata.org/entity/Q10310647
Not found

Looking for José da Cunha Castello Branco Saraiva (aka Castello Branco Saraiva) Lisboa 1848-04-18 http://www.wikidata.org/entity/Q105760402
Not found

Looking for José da Fonseca Abreu Castelo Branco  Pala 1829-10-11 http://www.wikidata.org/entity/Q96257638

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
189762,José da Fonseca Abreu Castelo Branco,m,Pala,1845-10-13,None

Matched

Looking for José da Silva Carvalho (aka Silva carvalho) Santa Comba Dão 1782-12-19 http://www.wikidata.org/entity/Q3808775
Not found

Looking for José da Silva Monteiro  Guimarães 1867-02-05 http://www.wikidata.org/entity/Q16930201

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
253184,José da Silva Monteiro,m,Guimarães,1881-10-15,None

Matched

Looking for José de Anchieta (aka Apóstolo do Brasil) San Cristóbal de La Laguna 1534-03-19 http://www.wikidata.org/entity/Q317126
Not found

Looking for José de Anchieta (aka Beato José de Anchieta) San Cristóbal de La Laguna 1534-03-19 http://www.wikidata.org/entity/Q317126
Not found

Looking for José de Anchieta (aka Padre Anchieta) San Cristóbal de La Laguna 1534-03-19 http://www.wikidata.org/entity/Q317126
Not found

Looking for José de Anchieta (aka Padre José de Anchieta) San Cristóbal de La Laguna 1534-03-19 http://www.wikidata.org/entity/Q317126
Not found

Looking for José de Anchieta (aka São José de Anchieta) San Cristóbal de La Laguna 1534-03-19 http://www.wikidata.org/entity/Q317126
Not found

Looking for José de Azevedo Castelo Branco  Vilarinho de Samardã 1852-10-05 http://www.wikidata.org/entity/Q21290138
Not found

Looking for José de Barros e Sousa  Câmara de Lobos 1859-03-01 http://www.wikidata.org/entity/Q10310762

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
238951,José de Barros e Sousa,m,Câmara de Lobos,1879-10-13,None

Matched

Looking for José de Matos Sobral Cid (aka Sobral Cid) Lamego 1877-06-29 http://www.wikidata.org/entity/Q10310806

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
192904,José de Matos Sobral Cid,m,Lamego,1892-10-12,None

Matched

Looking for José de Seabra da Silva (aka José de seabra da silva) Coimbra 1732-10-31 http://www.wikidata.org/entity/Q10310841
Not found

Looking for José do Canto  Ponta Delgada 1820-12-20 http://www.wikidata.org/entity/Q10310867

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
132361,José do Canto,m,Ponta Delgada,1841-10-09,None

Matched

Looking for José do Patrocínio Dias  Covilhã 1884-07-23 http://www.wikidata.org/entity/Q10310871

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
161685,José do Patrocínio Dias,m,Covilhã,1902-10-01,None

Matched

Looking for José dos Reis Fisher (aka José dos Reis Ficher) Angra do Heroísmo 1856-07-23 http://www.wikidata.org/entity/Q10310880

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
138543,José dos Reis Fisher,m,Angra do Heroísmo,1880-10-14,None

Matched

Looking for João António Mascarenhas Júdice  Lagoa 1898-10-27 http://www.wikidata.org/entity/Q10311060
Not found

Looking for João Bernardo da Rocha Loureiro  Gouveia 1778-11-24 http://www.wikidata.org/entity/Q10311191
Not found

Looking for João Carlos de Sá Alves  Rebordãos 1895-11-04 http://www.wikidata.org/entity/Q10311305
Not found


Looking for João Crisóstomo Melício  Rio de Janeiro 1836-12-28 http://www.wikidata.org/entity/Q10311373
Not found

Looking for João Cândido de Morais (aka João cândido de morais) Angra do Heroísmo 1841-03-07 http://www.wikidata.org/entity/Q10311389
Not found

Looking for João Franco (aka Joao franco) Portugal 1855-02-14 http://www.wikidata.org/entity/Q1344985
Not found

Looking for João Franco (aka João Ferreira Franco Pinto Castelo Branco) Portugal 1855-02-14 http://www.wikidata.org/entity/Q1344985
Not found

Looking for João Franco (aka João Franco Ferreira Pinto Castelo Branco) Portugal 1855-02-14 http://www.wikidata.org/entity/Q1344985
Not found

Looking for João Franco (aka João Franco Ferreira Pinto de Castelo-Branco) Portugal 1855-02-14 http://www.wikidata.org/entity/Q1344985
Not found

Looking for João Henrique Enes Ulrich  Lisboa 1880-03-02 http://www.wikidata.org/entity/Q10311603
Not found

Looking for João Henriques Moniz  Funchal 1790-07-16 http://www.wikidata.org/entity/Q64733523
Not found

Looking for João Hickling Anglin  Ponta Delgada 1894-04-17 http://www.wikidata.org/entity/Q87487398
Not found


Looking for João José de Freitas  Carrazeda de Ansiães 1873-05-28 http://www.wikidata.org/entity/Q10311696
Not found

Looking for João Lopes Soares  Leiria 1878-11-17 http://www.wikidata.org/entity/Q10311741
Not found

Looking for João Maria Pereira de Amaral e Pimentel (aka João Maria Pereira do Amaral) Oleiros 1815-07-21 http://www.wikidata.org/entity/Q10311841
Not found

Looking for João Maria Pereira de Amaral e Pimentel (aka João Maria Pereira do Amaral e Pimentel) Oleiros 1815-07-21 http://www.wikidata.org/entity/Q10311841
Not found

Looking for João Maria Pereira de Amaral e Pimentel (aka João maria pereira de amaral e pimentel) Oleiros 1815-07-21 http://www.wikidata.org/entity/Q10311841
Not found

Looking for João Maria Pereira de Amaral e Pimentel (aka João maria pereira do amaral) Oleiros 1815-07-21 http://www.wikidata.org/entity/Q10311841
Not found


Looking for João Paulino de Azevedo e Castro (aka D. João Paulino de Azevedo e Castro) Lajes do Pico 1852-02-04 http://www.wikidata.org/entity/Q6655947
Not found

Looking for João Teixeira Soares de Sousa (aka Dr. João Teixeira Soares) Terreiros (Manadas) 1827-09-12 http://www.wikidata.org/entity/Q6298402
Not found

Looking for João Teixeira Soares de Sousa (aka João Teixeira Soares) Terreiros (Manadas) 1827-09-12 http://www.wikidata.org/entity/Q6298402
Not found

Looking for João Teixeira de Queiroz Vaz Guedes  Coimbra 1871-06-24 http://www.wikidata.org/entity/Q10312256
Not found

Looking for João Vicente Pimentel Maldonado (aka João Vicente Pimentel) Lisboa 1773-01-22 http://www.wikidata.org/entity/Q10312311

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
183584,João Vicente Pimentel Pereira Maldonado,m,Lisboa,1790-10-18,None

Matched

Looking for João da Cunha Souto Maior (maçon)  Viana do Castelo 1767-09-22 http://www.wikidata.org/entity/Q10312369
Not found

Looking for João da Mota e Silva (aka Cardeal da mota) Portugal 1685-08-14 http://www.wikidata.org/entity/Q1772318
Not found

Looking for João de Andrade Corvo (aka Andrade Corvo) Torres Novas 1824-01-30 http://www.wikidata.org/entity/Q10312425
Not found

Looking for João de Andrade Corvo (aka Andrade corvo) Torres Novas 1824-01-30 http://www.wikidata.org/entity/Q10312425
Not found

Looking for João de Andrade Corvo (aka João de andrade corvo) Torres Novas 1824-01-30 http://www.wikidata.org/entity/Q10312425
Not found

Looking for João de Barros (aka João de barros (1881)) Figueira da Foz 1881-02-04 http://www.wikidata.org/entity/Q3187336

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
151823,João de Barros,m,Figueira da Foz,1899-10-14,None

Matched

Looking for João de Brito (aka João Heitor de Brito Pereira) Lisboa 1647-03-01 http://www.wikidata.org/entity/Q730029

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
201877,João de Brito da Costa,m,Lisboa,1649-06-26,None
159082,João de Brito Casado,m,Lisboa,1728-10-01,None
194045,João Gregório de Alpoim e Brito Coelho,m,Lisboa,1731-10-01,None
188555,João Maria Xavier de Brito,m,Lisboa,1792-10-29,None
176794,João de Brito Osório,m,Lisboa,1814-10-19,None

Ambiguous: could not find match in candidates

Looking for João de Brito (aka São joão de brito) Lisboa 1647-03-01 http://www.wikidata.org/entity/Q730029

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
201877,João de Brito da Costa,m,Lisboa,1649-06-26,None
159082,João de Brito Casado,m,Lisboa,1728-10-01,None
194045,João Gregório de Alpoim e Brito Coelho,m,Lisboa,1731-10-01,None
188555,João Maria Xavier de Brito,m,Lisboa,1792-10-29,None
176794,João de Brito Osório,m,Lisboa,1814-10-19,None

Ambiguous: could not find match in candidates

Looking for João de Deus (aka João de Deus de Nogueira Ramos) São Bartolomeu de Messines 1830-03-08 http://www.wikidata.org/entity/Q1710223

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
133827,João de Deus da Nogueira Ramos,m,São Bartolomeu de Messines,1849-10-23,None

Matched

Looking for João de Lemos  Peso da Régua 1819-05-06 http://www.wikidata.org/entity/Q6298461

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
189637,João de Lemos Seixas Castelo Branco,m,Peso da Régua,1841-10-30,None

Matched

Looking for João de Sande Magalhães Mexia Ayres de Campos (aka 2º Conde do Ameal) Coimbra 1877-05-11 http://www.wikidata.org/entity/Q47035009
Not found

Looking for João de Santo Tomás  Lisboa 1589-07-09 http://www.wikidata.org/entity/Q3735496
Not found

Looking for João de Sousa, Marquês das Minas (aka João de sousa, marquês das minas) Viana do Castelo 1666-12-29 http://www.wikidata.org/entity/Q6298468
Not found

Looking for Justino António de Freitas  Funchal 1804-09-13 http://www.wikidata.org/entity/Q10313176

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
167725,Justino António de Freitas,m,Funchal,1825-10-31,"Funchal, Madeira"

Matched

Looking for Juvenal de Araújo (aka Juvenal Henriques de Araújo) Funchal 1892-11-21 http://www.wikidata.org/entity/Q9016861

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
147720,Juvenal Henriques de Araújo,m,Funchal,1909-10-02,"Funchal, Ilha da Madeira"

Matched

Looking for Júlio Augusto Henriques  Arco de Baúlhe 1838-01-15 http://www.wikidata.org/entity/Q5396407
Not found

Looking for Júlio Ernesto de Lima Duque (aka Júlio Ernesto Lima Duque) Chancelaria 1859-08-11 http://www.wikidata.org/entity/Q10313421
Not found

Looking for Júlio Ernesto de Lima Duque (aka Lima Duque) Chancelaria 1859-08-11 http://www.wikidata.org/entity/Q10313421
Not found

Looking for Júlio de Castilho (aka Júlio de castilho) Lisboa 1840-04-30 http://www.wikidata.org/entity/Q10313493
Not found

Looking for Leonel Tavares Cabral  Coimbra 1790-02-09 http://www.wikidata.org/entity/Q85239377

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
176111,Leonel Tavares Cabral Arez de Sousa e Oliveira,m,Coimbra,1806-10-13,None
128838,Leonel Tavares Cabral,m,Coimbra,1814-10-27,None

Matched

Looking for Levi Maria Jordão (aka Levy Maria Jordão de Paiva Manso) Lisboa 1831-01-09 http://www.wikidata.org/entity/Q94850304

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
193376,Levi Maria Jordão,m,Lisboa,1847-10-04,None

Matched

Looking for Licínio Pinto Leite  Porto 1844-06-10 http://www.wikidata.org/entity/Q25439209

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
211145,Licínio Pinto Leite,m,Porto,1874-07-08,None

Matched

Looking for Lourenço António de Carvalho  Lisboa 1837-02-27 http://www.wikidata.org/entity/Q110910878

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
157146,Lourenço António de Carvalho,m,Lisboa,1852-10-15,None
157147,Lourenço António do Casal Ribeiro de Carvalho,m,Lisboa,1899-10-03,None

Matched

Looking for Lucas Antônio Monteiro de Barros (aka Lucas Antonio Monteiro de Barros) Congonhas 1767-10-15 http://www.wikidata.org/entity/Q10320191
Not found

Looking for Lucas Antônio Monteiro de Barros (aka Lucas antonio monteiro de barros) Congonhas 1767-10-15 http://www.wikidata.org/entity/Q10320191
Not found

Looking for Lucas Antônio Monteiro de Barros (aka Lucas antônio monteiro de barros) Congonhas 1767-10-15 http://www.wikidata.org/entity/Q10320191
Not found

Looking for Lucas Antônio Monteiro de Barros (aka Visconde de Congonhas do Campo) Congonhas 1767-10-15 http://www.wikidata.org/entity/Q10320191
Not found

Looking for Lucas Antônio Monteiro de Barros (aka Visconde de congonhas do campo) Congonhas 1767-10-15 http://www.wikidata.org/entity/Q10320191
Not found

Looking for Luciano António Pereira da Silva  Caminha 1864-11-21 http://www.wikidata.org/entity/Q56072432

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
228499,Luciano António Pereira da Silva,m,Caminha,1882-10-23,None

Matched

Looking for Luiz de Andrade (aka Luís de Andrade) Recife 1849-11-20 http://www.wikidata.org/entity/Q42306335
Not found

Looking for Luís António de Abreu e Lima  Viana do Castelo 1787-10-18 http://www.wikidata.org/entity/Q20045977

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
225650,Luís António Malheiro Távora Abreu e Lima,m,Viana do Castelo,1906-10-02,Santa Maria Maior (Viana do Castelo)

Matched

Looking for Luís Augusto Rebelo da Silva (aka Luis Augusto Rebelo da Silva) Lisboa 1822-04-02 http://www.wikidata.org/entity/Q10321293

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
228586,Luís Augusto Rebelo da Silva,m,Lisboa,1840-10-31,None

Matched

Looking for Luís Bettencourt de Medeiros e Câmara (aka Luís Bettencourt) Ponta Delgada 1873-02-21 http://www.wikidata.org/entity/Q10321315

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
130231,Luís Bettencourt de Medeiros e Câmara,m,Ponta Delgada,1891-10-15,"Ponta Delgada, Açores"

Matched

Looking for Luís Ferreira de Figueiredo (aka Eugénia Maria Viana Ferreira de Melo Lemos e Alvelos) Reino de Portugal 1847-05-05 http://www.wikidata.org/entity/Q10321427
Not found

Looking for Luís Ferreira de Figueiredo (aka Eugénia Maria Viana de Figueiredo de Melo Lemos e Alvelos) Reino de Portugal 1847-05-05 http://www.wikidata.org/entity/Q10321427
Not found

Looking for Luís José de Carvalho e Melo  Bahia 1764-05-06 http://www.wikidata.org/entity/Q10321510
Not found

Looking for Luís Maria Lopes da Fonseca  Mata de Lobos 1883-03-01 http://www.wikidata.org/entity/Q10321541

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
156621,Luís Maria Lopes da Fonseca,m,Mata de Lobos,1905-10-03,None

Matched

Looking for Luís da Silva Ribeiro  Angra do Heroísmo 1882-12-04 http://www.wikidata.org/entity/Q10321713

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
165553,Luís da Silva Ribeiro,m,Angra do Heroísmo,1902-10-04,"Angra do Heroísmo, Açores"

Matched




Looking for Luís de Molina (aka Luis Molina) Cuenca 1535-09-29 http://www.wikidata.org/entity/Q436077
Not found

Looking for Luís de Molina (aka Luis de Molina) Cuenca 1535-09-29 http://www.wikidata.org/entity/Q436077
Not found

Looking for Luís de Molina (aka Luiz Molina) Cuenca 1535-09-29 http://www.wikidata.org/entity/Q436077
Not found

Looking for Luís de Molina (aka Luís Molina) Cuenca 1535-09-29 http://www.wikidata.org/entity/Q436077
Not found

Looking for Luís de Sousa e Holstein  Lisboa 1868-02-08 http://www.wikidata.org/entity/Q10321782

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
190222,Luís de Sousa Holstein,m,Lisboa,1885-10-15,None

Matched

Looking for Manuel Alves Branco (aka Alves Branco) Maragogipe 1797-06-07 http://www.wikidata.org/entity/Q3286741
Not found

Looking for Manuel Alves Branco (aka Manoel Alves Branco) Maragogipe 1797-06-07 http://www.wikidata.org/entity/Q3286741
Not found

Looking for Manuel António Lino (aka Manuel antónio lino) Angra do Heroísmo 1865-01-04 http://www.wikidata.org/entity/Q6752403
Not found

Looking for Manuel António de Carvalho  Mirandela 1785-05-31 http://www.wikidata.org/entity/Q10323948

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
157937,Manuel António de Carvalho,m,Mirandela,1807-10-30,None

Matched

Looking for Manuel Augusto Martins  Santa Maria Maior 1867-04-10 http://www.wikidata.org/entity/Q61755108
Not found

Looking for Manuel Bernardes  Lisboa 1644-08-20 http://www.wikidata.org/entity/Q687473

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
185507,Manuel Bernardes,m,Lisboa,1661-10-03,None

Matched

Looking for Manuel Bernardo Borges de Azevedo Enes (aka Manuel bernardo borges de azevedo enes) Topo (Nossa Senhora do Rosário) 1856-03-13 http://www.wikidata.org/entity/Q10324011
Not found

Looking for Manuel Borges Carneiro (aka Borges Carneiro) Resende 1774-11-02 http://www.wikidata.org/entity/Q10324018

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
139641,Manuel Borges Carneiro,m,Resende,1791-10-19,None

Matched

Looking for Manuel Francisco Medeiros  Horta 1791-10-31 http://www.wikidata.org/entity/Q104410206
Not found

Looking for Manuel Francisco de Medeiros  Horta 1832-04-01 http://www.wikidata.org/entity/Q10324152
Not found

Looking for Manuel Gonçalves Cerejeira (aka Cardeal cerejeira) Lousado 1888-11-29 http://www.wikidata.org/entity/Q966168
Not found

Looking for Manuel Gonçalves Cerejeira (aka Gonçalves cerejeira) Lousado 1888-11-29 http://www.wikidata.org/entity/Q966168
Not found

Looking for Manuel Gonçalves Cerejeira (aka Manuel Cerejeira) Lousado 1888-11-29 http://www.wikidata.org/entity/Q966168
Not found

Looking for Manuel Gonçalves de Miranda  Bragança 1780-11-30 http://www.wikidata.org/entity/Q10324181
Not found

Looking for Manuel Jorge Forbes de Bessa  Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória 1864-08-24 http://www.wikidata.org/entity/Q24013840
Not found

Looking for Manuel José Barjona  Coimbra 1760-06-16 http://www.wikidata.org/entity/Q10324268

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
150405,Manuel José Barjona,m,Coimbra,1784-07-17,None

Matched

Looking for Manuel José Mendes Leite (aka José Manuel Mendes Leite) Aveiro 1809-05-18 http://www.wikidata.org/entity/Q10324283

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
211479,Manuel José Mendes Leite,m,Aveiro,1824-10-30,None

Matched

Looking for Manuel José da Silva  Fresno 1892-08-19 http://www.wikidata.org/entity/Q10324292
Not found


Looking for Manuel Maria Sarmento Rodrigues (aka Sarmento Rodrigues) Bragança 1899-06-15 http://www.wikidata.org/entity/Q7424295
Not found

Looking for Manuel Nicolau de Almeida  Vila Franca de Xira 1761-12-25 http://www.wikidata.org/entity/Q10324400

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
143991,Manuel Nicolau de Almeida,m,Vila Franca de Xira,1781-10-30,None

Matched

Looking for Manuel Pires de Azevedo Loureiro (aka Manuel (III) Pires de Azevedo Loureiro) Moreira 1777-03-15 http://www.wikidata.org/entity/Q10324445

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
254109,Manuel Pires de Azevedo Loureiro,m,Moreira de Santos,1795-10-07,Moreira de Santos (Viseu)

Matched

Looking for Manuel Teixeira Gomes  Portimão 1860-05-27 http://www.wikidata.org/entity/Q878532

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
178992,Manuel Teixeira Gomes,m,Vila Nova de Portimão,1875-10-11,None

Matched

Looking for Manuel da Cruz (aka Dom Frei Manoel da Cruz) Ordem 1690-02-05 http://www.wikidata.org/entity/Q10324571
Not found

Looking for Manuel da Cruz (aka Dom Frei Manuel da Cruz) Ordem 1690-02-05 http://www.wikidata.org/entity/Q10324571
Not found

Looking for Manuel da Cruz (aka Frei Manuel da Cruz) Ordem 1690-02-05 http://www.wikidata.org/entity/Q10324571
Not found

Looking for Manuel da Cruz (aka Manoel da Cruz) Ordem 1690-02-05 http://www.wikidata.org/entity/Q10324571
Not found

Looking for Manuel da Cruz (aka Manoel da Cruz Nogueira) Ordem 1690-02-05 http://www.wikidata.org/entity/Q10324571
Not found

Looking for Manuel da Cruz (aka Manuel da Cruz Nogueira) Ordem 1690-02-05 http://www.wikidata.org/entity/Q10324571
Not found

Looking for Manuel da Silva Mendes  Aves 1867-10-23 http://www.wikidata.org/entity/Q10324597

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
212876,Manuel da Silva Mendes,m,São Miguel das Aves,1891-10-20,"São Miguel das Aves, Santo Tirso"

Matched

Looking for Manuel da Terra Pereira Viana (aka Manuel Terra Pereira Viana) Q22064929 1856-01-18 http://www.wikidata.org/entity/Q17318274
Not found



Looking for Manuel de Serpa Machado (aka Manuel de serpa machado) Santa Comba Dão 1784-12-04 http://www.wikidata.org/entity/Q10324678
Not found

Looking for Manuel do Cenáculo (aka Frei Manuel do Cenáculo) Lisboa 1724-03-01 http://www.wikidata.org/entity/Q4902673
Not found

Looking for Manuel do Cenáculo (aka Manoel do Cenáculo) Lisboa 1724-03-01 http://www.wikidata.org/entity/Q4902673
Not found

Looking for Manuel do Cenáculo (aka Manuel do Cenáculo Vilas Boas) Lisboa 1724-03-01 http://www.wikidata.org/entity/Q4902673
Not found

Looking for Manuel do Cenáculo (aka Manuel do Cenáculo Villas Boas) Lisboa 1724-03-01 http://www.wikidata.org/entity/Q4902673
Not found

Looking for Maria Baptista dos Santos Guardiola (aka Maria Guardiola) Bragança 1895-01-13 http://www.wikidata.org/entity/Q10325737
Not found

Looking for Martim Francisco Ribeiro de Andrada (aka Martim Francisco de Andrada e Silva) Santos 1775-04-09 http://www.wikidata.org/entity/Q3295296
Not found

Looking for Martim Francisco Ribeiro de Andrada (aka Martim francisco de andrada e silva) Santos 1775-04-09 http://www.wikidata.org/entity/Q3295296
Not found

Looking for Marçal de Azevedo Pacheco  Loulé 1847-11-08 http://www.wikidata.org/entity/Q10327056

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
220490,Marçal de Azevedo Pacheco,m,Loulé,1867-10-03,None

Matched

Looking for Miguel José de Arriaga Brum da Silveira  Horta 1776-03-22 http://www.wikidata.org/entity/Q23771065
Not found

Looking for Miguel Vaz Guedes de Ataíde (aka Miguel vaz guedes de ataíde) Vila Real 1829-07-08 http://www.wikidata.org/entity/Q10329878

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
183529,Miguel Vaz Guedes de Ataíde Malafaia Júnior,m,Vila Real,1853-10-05,None

Matched

Looking for Mário Pais de Sousa  Santa Comba Dão 1891-02-22 http://www.wikidata.org/entity/Q16930267
Not found

Looking for Mário de Figueiredo  Viseu 1890-04-19 http://www.wikidata.org/entity/Q10334567
Not found

Looking for Natividade Saldanha (aka José da Natividade Saldanha) Jaboatão dos Guararapes 1796-09-08 http://www.wikidata.org/entity/Q10335749
Not found

Looking for Nicolau Moniz de Bettencourt  Angra do Heroísmo 1836-03-04 http://www.wikidata.org/entity/Q10292299

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
280794,Nicolau Moniz de Bettencourt,m,Angra do Heroísmo,1861-06-21,"Angra do Heroísmo, Açores"

Matched

Looking for Norton de Matos  Ponte de Lima 1867-03-23 http://www.wikidata.org/entity/Q177745

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
172342,Arnaldo Mendes Norton de Matos,m,Ponte de Lima,1881-10-03,None
250289,Tomás Mendes Norton de Matos Prego,m,Ponte de Lima,1889-10-02,None
172343,Tomás Mendes Norton de Matos,m,Ponte de Lima,1891-06-25,None

Ambiguous: could not find match in candidates

Looking for Nuno Eugénio Lóssio e Seiblitz (aka Nuno Eugénio de Lossio) Recife 1782-10-01 http://www.wikidata.org/entity/Q10338177
Not found

Looking for Nuno Eugénio Lóssio e Seiblitz (aka Nuno eugénio de lossio) Recife 1782-10-01 http://www.wikidata.org/entity/Q10338177
Not found

Looking for Nuno Eugénio Lóssio e Seiblitz (aka Nuno eugênio lóssio e seiblitz) Recife 1782-10-01 http://www.wikidata.org/entity/Q10338177
Not found

Looking for Nuno da Cunha e Ataíde (aka Nuno da cunha e ataíde) Lisboa 1664-12-08 http://www.wikidata.org/entity/Q3346439

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
148662,Nuno da Cunha de Ataíde,m,Lisboa,1684-10-01,None

Matched

Looking for Pedro António Correia Garção  Lisboa 1724-04-29 http://www.wikidata.org/entity/Q1515561

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
177304,Pedro António Joaquim Correia Garção,m,Lisboa,1742-10-01,None

Matched

Looking for Pedro Augusto Ferreira (aka Pedro augusto ferreira) Lamego 1833-11-14 http://www.wikidata.org/entity/Q10347323
Not found

Looking for Pedro José Constâncio  Lisboa 1781-11-03 http://www.wikidata.org/entity/Q15631832

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
195967,Pedro José Constâncio,m,Lisboa,1798-11-12,None

Matched

Looking for Pedro Paulo de Figueiredo da Cunha e Melo  Portugal 1770-06-18 http://www.wikidata.org/entity/Q660778
Not found

Looking for Pedro Vítor da Costa Sequeira  Lisboa 1845-04-06 http://www.wikidata.org/entity/Q55863605

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
223437,Pedro Vítor da Costa Sequeira Júnior,m,Lisboa,1861-07-01,None

Matched

Looking for Pedro de Araújo Lima (aka Marquês de Olinda) Sirinhaém 1793-12-22 http://www.wikidata.org/entity/Q1797348
Not found

Looking for Pedro de Sousa Holstein, Duque de Palmela (aka Pedro de Sousa Holstein) Turim 1781-05-08 http://www.wikidata.org/entity/Q982358
Not found

Looking for Pedro de Sousa Holstein, Duque de Palmela (aka Pedro de Sousa e Holstein) Turim 1781-05-08 http://www.wikidata.org/entity/Q982358
Not found

Looking for Pedro de Sousa Holstein, Duque de Palmela (aka Pedro de Souza Holstein) Turim 1781-05-08 http://www.wikidata.org/entity/Q982358
Not found


Looking for Q1771793  Waterford 1588-10-16 http://www.wikidata.org/entity/Q1771793
Not found

Looking for Q20980122  Lisboa 1587-09-26 http://www.wikidata.org/entity/Q20980122
Not found



Looking for Q7442698  Seia 1842-12-17 http://www.wikidata.org/entity/Q7442698
Not found

Looking for Rafael Duque (aka Rafael da Silva Neves Duque) Torres Novas 1893-02-03 http://www.wikidata.org/entity/Q10357034
Not found

Looking for Raul Leal  Lisboa 1886-09-01 http://www.wikidata.org/entity/Q1762312
Not found

Looking for Raul Mesnier (aka Mesnier de Ponsard) Porto 1849-04-02 http://www.wikidata.org/entity/Q3057590
Not found

Looking for Raul Mesnier (aka Mesnier du ponsard) Porto 1849-04-02 http://www.wikidata.org/entity/Q3057590
Not found

Looking for Raul Mesnier (aka Raoul Mesnier du Ponsard) Porto 1849-04-02 http://www.wikidata.org/entity/Q3057590
Not found

Looking for Raul Mesnier (aka Raoul mesnier de ponsard) Porto 1849-04-02 http://www.wikidata.org/entity/Q3057590
Not found

Looking for Raul Mesnier (aka Raul Mesnier Ponsard) Porto 1849-04-02 http://www.wikidata.org/entity/Q3057590
Not found

Looking for Raul Mesnier (aka Raul Mesnier de Ponsard) Porto 1849-04-02 http://www.wikidata.org/entity/Q3057590
Not found

Looking for Raul Mesnier (aka Raul mesnier du ponsard) Porto 1849-04-02 http://www.wikidata.org/entity/Q3057590
Not found

Looking for Rodrigo da Fonseca Magalhães (aka Rodrigo da Fonseca) Condeixa-a-Nova 1787-07-24 http://www.wikidata.org/entity/Q10363961
Not found

Looking for Rodrigo da Fonseca Magalhães (aka Rodrigo da fonseca) Condeixa-a-Nova 1787-07-24 http://www.wikidata.org/entity/Q10363961
Not found

Looking for Rodrigo da Fonseca Magalhães (aka Rodrigo da fonseca magalhães) Condeixa-a-Nova 1787-07-24 http://www.wikidata.org/entity/Q10363961
Not found

Looking for Rodrigo de Sousa Coutinho (aka D. Rodrigo de Souza Coutinho) Chaves 1755-08-04 http://www.wikidata.org/entity/Q5102445

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
206494,Rodrigo de Sousa Coutinho,m,Chaves,1773-10-08,None

Matched


Looking for Samora Barros  Albufeira 1887-04-03 http://www.wikidata.org/entity/Q10367297

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
151868,José Ricardo Júdice de Samora Barros,m,Albufeira,1909-10-12,None

Matched


Looking for Sebastião Drago Valente de Brito Cabreira  Faro 1763-01-06 http://www.wikidata.org/entity/Q28073498
Not found

Looking for Sebastião José de Carvalho e Melo, marquês de Pombal (aka Marquês de Pombal) Lisboa 1699-05-13 http://www.wikidata.org/entity/Q319511
Not found

Looking for Sebastião José de Carvalho e Melo, marquês de Pombal (aka Marquês do Pombal) Lisboa 1699-05-13 http://www.wikidata.org/entity/Q319511
Not found

Looking for Sebastião José de Carvalho e Melo, marquês de Pombal (aka Pombalina) Lisboa 1699-05-13 http://www.wikidata.org/entity/Q319511
Not found

Looking for Sebastião José de Carvalho e Melo, marquês de Pombal (aka Sebastião José de Carvalho e Mello) Lisboa 1699-05-13 http://www.wikidata.org/entity/Q319511
Not found

Looking for Sebastião José de Carvalho e Melo, marquês de Pombal (aka Sebastião José de Carvalho e Melo) Lisboa 1699-05-13 http://www.wikidata.org/entity/Q319511
Not found

Looking for Sebastião José de Carvalho e Melo, marquês de Pombal (aka Sebastião José de Carvalho e Melo, 1º marquês de Pombal) Lisboa 1699-05-13 http://www.wikidata.org/entity/Q319511
Not found

Looking for Sebastião José de Carvalho e Melo, marquês de Pombal (aka Sebastião de Carvalho e Melo) Lisboa 1699-05-13 http://www.wikidata.org/entity/Q319511
Not found

Looking for Sidónio Pais (aka Sidónio Bernardino Cardoso da Silva Pais) Caminha 1872-05-01 http://www.wikidata.org/entity/Q356691

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
221394,Sidónio Bernardino Cardoso da Silva Pais,m,Caminha,1887-10-15,None

Matched

Looking for Soares de Passos (aka António Augusto Soares de Passos) Porto 1826-11-27 http://www.wikidata.org/entity/Q2296345

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
223073,António Augusto Soares de Passos,m,Porto,1849-10-19,None

Matched

Looking for Sousa Caldas (aka Antonio pereira de souza caldas) Rio de Janeiro 1762-11-24 http://www.wikidata.org/entity/Q456789

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
129088,António Pereira de Sousa Caldas,m,Rio de Janeiro,1776-10-16,"Rio de Janeiro, Brasil"

Matched

Looking for Sá de Miranda (aka Francisco de Sá de Miranda) Coimbra 1491-09-06 http://www.wikidata.org/entity/Q186872
Not found

Looking for Teixeira de Queirós (aka Bento Moreno) Arcos de Valdevez 1848-05-03 http://www.wikidata.org/entity/Q10379131

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
210673,José Teixeira de Queirós Botelho Pimentel e Va...,m,Arcos de Valdevez,1849-10-23,None
132696,Francisco Joaquim Teixeira de Queirós,m,Arcos de Valdevez,1868-07-01,None

Ambiguous: could not find match in candidates

Looking for Teixeira de Queirós (aka Francisco Joaquim Teixeira de Queiroz) Arcos de Valdevez 1848-05-03 http://www.wikidata.org/entity/Q10379131

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
210673,José Teixeira de Queirós Botelho Pimentel e Va...,m,Arcos de Valdevez,1849-10-23,None
132696,Francisco Joaquim Teixeira de Queirós,m,Arcos de Valdevez,1868-07-01,None

Ambiguous: could not find match in candidates

Looking for Teixeira de Queirós (aka Francisco Teixeira de Queirós) Arcos de Valdevez 1848-05-03 http://www.wikidata.org/entity/Q10379131

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
210673,José Teixeira de Queirós Botelho Pimentel e Va...,m,Arcos de Valdevez,1849-10-23,None
132696,Francisco Joaquim Teixeira de Queirós,m,Arcos de Valdevez,1868-07-01,None

Ambiguous: could not find match in candidates

Looking for Teotónio Simão Paim de Ornelas Bruges (aka Teotónio Paim de Ornelas Bruges) Angra do Heroísmo 1841-09-22 http://www.wikidata.org/entity/Q10380409
Not found

Looking for Tomás António Gonzaga (aka Thomaz Antonio Gonzaga) Miragaia 1744-08-11 http://www.wikidata.org/entity/Q1334602
Not found

Looking for Tomás António Gonzaga (aka Tomas António Gonzaga) Miragaia 1744-08-11 http://www.wikidata.org/entity/Q1334602
Not found

Looking for Tomás António Gonzaga (aka Tomás Gonzaga) Miragaia 1744-08-11 http://www.wikidata.org/entity/Q1334602
Not found

Looking for Tomás António Gonzaga (aka Tomáz António Gonzaga) Miragaia 1744-08-11 http://www.wikidata.org/entity/Q1334602
Not found

Looking for Tomás Cabreira (aka Tomás António da Guarda Cabreiro) Tavira 1865-01-23 http://www.wikidata.org/entity/Q10383090
Not found

Looking for Tomás Ribeiro  Parada de Gonta 1831-07-01 http://www.wikidata.org/entity/Q1721732
Not found

Looking for Tomás da Encarnação da Costa e Lima  Salvador 1723-06-25 http://www.wikidata.org/entity/Q64736124
Not found

Looking for Tomás de Almeida (aka Tomás de Almeida, 1º cardeal patriarca de Lisboa) Lisboa 1670-10-05 http://www.wikidata.org/entity/Q2518410

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
189978,Tomás da Costa de Almeida Castelo Branco,m,Lisboa,1719-10-01,None
144226,Tomás de Almeida,m,Lisboa,1724-03-25,None
144219,Tomás de Almeida,m,Lisboa,1778-11-16,None
144239,Tomás José de Miranda e Almeida,m,Lisboa,1779-10-01,None
143657,José Tomás de Sá e Almeida,m,Lisboa,1796-10-31,None

Matched

Looking for Tomás de Sousa e Holstein Beck  Lisboa 1839-12-31 http://www.wikidata.org/entity/Q10383143
Not found

Looking for Toríbio de Mongrovejo  Mayorga 1538-11-26 http://www.wikidata.org/entity/Q467993

/var/folders/6m/_0n598297cj_bc2ql0rynnx00000gp/T/ipykernel_34979/2881094324.py:113: UserWarning: Possible duplicates: 144226, 144219
  warnings.warn("Possible duplicates: "+", ".join(candidates_list))

Not found

Looking for Venceslau de Lima (aka Venceslau de Sousa Pereira de Lima) Porto 1858-11-15 http://www.wikidata.org/entity/Q1392611
Not found

Looking for Venceslau de Lima (aka Wenceslau de Lima) Porto 1858-11-15 http://www.wikidata.org/entity/Q1392611
Not found

Looking for Venceslau de Lima (aka Wenceslau de Sousa Pereira de Lima) Porto 1858-11-15 http://www.wikidata.org/entity/Q1392611
Not found

Looking for Vicente Ferrer Neto de Paiva (aka Vicente Ferrer Neto Paiva) Lousã 1798-06-27 http://www.wikidata.org/entity/Q10390244
Not found

Looking for Vicente Ferrer Neto de Paiva (aka Vicente Ferrer de Neto Paiva) Lousã 1798-06-27 http://www.wikidata.org/entity/Q10390244
Not found

Looking for Victor Hugo de Azevedo Coutinho (aka Vitor Hugo de Azevedo Coutinho) Macau 1871-11-12 http://www.wikidata.org/entity/Q719020
Not found


Looking for Álvaro Rodrigues Azevedo (aka Alvaro Rodrigues d’Azevedo) Vila Franca de Xira 1825-03-20 http://www.wikidata.org/entity/Q17272838

,name,sex,nome-geografico,nome-geografico.date,nome-geografico.obs
id,,,,,
148851,Álvaro Rodrigues de Azevedo,m,Vila Franca de Xira,1843-10-02,None

Matched

Looking for Álvaro da Silva Sampaio  Angra do Heroísmo 1891-01-24 http://www.wikidata.org/entity/Q51882966
Not found
Matched 164 ambiguous 12 not found 378

Verificar quantos estudantes da Universidade de Coimbra na Wikidata foram identificados no FAUC

`fauc_id` non-null

---

Check how many Coimbra students in wikidata were matched with FAUC.

`fauc_id` non-null

In [78]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 688 entries, 40 to 293
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   wikidata      688 non-null    object
 1   name          688 non-null    object
 2   alias         462 non-null    object
 3   bnp_id        458 non-null    object
 4   naturalidade  651 non-null    object
 5   placeID       651 non-null    object
 6   longitude     649 non-null    object
 7   latitude      649 non-null    object
 8   birth_date    688 non-null    object
 9   fauc_id       164 non-null    object
dtypes: object(10)
memory usage: 75.3+ KB

In [79]:
students.head(20)

,wikidata,name,alias,bnp_id,naturalidade,placeID,longitude,latitude,birth_date,fauc_id
40,http://www.wikidata.org/entity/Q9559855,Aarão Ferreira de Lacerda,None,103998,Vila Nova de Paiva,http://www.wikidata.org/entity/Q1003146,-7.7333333333333,40.85,1863-10-03,None
675,http://www.wikidata.org/entity/Q106271718,Abel Maria Jordão de Paiva Manso,None,None,Coimbra,http://www.wikidata.org/entity/Q45412,-8.4288888888889,40.211111111111,1801-03-03,None
576,http://www.wikidata.org/entity/Q23820937,Abílio Augusto da Fonseca Pinto,None,314551,Coimbra,http://www.wikidata.org/entity/Q45412,-8.4288888888889,40.211111111111,1830-05-27,245300
9,http://www.wikidata.org/entity/Q9561614,Abílio Beça,None,None,None,None,None,None,1856-08-20,None
538,http://www.wikidata.org/entity/Q19607365,Adolfo Ferreira Loureiro,Adolfo Ferreira de Loureiro,83492,São Bartolomeu,http://www.wikidata.org/entity/Q1026333,-8.43054,40.20848,1836-12-12,None
603,http://www.wikidata.org/entity/Q16144296,Adriano António Canavarro Crispiniano da Fonseca,None,None,Marco de Canaveses,http://www.wikidata.org/entity/Q188050,-8.15,41.183333333333,1884-11-08,None
174,http://www.wikidata.org/entity/Q56072395,Adriano Inácio Botelho,None,15765,Angra do Heroísmo,http://www.wikidata.org/entity/Q193677,-27.215277777778,38.655833333333,1892-09-12,186608
345,http://www.wikidata.org/entity/Q383401,Afonso Costa,Afonso Augusto Costa,34862,Seia,http://www.wikidata.org/entity/Q76017,-7.70245,40.42203,1871-03-06,198981
341,http://www.wikidata.org/entity/Q383401,Afonso Costa,Afonso Augusto da Costa,34862,Seia,http://www.wikidata.org/entity/Q76017,-7.70245,40.42203,1871-03-06,None
253,http://www.wikidata.org/entity/Q4689383,Afonso Mendes,None,None,Santo Aleixo da Restauração,http://www.wikidata.org/entity/Q2223673,-7.15,38.066666666667,1579-06-28,None
689,http://www.wikidata.org/entity/Q16142675,Afonso Pinto Veloso,Afonso de Melo Pinto Veloso,218585,Águeda,http://www.wikidata.org/entity/Q249906,-8.4416666666667,40.580519444444,1878-10-09,214665
612,http://www.wikidata.org/entity/Q16144891,Aires Jácome Correia,None,82977,Lisboa,http://www.wikidata.org/entity/Q597,-9.139016,38.708042,1882-08-09,None
571,http://www.wikidata.org/entity/Q2275881,Alberto Monsaraz,Alberto de Monsaraz,97665,Lisboa,http://www.wikidata.org/entity/Q597,-9.139016,38.708042,1889-02-28,250889
682,http://www.wikidata.org/entity/Q16487096,Alberto Pinheiro Torres,None,104153,Braga,http://www.wikidata.org/entity/Q83247,-8.4166666666667,41.533333333333,1874-11-02,203860
674,http://www.wikidata.org/entity/Q16487343,Alberto Teles de Utra Machado,None,109620,Angra do Heroísmo,http://www.wikidata.org/entity/Q193677,-27.215277777778,38.655833333333,1840-01-24,None
285,http://www.wikidata.org/entity/Q47318259,Alberto da Veiga Simões,None,105505,Arganil,http://www.wikidata.org/entity/Q426953,-8.05,40.216666666667,1888-12-16,231020
91,http://www.wikidata.org/entity/Q9594728,Albino dos Reis,Albino Soares Pinto dos Reis,None,Oliveira de Azeméis,http://www.wikidata.org/entity/Q405252,-8.4833333333333,40.833333333333,1888-09-30,None
87,http://www.wikidata.org/entity/Q9594728,Albino dos Reis,Albino Soares Pinto dos Reis Júnior,None,Oliveira de Azeméis,http://www.wikidata.org/entity/Q405252,-8.4833333333333,40.833333333333,1888-09-30,None
624,http://www.wikidata.org/entity/Q16488032,"Alexandre Braga, pai",Alexandre José da Silva Braga,131608,Porto,http://www.wikidata.org/entity/Q36433,-8.6107777777778,41.149472222222,1829-03-14,187311
661,http://www.wikidata.org/entity/Q16488152,Alexandre Meireles do Canto e Castro,None,101830,Angra do Heroísmo,http://www.wikidata.org/entity/Q193677,-27.215277777778,38.655833333333,1827-03-10,132510

In [81]:
students.to_csv('../inferences/wikidata/students_wikidata_matched.csv',sep=',')

#### Processar os nomes não ligados no primeiro passo

---

#### Processing unliked names in the first pass

In [82]:
unlinked = students[students['fauc_id'].isnull()]
unlinked[['name','alias','naturalidade','birth_date','wikidata']].head(30).fillna("")

,name,alias,naturalidade,birth_date,wikidata
40,Aarão Ferreira de Lacerda,,Vila Nova de Paiva,1863-10-03,http://www.wikidata.org/entity/Q9559855
675,Abel Maria Jordão de Paiva Manso,,Coimbra,1801-03-03,http://www.wikidata.org/entity/Q106271718
9,Abílio Beça,,,1856-08-20,http://www.wikidata.org/entity/Q9561614
538,Adolfo Ferreira Loureiro,Adolfo Ferreira de Loureiro,São Bartolomeu,1836-12-12,http://www.wikidata.org/entity/Q19607365
603,Adriano António Canavarro Crispiniano da Fonseca,,Marco de Canaveses,1884-11-08,http://www.wikidata.org/entity/Q16144296
341,Afonso Costa,Afonso Augusto da Costa,Seia,1871-03-06,http://www.wikidata.org/entity/Q383401
253,Afonso Mendes,,Santo Aleixo da Restauração,1579-06-28,http://www.wikidata.org/entity/Q4689383
612,Aires Jácome Correia,,Lisboa,1882-08-09,http://www.wikidata.org/entity/Q16144891
674,Alberto Teles de Utra Machado,,Angra do Heroísmo,1840-01-24,http://www.wikidata.org/entity/Q16487343
91,Albino dos Reis,Albino Soares Pinto dos Reis,Oliveira de Azeméis,1888-09-30,http://www.wikidata.org/entity/Q9594728
87,Albino dos Reis,Albino Soares Pinto dos Reis Júnior,Oliveira de Azeméis,1888-09-30,http://www.wikidata.org/entity/Q9594728
583,Alexandre Rodrigues Ferreira,,Salvador,1756-04-27,http://www.wikidata.org/entity/Q188916
5,Alexandre de Serpa Pinto,Alexandre Serpa Pinto,Cinfães,1846-04-20,http://www.wikidata.org/entity/Q921705
30,Alexandre de Serpa Pinto,Serpa Pinto,Cinfães,1846-04-20,http://www.wikidata.org/entity/Q921705
649,Alfredo Augusto de Soveral Martins,Alfredo Cardoso de Soveral Martins,Almacave,1869-06-07,http://www.wikidata.org/entity/Q1636522
59,Alfredo da Silva Sampaio,,Angra do Heroísmo,1872-09-19,http://www.wikidata.org/entity/Q9603234
351,Almeida Garrett,Almeida Garrette,Porto,1799-02-04,http://www.wikidata.org/entity/Q316806
331,Almeida Garrett,Garret,Porto,1799-02-04,http://www.wikidata.org/entity/Q316806
314,Almeida Garrett,João Baptista de Almeida Garrett,Porto,1799-02-04,http://www.wikidata.org/entity/Q316806
302,Almeida Garrett,João de Almeida Garrett,Porto,1799-02-04,http://www.wikidata.org/entity/Q316806
572,Almiro Maia de Loureiro,,Lisboa,1897-09-21,http://www.wikidata.org/entity/Q23777977
534,Amadeu de Castro e Sola,Amadeu Teles da Silva de Afonseca Mesquita de ...,Braga,1874-08-19,http://www.wikidata.org/entity/Q20045590
398,Anselmo José Braamcamp,Anselmo Braancamp,Lisboa,1817-10-23,http://www.wikidata.org/entity/Q321278
388,Anselmo José Braamcamp,Anselmo José Braamcamp de Almeida Castelo Branco,Lisboa,1817-10-23,http://www.wikidata.org/entity/Q321278
287,Antero de Quental,Antero de Quintal,Ponta Delgada,1842-04-18,http://www.wikidata.org/entity/Q467494
282,Antero de Quental,Antero quental,Ponta Delgada,1842-04-18,http://www.wikidata.org/entity/Q467494
275,Antero de Quental,Anthero do Quental,Ponta Delgada,1842-04-18,http://www.wikidata.org/entity/Q467494
376,Antonio Cordeses,,Olot,1518-08-09,http://www.wikidata.org/entity/Q27786526
550,Antonio da Costa Paiva,A.Paiva,Porto,1806-10-12,http://www.wikidata.org/entity/Q21522539
584,Antonio da Costa Paiva,Barão de Castelo de Paiva,Porto,1806-10-12,http://www.wikidata.org/entity/Q21522539

Current misses:
* Aarão Ferreira de Lacerda  Vila Nova de Paiva 1863-10-03 http://www.wikidata.org/entity/Q9559855
  * FAUC place of birth Touro https://linode.timelink-mhk.net/mhk/ucalumni/id/265860 Wikidata: Vila Nova de Paiva
* Abel Maria Jordão de Paiva Manso		Coimbra	1801-03-03	http://www.wikidata.org/entity/Q106271718
  * FAUC has him as father: https://linode.timelink-mhk.net/mhk/ucalumni/id/193376-pai 
  * And him as student: https://linode.timelink-mhk.net/mhk/ucalumni/id/193254 but gives place name as "Buarcos". Father name match genealogical information at: 
        https://gw.geneanet.org/aqf?lang=fr&n=manso&oc=0&p=abel+maria+jordao+de+paiva 
  * See https://github.com/joaquimrcarvalho/fauc1537-1919/issues/13
* Abílio Beça			1856-08-20	http://www.wikidata.org/entity/Q9561614
  * 
* Looking António Augusto de Sousa 1883-12-10 http://www.wikidata.org/entity/Q23905297
  * Not found in FAUC  
* Alfredo Augusto de Soveral Martins Almacave 1869-06-07 http://www.wikidata.org/entity/Q1636522
  * Place name do not match. FAUC Lamego, Wikidata Almacave, which is parish
* Bernardo de Brito Almeida 1569-08-20 http://www.wikidata.org/entity/Q3638813
  * FAUC no birth place
* António Ginestal Machado Almeida 1874-05-03 http://www.wikidata.org/entity/Q357489
  * Not found in FAUC
* Levy Maria Jordão Lisboa 1831-01-09 http://www.wikidata.org/entity/Q94850304
  * Name in FAUC is Levi Maria Jordão
* António Maria Vasco de Melo Silva César e Meneses Lisboa 1851-11-13 http://www.wikidata.org/entity/Q9619744
  * FAUC name = António Vasco de Melo Silva César e Menezes
* Manuel Gonçalves Cerejeira Lousado 1888-11-29 http://www.wikidata.org/entity/Q966168
  * FAUC place of birth Lousada
* António de Sousa de Macedo Porto 1606-12-15 http://www.wikidata.org/entity/Q8202081
  * FAUC possible https://linode.timelink-mhk.net/mhk/ucalumni/id/183307 but place of birth does not match
* Pedro de Sousa Holstein, Duque de Palmela Turim 1781-05-08 http://www.wikidata.org/entity/Q982358
  * Homonym in https://linode.timelink-mhk.net/mhk/ucalumni/id/190226 but dates don't match also no one 
    born in Turim with similar name in FAUC
* António Pinto de Magalhães Aguiar Constance 1834-06-23 http://www.wikidata.org/entity/Q9620002
  * matches António Pinto de Magalhães Aguiar id: 141234 but place of birth does not match FAUC = Santa Eulália  
    de Constância
* Gregório de Matos, http://www.wikidata.org/entity/Q983565 corresponds to Gregório de Matos Guerra id: 180656 vide https://linode.timelink-mhk.net/mhk/ucalumni/id/171909
  * Misses because wikidata gives place of Birth as Salvador and FAUC gives Baía
'Anselmo José Braamcamp' 'Anselmo José Braancamp'

In [48]:
ambiguous_list

[['187197', '183723'],
 ['236173', '226251'],
 ['198631', '292664'],
 ['198631', '292664'],
 ['198631', '292664'],
 ['198631', '292664'],
 ['201877', '159082', '194045', '188555', '176794'],
 ['201877', '159082', '194045', '188555', '176794'],
 ['172342', '250289', '172343'],
 ['210673', '132696'],
 ['210673', '132696'],
 ['210673', '132696']]

2022-05-18 : 454 results stored in [inferences/wikidata](../inferences/wikidata/query.json)

In [1]:

query = """

    SELECT DISTINCT ?student 
     WHERE {
      ?student p:P69 ?educatedAt.
      ?educatedAt (ps:P69/(wdt:P279*)) wd:Q368643.
      ?student p:P569 ?birthDateStmt.
      ?birthDateStmt psv:P569 ?birthDateValue.
      ?birthDateValue wikibase:timePrecision ?precision_1.
      FILTER(?precision_1 >= 11 )
      ?birthDateValue wikibase:timeValue ?P569_1.
      FILTER(?P569_1 < "+1900-01-01T00:00:00Z"^^xsd:dateTime)
    }
    LIMIT 5

"""

In [2]:
!pip install lxml

Requirement already satisfied: lxml in /Users/jrc/.pyenv/versions/3.10.0/lib/python3.10/site-packages (4.8.0)
WARNING: You are using pip version 21.2.3; however, version 22.1 is available.
You should consider upgrading via the '/Users/jrc/.pyenv/versions/3.10.0/bin/python3.10 -m pip install --upgrade pip' command.

In [3]:
from datetime import datetime

from qwikidata.entity import WikidataItem, WikidataLexeme, WikidataProperty
from qwikidata.linked_data_interface import get_entity_dict_from_api
from qwikidata.sparql import return_sparql_query_results

from lxml import etree

# Prepare to fetch records from Portuguese National Library



xsl_file = '../extras/bnp/visbd-fauc.xsl'
xsl = etree.parse(xsl_file) 

# Things we would like to known about the students
claims_of_interest = ['P69','P1559','P1447','P27','P569','P570','P106','P19','P20',
                      'P22','P25','p97', 
                      'P973',                      # described at URL
                      'P1005','P102','P39','P166','P213','P214']
                      
claims_ignored = set()
prop_labels = {}
cache = {}
results = return_sparql_query_results(query)

# https://qwikidata.readthedocs.io/en/stable/entity.html
for result in results['results']['bindings']:
    uri = result['student']['value']
    qid = uri.split("/")[-1]  # last item in the path
    result_dict = get_entity_dict_from_api(qid)
    std = WikidataItem(result_dict)

    print(std.entity_id,std.get_label())
    for aka in std.get_aliases(lang='pt'):
        print(f"{' '*2} aka:",aka)

    claim_groups = std.get_claim_groups()


    claim_id_list = sorted([c for c in claim_groups.keys() if c in claims_of_interest])
    if 'P1005' in claim_id_list:     # we move the property related to published works to the end
        claim_id_list.remove('P1005')
        claim_id_list = claim_id_list + ['P1005']


    for claim_id in claim_id_list:
        if claim_id in prop_labels.keys():
            propLabel = prop_labels[claim_id]
        else:
            prop_dict = get_entity_dict_from_api(claim_id)
            propLabel = prop_dict['labels']['en']['value']
            prop_labels[claim_id] = propLabel

        claim_group = claim_groups[claim_id]
        print(f"{' '*2} {claim_id} {propLabel}({len(claim_group)})")
        for claim in claim_group:
            snak = claim.mainsnak
            if snak.snak_datatype == 'wikibase-item':
                qid = snak.datavalue.value["id"]
                entity = WikidataItem(get_entity_dict_from_api(qid))
                print(f"{' '*6}{qid} {entity.get_label(lang='pt')}")
            elif snak.value_datatype == 'string':
                print(f"{' '*6} {snak.datavalue.value}") 
            elif snak.value_datatype == 'time':
                svalue = snak.datavalue.value['time']
                try:
                    date_value = datetime.strptime(svalue,"+%Y-%m-%dT%H:%M:%SZ")
                    print(f"{' '*6} {date_value}")  
                except ValueError as e:
                    print("Problem converting date, probably date incomplete: "+svalue,e)
            else:
                snak_info = (claim.rank,snak.snaktype,snak.snak_datatype,snak.value_datatype)  
                print(f"{' '*6}{snak_info}")
            
            if claim_id == 'P1005': 
                bnp_id = snak.datavalue.value
                url = f"http://urn.bn.pt/bibliografia/unimarc/xml?id={bnp_id}"
                records = etree.parse(url)
                transform = etree.XSLT(xsl)
                print(str(transform(records)))

            for pid, quals in claim.qualifiers.items():
                prop = WikidataProperty(get_entity_dict_from_api(pid))
                for qual in quals:
                    if qual.snak.snaktype != "value":
                        continue
                    else:
                        print(f"{' '*9}{prop.get_label()} {qual.snak.datavalue}")

    print(f"{' '*3}Other properties:",set(claim_groups.keys())-set(claims_of_interest) )
    claims_ignored = claims_ignored.union(set(claim_groups.keys())-set(claims_of_interest))
    print()

print()
if len(claims_ignored) > 0:
    print("Properties present in the students and ignored in this list")
    for ignored in sorted(claims_ignored):
        if ignored in prop_labels.keys():
            propLabel = prop_labels[prop]
        else:
            prop_dict = get_entity_dict_from_api(ignored)
            propLabel = prop_dict['labels']['en']['value']
            prop_labels[prop] = propLabel  
        print(f"   {ignored:<6s}: {propLabel}")

Q61755108 Manuel Augusto Martins
   P106 occupation(1)
      Q82955 político
   P19 place of birth(1)
      Q2078801 Santa Maria Maior
   P20 place of death(1)
      Q25444 Funchal
   P27 country of citizenship(1)
      Q45 Portugal
   P569 date of birth(1)
       1867-04-10 00:00:00
   P570 date of death(1)
       1936-04-04 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
         academic major WikibaseEntityId(id=Q7748)
   Other properties: {'P735', 'P21', 'P1412', 'P18', 'P2671', 'P103', 'P31', 'P734'}

Q16917757 Francisco Correia de Mendonça
   P106 occupation(1)
      Q16533 juiz
   P19 place of birth(1)
      Q732548 Lagos
   P27 country of citizenship(1)
      Q45 Portugal
   P569 date of birth(1)
       1832-01-03 00:00:00
   P570 date of death(1)
       1899-08-04 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
   Other properties: {'P735', 'P21', 'P1412', 'P2671', 'P103', 'P31'}

Q17272838 Álvaro Rodrigues Azevedo
   aka: José Rodrigues de Azevedo
   aka: Alvaro Rodrigues d’Azevedo
   aka: José Rodrigues d' Azevedo
   aka: Álvaro Rodrigues de Azevedo
   P106 occupation(5)
      Q40348 advogado(a)
      Q974144 educador
      Q82955 político
      Q201788 historiador(a)
      Q36180 escritor(a)
   P19 place of birth(1)
      Q917326 Vila Franca de Xira
   P20 place of death(1)
      Q597 Lisboa
   P213 ISNI(1)
       0000 0000 6665 1261
   P214 VIAF ID(1)
       5316073
   P27 country of citizenship(1)
      Q45 Portugal
   P569 date of birth(1)
       1825-03-20 00:00:00
   P570 date of death(1)
       1898-01-06 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
   P1005 Portuguese National Library ID(1)
       54152

Esboço critico-litterario (do Bosquejo historico de litteratura classica do sr. A. C. Borges de Figueiredo) / Alvaro Rodrigues de Azevedo. - Funchal : Typ. de M. M. S. Carregal, 1866. - 1 v. ; 8º
http://id.bnportugal.gov.pt/bib/catbnp/512219

As saudades da terra : história das ilhas do Porto Santo, Madeira, Desertas e Selvagens / Gaspar Fructuoso ; introd. Alberto Vieira ; coord. geral Francisco Faria Paulino ; anot. Álvaro Rodrigues de Azevedo. - Funchal : Empresa Municipal Funchal 500 Anos, D.L. 2007. - 917, [3] p. : il. ; 24 cm. - (Funchal 500 anos). - Manuscrito do Século XVI, anotado por Álvaro Rodrigues de Azevedo. - Edi. fac-símile do Funchal : Typ Funchalense, 1873. - ISBN 978-989-95637-0-7
http://id.bnportugal.gov.pt/bib/catbnp/1743559

Curso elementar de recitaçao, philologia e redacçao / por Alvaro Rodrigues de Azevedo. - Funchal : Typografia Funchalense, 1869. - VIII, 182 p. ; 18 cm
http://id.bnportugal.gov.pt/bib/catbnp/367517

O communismo : discurso proferido na aula pratica forense da Universidade / por A. de Azevedo. - Lisboa : Typ. de Francisco Xavier de Souza, 1849. - 52 p. ; 19 cm
http://id.bnportugal.gov.pt/bib/catbnp/550067

Museu litterario : semanario de instrucção e recreio / adm. e dir. A. de Azevedo. - Lisboa : Typ. Azevedo & Moreira, 1876. - 23 cm. - Semanal
http://id.bnportugal.gov.pt/bib/catbnp/590827

Miscellanea Madeirense : folhetins do Diário de Notícias do Funchal, 1876-1877 / compil. por Alvaro Rodrigues de Azevedo. - [Funchal : s.n.], 1876-1877. - [110] p. ; 18x26 cm. - Fragmentos de folhas reunidas em 1 v
http://id.bnportugal.gov.pt/bib/catbnp/595504

Benavente : estudo histórico-descritivo / Álvaro Rodrigues d'Azevedo ; obra póstuma, continuada e editada por Ruy d'Azevedo. - Lisboa : [s.n.], 1926 (Almeirim : Gráfica Central). - XV, 296 p. : il. ; 25 cm
http://id.bnportugal.gov.pt/bib/catbnp/440403

Benavente, estudo histórico-descritivo / álvaro Rodrigues d'Azevedo ; pref. de Rui de Azevedo. - Lisboa : Minerva Lisbonense, 1924. - 1 v. ; 25 cm
http://id.bnportugal.gov.pt/bib/catbnp/424146

O direito de perdoar / por A. de Azevedo. - Coimbra : [s.n.], 1848. - 14 p. ; 21 cm
http://id.bnportugal.gov.pt/bib/catbnp/412381

Benavente : estudo histórico-descritivo / Alvaro Rodrigues d'Azevedo ; obra póstuma continuada e editada por Ruy d'Azevedo. - Lisboa : [s.n.], 1926 (Lisboa : [Minerva Lisbonense]). - XV, [1], 286 p. : il. ; 26 cm
http://id.bnportugal.gov.pt/bib/catbnp/401770

As saudades da terra : história das ilhas do Porto-Sancto, Madeira, Desertas e Selvagens / pelo douctor Gaspar Fructuoso ; manuscripto do século XVI annotado por Alvaro Rodrigues de Azevedo. - Funchal : Typ. Funchalense, 1873. - XI, 917, [2] p. ; 26 cm
http://id.bnportugal.gov.pt/bib/catbnp/239117

Contos engraçados : histórias para as crianças / A. de Azevedo. - [S.l. : s.n.], 1941 (Porto : Tip. Domingos de Oliveira). - 48 p. : il. ; 20 cm
http://id.bnportugal.gov.pt/bib/catbnp/731945

A familia do demerarista : drama em um acto / original de A. d'Azevedo. - Funchal : Typ. do Funchalense, 1859. - 40 p. ; 24 cm
http://id.bnportugal.gov.pt/bib/catbnp/972604

Romanceiro do Archipelago da Madeira / colligido e publicado por Alvaro Rodrigues de Azevedo. - Funchal : Typ. da "Voz do Povo", 1880. - XXIV, 514 p. ; 20 cm. - Inocêncio A. 16
http://id.bnportugal.gov.pt/bib/catbnp/336292

O comunismo : discurso proferido na aula de practica forense da universidade / por A. de Azevedo. - Lisboa : Typ. Francisco Xavier de Sousa, 1849. - 52 p. ; 17 cm
http://id.bnportugal.gov.pt/bib/catbnp/828670

Gazeta dos theatros / publicação da Agência Litteraria e Theatral ; [red. e propr. A. d'Azevedo]. - Lisboa : Agência Litteraria e Theatral, 1875-1876. - 32 cm. - Bimensal
http://id.bnportugal.gov.pt/bib/catbnp/525988

[ Documentos de diversas tipologias sobre Cristóvão Colombo e sua eventual passagem pela Ilha da Madeira] [Manuscrito]. - , 1584-1892. - [113] f. : grav. ; 38 cm. - Originais, cópias e impressos. - Mau estado: papel quebradiço e danificado. - Nota manuscrita: "Off[ereci]do à Bibl[iote]ca Nac[ional] de Lisboa pelo Exm. Dr. Alvaro Ro[dr]i[gue]s d'Azevedo em maio de 1892". - Instrumento de dote e casamento de Joana, filha de Francisco Gonçalves da Câmara, e Pero Ribeiro Esmeraldo, filho de António de Carvalhal, que recebem de dote umas casas na Rua do Esmeraldo, que têm serventia para a dita Rua e para a Rua do Sabão. Funchal, 1584. Cópia certificada e transcrição incompleta (f. [28-38]). Instrumento de doação e nomeação que fez António do Carvalhal, o Velho, a seu filho, António do Carvalhal, o Moço, da metade das casas da Rua do Esmeraldo, que têm serventia para a dita Rua e para a Rua do Sabão. Funchal, 1644. Cópia certificada e transcrição (f. [39-42]). Correspondência entre Álvaro Rodrigues de Azevedo, João Alves Camacho e José Maria de Agrela. 1879 (f. [47-53]). Correspondência entre Álvaro Rodrigues de Azevedo e José Leite Monteiro. 1879 (f. [58-62]). Certidão da escritura de venda que fez Agostinho de Ornelas e Vasconcelos Esmeraldo Rolim de Moura a João de Freitas Martins de um sobrado de casas denominadas "o garanel", situadas na Rua do Sabão, com frente para a Rua do Esmeraldo, no Funchal, em 1865. (f. [63-65]). Certidão da escritura de venda que fez o Conde do Carvalhal, D. António da Câmara Leme Carvalhal Esmeraldo a Carlos R. Blandy de uma casa de sobrado na Rua do Esmeraldo, no Funchal, em 1870. (f. [66-69])
http://id.bnportugal.gov.pt/bib/catbnp/2024533

   Other properties: {'P1412', 'P21', 'P1473', 'P735', 'P910', 'P2671', 'P268', 'P1477', 'P7859', 'P31', 'P734'}

Q17280031 Francisco Jerónimo da Silva
   P106 occupation(3)
      Q40348 advogado(a)
      Q2135469 assessor jurídico
      Q36180 escritor(a)
   P19 place of birth(1)
      Q193677 Angra do Heroísmo
   P20 place of death(1)
      Q597 Lisboa
   P214 VIAF ID(1)
       98658253
   P27 country of citizenship(1)
      Q45 Portugal
   P569 date of birth(1)
       1807-12-30 00:00:00
   P570 date of death(1)
       1871-11-02 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
   P1005 Portuguese National Library ID(1)
       111105

Descripção da entrada d'El-Rei, nosso senhor, o Senhor D. Miguel I na cidade de Braga... / porFrancisco Jeronimo da Silva. - Coimbra : Real Impr. da Universidade, 1832. - 23 p. ; 21 cm
http://id.bnportugal.gov.pt/bib/catbnp/983565

Minuta de revista por parte de W. Gibbens capitão do navio Libra na causa de tomadia que lhe move a Fazenda Nacional / Francisco Jeronymo da Silva. - Porto : Typ. Commercial, 1854. - 13 p. ; 20 cm
http://id.bnportugal.gov.pt/bib/catbnp/764188

Copia da minuta de revista na causa da Companhia dos Vinhos com J. Carneiro Giraldes V. & Companhia / Francisco Jeronymo da Silva. - Lisboa : Typ. de G.M. Martins, 1854. - 12 p. ; 20 cm
http://id.bnportugal.gov.pt/bib/catbnp/764155

Defeza do Barão de Barcelinhos no pleito que lhe move D. Maria Lucianna de Oliveira Croft, deduzida na 2ª instância da Relação do Porto / Francisco Jerónimo da Silva. - Porto : Typ. Faria Guimarães, 1843. - 45 p. ; 16 cm
http://id.bnportugal.gov.pt/bib/catbnp/725318

Contraminuta de revista por parte de D. José Maria da Piedade e Lencastre e mulher, na causa em que contendem com Joaquim António de Magalhães Pinto e mulher / advogado Francisco Jeronymo da Silva. - Lisboa : Typ. do Panorama, 1855. - 13 p. ; 22 cm
http://id.bnportugal.gov.pt/bib/catbnp/918242

Varias peças relativas à cauza de reivincação de vinculos em que é author o conselheiro Francisco de Menezes de Lemos e ré D. Maria Benedicta de Menezes / Francisco Jerónimo da Silva. - Lisboa : Imprensa de Francisco Xavier de Souza, 1854. - Encadernado com outros
http://id.bnportugal.gov.pt/bib/catbnp/26469

Fidelidade da Ilha Terceira / Francisco Jeronimo da Silva. - Angra do Heroísmo : Liv. Andrade, 1953. - 67 p. ; 22 cm. - Sep. Bol. Inst. Histórico da Ilha Terceira, 11
http://id.bnportugal.gov.pt/bib/catbnp/1030571

   Other properties: {'P1412', 'P21', 'P735', 'P18', 'P2671', 'P7859', 'P31', 'P734'}

Q21290090 António de Azevedo Castelo Branco
   P106 occupation(3)
      Q49757 poeta
      Q36180 escritor(a)
      Q1930187 jornalista
   P166 award received(1)
      Q66659610 Grã-Cruz da Ordem da Torre e Espada
   P19 place of birth(1)
      Q592516 Vilarinho de Samardã
   P20 place of death(1)
      Q597 Lisboa
   P213 ISNI(1)
       0000 0001 1218 2946
   P214 VIAF ID(2)
       163372837
       99918302
   P27 country of citizenship(1)
      Q45 Portugal
   P39 position held(1)
      Q43185970 Presidente da Câmara Municipal de Lisboa
   P569 date of birth(1)
       1842-12-23 00:00:00
   P570 date of death(1)
       1916-01-05 00:00:00
   P69 educated at(1)
      Q368643 Universidade de Coimbra
   P1005 Portuguese National Library ID(1)
       64533

A Lyra Meridional / por Antonio d'Azevedo Castello Branco. - Porto : Livraria Civilisação de Eduardo da Costa Santos,, 1886. - 51, [1] p. ; 17 cm. - Inocêncio 20, 179
http://id.bnportugal.gov.pt/bib/catbnp/1684284

Notice sur l'évolution du droit pénal portugais / Antonio d'Azevedo Castello Branco. - Lisbonne : Imp. Nationale, 1888. - 31 p. ; 23 cm
http://id.bnportugal.gov.pt/bib/catbnp/765653

Cadeias e manicómios : uma reforma necessária / António de Azevedo Castelo Branco. - Lisboa : Imp. Minerva, 1891. - 27 p. ; 23 cm
http://id.bnportugal.gov.pt/bib/catbnp/763423

Meridionais : poesias / António de Azevedo Castelo Branco ; com um preâmbulo de Alberto Pimentel. - Lisboa : Guimarães, 1925. - 112 p. ; 19 cm
http://id.bnportugal.gov.pt/bib/catbnp/530117

Estudos penitenciários e criminaes / António de Azevedo Castelo Branco. - Lisboa : Tip. Casa Portuguesa, 1888. - 1 v. ; 23 cm
http://id.bnportugal.gov.pt/bib/catbnp/845940

Lira meridinal / António de Azevedo Castelo Branco. - Porto : Campos & Godinho, 1886. - 343, [1] p. ; 19 cm
http://id.bnportugal.gov.pt/bib/catbnp/528812

   Other properties: {'P1412', 'P21', 'P1473', 'P735', 'P648', 'P2163', 'P2671', 'P103', 'P244', 'P1006', 'P7859', 'P31'}


Properties present in the students and ignored in this list
   P1006 : Nationale Thesaurus voor Auteurs ID
   P103  : native language
   P1412 : languages spoken, written or signed
   P1473 : BLPL author ID
   P1477 : birth name
   P18   : image
   P21   : sex or gender
   P2163 : FAST ID
   P244  : Library of Congress authority ID
   P2671 : Google Knowledge Graph ID
   P268  : Bibliothèque nationale de France ID
   P31   : instance of
   P648  : Open Library ID
   P734  : family name
   P735  : given name
   P7859 : WorldCat Identities ID
   P910  : topic's main category

## Lugares

---

## Places

In [ ]:
place = "Soure"

In [ ]:
pquery = """

SELECT DISTINCT ?location ?locationName ?instanceOf ?instanceOfLabel ?insideLabel ?inside2Label ?coordinates ?geonamesID WHERE {
                        ?location ?label '$place'@pt .  
                        ?location wdt:P17 wd:Q45 .
                        ?location rdfs:label ?locationName .
                        ?location wdt:P31 ?instanceOf .
                        ?location wdt:P625 ?coordinates .
                        ?location wdt:P131 ?inside .

                        OPTIONAL {

                          ?inside wdt:P131 ?inside2 .
                          ?location wdt:P1566 ?geonamesID .
                        }
                        FILTER(lang(?locationName) = "pt") 
                        { SERVICE wikibase:label { bd:serviceParam wikibase:language "pt". }}
 
                        }
"""

#### Encontrar um lugar na wikipedia

---

### Find a place in Wikipedia

In [ ]:
!pip install mkwikidata

In [ ]:
import mkwikidata
import pandas as pd

place = 'Soure'

query_result = mkwikidata.run_query(pquery, params={'place':place})
results = query_result['results']['bindings']
table = [{'name':loc['locationName']['value'],
          'type':loc['instanceOfLabel']['value'],
          'uri':loc['location']['value'],
          'inside':loc['insideLabel']['value'],
          'inside2':loc.get('inside2Label',{'value':None})['value'],
          'geonamesID':loc.get('geonamesID',{'value':None})['value'],
          
          } for loc in results]

pd.DataFrame(table).sort_values('uri')

,name,type,uri,inside,inside2,geonamesID
2,Soure,freguesia de Portugal,http://www.wikidata.org/entity/Q1977811,Soure,Região de Coimbra,8011895
4,Soure,freguesia de Portugal,http://www.wikidata.org/entity/Q1977811,Soure,Região de Coimbra,8011895
5,Soure,freguesia de Portugal,http://www.wikidata.org/entity/Q1977811,Soure,Coimbra,8011895
8,Soure,freguesia de Portugal,http://www.wikidata.org/entity/Q1977811,Soure,Coimbra,8011895
0,Soure,município de Portugal,http://www.wikidata.org/entity/Q543993,Coimbra,Portugal,2733851
1,Soure,vila de Portugal,http://www.wikidata.org/entity/Q543993,Coimbra,Portugal,2733851
3,Soure,vila de Portugal,http://www.wikidata.org/entity/Q543993,Região de Coimbra,None,None
7,Soure,município de Portugal,http://www.wikidata.org/entity/Q543993,Região de Coimbra,None,None
6,Soure,vila de Portugal,http://www.wikidata.org/entity/Q97597938,Soure,None,None

In [ ]:
from timelinknb import current_time,current_machine, get_db
from ucalumni.config import default_db

db_spec = default_db
db = get_db(db_spec)
print(current_machine,current_time,f'db={db_spec}')

imac-jrc.local 2022-05-18 17:43:33.378466 db=('sqlite', 'fauc.db')

### Localizar os lugares mais infrequentes no FAUC

---

### Locate the less frequent places in the FAUC

In [ ]:
from timelinknb.pandas import attribute_values


# Get list of different values and the number of occurences
naturalidades = attribute_values('naturalidade')
small_places = naturalidades[naturalidades['count']<10].sort_values('count', ascending=False).head(100)

Test with a small number

In [ ]:
from IPython.display import display
import time

for place in small_places.index.values[:10]:
    print("Looking for:", place)
    try:
        query_result = mkwikidata.run_query(pquery, params={'place':place})
    except Exception as e:
        print(e)
    results = query_result['results']['bindings']
    if len(results) > 0:
        table = [{'name':loc['locationName']['value'],
                'type':loc['instanceOfLabel']['value'],
                'uri':loc['location']['value'],
                'inside':loc['insideLabel']['value'],
                'inside2':loc.get('inside2Label',{'value':None})['value'],
                'geonamesID':loc.get('geonamesID',{'value':None})['value'],
                
                } for loc in results]
        candidates = pd.DataFrame(table)
        display(candidates)
        geonames = candidates['geonamesID'].unique()
        for geo in geonames:
            print(f"   https://www.geonames.org/{geo}")
    else:
        print("   not found")
        
    time.sleep(1)  # respect wikidata

Looking for: Alcofra

,name,type,uri,inside,inside2,geonamesID
0,Alcofra,freguesia de Portugal,http://www.wikidata.org/entity/Q1021445,Vouzela,Viseu,8014009
1,Alcofra,freguesia de Portugal,http://www.wikidata.org/entity/Q1021445,Vouzela,Comunidade Intermunicipal Viseu Dão Lafões,8014009

   https://www.geonames.org/8014009
Looking for: Lumiar

,name,type,uri,inside,inside2,geonamesID
0,Estação Lumiar,estação subterrânea,http://www.wikidata.org/entity/Q374170,Lisboa,None,None
1,Estação Lumiar,estação de metropolitano,http://www.wikidata.org/entity/Q374170,Lisboa,None,None
2,Lumiar,freguesia de Portugal,http://www.wikidata.org/entity/Q924723,Lisboa,Lisboa,8012475

   https://www.geonames.org/None
   https://www.geonames.org/8012475
Looking for: Seixo de Ansiães

,name,type,uri,inside,inside2,geonamesID
0,Seixo de Ansiães,freguesia de Portugal,http://www.wikidata.org/entity/Q1011237,Carrazeda de Ansiães,Trás-os-Montes e Alto Douro,8014442
1,Seixo de Ansiães,freguesia de Portugal,http://www.wikidata.org/entity/Q1011237,Carrazeda de Ansiães,Bragança,8014442
2,Seixo de Ansiães,freguesia de Portugal,http://www.wikidata.org/entity/Q1011237,Carrazeda de Ansiães,Douro,8014442

   https://www.geonames.org/8014442
Looking for: Santa Cristina de Figueiró

,name,type,uri,inside,inside2,geonamesID
0,Santa Cristina de Figueiró,localidade,http://www.wikidata.org/entity/Q1023987,Amarante,Porto,8012656
1,Santa Cristina de Figueiró,freguesia de Portugal,http://www.wikidata.org/entity/Q1023987,Amarante,Douro Litoral,8012656
2,Santa Cristina de Figueiró,localidade,http://www.wikidata.org/entity/Q1023987,Amarante,Douro Litoral,8012656
3,Santa Cristina de Figueiró,freguesia de Portugal,http://www.wikidata.org/entity/Q1023987,Amarante,Porto,8012656

   https://www.geonames.org/8012656
Looking for: Sandelgas
   not found
Looking for: Salvaterra
   not found
Looking for: Rio Bom
   not found
Looking for: Ribeira de Homem
   not found
Looking for: Quintãs
   not found
Looking for: Proença
   not found

## Biblioteca Nacional de Portugal

---

## Portuguese National Library

Get all the bibiographic records of a student with P1005 id.

In [94]:
from lxml import etree

bnp_id = "92687"
url = f"http://urn.bn.pt/bibliografia/unimarc/xml?id={bnp_id}"

xsl_file = '../extras/bnp/visbd-fauc.xsl'
xsl = etree.parse(xsl_file) 
records = etree.parse(url)
transform = etree.XSLT(xsl)

print(str(transform(records)))

Socialismo libertario e anarchismo : história e doutrina / Silva Mendes. - [S.l. : s.n.], 1896. - 369 p. ; 22 cm
http://id.bnportugal.gov.pt/bib/catbnp/418597

Sobre filosofia / Manuel da Silva Mendes. - Macau : Leal Senado, [1915]. - 169 p. : il. ; 21 cm
http://id.bnportugal.gov.pt/bib/catbnp/1579131

Socialismo libertário ou anarchismo : história e doutrina / Manuel da Silva Mendes. - ed. fac-simil. - Lisboa : Letra Livre, D.L. 2006. - 369 p. : fac-simil. ; 24 cm. - Ed. fac-simil., Lisboa, 1896. - ISBN 989-95114-0-4. - ISBN 978-989-95114-0-8
http://id.bnportugal.gov.pt/bib/catbnp/1563060

Manuel da Silva Mendes : a instrução pública em Macau ; org. e introd. António Aresta. - Macau : Direcção dos Serviços de Educação e Juventude, 1996. - 96, [5] p., [7] p. il. : il. ; 24 cm. - (Educação memórias ; 3). - ISBN 972-8091-32-X
http://id.bnportugal.gov.pt/bib/catbnp/987433

Arte chinesa : (colectânea de artigos) / Manuel da Silva Mendes. - [Macau] : Edição do Leal Senado de Macau, 1983. - 114 p. ; 21 cm
http://id.bnportugal.gov.pt/bib/catbnp/629219

Colectânea de artigos / Manuel da Silva Mendes. - Macau : Notícias de Macau, 1949. - 3 v. ; 20 cm. - (Notícias de Macau ; 1, 2, 3)
http://id.bnportugal.gov.pt/bib/catbnp/356998

Colectanea de artigos / Manuel da Silva Mendes. - Macau : Notícias de Macau, 1964. - 2 v. ; 19 cm. - (Notícias de Macau ; 18, 19). - 1º v.: Arte. - 324 p. 2º v.: Problemas citadinos / compil. Luís G. Gomes. - 1964. - 356 p
http://id.bnportugal.gov.pt/bib/catbnp/356997

Macau, impressões e recordações / Manuel da Silva Mendes ; pref. Graciete Batalha. - Lisboa : Quinzena de Macau, 1979. - 132 p. : il. ; 20 cm
http://id.bnportugal.gov.pt/bib/catbnp/286065

A pintura na China : uma estetica especial / Silva Mendes. - Recorte. - Espólio Camilo Pessanha
http://id.bnportugal.gov.pt/bib/catbnp/1726586

Nova colectânea de artigos / de Manuel da Silva. - [S.l.] : Folhetim do "Notícias de Macau", 1963-1964. - 4 v. ; 18 cm. - (Notícias de Macau ; 18, 19, 20, 21). - Vol. 1. Vol. 2 Problemas citadinos / compil. de Luis G. Gomes. - V, 356 p. ;. Vol. 3. Vol. 4 Diversos / compil. de Luis G. Gomes. - 195 p
http://id.bnportugal.gov.pt/bib/catbnp/908651

Guilherme Tell / Drama de Schiller ; Traducção Portugueza em Verso Solto Com Uma Introdução e Annotada Por M. da Silva Mendes. - Famalicão : Typ. Minerva, 1898. - XXIV, 232 p. ; 22 cm
http://id.bnportugal.gov.pt/bib/catbnp/1244334

Manuel da Silva Mendes : memória e pensamento ; coord. António Aresta, Rogério Beltrão Coelho ; autores Ana Cristina Alves... [et al.]. - Macau : Livros do Oriente, [201-]-. - v. : il. ; 24 cm. - (Estudos e documentos). - V. 2: 2018. - 539 p. - ISBN 978-99965-335-5-6 (v. 2)
http://id.bnportugal.gov.pt/bib/catbnp/2067481

In [16]:
recs = records.getroot()
recs.tag

'{http://www.bn.pt/standards/metadata/marcxml/1.0/}collection'

In [92]:
marcxml_ns = "http://www.bn.pt/standards/metadata/marcxml/1.0/"
nsmap = {None: marcxml_ns}
for rec in recs:
    print("Record:")
    for cf in rec.findall("controlfield",namespaces=nsmap):
        print(cf.get('tag'),cf.text)
    for df in rec.findall("datafield",namespaces=nsmap):
        print(f"{df.get('tag'):3s} {df.get('ind1'):1s}{df.get('ind2'):1s}")
        for sf in list(df):
            print(f"   ${sf.get('code')} {sf.text}",)
print()

Record:
001 418597
003 http://id.bnportugal.gov.pt/bib/catbnp/418597
005 19981231000000.0
095
   $a PTBN00447303
100
   $a 19930417d1896    m  y0pory0103    ba
101 0
   $a por
102
   $a PT
200 0
   $a Socialismo libertario e anarchismo
   $e história e doutrina
   $f Silva Mendes
210
   $a [S.l.
   $c s.n.],
   $d 1896
215
   $a 369 p.
   $d 22 cm
500 10
   $a Socialismo libertário ou anarquismo
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s S.C. 3676 V.
966
   $l BN
   $m FGMON
   $s S.C. 11055 P.
997
   $a BIBEOD
Record:
001 1579131
003 http://id.bnportugal.gov.pt/bib/catbnp/1579131
100
   $a 20070321d1915    m  y0pory0103    ba
101 0
   $a por
102
   $a MO
105
   $a a   z   001yy
106
   $a r
200 1
   $a Sobre filosofia
   $f Manuel da Silva Mendes
210
   $a Macau
   $c Leal Senado,
   $d [1915]
215
   $a 169 p.
   $c il.
   $d 21 cm
675
   $a 22Taoísmo
   $v BN
   $z por
   $3 1288349
675
   $a 24Budismo
   $v BN
   $z por
   $3 1278430
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s R. 24278 V.
   $x 4
997
   $a BIBEOD
Record:
001 1563060
003 http://id.bnportugal.gov.pt/bib/catbnp/1563060
010
   $a 989-95114-0-4
010
   $a 978-989-95114-0-8
100
   $a 20070416e20061896k  y0pory0103    ba
101 0
   $a por
102
   $a PT
105
   $a y   z   001yy
106
   $a r
200 1
   $a Socialismo libertário ou anarchismo
   $e história e doutrina
   $f Manuel da Silva Mendes
205
   $a ed. fac-simil
210
   $a Lisboa
   $c Letra Livre,
   $d D.L. 2006
215
   $a 369 p.
   $c fac-simil.
   $d 24 cm
324
   $a Ed. fac-simil., Lisboa, 1896
518 1
   $a Socialismo libertário ou anarchismo
620
   $d Lisboa
675
   $a 329.3(091)
   $v BN
   $z por
   $3 1345088
675
   $a 316.353(091)
   $v BN
   $z por
   $3 1345089
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s S.C. 113486 V.
   $x 1
966
   $l BN
   $m FGMON
   $s S.C. 113486 V.-D
   $x 1
966
   $l BN
   $m RESIMP
   $s RES. 4475 V.
   $x 3
Record:
001 987433
003 http://id.bnportugal.gov.pt/bib/catbnp/987433
005 19990626000000.0
010
   $a 972-8091-32-X
095
   $a PTBN00999667
100
   $a 19980623d1996    m  b0pory0103    ba
101 0
   $a por
102
   $a MO
105
   $a af  z   001yy
106
   $a r
200 1
   $a Manuel da Silva Mendes
   $e <a >instrução pública em Macau
   $g org. e introd. António Aresta
210
   $a Macau
   $c Direcção dos Serviços de Educação e Juventude,
   $d 1996
215
   $a 96, [5] p., [7] p. il.
   $c il.
   $d 24 cm
225 2
   $a Educação memórias
   $v 3
606
   $a Ensino público
   $y Macau (Portugal)
   $3 888468
675
   $a 373(512.318)
   $v BN
   $z por
   $3 888469
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
702  1
   $a Aresta,
   $b António,
   $f 1955-
   $4 070
   $3 174550
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s S.C. 79454 V.
   $x 1
Record:
001 629219
003 http://id.bnportugal.gov.pt/bib/catbnp/629219
005 19990105000000.0
095
   $a PTBN00840747
100
   $a 19880504d1983    km y0pory0103    ba
101 0
   $a por
102
   $a MO
105
   $a y   z   001yy
106
   $a r
200 1
   $a Arte chinesa
   $e (colectânea de artigos)
   $f Manuel da Silva Mendes
210
   $a [Macau]
   $c Edição do Leal Senado de Macau,
   $d 1983
215
   $a 114 p.
   $d 21 cm
675
   $a 7.03(510)(042)
   $v BN
   $z por
   $3 1249628
675
   $a 75A/Z(510)(042)
   $v BN
   $z por
   $3 1249629
675
   $a 75(510)
   $v med
   $z fre
   $3 340941
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s B.A. 25463 V.
   $x 3
997
   $a BIBEOD
Record:
001 356998
003 http://id.bnportugal.gov.pt/bib/catbnp/356998
005 20000131172600.0
095
   $a PTBN00380343
100
   $a 19920715d1949    m  y0pory0103    ba
101 0
   $a por
102
   $a MO
200 1
   $a Colectânea de artigos
   $f Manuel da Silva Mendes
210
   $a Macau
   $c Notícias de Macau,
   $d 1949
215
   $a 3 v.
   $d 20 cm
225 2
   $a Notícias de Macau
   $v 1, 2, 3
675
   $a 869.0(512.318)
   $v med
   $z por
   $3 376219
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
930
   $l BN
   $d L. 65577-9 P.
930
   $l BN
   $d L. 40836-8 P.
966
   $d V. 1
   $l BN
   $m FGMON
   $s L. 40836 P.
966
   $d V. 2
   $l BN
   $m FGMON
   $s L. 40837 P.
966
   $d V. 3
   $l BN
   $m FGMON
   $s L. 40838 P.
966
   $l BN
   $m FGMON
   $s L. 65577 P.
966
   $l BN
   $m FGMON
   $s L. 65578 P.
966
   $l BN
   $m FGMON
   $s L. 65579 P.
997
   $a BIBEOD
998
   $a CR711-305
Record:
001 356997
003 http://id.bnportugal.gov.pt/bib/catbnp/356997
005 20000131172500.0
095
   $a PTBN00380342
100
   $a 19981229d1964    m  y0pory0103    ba
101 0
   $a por
102
   $a MO
106
   $a r
200 1
   $a Colectanea de artigos
   $f Manuel da Silva Mendes
210
   $a Macau
   $c Notícias de Macau,
   $d 1964
215
   $a 2 v.
   $d 19 cm
225 2
   $a Notícias de Macau
   $v 18, 19
327 1
   $a 1º v.: Arte. - 324 p.
   $a 2º v.: Problemas citadinos / compil. Luís G. Gomes. - 1964. - 356 p.
675
   $a 869.0(512.318)
   $v med
   $z por
   $3 376219
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
702  1
   $a Gomes,
   $b Luís Gonzaga,
   $f 1907-1976
   $4 220
   $3 36380
801  0
   $a PT
   $b BN
   $g RPC
966
   $b 001
   $d 1º v.
   $l BN
   $m FGMON
   $s L. 65541 P.
   $x 1
966
   $b 001
   $d 2º v.
   $l BN
   $m FGMON
   $s L. 65542 P.
   $x 1
997
   $a BIBEOD
998
   $a CR711-304
Record:
001 286065
003 http://id.bnportugal.gov.pt/bib/catbnp/286065
005 19981209133900.0
095
   $a PTBN00297885
100
   $a 19880918d1979    m  y0pora0103    ba
101 0
   $a por
102
   $a PT
200 1
   $a Macau, impressões e recordações
   $f Manuel da Silva Mendes
   $g pref. Graciete Batalha
210
   $a Lisboa
   $c Quinzena de Macau,
   $d 1979
215
   $a 132 p.
   $c il.
   $d 20 cm
675
   $a 869.0-9 Mendes, M. da S.
   $v med
   $z por
   $3 451369
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
702  1
   $a Batalha,
   $b Graciete Nogueira,
   $f 1925-1992
   $4 080
   $3 13895
702  1
   $a Seabra,
   $b Paula
   $4 440
   $3 386605
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m FGMON
   $s L. 74517 P.
   $x 3
997
   $a BIBEOD
Record:
001 1726586
003 http://id.bnportugal.gov.pt/bib/catbnp/1726586
100
   $a 20091013d1919    m  y0pory0103    ba
101 0
   $a por
102
   $a PT
200 1
   $a <A >pintura na China
   $e uma estetica especial
   $f Silva Mendes
316
   $a Recorte
   $5 PTBN: CFF4-Esp. N1/151
317
   $a Espólio Camilo Pessanha
   $5 PTBN: CFF4-Esp. N1/151
461  1
   $t <O >século
   $e ed. da noite
   $c Lisboa
   $v A. 6, n.º 1617 (19 Abr. 1919)
   $5 PTBN: CFF4-Esp. N1/151
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
966
   $l BN
   $m RESESP
   $s Esp. N1/151
   $x 2
Record:
001 908651
003 http://id.bnportugal.gov.pt/bib/catbnp/908651
005 19990603000000.0
095
   $a PTBN01035250
100
   $a 19990109g19631964km y0pory0103    ba
101 0
   $a por
102
   $a PT
200 1
   $a Nova colectânea de artigos
   $f de Manuel da Silva
210
   $a [S.l.]
   $c Folhetim do "Notícias de Macau",
   $d 1963-1964
215
   $a 4 v.
   $d 18 cm
225 2
   $a Notícias de Macau
   $v 18, 19, 20, 21
327 1
   $a Vol. 1< Arte. - VIII, 324 p. ;
   $a Vol. 2> Problemas citadinos / compil. de Luis G. Gomes. - V, 356 p. ;
   $a Vol. 3< Assuntos cínicos e crónicas / compil. de Luis G. Gomes. - 324 p. ;
   $a Vol. 4> Diversos / compil. de Luis G. Gomes. - 195 p.
700  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
930
   $l BN
   $d H.G. 32168-71 P.
966
   $d V. 1
   $l BN
   $m FGMON
   $s H.G. 32168 P.
966
   $d V. 2
   $l BN
   $m FGMON
   $s H.G. 32169 P.
966
   $d V. 3
   $l BN
   $m FGMON
   $s H.G. 32170 P.
966
   $d V. 4
   $l BN
   $m FGMON
   $s H.G. 32171 P.
997
   $a BIBEOD
Record:
001 1244334
003 http://id.bnportugal.gov.pt/bib/catbnp/1244334
100
   $a 20020702d1898    m  y0pory010305  ba
101 1
   $a por
102
   $a PT
200 1
   $a Guilherme Tell
   $f Drama de Schiller
   $g Traducção Portugueza em Verso Solto Com Uma Introdução e Annotada Por M. da Silva Mendes
210
   $a Famalicão
   $c Typ. Minerva
   $d 1898
215
   $a XXIV, 232 p.
   $d 22 cm
700  1
   $a Schiller,
   $b Friedrich von,
   $f 1759-1805
   $3 62879
702  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $4 730
   $3 92687
801  0
   $a PT
   $b BN
801  1
   $a FR
   $b JOUVE
966
   $l BN
   $m FGMON
   $s L. 18238 V.
   $x 0
997
   $a BIBEOD
Record:
001 2067481
003 http://id.bnportugal.gov.pt/bib/catbnp/2067481
010
   $a 978-99965-335-5-6
   $b v. 2)
100
   $a 20210426g201 9999m  y0pory01030103ba
101 0
   $a por
102
   $a MO
105
   $a af  z   001yy
106
   $a r
200 1
   $a Manuel da Silva Mendes
   $e memória e pensamento
   $g coord. António Aresta, Rogério Beltrão Coelho
   $g autores Ana Cristina Alves... [et al.]
210
   $a Macau
   $c Livros do Oriente,
   $d [201-]-
215
   $a v.
   $c il.
   $d 24 cm
225 2
   $a Estudos e documentos
327 0
   $a V. 2: 2018. - 539 p.
675
   $a 821.134.3Mendes, Silva.09(042)
   $v BN
   $z por
   $3 1708909
675
   $a 37Mendes, Silva(042)
   $v BN
   $z por
   $3 1708907
675
   $a 061.3
   $v BN
   $z por
   $3 292562
700  1
   $a Aresta,
   $b António,
   $f 1955-
   $4 340
   $3 174550
702  1
   $a Coelho,
   $b R. Beltrão
   $4 340
   $3 83170
702  1
   $a Alves,
   $b Ana Cristina,
   $f 1963-
   $4 070
   $3 129124
702  1
   $a Mendes,
   $b Silva,
   $f 1867-1931
   $4 100
   $3 92687
801  0
   $a PT
   $b BN
   $g RPC
856 41
   $u http://rnod.bnportugal.gov.pt/ImagesBN/winlibimg.aspx?skey=&doc=2067481&img=149475&save=true
900
   $a BIBNAC
   $d 20210519
966
   $l BN
   $m FGMON
   $s C.G. 23383 V.
   $x 1

In [10]:
recs = records['collection']

cfields = recs['record'][0]['controlfield']
dfields = recs['record'][0]['datafield']
cfields

TypeError: 'lxml.etree._ElementTree' object is not subscriptable